[2020-11-10 20:55] petyosi commented on #191
@osadchiynikita I published an alpha version - v0.21.0-alpha.1. This is a [test case I did](https://stackblitz.com/edit/react-feqrnp?file=example.js). Notice that in addition to `true`, the `followOutput` now accepts `"smooth"` for a better UX. Interested in your feedback on that.

[2020-11-10 20:59] petyosi commented on #194
@caseyjhol - no, not supported at the moment. While possible, this is quite a complex feature to support. Closing, since I am not going to get to it in the foreseeable future.

[2020-11-10 20:59] #194 closed

[2020-11-10 21:10] petyosi commented on #186
@ivan-kleshnin [Does this example work](https://stackblitz.com/edit/react-ekjsum?file=example.js) for you?

I am changing the way headers and footers are defined in the next version because poking the header and footer elements is something that I would like to avoid. If you absolutely need to set `display: grid` to the header/footer elements, you can reach those through CSS selectors.

[2020-11-11 10:51] ivan-kleshnin commented on #186
Yes, LGTM. I'm actually 👍  to you're removing `HeaderContainer` and `FooterContainer`. Thank you!

[2020-11-11 10:51] #186 closed

[2020-11-11 11:33] ath92 opened #195 "followOutput breaks when item height changes"
Using latest version (0.20.1), `followOutput` breaks when an item changes height. I built a small example that should demonstrate this:

[code]

As soon as you click an item and it resizes, the scroll position is no longer updated to follow the newly added items.

[2020-11-11 12:11] petyosi commented on #186
@ivan-kleshnin thanks. I am working on a final v0.21 in the upcoming weeks.

[2020-11-11 12:15] Alino opened #196 "List renders only single item when rendered in an iframe"
Hi, I have a component where I render this
[code]

but only single one item is rendered

![image](https://user-images.githubusercontent.com/763194/98810552-b689c380-241f-11eb-921c-e0fe2028b312.png)
![image](https://user-images.githubusercontent.com/763194/98810678-d9b47300-241f-11eb-9e5c-a2834b52896b.png)

anyone knows what could cause this?

[2020-11-11 12:16] petyosi commented on #195
@ath92 followOutput does not automatically monitor the resize of existing items - that would be very restrictive and can cause unwanted behavior. You can re-scroll the list to the bottom when expanding using the `scrollToIndex` method.

[2020-11-11 12:18] petyosi commented on #196
@Alino try reproducing the problem in a sandbox somewhere. My wild guess is that you are rendering the component hidden.

[2020-11-11 12:44] Alino commented on #196
so I was playing around with this and found out that this happens when the component is rendered inside an iframe like this:

[code]

Here is a sandbox:
https://stackblitz.com/edit/lh3p1k--run?file=index.js
https://lh3p1k--run.stackblitz.io

[2020-11-11 12:47] Alino commented on #196
is there a potential quick fix, or could you recommend to me any other alternative library please?
I tried react-window and react-virtualised already first but these had other issues with dynamic row sizes...

[2020-11-11 13:18] ath92 commented on #195
@petyosi That makes sense. The only caveat is that I'd need to know whether the list is already scrolled to the bottom, because if it isn't, I don't want to change the scroll position. Is there any way to find out if that's the case? At least the `ref` exposed by `Virtuoso` doesn't seem to provide that information.

[2020-11-11 13:59] petyosi commented on #196
I think this might be related to resizeObserver and its attachment to the original window. If you have the time, you can troubleshoot that.

[2020-11-11 14:21] petyosi commented on #195
Correct, atBottomStateChange is the way to go.

[2020-11-11 14:21] #195 closed

[2020-11-11 15:59] NTag opened #197 "Footer with VirtuosoGrid?"
Is it possible to have a footer with `VirtuosoGrid`? Which wouldn't be part of the grid but below it. If I try to add a `footer` prop to `VirtuosoGrid` I have a typing error.

[2020-11-11 17:35] petyosi commented on #197
Not supported currently, but easy to add. If you decide to contribute, I may suggest you wait for a week or so, since I am in the middle of a large refactor.

[2020-11-11 19:17] Alino commented on #196
I have cloned this repo to create unit test for this and fix it. After I looked at file ```Virutoso.test.tsx``` and I started doing this

[code]
I found out that the items.length is 1 unless you add an _initialItemCount_
And it also fixes my iframe issue.

[2020-11-11 19:38] Alino commented on #161
my workaround here was to hide the main scrollbar with overflow-y: hidden

[2020-11-12 03:23] megos commented on #176
I'm using `followOutput` instead of `initialTopMostItemIndex`.
If don't want to use this, `followOutput` uses when first render only. The sample code is below.

[code]

[2020-11-12 07:18] raae commented on #133
I am seeing this as well, could this be solved by using the suggested approach in #188 (1) where there are invisible rendered items on above the list?

[2020-11-12 08:04] petyosi commented on #133
@jmeistrich @raae I published `v0.21.0-alpha.1` that's supposedly improving this behavior. Notice that there are several deprecations in there, but it work better than the current one. Please let me know how it works for you - and, if possible, post runnable examples. Cheers!

[2020-11-12 08:36] raae commented on #133
Will test tomorrow!

[2020-11-12 09:11] petyosi commented on #176
@harish-aka-shivi @chrisdostert @megos - I am working on the next release, `v0.21.0-alpha.2` [is addressing that bug](https://stackblitz.com/edit/react-l1eibb-3pbgdm?file=package.json). If possible, please test this release as there are many changes in it that I would like to verify before promoting to the official.

[2020-11-12 09:49] raae commented on #133
Couldn't wait, tested now and its works on my demo https://codesandbox.io/s/musing-engelbart-67uwr?file=/src/App.js, but not in my project where I use ListContainer for instance. Any place to get an overview of deprecations?

[2020-11-12 10:02] petyosi commented on #133
@raae - good news. I am still working on the deprecations, a migration guide will be part of the official release.

Here's how you [can use custom list container](https://codesandbox.io/s/virtuoso-experiement-forked-pz4ej?file=/src/App.js) with `v0.21.0-alpha`.

[2020-11-12 10:20] raae commented on #133
Great work! Any estimate on time? I might just postpone fixing this in my app until its release. I have a workaround that can work for a while more.

If you need any help with docs or other "boring" tasks to get the release out let me know.

[2020-11-12 10:57] petyosi commented on #133
@raae The tech work is done. I am working through the backlog of open issues and manually testing and creating examples, in order to solicit feedback from reporters. If everything goes well, I aim at a release candidate (which I would recommend as an upgrade) in 2 weeks time.

I will certainly reach out for more feedback - thank you very much for your responsiveness.

[2020-11-12 13:16] osadchiynikita commented on #191
@petyosi Thank you for the very fast solution! On example I see it works exactly as expected. But in my app code I'm getting different TS compile errors. One is strange - `Uncaught TypeError: subscription is not a function`

Currently trying to debug and adapt my set up. Will provide more info once investigate

Here is the example of what props I'm using:

`
    <ListComponent
      ref={listRef}

[2020-11-12 13:19] petyosi commented on #191
@osadchiynikita - Thank you very much; please reproduce that, I will take a look!

[2020-11-12 13:31] petyosi commented on #191
nevermind, I got it. Undefined is not accepted as `endReached`. Will fix that, in the meantime you can work around it.

[2020-11-13 07:56] jiminy-billy-bob commented on #182
+1
I have run into the same issue.

My use case: a list of items in a marketplace. When adding keywords in the searchbar, the items in the list are replaced, but the item count doesn't change (except if the users has already scrolled, but by default it doesn't).

[2020-11-14 17:19] petyosi commented on #183
@FezVrasta @fabiospampinato - tried to play with why-did-you-render in [this example](https://stackblitz.com/edit/react-jn4qnf?file=example.js), but it does not seem to report any errors. Can you help? Thanks!

[2020-11-14 17:21] FezVrasta commented on #183
wdyr only recently added support for the new React version, I think you need to update it and follow the instructions to enable it.

[2020-11-14 17:24] fabiospampinato commented on #183
@FezVrasta just to check: are you seeing double renders with the production version of React? Because the development version double-renders on purpose.

[2020-11-15 10:09] FezVrasta commented on #183
Yes it was the development version, isn't there any way to disable this behavior? I have other performance issues on that page and I can't figure out what's the problem with this double render.

[2020-11-15 12:15] fabiospampinato commented on #183
@FezVrasta not that I'm aware of.

[2020-11-15 18:40] DoneDeal0 opened #198 "How to smoothly scroll to index?"
The scroll to index method works very well, but is very abrupt. How to smoothly scroll up to the requested item?

Thanks for this great library!

[2020-11-15 18:42] DoneDeal0 commented on #198
Sorry, I've just seen the `behaviour: smooth` in another issue.

[2020-11-15 18:42] #198 closed

[2020-11-16 19:15] DoneDeal0 opened #199 "ScrollToIndex doesn't scroll to bottom of the list"
When using scrollToIndex on a chat list (when adding a new message for exemple, the list scrolls down, but fails to reach the bottom.  It seems to be because of the margin between each elements. Also, if I'm already at the bottom of the list, scrollToIndex makes the list scroll up a little bit instead of staying immobile. How to fix this?

Here is a simple sandbox with the reproduction of the issu

[2020-11-17 00:01] rafde opened #200 "translate(x, y, z) instead of margin-top"
I wonder if using `transform: translate(x, y, z)` was considered since it gains gpu acceleration where margin-top does not.
Using margin-top also does not provide smooth scrolling like `transform: translate(x, y, z)` does.

[2020-11-17 05:56] petyosi commented on #200
Earlier versions were using translate, but as far as I remember, margin fixed glitches in safari, without any performance degradation. I have tried transitioning as well, it feels very unnatural.

[2020-11-17 05:57] #200 closed

[2020-11-17 06:43] petyosi commented on #199
@DoneDeal0 I believe that the `followOutput` prop is meant to do exactly what you are trying to achieve. Check the [modification of your sandbox](https://codesandbox.io/s/blissful-chatelet-8hidm?file=/src/Chat.tsx).

On a side note, I am working on the next version of the library, which includes `followOutput="smooth"`. I will post an update here with an example once it is done.

[2020-11-17 07:32] petyosi commented on #199
Here's how it looks [with a smooth followOutput](https://codesandbox.io/s/lively-river-p1s43?file=/package.json). Notice that you don't need to deal with refs or call `scrollToIndex`. I am also introducing the `data` property.

Let me know what you think about that behavior please.

[2020-11-17 11:41] DoneDeal0 commented on #199
Hi @petyosi , thanks for your answer!  Your smooth followOutput is really great, it will be an important feature of React Virtuoso. When do you plan to release this alpha version?

However, it only works if the user is already at the bottom of the page. Typically, a chat app should offer the possibility to scroll down to the bottom anytime by clicking on a button ("you've got new messages", or by

[2020-11-17 11:52] petyosi commented on #199
To answer your questions:

1. When will this be released: I am working through the issues which the new release will address while building new docs. Plenty of features, but my guesstimate is a RC state ~2 weeks from now. Unless I discover a blocker, of course.

2. Agreed on the scrollToBottom feature. I think it works well with the new version - check an [updated sandbox](https://codesandbox.io/s

[2020-11-17 20:10] DoneDeal0 commented on #199
1- Thanks, I'm eager to use it :)!

2- It works very well, but I'd suggest to add a smooth scrolling to bottom option as well. Another suggestion would be to allow a callback to suscribe to list change. It's easy to do by ourselves, but your library shines in chat app because it allows various row heights. Therefore, such an ability would make a lot of sense for Virtuoso.

3- I would suggest to pa

[2020-11-18 07:05] petyosi commented on #199
Thanks for the suggestion on point 3.

re 2: The `scrollToIndex` method supports smooth scrolling.
[code]

Added [that to the example](https://codesandbox.io/s/lively-river-p1s43?file=/src/App.tsx).

[2020-11-18 08:20] DoneDeal0 commented on #199
It's perfect, thanks! Please let me know when 0.21 is available.

[2020-11-18 09:56] ArjobanSingh commented on #182
+1
I also run into same issue. So i am using it to make kind of endless scrolling grid, which fetches more data over the api, after reaching the end. But if, due to some error, api doesn't give new data or maybe due to some network error( as user lost connection in between), the data count remains same, but when, connection again gets established and user tries to load more data by reaching end, t

[2020-11-18 11:06] jiminy-billy-bob commented on #182
Yes, that would totally be usable.

[2020-11-18 11:13] ArjobanSingh commented on #182
i guess, if on resetting end reached, virtuoso grid fires onEndReached again on reaching end, than ofcourse, this method will work.

[2020-11-18 11:16] ArjobanSingh commented on #182
or is there a way, where we can attach onScroll method, which will give us offset in params - like normal onScroll in react element, this way we can count when offsettop is 0, and invoke our load more function.

[2020-11-18 12:13] petyosi commented on #182
@ArjobanSingh - `onScroll` callback is coming. In fact, it is already working in `v0.21.0-alpha.3` which I am promoting for an early feedback.

[2020-11-18 14:50] ArjobanSingh commented on #182
cool, is alpha version released for usage?

[2020-11-18 15:07] petyosi commented on #182
@ArjobanSingh Yes, It is. Notice that there are certain deprecated properties, so watch your console for warnings.

[2020-11-18 15:21] ArjobanSingh commented on #182
Ok thanks man, is it safe to use alpha version on production now?

[2020-11-18 16:43] petyosi commented on #182
@ArjobanSingh If possible, please try and upgrade your project to it and report any issues you encounter. I have tested it on all the examples from the site and it works as expected, with certain modifications related to the deprecations.

[2020-11-23 08:22] upex commented on #109
Hello @petyosi , could we make this work with VirtuosoGrid?

[2020-11-23 08:40] petyosi commented on #109
@upex - give it a try, I am not an expert in the Sortable HOC, but the grid component has the same component props exposed.

[2020-11-23 12:34] upex opened #201 "Is it possible to make VirtuosoGrid sortable with the react-sortable-hoc?"

[2020-11-24 13:55] dbrrt opened #202 "Is it possible to use react-virtuoso with tree components?"
In the documentation, it says that you can use `react-virtuoso` with material-ui with a list, and I was wondering if the same library could be applied to other components from Material UI (e.g.: Tree View : https://material-ui.com/components/tree-view).

[2020-11-24 15:10] petyosi commented on #202
That could easily be achieved if the treeview has a "flat" rendering rather than a nested one. I don't know if such mode is possible, though.

[2020-11-24 21:16] dbrrt commented on #202
I was considering rendering the first layer "flat" with all lower level nodes and each node could be expanded independently from the view. Will give it a try.

[2020-11-25 13:39] petyosi opened #203 "v1 beta is available - test now if you are building chat / feed interfaces"
V1 brings improvements to reverse infinite scrolling behavior - suitable for **chat** and **feed** user interfaces. Give it a try today:

[code]

Important note: v1 is a rewrite to avoid some of the limitations of the v0 architecture. A list of what's new and the breaking changes between v0.x and v1.x [are available at the v0 to v1 migration guide](https://github.com/petyosi/react-virtuoso/blob/ne

[2020-11-25 13:41] petyosi commented on #201
@upex you can try porting the [list implementation available](https://virtuoso.dev/react-sortable-hoc/) on the website to the grid component. Post your results here - I will include the example on the web site. Thank you!

[2020-11-25 13:41] #201 closed

[2020-11-25 13:42] #50 closed

[2020-11-25 13:44] petyosi commented on #64
v1 beta improved the smooth scroll to index behavior - give it a try. Installation instructions are available in #203.

[2020-11-25 13:44] #64 closed

[2020-11-25 13:45] petyosi commented on #66
Grouped Virtuoso supports SSR rendering in v1 (currently in beta). Installation instructions (and breaking changes) are described in #203.

[2020-11-25 13:45] #66 closed

[2020-11-25 13:47] petyosi commented on #71
v1 (available as beta) includes support for Header in the components prop. It works in both flat and grouped mode. Installation instructions (and breaking changes) are described in #203.

[2020-11-25 13:47] #71 closed

[2020-11-25 13:53] petyosi commented on #104
@joseph1125 I certainly took my time with this one, but it [seems resolved in v1](https://stackblitz.com/edit/react-tab1hw?file=example.js) (currently in beta). Installation instructions and breaking changes are linked in #203

[2020-11-25 13:53] #104 closed

[2020-11-25 13:53] #162 closed

[2020-11-25 13:55] Ethorsen commented on #203
Amazing news.  I'll create a task for the upgrade/migration.  Hopefully beta will be stable enough for us to stay on it.

[2020-11-25 13:56] petyosi commented on #176
To avoid breaking changes for v0 users, I am going to launch the next version as v1.0 (in beta). Check #203 for installation instructions and breaking changes.

[2020-11-25 13:56] #176 closed

[2020-11-25 14:04] petyosi commented on #188
@fabiospampinato v1 beta is available, and it includes the main/opposite improvement you suggested - thank you very much ;). Please test it and let me know how it works for you! #203 has the instructions and refers to the breaking changes.

[2020-11-25 14:04] #188 closed

[2020-11-25 14:05] petyosi commented on #133
@raae @jmeistrich - I decided to label the next version as v1 to avoid breaking v0 users. Please test this in your setups. #203 refers to installation instructions and breaking changes. Thank you very much!

[2020-11-25 14:05] #133 closed

[2020-11-25 14:07] petyosi commented on #181
@WillSquire - I have released v1 beta, can you try it in your case? Not sure if it will help (#203 includes installation instructions). Comment here, I will re-open the issue if necessary.

[2020-11-25 14:07] #181 closed

[2020-11-25 14:11] petyosi commented on #152
@fabiospampinato - this is working in v1. You don't have to provide `item` (renamed to `itemContent`). #203 has installation instructions and breaking changes.

[2020-11-25 14:11] #152 closed

[2020-11-25 14:13] petyosi commented on #151
`data` is available in v1 - check #203.

[2020-11-25 14:13] #151 closed

[2020-11-25 14:15] petyosi commented on #148
@tschortsch @alaboudi this is fixed in v1 (in beta). Please test and give feedback. #203 includes installation instructions - please check the breaking changes.

[2020-11-25 14:15] #148 closed

[2020-11-25 14:17] petyosi commented on #138
@mgs95 - fixing this was the major focus of v1, currently in beta. Please check #203 for installation instructions and breaking changes.

[2020-11-25 14:17] #138 closed

[2020-11-25 14:18] FezVrasta opened #204 "useScrollTop is very slow"
Hi, I'm testing @next and I noticed most of the time on scroll is spent on the `useScrollTop` hook, it leads to very long frames.

![image](https://user-images.githubusercontent.com/5382443/100238968-1ceb0780-2f31-11eb-8d03-5c466792dec5.png)

![image](https://user-images.githubusercontent.com/5382443/100238980-22485200-2f31-11eb-81e3-b5a1a29d26bb.png)

[2020-11-25 14:18] petyosi commented on #137
@exentrich - this has been changed in v1, the number is up-to-date. Can you please check? #203 includes installation instructions and breaking changes.

[2020-11-25 14:18] #137 closed

[2020-11-25 14:19] petyosi commented on #204
Can you publish the test case somewhere?

[2020-11-25 14:20] petyosi commented on #117
This should be fixed in v1 (in beta). Check #203 for installation instructions.

[2020-11-25 14:20] #117 closed

[2020-11-25 14:21] FezVrasta commented on #204
Unfortunately it's not an open source app so I can't 🙁

[2020-11-25 14:33] FezVrasta commented on #204
I wonder if you could use `IntersectionObserver` as a more performance effective replacement to scrollTop? From what I see you are using the hook to accomplish a similar result?

[2020-11-25 14:36] petyosi commented on #204
@FezVrasta I am not sure that I will be able to get away with intersection observer - nor if the slowdown you observe is not due to the underlying callbacks and updates. I will investigate - thank you very much for the suggestion and testing.

[2020-11-25 14:37] FezVrasta commented on #204
I'm quite convinced the issue resides in Virtuoso, I recently tried to swap it with react-window and the performances were way better, but of course I lost all the nice features that Virtuoso provides out of the box.

[2020-11-25 14:41] FezVrasta commented on #204
Something interesting to observe is that there are 3 calls to `scrollTop` on the same action:

![image](https://user-images.githubusercontent.com/5382443/100242045-a5b77280-2f34-11eb-99c9-4166c8b1fc1b.png)

In the screenshot above, the 3 long tasks are all scroll events. I would expect a single scroll event per call?

[2020-11-25 14:55] petyosi commented on #204
That actually gives me a clue. Without any code reveal, can you post what props do you pass to the component?

[2020-11-25 14:59] FezVrasta commented on #204
This is the relevant code:

[code]

[2020-11-25 17:23] chrisdostert commented on #203
Amazing news, thank you so much @petyosi!  Will start testing and report back w/ any issues

[2020-11-25 20:09] petyosi commented on #193
@wilderedin5 v1 (in beta) allows you to attach `onScroll` to the component (and any other HTML attributes or event handlers, for that matter). See #203 .

Cheers,

[2020-11-25 20:09] #193 closed

[2020-11-25 20:10] petyosi commented on #180
@WillSquire in V1, I introduced a `data` prop (`any[]`) the items from which is then supplied in the `itemCallback`, previously known as `item`. Hope this makes sense.

[2020-11-25 20:10] #180 closed

[2020-11-26 11:13] gcorreaalves commented on #203
Great! Is there an example of how to build a chat interface with a reversed list view? I have looked at the docs, however I didn't find anything related to this.

Anyway, this package is amazing! God job!

[2020-11-26 11:15] petyosi commented on #204
@FezVrasta thanks to your report, I found some unnecessary re-renders and scrollTop calls. Just published beta.3 - please let me know if you see improvements in your case.

[2020-11-26 11:19] petyosi commented on #203
@gcorreaalves - I am working on creating more complete examples that will come with the new web site. Right now, there are two examples which I believe are relevant - the ["stick to bottom"](https://github.com/petyosi/react-virtuoso/blob/next/site/docs/stick-to-bottom.md) which auto-scrolls when a new record is added, and the ["prepend items"](https://github.com/petyosi/react-virtuoso/blob/next/si

[2020-11-26 11:22] petyosi commented on #173
@alaboudi - in v1 (see #203), I added testing for SSR and grouped virtuoso. Here's how [the tests](https://github.com/petyosi/react-virtuoso/blob/next/test/ssr.test.tsx) look. Can you take a look? Please comment here with your findings, I will re-open the issue if necessary.

Regards,

[2020-11-26 11:22] #173 closed

[2020-11-26 11:24] petyosi commented on #108
@uffou (sorry if double spamming) - I've done a lot of work in the area with the v1 release (in beta, see #203) - can you please check? I will re-open the issue if necessary. Cheers!

[2020-11-26 11:24] #108 closed

[2020-11-26 11:25] petyosi commented on #161
Merging with #40

[2020-11-26 11:25] #161 closed

[2020-11-26 11:26] petyosi commented on #122
@siwalikm I reworked the smooth scrolling behavior in v1 (beta, see #203). Please test and let me know how it works.

[2020-11-26 11:26] #122 closed

[2020-11-26 12:48] FezVrasta commented on #204
beta.3 seems to be better, but I still see one extra call (beta.2 had 3, so you are going the right way!)

![image](https://user-images.githubusercontent.com/5382443/100352906-f63ed680-2fed-11eb-90ed-514ef4939735.png)

I also see this other long frame here:
![image](https://user-images.githubusercontent.com/5382443/100352968-1373a500-2fee-11eb-8ecf-4b0c556c9f1e.png)

[2020-11-26 13:16] DoneDeal0 commented on #203
Hi @petyosi , I've tested your v1 version with a chat list usecase. I've noticed two issues:

1- When adding text in a textarea - which is located outside the virtual-list - the virtual list scrolls-up. I might be wrong, but it seems the issue doesn't come from my css or js.
2- I think it is related to the first issue, but the followOutput is not 100%  accurate. It doesn't stick to the bottom of t

[2020-11-26 13:41] petyosi commented on #203
@DoneDeal0 replacing [`margin` with `padding` in the Root styled component](https://codesandbox.io/s/test-react-virtuoso-v1-forked-07vwp?file=/src/Bubble.tsx) fixes most of the annoyances.

[2020-11-26 14:44] antoniozzo opened #205 "Empty list when topItems is equal to totalCount"
When topItems is equal to totalCount the sticky items disappears above the list.
Easy to reproduce by editing the stackblitz code from https://virtuoso.dev/top-items/ and setting the totalCount to 2.

I'm creating a search list with a sticky input and sometimes the list of search results will be empty, resulting in this issue.

[2020-11-26 14:48] petyosi commented on #204
@FezVrasta can you try removing the `overscan` setting? This is how the timeline looks on my side without it:
![image](https://user-images.githubusercontent.com/13347/100364343-ab7d8880-3006-11eb-9dc1-9330b0935272.png)
and with `2000` set.
![image](https://user-images.githubusercontent.com/13347/100364401-c05a1c00-3006-11eb-9a43-a1f48b6404bc.png)

[2020-11-26 15:07] petyosi commented on #205
@antoniozzo - [works with v1](https://stackblitz.com/edit/react-z4skoa?file=package.json) beta 3. if you are starting right now, please go ahead with it, I am about to make it the @latest version quite soon.

[2020-11-26 15:07] #205 closed

[2020-11-26 15:08] antoniozzo commented on #205
Great, Thanks a lot!

[2020-11-26 15:33] antoniozzo opened #206 "Error: Zero-sized element, this should not happen"
Got this error as soon as i switched to the new beta.

<img width="1028" alt="Skärmavbild 2020-11-26 kl  16 31 38" src="https://user-images.githubusercontent.com/4252730/100369308-08783f00-3005-11eb-824c-58e7d674c380.png">

[2020-11-26 15:43] DoneDeal0 commented on #203
Well played! When will this new version be available on npm?

[2020-11-26 15:44] petyosi commented on #206
Can you post a repro in stackblitz? I have seen this happening with hot reloading, but it might be something else.

[2020-11-26 15:47] petyosi commented on #203
@DoneDeal0 `v1.0.0-beta.3` is on npm, under the `@next` tag. I am working through a checklist and soliciting feedback from users; if everything goes well, I will release an official build/docs in a couple of weeks.

[2020-11-26 15:58] petyosi opened #207 "V1 Release Checklist"
The list below is the TODO for the `v1` release. Develop happens in the `next` branch.
- [x] A new website (docusaurus)
  - [x] API Reference
    - [x] Virtuoso
    - [x] Grouped Virtuoso
    - [x] Virtuoso Grid
  - [x] Customize look and feel
    - [ ] Navigation header / footer
  - [x] Data Generator, prettier example items
  - [x] Google Analytics
- [ ] Review open issues, link to v1 if resolut

[2020-11-26 16:00] petyosi commented on #202
@dbrrt - please re-open if you manage to implement that - I would love to add such an example. Cheers!

[2020-11-26 16:00] #202 closed

[2020-11-26 16:03] petyosi commented on #191
Fixed in v1 beta.3 (along with `endReached` accepting undefined), check #203 for instructions.

[2020-11-26 16:03] #191 closed

[2020-11-26 16:09] petyosi commented on #103
@rowrowrowrow this [works in v1](https://stackblitz.com/edit/react-feqrnp-mpkf92?file=example.js) (currently in beta). See #203 for instructions.

[2020-11-26 16:09] #103 closed

[2020-11-26 16:10] petyosi commented on #41
Fixed in v1, check #203.

[2020-11-26 16:10] #41 closed

[2020-11-26 16:13] petyosi commented on #171
Closing, unable to reproduce :(.

[2020-11-26 16:13] #171 closed

[2020-11-26 16:17] petyosi commented on #170
Closing this in favor of #168, which includes the concerns I have about the API.

[2020-11-26 16:17] #170 closed

[2020-11-26 16:18] petyosi commented on #92
I posted some thoughts on the problem in #168, will close this one in favor of it.

[2020-11-26 16:18] #92 closed

[2020-11-26 16:22] petyosi commented on #89
This should work fine in v1, see #203 for instructions on upgrade.

[2020-11-26 16:22] #89 closed

[2020-11-26 16:34] FezVrasta commented on #204
I see less long frames but the rows render very slowly (this also happens with overscan but not that much).

![Kapture 2020-11-26 at 17 33 37](https://user-images.githubusercontent.com/5382443/100375129-9b1cdc00-300d-11eb-9010-fafff8404838.gif)

[2020-11-26 16:38] dilizarov commented on #203
This is so exciting! A potential game changer!! I’m excited to dig into the code and see how you decided to implement this stuff.

Any advice on where to start first? I’m super interested in how you can make scrolling a breeze with no jank without really knowing the element sizes or needing information that react-virtualized requires.

[2020-11-26 16:59] dilizarov commented on #203
@DoneDeal0 I opened up your CodeSandbox on mobile and the scroll was quite janky...

Thoughts on it, @petyosi?

Uploaded video here: https://streamable.com/w0a62h

[2020-11-26 17:07] petyosi commented on #203
@dilizarov - I haven't tested extensively on mobile but I see the same on the iPhone.
It works well in desktop browsers, so hopefully, this should be resolvable.

[2020-11-26 18:19] dilizarov commented on #203
@petyosi yeah to clarify, my demo is on iPhone. We may need to check if there’s some thing you are using w limited support

[2020-11-26 19:53] petyosi opened #208 "Upward scroll compensation is not reliable in iOS Safari"
Reported [here](https://github.com/petyosi/react-virtuoso/issues/203#issuecomment-734433625). Reproducible in the `e2e/initialTopMostItem.tsx` scenario.

Why? Apparently, iOS safari delays the `scrollBy` effect. An alternative approach would be to temporarily apply compensation through `translateY()` and then flush the compensation when the scrolling stops.

[2020-11-26 19:54] petyosi commented on #203
@dilizarov - I found the culprit. The current upward scroll mechanism is not reliable on iOS. I have an idea how this can be fixed, tracking the problem in #208 .

[2020-11-28 09:16] petyosi commented on #208
@dilizarov @DoneDeal0 published a beta.4 release which fixes the iOS compensation and reliably sticks to bottom initially (this was a glitch in beta.3 observed in the test case).

Check [updated demo](https://codesandbox.io/s/react-virtuoso-v1-chat-07vwp) - If you can help me with Android testing, that would be awesome.

Thank you for your help,

[2020-11-28 09:16] #208 closed

[2020-11-28 09:47] asv1 opened #209 "Focus on component"
Hello. How i can make Virtuoso focused on mount? Ref is not working here, it returns keys not dom element,

[2020-11-28 10:26] asv1 commented on #209
Nevermind. Done it.

[2020-11-28 10:26] #209 closed

[2020-11-29 00:52] 7sxzx opened #210 "How to create a full page/full screen flexbox product list endless scroll?"
Can someone please help me in creating a endless scroll product list full page/full screen?

Currently, i'm unable to find such examples in docs.

Thanks in advance.

[2020-11-29 16:24] NTag opened #211 "v1: what type should be used for grid ref?"
I have the following code, with the v1 beta-5:

[code]

I can't figure out what type I should use in `useRef` (in v0 I used `useRef<VirtuosoGrid>` but that doesn't work anymore with the v1.

[2020-11-29 18:48] petyosi commented on #211
Good question, I will put a note to document that.  The package exports `VirtuosoHandle`, `GroupedVirtuosoHandle` and `VirtuosoGridHandle` typescript types.

Please let me know if you stumble upon any regressions with the Grid.

Cheers,

[2020-12-01 13:05] DoneDeal0 commented on #210
Just add endReached to trigger a fetch function when the user reaches the bottom, and maybe add a footer to handle the loader ui.

[code]

[2020-12-01 20:06] Alino commented on #203
Hi petyosi, thank you for this new version. I had some issue in 0.20.1 with incorrect number of items in the list. But it works as expected in this beta. 👍🏻

[2020-12-02 13:42] johnhok commented on #203
There seems to be another issue with the home/end keys. In the example from @DoneDeal0 (https://codesandbox.io/s/test-react-virtuoso-v1-3i01d?file=/src/List.tsx).

On a fresh load if you press home it only bumps the list up by a bit but once you finally reach the top and hit end it behaves properly.

[2020-12-02 13:44] petyosi commented on #203
@johnhok - this was fixed in the subsequent beta releases. Check this version: https://codesandbox.io/s/react-virtuoso-v1-chat-07vwp

[2020-12-02 14:02] johnhok commented on #203
Ahh didn't notice there was another release but I tested the version you gave and it exhibits the same issue from what I'm seeing.

![Kapture 2020-12-02 at 09 00 07](https://user-images.githubusercontent.com/1030271/100882291-02f37c80-347d-11eb-9329-c00c73b7dec2.gif)

[2020-12-02 15:26] petyosi commented on #203
@johnhok oh, I misunderstood what you reported. Thanks for the gif. I will examine it.

[2020-12-04 11:19] FOfficial opened #213 "Possible Bug: The "Virtuoso" for the list layout ignore the last 3~4 items"
Basically I've a list of less than 60 items and everything seems to works quite well except the fact it seems to be ignoring the last few items in the list when I reach to bottom of the list!

I'm not doing anything crazy other than what's specified in the API docs and it seems completely random. When I scroll the list for the first time it renders fine, but scrolling up and then down again seems

[2020-12-04 12:07] Anuj-Shrestha commented on #206
Height of the divs (in your item or group) might have been zero (possibly due to lack of content).

[2020-12-04 12:44] petyosi commented on #213
This typically happens because you have elements with `margin` in the list items.

[2020-12-04 12:53] #213 closed

[2020-12-04 21:00] markwoon commented on #42
Would also love to see table support.  We're looking to use this with react-table as well.

Tried react-window but ran into some issues.  This actually works better for us, if only it generated valid html (i.e. no `div` wrappers).

[2020-12-05 00:45] ChiaJune opened #214 "How to customize the props of component.Item"
I want to use react-virtuoso in @material-ui/Autocomplete

[2020-12-05 06:27] ChiaJune opened #215 "v1 beta customize Scroller only render the first screen data"
reproduce demo:
[customize-scroller-bug](https://codesandbox.io/s/customize-scroller-bug-b8b48?file=/src/App.js)

[2020-12-05 08:13] petyosi commented on #215
Thanks, I fixed it, will work in the next beta. Unlike the previous version, I think there won't be much need to customize the scroller component - all HTML props are passed through the virtuoso component to the element. I am keeping it for compatibility though.

[2020-12-05 08:13] #215 closed

[2020-12-06 00:12] xxczaki opened #216 "Question: How to sync scroll with the whole page?"
On my page, I have 2 panes, one of which includes expressions and the other one - results. When the user types on the expressions pane, the results are automatically updated. Full page scroll works on both of the containers.

I would like to scroll the whole page, that is both the expressions pane and virtuoso-wrapped results pane. I can't achieve that, because the Virtuoso component requires a fi

[2020-12-06 10:25] petyosi commented on #216
If I understand you correctly, what you are looking for is not supported. The component does not require a fixed height, but it does need its own scrollable container - you can't (yet) attach it to the window scroller.

If the above is not what you had in mind, perhaps a code sandbox example could help me. Cheers,

[2020-12-06 10:27] petyosi commented on #214
If I understand you correctly, In v1, you can pass an array to `data` property - the items will be passed to the `itemContent` callback - [check this example](https://github.com/petyosi/react-virtuoso/blob/next/site/docs/hello.md#list-with-data).

Let me know if this makes sense.

[2020-12-07 16:11] qweluke opened #217 "Unable to integrate with React transition group"
When trying to wrap Virtuoso with `TransitionGroup` I'm getting this error

codesandbox: https://codesandbox.io/s/intelligent-dubinsky-cowpj

[code]

[2020-12-07 16:44] petyosi commented on #217
@qweluke I am not familiar with TransitionGroup, but from what I see, it looks like the `listRef` does not get assigned the actual DOM element - and it needs to get there in order for the size tracking to work.

[2020-12-07 16:45] #210 closed

[2020-12-08 01:40] #216 closed

[2020-12-08 08:40] chrisdostert commented on #176
I tried the latest beta and I am still seeing this bug or one similar to it. If Initially I have one chat message and then add another chat message, the list goes blank. I'll try to find carve out some time to create a repro

[2020-12-08 09:19] petyosi commented on #176
@chrisdostert - sounds like an evolution of some sort :). Please open a new issue once you get that repro. Thank you!

[2020-12-09 08:49] lojaya commented on #203
hi @petyosi great works there!
I got one issue though for v1 beta, the `header` and `footer` component got re-rendered when items are loaded more

this doesn't happen on version 0.20.3

[2020-12-09 09:32] petyosi opened #219 "Pressing the home key gets intercepted for inverse lists"
Happens due to `scrollBy` adjustments.

[2020-12-09 11:59] petyosi commented on #203
@lojaya thanks for that! Fixed in 6a19af3.

[2020-12-09 22:49] dmitrizzle commented on #206
Seeing this with Cypress tests

[2020-12-10 01:08] tvquizphd opened #220 "Consider removing default height value of "100%""
Scroll to the Example below to see the screenshot of the [live codepen demo](https://codepen.io/tvquizphd/pen/dyppGwm) in Safari.

### Background:

I'm addressing an issue in Safari when the parent `div` of Virtuoso has the style `display: flex`. Default flex display relies on the children having their `height` style remain unset. This allows the computed `height` to expand to fill all the allocat

[2020-12-10 01:17] tvquizphd commented on #220
I realize, that, perhaps, there are more people currently relying on the default `"100%"` height than would benefit from the proposed default of leaving the `height` attribute unset. However, there are likely others like me who didn't know what to do at first to override the default height of `"100%"`. The solution of passing `{height: undefined}` is somewhat counterintuitive.

If you decide not t

[2020-12-10 09:01] petyosi commented on #220
Thank you for your time! Removing the default height would result in rendering nothing by default, which will leave a lot of people scratching their heads on what's to be done.

As I am reworking the website, I will include a "troubleshooting" section in there and get back to you for a contribution on the specific Safari issue you refer to.

[2020-12-10 09:02] Amareis commented on #215
I don't think so, because for some real custom scrollbars it's really needed, and HTML props is not enough.

BTW, when it will be released?

[2020-12-10 09:27] MaxBrokhman opened #222 "scrollToIndex with custom ScrollContainer"
Is there a way to use scrollToIndex with custom ScrollContainer or this is not possible currently?

[2020-12-10 09:59] petyosi commented on #215
@Amareis I will deploy the new web site and promote next to master over this weekend. There are no outstanding issues I am aware of ATM.

[2020-12-10 10:13] petyosi commented on #222
@MaxBrokhman I am not sure that I understand the question - the custom ScrollContainer can not break `scrollToIndex` (unless it breaks the entire component). The DOM element ref is used for both scroll position tracking and for scroll setting.

By the way - are you using v1 beta or v0.20?

[2020-12-10 12:25] MaxBrokhman commented on #222
@petyosi I am using v0.20. I tried to reproduce it in a simple example, but everything is working fine, the problem is somewhere in my code, sorry for this issue

[2020-12-10 12:25] #222 closed

[2020-12-10 19:38] petyosi commented on #206
@dmitrizzle - can you post a repro?

[2020-12-10 20:49] dmitrizzle commented on #206
@petyosi unfortunately, I can not, it's a private one. I can only say that this isn't happening during normal workflow in either prod or dev mode (latest Chrome on macOS 10.14.6). I run a Next.js and am implementing Virtuoso like this:

[code]

My implementation makes use of "search" (really a browser-based filter on a list of items) and thus changes `rows` content rather often. It also mounts/dis

[2020-12-10 21:09] tvquizphd commented on #220
Thanks! I'm just glad to have this specific issue documented for now, and I'll be happy to contribute the `{height: undefined}` solution to a troubleshooting section when the new website is mature enough.

I recognize that my particular case of setting up Virtuoso as a `flex item` is not particularly common, and, as far as I know, people will only notice it's an issue when testing in Safari.

Than

[2020-12-11 04:43] chrisdostert opened #223 "V1) initialTopMostItemIndex change from 0 to 1 makes list go empty"
Repro steps:
1. open https://stackblitz.com/edit/react-l1eibb-ghmdzz?file=ExampleComponents.js
2. click add item
3. click add item

Expected
Second iteme added to both non-virtualized and virtualized list

Actual
virtualized list goes blank

Note: if you remove initialTopMostItemIndex entirely it works.

[2020-12-11 04:43] chrisdostert commented on #223
possibly related to https://github.com/petyosi/react-virtuoso/issues/176

[2020-12-11 15:24] voliva opened #224 "Scrolling sticky item over static one"
I've noticed that the sticky items currently scroll behind the active one before going active:
![group_under (2)](https://user-images.githubusercontent.com/5365487/101921348-3183fc80-3bcd-11eb-9ca7-1564dc47b25e.gif)

It feels a bit weird to me - For me it's more natural to have the sticky item getting on top of the previous one, and staying there. It's also the default behaviour of using a non-vir

[2020-12-11 15:25] petyosi commented on #223
@chrisdostert thank you for the test case, resolved. I am about to release v1 over the weekend, so I will not publish a new beta for that.

[2020-12-11 15:25] #223 closed

[2020-12-11 15:29] petyosi commented on #224
@voliva That's amazing! I always hated that visual detail but never had the willpower to tackle it. I will try to incorporate it as a built-in mode.

[2020-12-11 19:07] petyosi commented on #224
@voliva added the proposed change in the upcoming v1 release, which I plan on publishing this weekend.

[2020-12-11 19:07] #224 closed

[2020-12-11 19:09] petyosi commented on #220
@tvquizphd I just created a troubleshooting page for the new website - Check [this commit](https://github.com/petyosi/react-virtuoso/commit/960549548d15f9e479e40aebaf885581d5814e94). Would be great if you submit a PR following the problem/fix format.

Thank you once again,

[2020-12-12 04:38] developer-nichemarketing commented on #203
Thumbs up on the awesome work so far on this!

I am using the latest beta for a chat widget, but I am loading new messages top-down. The textarea input is at the top and newest messages are shown first.

This works well until you scroll down and post a new message. A new message causes the content to move down so as messages come in you lose your spot reading.

As a quick example I forked that v1-

[2020-12-12 08:37] petyosi commented on #203
@developer-nichemarketing - the example you give is what I refer to as [item prepending](https://virtuoso.dev/prepend-items/). You may need to code some additional logic if the list is at the top, though - the `atTopStateChange` callback prop should help.

[2020-12-12 08:41] petyosi commented on #203
Huge thank you everyone for the feedback, the contributions, and the testing. v1 is now official and published in `latest`. A new [virtuoso.dev](https://virtuoso.dev) is live, with up-to-date documentation and API reference.

Cheers,

[2020-12-12 08:41] #203 closed

[2020-12-12 08:42] #207 closed

[2020-12-12 09:07] dilizarov opened #229 "scrollToIndex with "smooth" behavior blanks out list when scrolling large distances"
The following video is taken from the virtuoso.dev website

[Video](https://streamable.com/3pj1p8)

I haven't confirmed if this happens over small distances as well.

Environment:

macOS Big Sur Version 11.0.1
Google Chrome Version 87.0.4280.88

[2020-12-12 09:15] petyosi commented on #229
Yep, confirming that. Smooth scrolling over large lists is quite an intensive action. Not sure if addressible.

[2020-12-12 09:21] dilizarov commented on #229
Yeah, it is understandable why it happens - but it is quite noticeable.

Maybe while considering a fix, it is good to acknowledge that in these cases... people should just use `auto` behavior.

[2020-12-12 09:26] dilizarov commented on #229
Also, off-topic but fantastic job with API choices (followOutput and atBottomStateChange) for example.

This library really feels like it could be the future of scalable chat UX on the web.

[2020-12-12 10:28] #214 closed

[2020-12-12 10:28] #199 closed

[2020-12-12 14:17] ChiaJune opened #230 "@material-ui/useAutoComplete + react-virtuoso optionItem's focus exception"
When I use react-virtuoso and @material-ui/useAutoComplete together, the keyboard focus of optionItem is abnormal. Please help me to find out what is wrong, Thanks!

[demo](https://codesandbox.io/s/tender-resonance-kur6v?file=/src/DemoHooks.tsx)

[2020-12-12 14:30] petyosi commented on #230
Can you explain what's the expected behavior and what's broken? I am not familiar with useAutoComplete.

[2020-12-12 14:41] ChiaJune commented on #230
Very sorry for my bad english. Using the keyboard to operate the focus, when the focus reaches the last option, it will return to the top and start again
![Kapture](https://user-images.githubusercontent.com/12479827/101986746-d2a4ad00-3cca-11eb-8702-4b034b31d002.gif)

[2020-12-12 15:07] petyosi commented on #230
Got it. The easiest way to handle keyboard navigation is through the `scrollIntoView` call. Check [this sandbox](https://codesandbox.io/s/frosty-archimedes-urzyq?file=/src/index.js:737-738) - essentially the scrollIntoView call will always keep the current item centered and scroll through the list.

[2020-12-12 15:29] ChiaJune commented on #230
Thank you very much for your help, but onFocus will not trigger on ListItem. I think this is not a react-virtuoso's issue, so I closed it

[2020-12-12 15:29] #230 closed

[2020-12-13 10:32] Amareis opened #231 "Overscan is not working"
I'm using 1.0.0 and pass `overscan` prop (I tried both form), but it still renders only visible items.
Passing props:
![image](https://user-images.githubusercontent.com/4806617/102009297-5789d800-3d58-11eb-8f09-ab0c44cf97d3.png)
Rendered content (in elements):
![image](https://user-images.githubusercontent.com/4806617/102009312-6f615c00-3d58-11eb-81ec-5a393316349d.png)

[2020-12-13 11:33] petyosi commented on #231
From what I see, it actually works. You have a height of 500px, but the items cover 588px, which roughly matches `main: 30, reverse: 10 }.

[2020-12-13 11:56] Amareis commented on #231
Uh-oh, I'm really stupid - I think that it's about items count, not a pixels >< Thank you for good library!

BTW, will you return example with react-custom-srollbars to docs?

[2020-12-13 15:39] osadchiynikita opened #232 "Prepending Items reverse endless scrolling scenario with GroupedVirtuoso"
@petyosi Hello, many thanks and congratulations with v1 release! Reverse endless scrolling works as expected with plain Virtuoso list, and I'm trying to achieve the same behavior with GroupedVirtuoso, but have some issues.

1. `startReached` is not triggering callback for some reason. `endReached` works well though
2. When setting `data` prop list rendering not properly, seems like ignoring groups

[2020-12-13 15:46] petyosi commented on #232
Thanks for the bug report. I am not sure how to deal with data and grouping, to be honest. What would be your intuitive API? Do you want to pass array of arrays? Do you expect to have data items for the groups?

[2020-12-13 16:09] osadchiynikita commented on #232
@petyosi thanks for the fast feedback. Not sure I understand the issue properly, but maybe allow to pass `totalCount` prop for `GroupedVirtuoso` same as for `Virtuoso`. And in my case I'll pass `totalCount={items.length + groups.length}`

P.S. Just a minor note, probably related to the same root - `firstItemIndex` is not working properly without `data`

[2020-12-14 08:32] petyosi commented on #231
@Amareis - I totally forgot about that one. Care to submit a PR? The site is now easily accessible and runnable from the repository. Thanks!

[2020-12-14 08:32] #231 closed

[2020-12-14 08:32] #220 closed

[2020-12-14 10:19] Amareis commented on #231
I want it because I need it in our project :) But when I do it, maybe I'll make PR, yep.

[2020-12-14 10:30] bb opened #233 "Infer type of 2nd positional parameter in itemContent callback"
Hi Petyo,

thanks for creating react-virtuoso. It works really great for me.

I just upgraded to 1.0 and wanted to try the new `data` parameter in `itemContent` and noticed it was typed `any` instead of the inferable type from `<Virtuoso data={...} ...` prop.

I think it can be added like this:

[code]

However, I don't know to parameterize the `export const` lines at the very end of components.ts

[2020-12-14 10:38] petyosi commented on #233
@bb - Me neither, TBH. I googled several "generic React components" phrases, but nothing seems to make sense.

[2020-12-14 10:41] bb commented on #233
Thanks for the quick reply! I don't have the time to investigate deeper right now, but I'll give it another try later. Or maybe somebody else chimes in. 😉

[2020-12-14 12:53] bb commented on #233
For Future-Me or whoever implements that: I just noticed that this would ideally also apply to `data` property of `Item` and `RecordItem` as well as `ItemContent` and `GroupItemContent` (defined in interfaces.ts). This would help e.g. in `itemsRendered`.

[2020-12-14 13:25] petyosi commented on #233
I don't think (but I might be wrong) that you have to interfere with interfaces.ts. The "official" typings of the component are re-declared in `components.ts` for documentation purposes. While they do extend some interfaces from interfaces.ts, this is mostly to avoid duplication.

[2020-12-14 20:19] Ethorsen opened #234 "GroupedVirtuoso. Issue with rangeChanged and initialTopMostItemIndex"
Hi @petyosi

We are currently in the process of upgrading to virtuoso 1.0 (thanks for the great effort by the way).   I noticed an issue that might have already existed in 0.x

We are using rangeChanged to take note of the top most index, then when the user navigate back and forth from the list, we re-position him where he left.

The issue that I noticed is with the grouped version.

rangeChanged

[2020-12-15 08:06] petyosi commented on #234
Thanks, this is absolutely a mistake on my side. I will update the `rangeChanged` parameters in grouped mode to match the behavior of `scrollToIndex`

[2020-12-15 13:46] GuillaumeAmat commented on #206
Hi @petyosi, here is a reproduction when using `@reach/tabs`: https://codesandbox.io/s/react-virtuosoissues206-r6l5j

As you can see, all the items can only have a proper render output, but the error pops at every tab switching.

[2020-12-15 14:21] petyosi opened #235 "Support data prop for grouped mode"
Since the flat and the grouped component are the same, there should be a way to detect the grouped mode. Most intuitive would be an array of arrays. Partially reported in #232.

[2020-12-16 08:42] petyosi commented on #234
@Ethorsen thanks for the context. I figured out how to fix `rangeChaged` but looking through what you describe as a use case, it won't work reliably because of list rendering specifics. Instead, I will implement a way to restore the scroll position using a property like `initialScrollTop` (with certain caveats).

[2020-12-16 09:50] exentrich opened #236 "dataKey in version 1"
Thank you so much for improving this library!
Right now I'm migrating to v1 and really miss `dataKey` attribute. Do v1 have another option to force re-render the list?

[2020-12-16 10:08] petyosi commented on #236
@exentrich - I can restore it, but my hope is that the new `data` property can eliminate that workaround approach. Does it work for you?

[2020-12-16 11:19] exentrich commented on #236
Unfortunately no. I have additional specific state like: active item index, does bulk mode is enabled and some other.
This attribute have been very useful. Would be great to have it again :) Please!

[2020-12-16 11:27] exentrich commented on #137
@petyosi Thank you! Great to hear that! This attribute is very useful for integration with `react-beautiful-dnd`

[2020-12-16 11:28] petyosi commented on #236
Makes sense. I will look into it for 1.0.1, hopefully over the upcoming weekend.

[2020-12-16 13:31] Ethorsen commented on #234
Sure I will adapt the code as needed.

Right now, for plain Virtuoso lists, combination of rangedChanged and  initialTopMostItemIndex  is close enough for our needs tho. But yeah its no pixel perfect.

[2020-12-16 14:02] Ethorsen opened #237 "GroupedVirtuoso List component is applied to sticky group"
Hi,

When setting a List component.   It also seem to be applied to the current sticky group.

Quick sandbox to demonstrate the issue
https://codesandbox.io/s/recursing-bush-0m6uc?file=/src/App.js

![image](https://user-images.githubusercontent.com/1493968/102358177-3524d400-3f7d-11eb-9880-e9cc1aa04397.png)

You can see the styles being applied on the list correctly, but also on the sticky group.

[2020-12-16 14:09] petyosi commented on #237
Correct. The custom list is used for the two lists: the scrollable and the sticky one. Is this an issue? If so, this could be fixed with a prop passed to the component very easy - a PR would help me.

https://github.com/petyosi/react-virtuoso/blob/master/src/List.tsx#L193 - the `showTopList` variable is true/false and denotes if the Items are rendered for the sticky or the main list.

[2020-12-16 15:10] Ethorsen commented on #237
Its not an issue for us right now.  This is only something I noticed while experimenting with the library.

I just though this was a bug as I don't see the sticky group item as a second/different list but simply as an individual item.

I guess for future usage, if that props is being passed down to the list component it could help to apply different logics.  Something like isTopList or isStickyLis

[2020-12-16 16:11] Ethorsen opened #238 "Question: What would be the simpliest/cleanest way to add extra padding to first and last items"
Might be a dumb question.  We usually have some padding on each list item, spacing them evenly one from another.

eg. padding: 8px 0;

Only the first/last items in the list seem too close to borders and we add an extra padding only for those items.

eg. first item would become: 16px 0 8px 0;  and last would be 8px 0 16px 0;

I usually do this by adding extra padding to the list container itself or

[2020-12-16 16:47] Ethorsen commented on #236
I'm also facing an issue on a single list that might be solvable with dataKey.

We allow the user in this list to click on items to select them.

There is this weird behavior where the data of the list wont change directly. But the rendered item might, based on a different data (the one that mutated after the click...)

My guess is that we could force Virtuoso to re-render items by changing the da

[2020-12-16 18:42] petyosi commented on #238
You may try adding an "empty", padding-only header/footer for that.

[2020-12-17 08:59] tutts commented on #206
II have the same issue and my scenario is similar to @dmitrizzle as its a live dashboard.

I'm unfamiliar with the codebase right now, but in the process of debugging the issue, but my problem stems from the fact I pass the index to the row, which I use to connect to redux to pull more row information, if this information is removed from the store, then I render a null row instead.

example:

[cod

[2020-12-17 11:08] tutts commented on #206
whoops! 🤦🏼‍♂️ yep nailed it -> "could be due to some exotic integration scenario" 😆

thanks for the heads up @petyosi, best of luck with the patch!

[2020-12-17 18:01] #237 closed

[2020-12-18 11:16] #238 closed

[2020-12-18 11:17] petyosi commented on #211
Documented here - https://virtuoso.dev/virtuoso-grid-api-reference/

[2020-12-18 11:17] #211 closed

[2020-12-18 11:20] NTag commented on #211
Awesome, thanks!

[2020-12-18 12:34] petyosi commented on #236
@Ethorsen @exentrich - I got to this today, but I am struggling with the right test case. Following what you mentioned, using the selection as an example, I [constructed this codesandbox](https://codesandbox.io/s/nifty-shape-qb99h?file=/src/App.tsx:293-371).

As you can see, wrapping `itemContent` in `useCallback` with the correct dependencies re-renders the component correctly.

Can you please fo

[2020-12-18 12:35] Ethorsen opened #239 "Using data prop, itemContent second param is unsynced with latest data changes"
Hey,

I noticed that when the data is mutating,  the items render phase will be triggered correctly. But the second param of itemContent will still receive the previous version of the entry until you start scrolling.

Simple example demonstrating.
https://codesandbox.io/s/funny-grass-nu70k?file=/src/App.js

First list is using data/itemContent(index, entry).   Second list is using traditional tota

[2020-12-18 12:40] Ethorsen commented on #236
Thx @petyosi.  After migrating almost all our lists, I can say that on our side we won't need this prop.

I would have used it on a single list because of the real bad way our data structure was handled in that particular component (can't control it all...)

[2020-12-18 14:34] #232 closed

[2020-12-18 14:34] #234 closed

[2020-12-18 14:34] #206 closed

[2020-12-18 14:34] #239 closed

[2020-12-18 15:52] Ethorsen commented on #239
Amazing work thank you very much

[2020-12-18 17:05] GuillaumeAmat commented on #206
It's working great here, thanks for the quick fix @petyosi 👌

[2020-12-18 21:05] dmitrizzle commented on #206
Still happens within Cypress tests with 1.1.0

[2020-12-19 10:20] petyosi commented on #168
@shoNagai I caved in and introduced an `initialScrollTop` property in v1.1.0. Use responsibly and read the [long explanation](https://github.com/petyosi/react-virtuoso/issues/168#issuecomment-677829417) above.

[2020-12-19 10:20] #168 closed

[2020-12-19 10:24] petyosi commented on #68
@exentrich did you manage to use v1.1.0 with react-beautiful-dnd? I would love to add an example of it in the docs.

[2020-12-19 13:55] adsee42 commented on #202
@dbrrt
Hi, I'm planning to do exactly the same as you described.
Is there any code you could share?

[2020-12-20 05:11] dbrrt commented on #202
I found another project implementing something similar with react-window, but if I manage to find time, I could implement an example with react-virtuoso, so will create a PR if relevant.

[2020-12-20 07:17] adsee42 commented on #202
@dbrrt
I also tried `react-window` and `react-vtree`, but found their api too complicated...

[2020-12-20 07:34] dbrrt commented on #202
@adsee42  Same, that's why I've had to look for some inspiration to implement that with `react-window`.  Here was my starting point https://github.com/victor-magarlamov/react-virtualized-tree.
`react-vtree` didn't work for me, as the examples from their storybook were raising typing issues and the API was quite complicated for me.

[2020-12-20 07:45] adsee42 opened #240 ""localRef.addEventListener is not a function", when using custom scroller"
Thanks for this great package!

I'm using `OverlayScrollbars` through all my react app to render custom scroll bar.
I would love to have unified scroll bar style for lists rendered with `react-virtuoso`, but custom `Scroller` component gives a type error: "localRef.addEventListener is not a function".

see [this](https://codesandbox.io/s/customize-scroller-bug-forked-dzixf?file=/src/App.js)

Any i

[2020-12-20 09:10] petyosi commented on #240
@adsee42 the `ref` needs to be assigned to a **DOM element** so that Virtuoso can bind to its scroll events and command it with `scrollTo` and `scrollBy`. I may suggest that you look into the overlayscrollbars implementation for a way to do that. Feel free to post updates in this issue when you progress. Thanks!

[2020-12-20 09:10] #240 closed

[2020-12-20 22:48] hubertsuprunowicz opened #241 "Scroll bottom escape during resize of the new row height"
I have implemented infinite loader with some default height of the loading row and I wanted to use it with `stick to bottom`  property, but after main data was loaded (bigger than placeholder) the scroll was jumped to the difference of `loading row` and `loaded row` regardless `stick to bottom` property.

Row implementation example:
[code]

Infinite loader: http://bvaughn.github.io/react-virtualiz

[2020-12-21 06:41] petyosi commented on #241
Can you post a repro?

[2020-12-21 18:23] mastergenius opened #242 "startReached not triggered after update to 1.1.0"
After upgrading to version 1.1.0 startReached stops triggering in prepend scenario.
I believe it's because commit https://github.com/petyosi/react-virtuoso/commit/b53a275e259dc292e7df6c830543980d7ba4ec1c — distinctUntilChanged prevents event from triggering.

Because of this [Prepending Items](https://virtuoso.dev/prepend-items/) stop working after first successful prepend.

[2020-12-21 19:56] hubertsuprunowicz commented on #241
Unfortunately not, but I can reconstruct it if you need

[2020-12-21 20:26] petyosi commented on #241
That's necessary, yes. Also - check if the emptyplaceholder prop or the footer component props won't work for you.

[2020-12-21 22:04] Ethorsen opened #243 "VirtuosoGrid: Excessive re-rendering and cpu usage"
Hi @petyosi,

Thx again for v. 1.1.0  Works like a charm.

I was hoping we also could get rid of our old virtualized grid and move to VirtuosoGrid.  Its our first usage of the component.

Everything was fine, but I noticed my CPU was spiking when visualizing the grid, without even touching anything.  The example on virtuoso website is also somewhat using the CPU quite a bit.

https://virtuoso.dev/

[2020-12-22 09:05] petyosi commented on #243
Thank you! I have never managed to setup wdyr properly with virtuoso - can you help me with a sandbox?

[2020-12-22 12:25] Ethorsen commented on #243
Hey.

Here's 2 sandboxes.  What I noticed is that the problem wasnt there in v1.0.0

Codesandbox with v1.1.0 https://5si10.csb.app

Codesandbox with v1.0.0 https://9so7o.csb.app

To edit  https://codesandbox.io/s/5si10?file=/src/App.js

[2020-12-22 13:29] Ethorsen opened #244 "VirtuosoGrid: Items are re-mounted on every list rendering instead of updating"
Hi,

I was trying to trigger a CSS animation on elements inside an item.   These animations are being triggered on a click of a button inside the item, effectively changing the item data.

The animation was not happening, although I could see the new css classes being applied.  Looking into it for a bit, I noticed that all the grid items were being re-mounted on each change of the data, instead of

[2020-12-22 17:45] mastergenius opened #245 "Prepending items stops work correctly for negative firstItemIndex values"
In [Prepending Items](https://virtuoso.dev/prepend-items/) scenario when firstItemIndex became negative (when we add more than START_INDEX users) scroll preserving stops working if items with negative indexes rendered in a viewport.

For easy reproduction you can set START_INDEX to 1000, usersToPrepend to 1000 and add Header with Add button (to overcome problem with startReached triggered only onc

[2020-12-22 18:01] petyosi commented on #245
Acknowledging that, I should document this.

[2020-12-22 18:18] #243 closed

[2020-12-22 18:18] #242 closed

[2020-12-22 18:38] petyosi commented on #244
Here's a [demo that seems to be working](https://codesandbox.io/s/laughing-agnesi-kuuqg?file=/src/App.js:1513-1529) with 1.1.2.

[2020-12-22 18:38] #244 closed

[2020-12-22 18:48] petyosi commented on #236
@exentrich feel free to reopen this if you get to a demo. Thanks.

[2020-12-22 18:48] #236 closed

[2020-12-22 18:48] petyosi commented on #187
@fabiospampinato - did this get sorted out with v1?

[2020-12-22 23:10] fabiospampinato commented on #187
@petyosi I haven't looked into the issue more closely yet and I haven't upgraded to v1, I'll update you once I do that 👍

[2020-12-23 04:31] dilizarov commented on #169
@petyosi another thing to consider is by having this, we wouldn't need to import both `react-window` and `react-virtuouso` into a product, but could instead choose to use one (this one!).

I got here because I noticed `Virtuoso` takes a fixedItemHeight prop and also an itemHeight prop... and I'm not sure what the point of the second one is if I have the first.

Cheers.

[2020-12-23 05:12] MiltonAkash opened #246 "Can it also works with SSR"
If it prints all the list in the SSR and while hydration is handles it will be more better for SEO reasons

[2020-12-23 06:47] petyosi commented on #169
@dilizarov `fixedItemHeight` is the v1 prop, `itemHeight` is deprecated. If you can post me a sandbox with what you are doing with react-window (and, if necessary, explain why virtuoso does not fit the case), that would help me a lot.

My current understanding is that such callback would replace the `offsetHeight` prop access in `getChangedChildSizes` (see [implementation](https://github.com/petyo

[2020-12-23 06:49] petyosi commented on #246
Use the `initialItemCount` property for that purpose. Check the API reference and the tests for further reference - there are also few closed issues on that topic.

[2020-12-23 06:49] #246 closed

[2020-12-23 10:42] seahorsepip commented on #233
I had a try at adding generic typing to the `Virtuoso` and `GroupedVirtuoso` components.

[2020-12-23 11:06] #233 closed

[2020-12-23 16:44] seahorsepip commented on #245
In the demo, negative values seem to work fine on my end: https://virtuoso.dev/prepend-items/

![image](https://user-images.githubusercontent.com/16677786/103019036-6afe2580-4546-11eb-9f81-35ae3052f32c.png)

[2020-12-23 17:19] petyosi commented on #245
@seahorsepip scroll preserving means that when you insert 100 items at the top, the list compensates that and re-scrolls to the previously visible range.

I assume that you have a different concern regarding resizing though :). If you want to, you can open a new discussion - I have enabled discussions for the repo to see how it goes.

[2020-12-26 16:47] hubertsuprunowicz commented on #241
`emptyplaceholder` is not gonna help because it is only relevant to the length of 0 if I understand it correctly, however, I could have items right before and they are from i.e. first pagination (0-20).

Hope this gonna help: https://codesandbox.io/s/lucid-sanne-yyq2u?file=/src/App.js

Moreover, my total amount of items is predefined constant.

[2020-12-26 19:19] bernhardc commented on #231
I just wanted to add that I also thought that `overscan: number` referred to the number of list items, not pixels.
Maybe it would be beneficial to clarify that in the docs.

Awesome library by the way!

[2020-12-27 03:41] uncvrd opened #248 "Scroll jank when prepending async relay pagination data"
Hi! Great work on this library - really appreciate the standard support for inverse (chat) style scrolling. I have run in to a small issue when prepending data that comes from an asynchronous source that I believe draws from the small delay between when the data is appended and when `firstItemIndex` is changed and I was wondering if you had any suggestions?

For example, here's a video of the jank

[2020-12-27 06:19] petyosi commented on #241
Thanks, I think I understand your implementation now. `followOutput` reacts to the initial row size - it does not track subsequent row resizing, as this can cause plenty of unexpected behavior and permanent "stickiness".

In your case, you may use the `scrollToIndex` method when the data is loaded.

[2020-12-27 06:19] #241 closed

[2020-12-27 06:28] petyosi commented on #248
Sorry - can't help much here. Setting `data` and `firstItemIndex` them with subsequent calls seems to [work fine in the example](https://virtuoso.dev/prepend-items/). Even if there's an 'incorrect' frame, it is likely a short one. I am not an Apollo user, so I can't advise on how to sync the prop values correctly.

[2020-12-27 06:28] #248 closed

[2020-12-27 06:31] uncvrd commented on #248
@petyosi yes it likely has to do with the delay writing to apollo's cache which I suppose will not work with this library with the dependance on a firstItemIndex being required on the component. Regardless thanks for advising!

[2020-12-27 06:34] petyosi commented on #248
If you find a solution, please post it here; extending the library examples with data fetching strategies is something I want to do for a long time, but I am intimidated by the number of options out there!

[2020-12-27 06:35] uncvrd commented on #248
No problem - totally understand that! Will do :)

[2020-12-27 19:49] uncvrd commented on #248
@petyosi hey! ok I've recreated this problem in a codesandbox with a generic async request which highlights the scroll jank (Apollo is not included), it doesn't always happen because we may be getting lucky with the render loop. Having two properties (`firstItemIndex` and `data`) that need to be updated at the exact same time to prevent render jank is what I imagine is causing problems. Happens mo

[2020-12-27 20:09] petyosi commented on #248
Thank you, I see what you mean. IMO, the jump is less severe than the initial recording, so I guess there is a space for optimization in the async scenario, too.

Apart from that, I am not sure that this is completely unavoidable. The prepend implemenation happens in two steps - a react re-render and an `element.scrollTo` method call. I can't think of how the two can be forced into a single frame,

[2020-12-27 20:14] uncvrd commented on #248
You're welcome! And yes I completely agree with it being less severe in this scenario due to no cache write delay when using Apollo Client. I understand the complication of the two step process, I'll brainstorm some ideas as well

[2020-12-28 02:05] uncvrd commented on #248
I found a vue virtual scroll component that appears to handle prepending async information without the jank. I'm not too familiar with vue so it'll take some time for me to get a handle of how this works, but thought I'd pass this along for inspiration. https://tangbc.github.io/vue-virtual-scroll-list/#/chat-room

[2020-12-28 08:24] JakeSchroeder opened #249 "Rendering white background on scroll chrome only"
Here is an example:

https://drive.google.com/file/d/16l2XfoiodlixqsCfqnFTrapW7b1JOdJB/view?usp=sharing

When scrolling the background is white and it glitches.

Works as expected on firefox,edge,safari

[2020-12-28 08:41] petyosi commented on #249
Observing the list DOM tree in the inspector slows down the rendering a lot. Do you reproduce the same behavior in the [demos](https://virtuoso.dev/)?

[2020-12-28 09:30] petyosi commented on #248
@uncvrd - I think the change in 1.2.0 improved the behavior. Let me know what you think.

[2020-12-28 09:54] seahorsepip commented on #248
I still see a jump once in a every few load more on scrolls at https://virtuoso.dev/prepend-items/

If I understand correctly the implementation is as following:

1.  Scroll to top
2.  Load more items
3.  Insert items
4.  Wait for item heights
5.  Scroll top is compensated for new item heights

The jump probably happens around step 4.

What about wrapping new items in 0 height containers so they d

[2020-12-28 10:40] petyosi commented on #248
@seahorsepip can you record a video? I can't see a jump, but I am probably missing something. Introducing measurement containers is not something I want to deal with ATM, as it causes too much complexity.

[2020-12-28 10:49] seahorsepip commented on #248
Jumps at 00:05, 00:18 and 00:21.

https://github.com/seahorsepip/uploads/raw/master/Prepending%20Items%20_%20React%20Virtuoso%20-%20Google%20Chrome%202020-12-28%2011-42-11.mp4

[2020-12-28 11:46] petyosi commented on #248
@seahorsepip Thanks, what's the browser/OS?

[2020-12-28 11:49] seahorsepip commented on #248
@petyosi Window 10 (latest insider slow ring) with latest stable Chrome. It's a 4k screen running most of the time on the intel integrated GPU so performance is a bit more limited unless I force the Nvidia GPU 😅.

[2020-12-28 11:53] seahorsepip commented on #248
@petyosi
Also keep in mind that there might be still scroll events emitted when the end is reached due to inertia from most touchpad drivers that might shift the scroll between measure and scroll compensation.

[2020-12-28 13:10] petyosi commented on #129
@utileetdulce in v1, the overscan property accepts `{ main: number, reverse: number}` value, which lets the developer hedge against scrolling in both directions.

[2020-12-28 13:10] #129 closed

[2020-12-28 18:15] JakeSchroeder commented on #249
Closing the inspector corrects the rendering.

Thanks!

[2020-12-28 18:15] #249 closed

[2020-12-28 19:15] russelldc commented on #68
@petyosi
I'd love to one as well. I tried implementing a working example earlier this year, with an older version of react-virtuoso, and was getting a lot of erratic behavior when I dragged items down the scrollable area, or sometimes the entire list of items would disappear in certain scenarios. Sorry those bug reports are extremely vague, it's been quite a while.

I see there were a lot of chang

[2020-12-28 19:39] petyosi commented on #68
@russelldc v1 is a full rewrite, but the API is mostly compatible with v0.

Several days ago I tried to port [@exentrich's example](https://stackblitz.com/edit/react-bdax3i) to the new version, but I failed. When dragging the item, virtuoso's resize observer throws an error about stack level too deep - I believe that this is due to the animations of react-beautiful-dnd. Probably, the example of @e

[2020-12-29 03:58] JakeSchroeder commented on #245
Any fix for this or workaround?
I don't see how it's possible to implement a proper infinite scrolled chat app with this issue.

[2020-12-29 05:19] #245 closed

[2020-12-29 19:30] petyosi commented on #51
A set of examples is present in the `e2e` directory. They are runnable through `npm run preview e2e/{example}.tsx`. [Documented in the contributing section](https://github.com/petyosi/react-virtuoso#contributing).

[2020-12-29 19:30] #51 closed

[2020-12-29 19:31] #135 closed

[2020-12-29 20:36] krmzbbr opened #250 "GroupedVirtuoso totalListHeight is not calculated correctly when groups are updated."
Hoping you can shed some light on this.

I am using GroupedVirtuoso in a scenario where groups and items are updated frequently. Group height are always the same, but item heights can be different for each item. It looks like list height is not being calculated correctly after new groups are rendered which causes the scrollbar to display incorrectly.

I created a demo here [https://codesandbox.io/

[2020-12-30 06:05] petyosi commented on #250
Thanks for the repro @krmzbbr,

Grouping mode internal structures are complicated and costly to recreate. My initial implementation discarded all known heights when group counts were changed. That mode would correctly support your scenario but does not work well for infinite scrolling, where new groups are appended to existing ones. What the code does currently is to "retrofit" newly passed group

[2020-12-30 07:30] petyosi commented on #182
Hopefully, the introduced change addresses the problem - refreshing the data resets the `endReached` state, even if the data has the same length as the previous one.

[2020-12-30 16:52] krmzbbr commented on #250
Thank you for confirming this. You are correct that new groups and items are completely different than the original ones so I think trying to do the calculations from scratch would not be any different than remounting the component.

It works really well as it is so I will leave it like that. Thank you for sharing your work.

[2020-12-30 17:44] petyosi commented on #250
Doing the calculations from scratch is most likely going to be faster, to be honest. Closing this one, feel free to comment if you need any help.

[2020-12-30 17:44] #250 closed

[2020-12-30 17:48] krmzbbr commented on #250
OK, if it is going to be faster, may I suggest an API method that would flush cache and recalculate. Not sure if a lot of people will need it but it does makes sense in this situation.

[2020-12-31 20:25] Eliyar opened #251 "startReached event is continuously being fired"
Hi, while trying to implement the prepending items scenario, I've noticed that the `startReached` event will continuously fire on the latest version (v1.2.2 at this time).

I've tried downgrading the version and on v1.1.3 it is working as expected, where the scroll position is fixed on the `startReached` event and items prepended.

Here is the sandbox link for v1.2.2, demonstrating the issue:
http

[2021-01-01 08:26] #251 closed

[2021-01-01 08:49] petyosi commented on #251
Thanks, [here's a fixed stackblitz with 1.2.3](https://stackblitz.com/edit/react-2muuo1?devtoolsheight=33&file=src/List.js).

[2021-01-02 09:41] mellson opened #252 "Group headers are offset by the Header components height using GroupedVirtuoso"
Happy new year 🎊 and thanks for creating this wonderful library!

I'm just starting to play around with it now and loving it so far.
Using GroupedVirtuoso and a Header in the components prob, I run into an offset problem.

The height of the header component seems to interfere with how the group headers are exchanged.

I've created a simple example at CodeSandbox based on the [grouped numbers examp

[2021-01-02 11:50] petyosi commented on #252
Nice catch, I will look into it.

[2021-01-03 09:42] #252 closed

[2021-01-03 10:06] mellson commented on #252
Awesome, thanks @petyosi the new version does indeed fix this problem

[2021-01-05 14:48] tiagoevanp opened #253 "react-virtuoso is not working with simplebar-react"
simplebar-react npm page:https://www.npmjs.com/package/simplebar-react

Isn't possible to rewrite the viewport element in react-virtuoso: https://github.com/petyosi/react-virtuoso/blob/2c117ac5e4ade1c385b50451c5d2bf1d8edf1551/src/List.tsx#L309

I want to use the simplebar as a custom List stylized component, but unfortunately wasn’t possible.

[2021-01-05 15:25] petyosi commented on #253
If I understand the simplebar logic, you don't have to override the viewport - instead, you should override the root element.

[2021-01-05 15:29] petyosi commented on #253
[This is the example](https://virtuoso.dev/custom-scroll-container/) you should be looking at.

[2021-01-05 15:56] petyosi commented on #253
For what is worth, I tried to integrate it the way it's supposed to work, but the markup looks strangely modified - parts of the virtuoso DOM have classes assigned and the scrolling does not work.

At this point, this looks more like an issue that could be addressed on the Simplebar side. Maybe there are other custom scrollbar solutions that could work for you.

As a reference, [here's an implemen

[2021-01-05 16:17] tiagoevanp commented on #253
Thanks, I will do more tests...

[2021-01-08 14:42] petyosi opened #254 ""ResizeObserver loop limit exceeded" error with images"
Discussion [in this fork](https://github.com/edunad/react-virtuoso/commit/581d4558f2994adea375291b76fe59605556c08f).

[Repro here](https://codepen.io/failcake/pen/WNGKoYL).

A possible fix is to wrap the callback call in RAF. Should test that, as it might cause render delays.

[2021-01-08 20:41] nullset opened #256 "EmptyPlaceholder not working"
Since upgrading to v. 1.2.4 from the earlier 0.x release, the empty placeholder option no longer seems to work.

[code]

Am I using this option correctly? Thanks!!

[2021-01-09 05:45] petyosi commented on #256
This seems right, and it [works well in this example](https://codesandbox.io/s/frosty-joliot-psp9v?file=/src/App.tsx). Maybe one of the other props interferes with it - can you fork the codesandbox?

[2021-01-09 07:08] #253 closed

[2021-01-09 07:08] #254 closed

[2021-01-09 07:16] petyosi commented on #254
@edunad - please give this a try.

[2021-01-09 07:51] sergeymild opened #257 "React Native support?"
Hi, very cool library for pure React.js, but i think it would be very nice if you add React native support))

[2021-01-09 14:10] fabiospampinato commented on #42
Is this supported, even experimentally, in v1? I'd like to play with this once it becomes available.

For my use case sometimes rendering huge tables is the performance bottleneck, without virtualizing or paginating the rendering of table rows directly it just takes a long time for the entire table to be painted on screen.

[2021-01-10 09:00] petyosi commented on #257
Thank you for your feedback. I am not familiar with the challenges of lists virtualization on the native platforms since I have not done anything with React Native. However, I am open to contributions and collaborations or sponsorships that can support a React native implementation.

[2021-01-10 09:00] #257 closed

[2021-01-11 12:31] edunad commented on #254
Seems to be fixed, thanks!

[2021-01-12 05:13] nullset commented on #256
Must have been my build process ... it appears to be working for me now. Sorry for the noise!

[2021-01-12 05:13] #256 closed

[2021-01-13 10:45] ProtoGanesh opened #259 "When totalCount reduces abruptly and we scroll to last item using scrollToIndex , virtuoso adds padding bottom and there are no items in most of the visible screen"
When total size of items reduces abruptly and we scroll to last message using scrollToIndex , virtuoso adds padding bottom and there are no items in most of the visible screen. Items are pushed out of view and scroll is at the bottom

[2021-01-13 10:46] ProtoGanesh commented on #259
![VirtuosoIssue](https://user-images.githubusercontent.com/28604594/104442105-9bbc0280-55ba-11eb-9738-8f5bca54a300.PNG)

[2021-01-13 10:48] ProtoGanesh commented on #259
it happened when we dynamic height items.

[2021-01-13 11:24] petyosi commented on #259
Can you post a repro?

In general, I recommend remounting the component if you change its data. Check [this thread](https://github.com/petyosi/react-virtuoso/issues/250).

[2021-01-14 03:53] ProtoGanesh commented on #259
cant' post a repro but that thread worked and remounting works. thank you very much for the idea. one problem we have when items are removed the container size is not adjusted that needs a look into maybe in future releases (in case i am in same channel of chat application and i delete message).

[2021-01-14 06:30] #259 closed

[2021-01-14 06:39] petyosi commented on #259
@ProtoGanesh The fix which I just published is likely resolving both your initial issues and

Given that I understand it correctly. Check the example I used to test in the commit above.

Still, I do recommend remounting the component when switching chats. For maximum performance, you can also keep separate instances per conversation.

Please confirm that the fix I published works for you - if not,

[2021-01-15 05:20] ProtoGanesh commented on #259
yes it does work. sorry for late response but my server was down yesterday and so couldn't test. but thank you very much for responding so quickly and resolving the issue.

[2021-01-15 13:34] fabiospampinato opened #260 "Ignoring undefined style properties"
As of v1 it seems that setting `style={{ height: undefined }}` just completely breaks rendering.

I think this is a bug, the user shouldn't prune undefined values from the style object manually, the library should take care of this. Otherwise you just can't write clean code like this:

[code]

In order to work around this one has to write this mess:

[code]

[2021-01-15 14:30] petyosi commented on #260
Thank you for the feedback. I kind of left that for the purpose of people "hacking" the component, but indeed it might cause unexpected results. `height: undefined` might be a valid value, for example, [if you use flexbox](https://codesandbox.io/s/epic-fermi-gjj6c?file=/src/App.tsx) to control the element size.
On the other side, in this case the `height: undefined` does have any effect, since `he

[2021-01-15 15:12] fabiospampinato commented on #260
"undefined" is not a valid CSS unit so it's not a valid CSS height value either, I think the "right" way to do that would be to set `height: 'auto'` instead.

I could do that but that's a bit leaky as it would require me to know the default height/width Virtuoso sets, which I don't really care about. Plus percentage heights work weirdly and I'd rather never use them.

[2021-01-15 15:24] petyosi commented on #260
`undefined` in a CSS value in React won't reach the DOM - it's just a way to "clear" the default 100%. I do get your point, though - would you consider submitting a PR?

[2021-01-15 15:33] fabiospampinato commented on #260
That sounds somewhat reasonable to me, but like nobody would expect to get an empty "style" attribute just because one is passing "undefined" as the value for "style", that's basically the same thing, to my eyes that's a misuse of "undefined".

Sorry I already worked around that, I don't care enough to dig into an unfamiliar codebase for this.

[2021-01-15 15:47] fabiospampinato commented on #260
I guess seen from another perspective the current behavior is almost correct to me, but it's picking the wrong default value, no value, while it should pick Virtuoso's default value for it.

[2021-01-15 16:23] fabiospampinato opened #261 "Improved TypeScript support"
I'm having troubles typing well this component:

[code]

There should be TypeScript types importable from the 'react-virtuoso' package for each of these components Virtuoso accepts, and types for each props object they accept, without them overriding a component and typing it well is way more difficult than it should be.

[2021-01-15 17:11] fabiospampinato opened #262 "Expose reference to the underlying scroller node"
It'd be useful if a Virtuoso instance exposed a reference to the underlying DOM node for the scroller component.

Reasons for doing that:

- Without it one needs to provide a custom Scroller component just to get a reference to it.
  - In order to provide a custom Scroller component first of all one needs to use `forwardRef`, which makes it more complicated to adopt Virtuoso, plus it's kinda usele

[2021-01-15 17:19] fabiospampinato commented on #151
This kinda got implemented in v1, but in a way that makes it useless for my use case at least, since my "data" property is an array of objects to pass to _all_ items, there's no 1-to-1 mapping between my data array and my items array.

IMO this extra limitation isn't worth it the extra convenience, like supporting other use cases has been traded for some extremely minor potential convenience (spar

[2021-01-15 17:32] petyosi commented on #151
In its current state, data brings a valuable feature - you can refresh the component contents without the awkward `data-key` property.

What you describe sounds more like a `context` prop to me. What do you think?

[2021-01-15 17:34] petyosi commented on #261
Agreed, typings are an improvement.

[2021-01-15 17:39] fabiospampinato commented on #151
Yeah exactly, that's how it works in `react-window`, perhaps the name chosen there wasn't perfect.

I'd be cleaner to just have 1 prop though rather than two largely overlapping ones.

[2021-01-15 17:40] petyosi commented on #262
Love the ref exposure suggestion. Question: what are you trying to achieve? So far, I am aware of people trying to integrate Virtuoso with a custom scroller library or with Drag & Drop one. I would like to have a use case I can test the ergonomics against.

[2021-01-15 17:58] fabiospampinato commented on #262
I need a reference to the scroller in particular to control scrolling.

The provided APIs for that are a bit too low-level, like for example `scrollToIndex` allows you to scroll to the start/end/center, but without knowing where exactly you are going to scroll to you can't always pick one of those modes. E.g. if the item to scroll to is fully within the viewport the list shouldn't scroll at all.

[2021-01-15 18:01] petyosi commented on #262
Makes sense, thank you.

[2021-01-15 18:44] petyosi commented on #151
More of a note to myself: from what I understood [in this react-window thread](https://github.com/bvaughn/react-window/issues/85), `itemData` feels like a pre-hooks design choice - to me at least. The thread also alludes to certain optimization aspects of it.

[2021-01-15 19:19] fabiospampinato commented on #151
It's kind of documented here: https://react-window.now.sh/#/api/FixedSizeList

[2021-01-15 20:17] mthenw opened #263 "itemContent called for empty groups"
Hi,

first of all thanks for the great project!

I have one question.

[code]

Why `itemContent` is called? The console.log output is `itemContent 0 9`, meaning it's called only once, for the last group. What's the purpose of that?

[2021-01-15 20:48] fabiospampinato opened #264 "Initial render delay"
I just finished upgrading to v1, and I've noticed a new issue, below there's a screen recording of the app I'm working on, where I'm basically unmounting and than re-mounting the first two columns of the app.

As you can see there's a bit of a delay between when the columns themselves show up and when their content shows up. This makes the app feel slower, I think it would be better to address thi

[2021-01-15 20:51] fabiospampinato commented on #154
By the way this is a problem when scrolling to the very top too.

[2021-01-15 20:57] fabiospampinato commented on #187
Upgrading to v1 seems to have fixed this problem! 🎉  Thanks for all the work you put on it!

Overall v1 feels snappier to me, which is super nice.

The upgrade experience overall wasn't too bad, but I had a couple of hiccups here and there, mainly regarding the changed behavior with `height: undefined` (it would be better to just throw an error here IMHO, or at least mentioning this in the migrati

[2021-01-15 20:57] #187 closed

[2021-01-15 21:10] fabiospampinato opened #265 "Custom fully managed scroll bar"
I think it would be a good idea to eventually make Virtuoso work with a custom scroll bar component that it manages fully, like VS Code does basically.

Without this I don't think it's possible to provide a **perfect** user experience.

Right now when scrolling pretty quickly or if the computer is particularly busy it can happen that the user will see some visual glitches, all glitches should be r

[2021-01-15 22:21] fabiospampinato opened #266 "Preact compatibility"
It'd be great if this library were compatible with [Preact](https://preactjs.com/), which is basically a drop-in replacement for React at just 1/10th of the size.

I tried switching to Preact, just with 3 lines of [configuration](https://preactjs.com/guide/v10/getting-started/#aliasing-react-to-preact) in WebPack, and almost everything seems to work already, expect for a bug I spotted in Virtuoso

[2021-01-16 06:24] petyosi commented on #265
I understand the underlying motivation, but I don't believe that custom scrolling implementation will address that. Most likely, be an uncanny valley experience. Mobile devices, laptop trackpads, etc provide a variety of different scrolling methods with their own kinetics. An emulation will feel different.

Instead, I would rather improve the performance of the component to its fullest - both in t

[2021-01-16 06:24] #265 closed

[2021-01-16 06:51] petyosi commented on #263
Hey, let's start off with the fact that I did not consider empty groups to be a valid scenario. From what I see, they kind of seem to work, though. Not sure if you won't face incorrect `groupIndex` argument values at some point.

Up to your question: `itemContent` is called for the initial item size estimations. The component does a "probing" render cycle using one group and one item, using the fi

[2021-01-16 07:20] petyosi commented on #264
That's interesting. My bet is that the specific config causes more rendering cycles compared to v0.x. I found and addressed several issues like this since the initial v1 release.

Goes without saying, a reproduction of the issue is going to help me determine the issue.  Alternatively, I might be able to spot something based on the Virtuoso props which you use.

[2021-01-16 07:21] petyosi commented on #261
Addressed in the 6b3413e7f437db79b489bc873a1dd45e9c100d75, released in v1.2.7.

[2021-01-16 07:21] #261 closed

[2021-01-16 14:05] fabiospampinato commented on #265
Isn't that the only thing that could address that? How else could you possibly address that if you don't control scrolling?

Even if Virtuoso had no overhead at all you'd still get that problem.

It would be difficult to emulate the native behavior, but VS Code does it perfectly on desktop, I know less about mobile but there are efforts like Flutter that basically paints everything itself on a can

[2021-01-17 20:38] martiancoding opened #267 "Scroll to item while in group mode"
Hello everyone! Amazing library, love it! A project I'm currently working upon demands scrolling to an item and also show group headers to the user. So far, I have [managed to group](https://virtuoso.dev/scroll-to-group/) a flat list of cards and am stuck at scrolling to a particular card on click from an external button. The example I followed from the documentation by using the "**virtuoso.curre

[2021-01-18 07:40] petyosi commented on #267
The group headers are sticky - they will stay at the top of the list. If you pass the correct card index, it should scroll to the point where this card is the first item visible below the header.

Hope this makes sense. Post a reproduction if you are facing problems with the above.

[2021-01-18 07:40] #267 closed

[2021-01-19 16:28] felippepuhle commented on #175
There are some demos handling chat scenarios, the only one I wasn't able to do is: if fewer messages, messages should be bottom aligned.

[2021-01-19 17:05] petyosi commented on #175
@felippepuhle there's a property for that, alignToBottom.

[2021-01-20 00:28] felippepuhle commented on #175
@petyosi omg I'm so sorry, I didn't see it... nice work, we'll definitely use this package on our app!

[2021-01-20 15:55] #40 closed

[2021-01-20 16:04] petyosi commented on #40
I took my time with this feature, but hopefully, this will help whoever finds this issue :).

https://virtuoso.dev/window-scrolling/ - post some feedback here if you give it a try. Thanks!

[2021-01-21 00:11] andrewfluck opened #268 "Refuses to render items at certain zoom levels"
At some zoom levels, when a list is empty or almost empty, the items refuse to display. If a list is empty and a message gets sent, the item gets populated as the list gets recomputed.

I can't really send a reproducible demo with code, however, I can set up a demo of the app in question, it's easier to demo it to you manually as if I post a chat link, people may spam it and ruin the demonstration

[2021-01-21 05:32] petyosi commented on #268
This could be due to floating numbers being reported from the DOM - I can't really say unless I have a reproduction. I have also seen a problem where the DOM items are not painted, despite being correctly rendered and placed - but this was resolved at some point.

I browsed the example site at 67% zoom level on Mac Chrome - the examples worked fine. I also zoomed out on [this example](https://h7s2

[2021-01-21 05:56] #263 closed

[2021-01-21 13:16] andrewfluck commented on #91
I think that the issue I just opened yesterday evening (#268) could be related to this.

[2021-01-21 14:53] mciszczon commented on #40
@petyosi Does the window scrolling functionality only work with the list? Because I tried to use it with the grid component and I get this:

    in div (created by VirtuosoScroller)
    in VirtuosoScroller (created by GridRoot)
    in GridRoot (created by ForwardRef)

[2021-01-21 14:59] petyosi commented on #40
@mciszczon I have not ported it to the grid yet. Likely going to do that soon, but no concrete ETA.

[2021-01-21 17:52] #268 closed

[2021-01-21 17:55] petyosi commented on #91
This thread mixes several problems from the v0.x era of the component; I will close it. An unresolved problem (which I need to look at) is the handling of extremely large lists (where the scrollTop should be extrapolated) [from this comment](https://github.com/petyosi/react-virtuoso/issues/91#issuecomment-616082134).

[2021-01-21 17:55] #91 closed

[2021-01-21 18:36] mciszczon commented on #40
Thanks @petyosi, I'm looking forward for it and will have your package on the radar. I'm afraid I'll not be able to help you with this too much, but what I can tell you is that it's really not that simple to make a virtualized grid in React. I've already used `react-list` and `react-virtualized` but both of these have some issues to them which are not trivial to fix.

Anyway, thanks for the reply

[2021-01-22 08:39] petyosi commented on #216
@xxczaki this is supported in v1.3.0 - check the demo https://virtuoso.dev/window-scrolling/

[2021-01-22 08:41] petyosi commented on #40
@mciszczon the window scrolling implementation of the grid won't differ from the current one, except for the missing scroller. If you would like to share the challenges you are facing with grids react-list and react-virtualized ([maybe open a discussion](https://github.com/petyosi/react-virtuoso/discussions)?) I would be more than happy to review and comment. Thank you!

[2021-01-22 20:27] felippepuhle commented on #182
@petyosi I feel like sometimes `endReached` is not called and I'm not sure why... we're using apollo too, using `data` instead of `totalCount` seems to help, but the issue still there... is there anything I can do to prevent it?

[2021-01-22 20:34] petyosi commented on #182
@felippepuhle Nothing I can recommend without a repo. If you get one, please open a new issue. Thank you!

[2021-01-23 09:40] dilizarov opened #269 "Upgrade from 1.1.2 to 1.3.0 causes janky scrolling."
I added a demo of the behavior I see.

There was some weird behavior in 1.1.2 where very rarely, I'd see my items flicker when I scrolled... upgraded to 1.3.0 thinking maybe that could help and it didn't. You'll notice this issue in my video as well.

Here is the video of 1.3.0:

[https://streamable.com/brjpsj](https://streamable.com/brjpsj)

You'll see the janky scrolling is obvious and erratic.

[2021-01-23 09:55] dilizarov commented on #269
On another note, I don't think `overscan` actually works. When I'm inspecting my list in google chrome dev tools, you don't actually see the overscan items mounted at all.

[2021-01-23 12:38] petyosi commented on #269
I see what you mean, but I will need to reproduce this on my side to help further. Overscan works, until proven otherwise :). Please create code sandboxes for both cases. Notice that the item contents are important, large complex items can reveal such behavior.

[2021-01-23 13:55] petyosi commented on #269
Could be related to https://github.com/petyosi/react-virtuoso/issues/254 - need a repro to verify.

[2021-01-23 16:26] dilizarov commented on #269
Apologies, I just realized I treated overscan as “number of additional
items” and not “number of additional pixels”

I’m positive it’ll work.

I will either get a repro or confirm your suspicion.

On Sat, Jan 23, 2021 at 5:55 AM Petyo Ivanov <notifications@github.com>
wrote:

--
Sent from my iPhone

[2021-01-23 17:20] dilizarov commented on #269
Can confirm that overscan works when assuming the number is pixels.

[2021-01-23 17:43] dilizarov commented on #269
@petyosi I can confirm that this release https://github.com/petyosi/react-virtuoso/releases/tag/v1.2.5 causes the issue.

Will look into it a bit more.

[2021-01-23 17:45] petyosi commented on #269
This makes sense. The fix there introduces an additional frame draw. If you can do the reproduction in a codesandbox, this will help me ensure that what you have will be addressed properly.

[2021-01-23 18:01] dilizarov commented on #269
Have you read this? https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

The answer given by specification authors seems to suggest that we shouldn't worry about this and the error is benign and I imagine that is definitely the case with this library.

https://github.com/WICG/resize-observer/issues/38 has a good discussion.

Best action is probably to revert the change

[2021-01-23 18:08] petyosi commented on #269
I have read that. Unfortunately, react-beautiful-dnd does not take the nature of the error into account. The lib has some error handling mechanism that is triggered by that exact error :(. I was hoping that the RAF will resolve the integration with it.

I will have to revert the change and suggest a workaround that's using stopImmediatePropagation.

[2021-01-23 18:12] dilizarov commented on #269
Oh I see. If I understand correctly, this library uses react-beautiful-dnd under the hood and error handling logic ends up getting called because of this error.

That is rough.

This comment may help:

[2021-01-23 18:15] dilizarov commented on #269
Also, I hope I don't jinx myself, but I must say... If we ignore this bug, then this is the first time I've incorporated virtualization in a project and have said to myself "wow that was so simple and the results are amazing" instead of cursing and trying to get everything right. So kudos to you.

I've said it before, but this really is a magical library. I hope my results remain the same when I c

[2021-01-23 18:25] petyosi commented on #269
Heads up: reverse chat scroll compensation (the behavior we are discussing right now) in iOS has its separate handling path, which is not so smooth as the one in Chrome (before the RAF caused glitch).

Apple tries their best to not let developers mess up the native kinetics of the browser, so some `scrollBy` calls (which compensate internally for variably sized items) are dropped. To work around t

[2021-01-23 18:26] dilizarov commented on #269
I will test both accordingly.

[2021-01-24 09:38] #269 closed

[2021-01-24 09:44] petyosi commented on #254
@edunad I had to revert that change - unfortunately, it introduced an issue with reverse scrolling (#269). Can you try the workaround from this discussion - https://github.com/DevExpress/testcafe/issues/4857#issuecomment-598775956

[2021-01-24 21:14] robwheatley commented on #68
Just to throw something else into the mix.

In my app, I'm using react-sortly which is built on top of react-beautiful-dnd. I needed nested lists and this does the job. However, my lists are made up of quite complicated components and once I get over about 100, the UI gets a bit sluggish. I can see people using my app with >300 in the list, so in the next week or so, I'm going to have to find a wa

[2021-01-25 09:29] gregoryforel commented on #68
Hey @robwheatley , I used to get performance issues as well.
Here are a few things you should try:
* Use the CSS property `content-visibility: auto;`. It works with Edge and Chrome for the moment. Read about it [here](https://web.dev/content-visibility/), the way to implement it in your case is simply to add it to each outer div of your draggable items.
* Get rid of the dragging animations. In mos

[2021-01-25 13:47] robwheatley commented on #68
Hi @gregoryforel Thanks for the tips - I will have a play.

I just tried the content-visibility thing, but it looks like it wont be as simple as just applying that property for me, as I'm also using a bespoke scrollbar (like Trello do) and that's having a funny interaction. Maybe with a bit of messing about I can get something working.

I'll be picking this performance stuff in the next couple of

[2021-01-25 14:21] dannycarrera opened #270 "Unable to scroll to bottom in reverse mode with a Footer"
When using virtuoso in reverse mode with a Footer; there seems to be no way to scroll to the bottom. For example, a typical chat app will have messages in reverse and an input box beneath the messages. I'm using a footer to add some space between the messages and the input box. After appending a new message, I'm unable to get the scroller back to the bottom.

`scrollToIndex` will only scroll to th

[2021-01-25 15:55] petyosi commented on #270
Agreed, #262 can help. However, using `align: 'top'` [seems to work as well](https://codesandbox.io/s/young-darkness-xrskn?file=/src/App.tsx:772-789). Modify the example unless I am missing something.

[2021-01-25 15:55] #270 closed

[2021-01-25 16:03] #217 closed

[2021-01-25 17:37] dannycarrera commented on #270
Thanks @petyosi . `align: 'start'` works well. My mistake was that I was using `align: 'end'`

[2021-01-25 19:48] #262 closed

[2021-01-25 20:02] petyosi commented on #68
@robwheatley I just released v1.4.0 which includes a few tweaks that make the react-beautiful-dnd integration easy. Check [this fork of their react-window example](https://codesandbox.io/s/simple-virtual-list-dark-forked-e6vmq?file=/src/index.js).

[2021-01-25 20:05] dannycarrera opened #271 "Inconsistent scrollToIndex after adding new item"
`scrollToIndex` does not consistently scroll to last item after adding a new item. Calling it in `useEffect` or `totalListHeightChanged` both result unexpected scroll locations. [Example](https://codesandbox.io/s/dazzling-chebyshev-f7kze?file=/src/App.tsxl)

[2021-01-25 20:15] petyosi commented on #271
Check the configuration in [this example](https://virtuoso.dev/stick-to-bottom/). It won't work with a custom footer, though - it would be easier for you to figure out an alternative way to add the padding to the bottom.

[2021-01-25 20:15] #271 closed

[2021-01-25 22:56] dannycarrera commented on #271
@petyosi Thanks for the quick reply. I checked out the 'Stick to Bottom' example. This works well when adding a new item when already at the bottom of the list. `followOutput` does not work when scrolled partially up the list.

I updated the [example](https://codesandbox.io/s/dazzling-chebyshev-f7kze?file=/src/App.tsx) to show you. When at the bottom already, `followOutput` works. When partially s

[2021-01-25 23:03] gregoryforel commented on #68
@petyosi, thanks for that. Have you ever tried to integrate `react-virtuoso` with `smooth-dnd`? I tried a while ago and could not get it done. If I open a new issue and provide a code sandbox, would you have the time to check?

[2021-01-25 23:59] robwheatley commented on #68
@petyosi Wow - that is super speedy! - I mean super, supper speedy - I added 10k items just to see what would happen and it was as quick as 10 items. Excellent work.

[2021-01-26 08:54] petyosi commented on #271
The behavior of `followOutput` is intentional. If the user has scrolled to the top, forcing them to the bottom of the list is not a good UX. The chat UIs I have examined usually display an indicator that fresh content is available down the bottom, with a button scroll down.

Calling scrollToIndex after totalCount changes is not trivial due to items' measurements. That's why I implemented the prope

[2021-01-26 09:38] petyosi commented on #68
@gregoryforel from what I see, smooth-dnd is a cross-framework implementation (but I might be wrong here) that works directly with the DOM. I doubt that this could work properly with Virtuoso.

[2021-01-26 10:10] petyosi commented on #68
I [submitted a PR to the documentation section](https://github.com/atlassian/react-beautiful-dnd/pull/2071) in react-beautiful-dnd - please help me with a 👍! Thanks.

[2021-01-26 10:10] #68 closed

[2021-01-26 10:38] petyosi commented on #264
v1.4.0 comes with a new way of propagating properties to the component internals. This reduces the initial render count, but I have no way to tell if this will affect your setup. Please re-open this if you build a repro. Thanks!

[2021-01-26 10:38] #264 closed

[2021-01-26 11:44] petyosi commented on #141
I second the suggestions provided here - the item state should be preserved externally, using the state management of your choice.

[2021-01-26 11:44] #141 closed

[2021-01-26 15:43] dannycarrera commented on #271
I 100% agree with you @petyosi that it's bad UX to force a user to scroll down when new _incoming_ messages are appended. I was working on the case when a user is scrolled up and sends an _outgoing_ message. For this case it's better UX to scroll to the bottom when the user submits a new message.

Instead of using `setTimeout` I ended up calling `scrollToIndex` before submitting a new message and

[2021-01-26 15:48] petyosi opened #272 "Provide the capabilitity to scroll to a newly added bottom item"
Use case: Chat UI. The user types a message and presses send while the message list is scrolled up.

`followOutput` is good for keeping up with incoming messages, but won't activate if scrolled up.

[2021-01-26 15:49] petyosi commented on #271
Ah, this absolutely makes sense. Thank you very much for providing the background! I am opening #272 to track that. Feel free to comment with additional information.

Will give this some further thought before deciding on the API.

[2021-01-26 21:53] Ethorsen opened #273 "Weird scrolling behavior when list have really tall items"
Hi @petyosi,

I was struggling to get a simple thing to work consistently and reliably on our SMS conversation lists.

That is the **initialTopMostItemIndex** or the **initialScrollTop** options.

I want the list to be at the bottom on load, so I set it either with
` initialTopMostItemIndex={messages.length - 1} `
or I tried
`initialScrollTop={Number.MAX_SAFE_INTEGER}`

For most of our lists, it i

[2021-01-27 08:01] petyosi commented on #273
Thank you for the repro @Ethorsen - that's very helpful.

The first behavior (alignment of the item specified in initialTopMostItemIndex) is by default - as the name implies, it aligns the specified item to the top of the list. I do understand that you are looking for alignment to the bottom. Will give this some thought and maybe alter the prop to accept an alignment option.

The second problem I

[2021-01-27 13:30] Ethorsen commented on #273
Thx @petyosi

For the alignment problem, I haven't been able to reproduce in the sandbox.  I only get it on some of our conversations list.     It is not aligning on the beginning of the last message, but randomly X pixels above the bottom.  (i've seen anywhere from 1px to 400-500px).
Like I said, you can initially see the scroll bar being at the end and then jump up a bit. Like if some messages w

[2021-01-27 13:33] petyosi commented on #273
@Ethorsen check if your project is up-to-date - I recently identified and fixed a bug where `followOutput` interfered with the `initialTopMostItem` prop.

[2021-01-27 19:09] Ethorsen opened #274 "Providing a react Ref to scrollerRef is generating an error"
A react ref created with React.createRef/useRef will spit out an error if given directly to scrollerRef prop;

This will generate an error
[code]

Work around for now, give a callback function
[code]

https://codesandbox.io/s/long-pine-e9g8g?file=/src/App.js

[2021-01-27 19:12] petyosi commented on #274
Can confirm that - it does not accept a react ref. The TS signature and the docs describe that. The workaround is not that much of a problem, but I am open to PRs.

[2021-01-27 20:07] Ethorsen commented on #273
I am under 1.4.0

[2021-01-27 20:42] Spaubleit opened #275 "How can I set classes in grid"
Hello. Great library. Very powerful and easy to use. In docs I find info about list and item classes:

But when I try to pass them I get typescript error:

I can't find more info in repository. Is it docs outdated? Thank you.

[2021-01-28 13:54] Ethorsen opened #276 "Initial scroll up is jumping around when initialTopMostIndex={lastIndex} is used"
Hi @petyosi,

Sorry it might be a duplicate/same issue as #273. But I'm unsure so I post it here.   Feel free to close/merge if its the case.

I've been spending some time trying to figure out this one.  But just can't fix.     I've also been able to reproduce in a sandbox.

https://codesandbox.io/s/throbbing-resonance-7eupw

- Scenario is still our SMS conversation list.
- We scroll to the end on

[2021-01-28 14:24] petyosi commented on #276
I think I am fixing this exact problem right now. Will publish a fix tomorrow after some more tests.

[2021-01-28 14:25] petyosi commented on #275
@Spaubleit that's a bug on my side, thanks for reporting. I haven't exposed those classes during the migration to v1. Will publish a fix tomorrow.

[2021-01-28 15:21] #275 closed

[2021-01-28 15:28] petyosi commented on #276
Check v1.5.0. I think the problem manifests itself only for a very tall bottom item with a short one on top of it.

[2021-01-28 15:28] #276 closed

[2021-01-28 15:36] petyosi commented on #272
In v1.5.0, `followOutput` accepts a function that can dynamically determine if the list should scroll to the bottom when new content is added. [Example here](https://github.com/petyosi/react-virtuoso/blob/master/e2e/chat.tsx#L93).

[2021-01-28 15:36] #272 closed

[2021-01-28 21:10] Ethorsen commented on #276
Problem seem to be persistent.

https://codesandbox.io/s/throbbing-resonance-7eupw

When scrolling up,  the items are still jumping around.

[2021-01-29 03:04] petyosi commented on #276
Can you record a gif? We might be talking about different cases.

[2021-01-29 05:33] petyosi commented on #276
FWIW, here's what I see - https://share.getcloudapp.com/2NuEKAgw

A thing (which is my fault to a certain extend) is that the examples use random sized items, which makes it hard to reproduce issues like this. If you reproduce it, notice if there was something specific about the problem - for example, a very tall item or a very short one.

Also, the fix I introduced in 1.5.0 addresses an initial "

[2021-01-29 07:47] tolfino opened #277 "Possible to have infinite number of reverse scrolled items?"
The docs talk about using `firstItemIndex` to support this use case:

Unless I'm greatly misunderstanding, it seems like `firstItemIndex` can only be used if I know what the `totalCount` is? Is it not possible to infinitely scroll in the reverse direction and is it bounded by how many indices are available between the current index and `firstItemIndex `?

Thank you!

[2021-01-29 07:59] petyosi commented on #277
Your understanding is correct - the list won't support *infinite* amount of items. You should pick a sufficiently large number for that prop that's either your totalCount or guaranteed to be larger than it.

[2021-01-29 08:07] #277 closed

[2021-01-29 13:08] Ethorsen commented on #276
Here's what I'm seeing.

<a href="https://ibb.co/CK7bS1N"><img src="https://i.ibb.co/YBkcVRY/test.gif" alt="test" border="0"></a>

That said, I started to think it might be browser related.  I'm using Vivaldi which is normally acting like any other chromium based browser.  But there is some exceptions.

After doing tests with major desktop browsers (all latest, windows 10).
Chrome:  Ok
Firefox: Ok

[2021-01-29 15:20] petyosi opened #278 "upwards scroll compensation mechanism is unreliable on Windows"
Browser: Edge or Chromium on Windows. Scroll by pressing the scroll bar buttons. Easily [reproducible in this demo](https://github.com/petyosi/react-virtuoso/blob/master/e2e/long-last-item.test.ts).

[2021-01-29 15:22] petyosi commented on #276
Thank you @Ethorsen - this gives me the clue. I managed to reliably reproduce the problem in both Chrome and Edge in Windows. The problem seems to be related to the kinetics of the OS.

[Tracking the issue here](https://github.com/petyosi/react-virtuoso/issues/278).

[2021-01-29 18:28] #278 closed

[2021-01-29 20:17] ysael opened #279 "Is prepending items available in GroupedVirtuoso?"
https://virtuoso.dev/prepend-items/

We are trying to implement this example wile using GroupedVirtuoso and we get this error as soon as we start using the firstItemIndex property.

![image](https://user-images.githubusercontent.com/1785595/106323103-dd001380-6244-11eb-831b-06760302cd12.png)

also wondering if we got this right:

firstItemIndex = total of items to be loaded - the one we have loade

[2021-01-29 21:58] Ethorsen commented on #276
Amazing work thanks a lot

[2021-01-30 02:32] vsh13 opened #280 "Using `EmptyPlaceholder` prevents `initialTopMostItemIndex` from scrolling"
Reproduce:

1. define both `initialTopMostItemIndex` and 'components.EmptyPlaceholder' props
2. Observe no scroll to the index provided to `initialTopMostItemIndex`
3. Remove 'EmptyPlaceholder'
4. 'initialTopMostcomponent' bahaves as expected

tested versions 1.5.0 and 1.5.2

[2021-01-30 02:42] vsh13 commented on #280
Figure it out, 'emptycomponent' is now part of components;

[2021-01-30 06:19] acnebs commented on #123
Having this as a Masonry Grid would be great.

Will have a go at a PR if I get the time.

[2021-01-30 09:07] petyosi commented on #279
Hey @ysael,

Love to see you around! Unfortunately, pretending items in grouped mode is not supported yet, purely because of an algorithm that I need to fry my brain on. If you want to give it a go at some point, I would love to help!

Here's the code that takes [care of the "unshift" process](https://github.com/petyosi/react-virtuoso/blob/master/src/sizeSystem.ts#L300). Apart from the algorithm c

[2021-01-30 09:07] petyosi commented on #279
P.S. Forgot to confirm that your understanding of `firstItemIndex` is correct.

[2021-01-30 10:50] ACT1GMR commented on #273
@Ethorsen hi thanks for producing our concern as well, we have exactly same issue here (a chat platform with very variable message boxes height and with a lot of content). I updated your sandbox to latest virtuoso (1.5.1) and still jumpy flashy behavior happened there. @petyosi first thanks for your great repo that heal a lot of pains here and around react world but please check this sandbox with

[2021-01-30 11:18] petyosi commented on #273
@ACT1GMR so far, the sandbox of @Ethorsen revealed 3 problems:

1. A tall item at the bottom followed by a short one causes an initial jump. Extracted to #276 and solved in v1.5.1
2. Reverse scroll compensation was not functioning as expected in Windows. Extracted to #278 and solved in v1.5.1 (I hope).
3. **An item taller than the viewport** causes a jump in reverse scrolling mode. This is not sol

[2021-01-30 11:35] ACT1GMR commented on #273
@petyosi
1- fixed here also
2- don't know
3- **exact and single point of failure for dynamic height list item cases here**
OK I will follow up. thanks again

[2021-01-30 11:46] ACT1GMR commented on #273
one workaround existed right now that cause as less issue as possible @Ethorsen @petyosi :
instantly after list fetched and rendered you can goto last index manually:
`this.virtuoso.current.scrollToIndex({
        index: messages.length - 1
        });`
and scrolling looks normal.

[2021-01-30 14:45] dannycarrera opened #281 "startReached called multiple times"
When the response to prepend new items to an inverse list takes less than about ~200ms, there is a chance that `startReached` will get called multiple times. Visually this causes the scrollbar to flicker. Behind the scenes, another `startReached` callback is fired, and more data is loaded.

![ezgif-1-3a88a4f7d31d](https://user-images.githubusercontent.com/16018201/106358743-0cae2a80-62dc-11eb-98ab

[2021-01-30 17:43] petyosi commented on #281
Are you sure that `startReached` is called multiple times? I can't reproduce that on my side by observing the console logs.

Also, do you reproduce it in [this sandbox](https://codesandbox.io/s/adoring-bhabha-hl168?file=/src/App.tsx)?

[2021-01-30 20:22] dannycarrera commented on #281
Yes. I checked the api endpoint as well and saw 2 requests. Also, the 2nd request is _not_ just the first request being sent twice. The 2nd request is asking for the next batch, so it's being called _after_ the first request's data is loaded.

Yes.

Here are my findings:
Browser | Windows 10 | Mac
------------ | ------------- | -------------
Chrome | yes. high frequency | no
Firefox | yes. high fr

[2021-01-31 00:02] ysael commented on #279
Thanks a lot for the quick response, I will take a look asap! 👀

[2021-01-31 11:53] robwheatley opened #282 "react-flip-toolkit no longer works with visualised lists"
Hi there,

I've created a drag and drop list using react-sortly (I didn't use beautiful DnD because it doesn't support nested lists). But react-sortly doesn't do move animations, so I've used react-flip-toolkit for that (as do react-sortly's examples).

I've managed to integrate Virtuoso into react-sortly, so I now have a nice speedy list, but my animations go away. I can't work out why, but I ass

[2021-01-31 14:57] #281 closed

[2021-01-31 15:08] petyosi commented on #281
This is tricky, I think the changes applied in the commit above affect it, but even with them, I managed to reproduce the issue every once in a while in Edge / Win10. Chrome seems to be better.

Windows browser scroll kinetics gives me a horrible headache. The root cause of the problem is that the Windows engines discard `scrollBy` calls if the user is currently scrolling - this prevents the readj

[2021-01-31 23:47] Brian-McBride opened #283 "react-beautiful-dnd and Items with images (async sizing)"
First, thanks for the lib. I'm looking to move from react-virtualized. I'm liking what you have going on here!

I have a list that contains images. Currently, I do not cache the image height in the data payload, just the image URL. When I was following the example at https://virtuoso.dev/react-beautiful-dnd/ it has the whole `HeightPreservingItem` component with the `data-known-size` prop. In this

[2021-02-01 07:07] petyosi commented on #283
Starting with the good news, triggering a resize is not the way to go (it is going to get very messy). The `HeightPreservingItem` function is to prevent the full collapsing of the container when the item gets dragged around, leading to a zero-height element (not supported by Virtuoso).

I am sure that there are many ways to avoid that, you can try with minHeight:

[code]

`minHeight: 1` [works for

[2021-02-01 07:26] petyosi commented on #282
@robwheatley I am not aware of react-sortly, what I can see for sure is that the DOM structure of the two modes is very different - notice that you can customize the item container using the `components` prop.

Since the virtualization part works but the animations don't, you can also ask for help from the react-sortly author. Hope this helps.

[2021-02-01 08:05] tadeolinco opened #284 "`scrollToIndex` not working with `useWindowScroll`"
Just posting some feedback. Here's a producible sample https://stackblitz.com/edit/react-xbdrl5

Awesome work with the library!

[2021-02-01 10:26] petyosi commented on #284
I need to investigate this further, but for now, adding this:
[code]
makes [the example work](https://stackblitz.com/edit/react-htmmbk?file=src%2Fstyle.css).

[2021-02-01 12:08] dannycarrera commented on #281
Thanks @petyosi! It's much better now. I appreciate the recommendation for implementing debounce. It's unfortunate window's scrolling is difficult to work with. I'll add it but, for this case, I feel like debounce shouldn't be necessary. As networks get faster it would be great UX to have seamless scrolling when accessing remote data.

Thanks again for your efforts and this very helpful library!

[2021-02-01 13:26] robwheatley commented on #282
Hi @petyosi I don't think the issue is really with react-sortly. I just mentioned that as something I managed to do rather than using beautiful DnD. To get it to work, I had to re-write a bit of react-sortly code.

It's more of an interaction between flip-toolkit and Virtuoso. In the codesandpit I made, I'm not using sortly. react-toolkit seemed pretty robust when it came to how you construct the

[2021-02-01 16:12] petyosi commented on #281
@dannycarrera Another callback you can try is the rangeChanged - loading the items a little bit before the first one is reached.

[2021-02-01 16:40] #284 closed

[2021-02-01 17:13] Brian-McBride commented on #283
The minHeight worked great. I would actually suggest that you change your documentation to have that as the default instead of height. I should have thought of trying it.  I'll close the issue.

I saw you split out a state engine. I love observables in general as well and generally dislike redux. In React, I have come to default to [hookstate.js](https://hookstate.js.org/ ) Just sharing it in case

[2021-02-01 18:26] petyosi commented on #280
Can you post a repro?

[2021-02-01 18:34] vsh13 commented on #280
[code]

[2021-02-02 03:45] tadeolinco commented on #284
@petyosi thanks for quick fix! :100:

[2021-02-02 11:33] robwheatley opened #286 "Feature request: Bottom Items / Sticky Footer"
Hi,

Just a thought as this would be useful for me and maybe others. I've done what I wanted to do with a workaround, but it would be really easy if Virtuoso supported a sticky footer (or Bottom Items) like you have Top Items.

My thought was to add an option that either makes the Footer always show, or maybe do what you have done for Top Items, but for Bottom Items.

My scenario:

I have a list o

[2021-02-02 13:55] #280 closed

[2021-02-02 15:08] ysael commented on #279
quick question @petyosi do you know a way to achieve `prepending` items in grouped mode with the current code base? thanks again :)

[2021-02-02 15:22] petyosi commented on #279
I think you might achieve that by re-mounting the component (by passing a different `key` prop) and passing different `groupCounts` and `initialTopMostItemIndex`. Not an optimal solution, even if it works.

[2021-02-02 20:01] felippepuhle commented on #182
@petyosi not sure if I should open a new issue as I don't know exactly how to create/reproduce it(it's not constant but it happens a lot sometimes)... I was digging for a bit and [this condition](https://github.com/petyosi/react-virtuoso/blob/master/src/listStateSystem.ts#L296) seems to be causing it... for example, after an initial load `items[items.length - 1].originalIndex` is `9` but `totalCou

[2021-02-03 11:33] petyosi commented on #182
@felippepuhle I can't say for sure what happens. You can try throwing a `throttleTime` (like [startReached here](https://github.com/petyosi/react-virtuoso/blob/master/src/listStateSystem.ts#L306)) before the filter and see if it makes any difference.

[2021-02-03 12:41] RanST-dev opened #288 "ScrollSeekPlaceholder not working well with logitech mx master"
I have a Logitech MX Master mouse with a fast scroll option, as well as a Logitech MX Anywhere mouse with the same feature.

When I scroll really fast and stop suddenly, the list will be stuck with placeholders. If I scroll again slowly it will be updated and show the component defined in `itemContent` prop.
I guess it has something to do with debouncing of on scroll event, but I am not sure.

Is

[2021-02-03 14:01] felippepuhle commented on #182
It does seem to help @petyosi, can we add it and release a new version? thanks!

[2021-02-03 14:44] petyosi commented on #182
Reopening this as a reminder. I will look into it shortly.

[2021-02-06 17:34] AlonBru opened #289 "Potentially Dangerous bug with VirtuosoGrid"
when using VirtuosoGrid component, for some reason sometimes there is a bug causing the list's topand bottom padding to change rapidly causing flickering that I assume might be dangerous to an epileptic person.
provided is an gif of the problem, only in reality the flickering is much faster, which could not be properly captured by the screen recorder.
example:
<details>
  <summary>warning: flashin

[2021-02-07 00:32] petyosi commented on #289
Please reproduce this in a code sandbox.

[2021-02-07 01:58] AlonBru commented on #289
Can't seem to, I'm afraid. the problem does not appear on the demo...
[demo](https://codesandbox.io/s/magical-cherry-55r8s?file=/src/App.js)
the things that seem to be changing are the top and bottom padding of the list element, can you you tell me what has influence on their values?

[2021-02-07 06:58] muyiwaoyeniyi commented on #279
+1

[2021-02-07 08:00] petyosi commented on #289
Padding is changed to cut off the list to its visible window. Check if you are not using margins in your items.

[2021-02-07 11:46] petyosi commented on #288
I don't have access to such a device, so I am not sure what's going on. You can easily run the project locally and throw some [breakpoints in the code](https://github.com/petyosi/react-virtuoso/blob/master/src/scrollSeekSystem.ts) - this is the system in question. If you are interested in doing that and need some help, let me know - I will reopen the ticket.

[2021-02-07 11:46] #288 closed

[2021-02-07 13:19] AlonBru commented on #289
this is the ItemWrapper used in the "components" propety:
![image](https://user-images.githubusercontent.com/66993391/107147490-17f5fb80-6957-11eb-8ebb-bf3750cba0f4.png)
and this is the content:
![image](https://user-images.githubusercontent.com/66993391/107147344-33143b80-6956-11eb-9100-56801b904c16.png)
they don't use margins, and I've tried disabling all css props one by one and together, to no

[2021-02-07 13:43] AlonBru commented on #289
![image](https://user-images.githubusercontent.com/66993391/107148169-82f50180-695a-11eb-8277-0785a48125c5.png)

changing the marked values (height, max-height, min height) seems to have solved the problem, at least for now, but I still don't really know what caused it.
height:244px seems fine,
height:243px causes problems.
I can't be sure it's safe.

[2021-02-09 02:48] russelldc commented on #283
@Brian-McBride Would you be able to share more about how this worked out for you?

I've tried extending @petyosi's original react-beautiful-dnd codesandbox, such that every even indexed item has 2 lines of text, while every odd indexed item has 1 line of text. As far as I can tell (based on fiddling with the demo and inspecting the html elements, not exploring virtuoso's code), it seems like every

[2021-02-09 07:35] petyosi commented on #283
@russelldc you can use other means to prevent the wrapper from collapsing - for example, by putting a 1px tall div, [like this](https://codesandbox.io/s/react-virutoso-with-react-beautiful-dnd-forked-j09gs?file=/src/index.js).

Another thing that I had to add to your example was a `stopImmediatePropagation` error handler. This is a harmless error that is being caused by the internal Virtuoso resiz

[2021-02-09 07:50] Spaubleit opened #290 "VirtuosoGrid, Firefox: Negative index is passed to itemContent in initial rendering"
**Describe the bug**
I got -1 index in usual VirtuosoGrid usage. Also get warning: `Infinity` is an invalid value for the `paddingTop` css style property.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-index-error-r3hj9?file=/src/App.tsx

**To Reproduce**
Just open console

**Expected behavior**
I expect to never get a negative index :)

**Desktop**
 - OS: Fedora 33,  Gnome 3.3.3 Waylan

[2021-02-09 08:54] petyosi commented on #290
What's the idea behind your setup? The grid element does not have a height.

[2021-02-09 10:38] Spaubleit commented on #290
Thank you for fast response. I forget about the height of the grid, but the error does not depend on it. The grid is now rendered with the same issues.

[2021-02-09 10:55] petyosi commented on #290
As far as I can see, the error is no longer reproducible in Chrome. Firefox reports the Infinity error and the -1 index. Let me know if this matches what you observe.

[2021-02-09 11:19] Spaubleit commented on #290
You're right. I have the same behavior. Firefox is my main browser, apparently so I discovered this issue.

[2021-02-09 19:56] russelldc commented on #283
@petyosi Even on the sandbox you linked, I'm still seeing very weird shifting behavior when I pick up/drag an item:

https://user-images.githubusercontent.com/5100126/107420475-c623b180-6acd-11eb-9a57-8515567d17c4.mp4

[2021-02-09 20:04] petyosi commented on #283
Reopening; needs a more reliable solution.

[2021-02-09 20:08] russelldc commented on #283
This might be why it seemed fine at first glance... if you pick up an item and auto-scroll the list a bit by dragging it towards the bottom, eventually the surrounding items will look like they're shifting correctly around the dragged item. On the other hand, if you pick one up and don't scroll around, that's when the weird shifting is obvious:

https://user-images.githubusercontent.com/5100126/10

[2021-02-09 20:11] petyosi commented on #283
@russelldc thanks. This might be related to the way `mode="virtual"` is implemented (as it has react-window as an integration target). I will look into a reliable solution for the content measurement.

[2021-02-10 09:58] #290 closed

[2021-02-10 10:42] petyosi commented on #289
@AlonBru reopen this if you can reliably reproduce the problem in a sandbox. Thanks!

[2021-02-10 10:42] #289 closed

[2021-02-10 16:57] muyiwaoyeniyi commented on #182
@petyosi Not sure this object reference change fix extends to grouped virtuoso since data prop isn't passed in when using it. Will changing the groupCounts also reset the endReached? Also, do you reset startReached too?

[2021-02-10 17:00] petyosi commented on #182
@muyiwaoyeniyi no, the scope of this discussion does not include grouped mode. It would help me if you can report your problem in a separate issue, including reproduction and some context on what you are trying to achieve (and why it does not work).

[2021-02-10 17:05] muyiwaoyeniyi commented on #182
@petyosi Thanks for quick response and awesome package. I will open another issue on grouped mode.

For resetting endReached, do you also reset startReached?

[2021-02-10 17:10] petyosi commented on #182
No - I am not sure why that would be necessary. Please provide an example + context - thanks!

[2021-02-10 17:15] muyiwaoyeniyi commented on #182
The context is similar to what was described in this comment https://github.com/petyosi/react-virtuoso/issues/182#issuecomment-729567934 .. I have a slack-like scrolling container that let's a user scroll in both directions. For any number of reasons, it's possible to want the startReached (like the endReached) to be re-triggered.

[2021-02-10 17:24] muyiwaoyeniyi opened #291 "Grouped Mode: There is no way to reset endReached/startReached"
It appears when using regular mode, you can now reset endReached by change the object reference for the data prop (see https://github.com/petyosi/react-virtuoso/issues/182) but since the data prop isn't used in grouped mode, there is no way to reset endReached/startReached. I was hoping changing the reference for the groupCounts would do this.

I'm currently on v1.5.5.

[2021-02-11 07:31] petyosi commented on #291
I need some more context to understand the necessity to reset the events state in grouped mdoe. So far, I am aware of the following:

A top-to-bottom endless scrolling list, where `endReached` is used to fetch more items. This should work as expected in both flat and grouped mode.

A large list with a textbox which can be used to filtering the results. In this case, the correct approach would be t

[2021-02-11 14:37] #273 closed

[2021-02-11 14:58] petyosi commented on #273
Here's an updated version of the [originally reported sandbox](https://codesandbox.io/s/suspicious-kalam-jxr7i?file=/src/index.js).

[2021-02-14 12:31] petyosi commented on #283
@russelldc @Brian-McBride @ozsirmajotform [take a look at this variation](https://codesandbox.io/s/react-virutoso-with-react-beautiful-dnd-forked-j09gs?file=/src/style.css) - let me know if this makes sense.

[2021-02-14 21:02] dodosan-89 opened #292 "[BUG] Prepening items scenario implementation blinks."
**Describe the bug**
When using the Virtuoso component in a Prepending items list scenario the list of items blinks when new items are pre-pended at the top.

**Reproduction**
Can be observed on Prepending items example: https://virtuoso.dev/prepend-items/

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll to the top-most item
2. Observe that the whole list of items blinks before new ite

[2021-02-15 02:07] focux opened #293 "[BUG] Stick to bottom not working when loading images"
**Describe the bug**
As the title says, stick to bottom doesn't work when loading async elements like images. I think that the list should scroll or keep sticked to the bottom after the image or any other async element has been loaded.

If it helps, I'm using version 1.5.6.

**Reproduction**
https://codesandbox.io/s/pensive-moser-8bn2y?file=/src/App.js

**To Reproduce**
Load the sandbox and wait f

[2021-02-15 04:51] aravind-tc opened #294 "Support useWindowScroll for VirtuosoGrid"
useWindowScroll is not working with VirtuosoGrid. Do you have plans to support this?

Thanks
Aravind

[2021-02-15 05:39] petyosi commented on #294
Yes, but I don't have an ETA on this.

[2021-02-15 05:40] aravind-tc commented on #294
@petyosi Do you need my help? I am willing to port the changes useWindowScroll from virtuoso to virtuosoGrid.

Thanks
Aravind

[2021-02-15 05:50] petyosi commented on #293
`followOutput` monitors and acts only the initial item sizing. Pulling the list to the bottom each time the contents of the items get resized would be too much magic and might not be what the users expect.

From what I've seen in the chat/feed UI, media content is injected with fixed size so that the additional UI readjustments are avoided - that's what I would recommend for best UX. If this, howe

[2021-02-15 05:50] #293 closed

[2021-02-15 05:57] petyosi commented on #294
Absolutely - a PR is more than welcome. [This is the commit](https://github.com/petyosi/react-virtuoso/commit/1ee6bff) for the list. The `WindowViewportInfo` should be extended with `width` so that it can be reused in the Grid.

[2021-02-15 06:04] petyosi commented on #292
At the moment, I don't have any ideas on how to improve this behavior Prepending items is a multi-step operation - items are inserted at the top, and then the element scrollTop is re-calculated and restored at its previous point. This causes the blink you describe.

If this is a critical problem for you, you can overlay a loading indicator on the UI.

[2021-02-15 06:04] #292 closed

[2021-02-15 14:04] focux commented on #293
Fair enough, that works for me. Thank you.

[2021-02-15 18:06] piecyk commented on #42
What about something like this? https://codesandbox.io/s/virtuoso-table-fshis?file=/src/App.tsx

[2021-02-15 22:58] jonathaneckman commented on #263
@petyosi first, thank you for this component. Its saving me a ton of time. A use case I'm facing a use case for empty groups: an agenda view calendar with events. I want to show every calendar day (group) but not every calendar day has an event (item). Example:

- 1/1
   - Event at 9 AM
   - Event at 2PM
- 1/2   <!-- empty group
- 1/3
   - Event at 11AM

Would you consider making this supported in

[2021-02-16 06:02] laggingreflex opened #295 "[BUG] Window scrolling not working"
**Describe the bug**

New to this. Trying to use Window Scrolling (which is what drew me to this library, other than dynamic height of course!).

It seems the list isn't updated (items below-the-fold don't show up)

[![GIF](https://thumbs.gfycat.com/VacantAnyAlaskanmalamute-small.gif)](https://gfycat.com/vacantanyalaskanmalamute)

**Reproduction**

https://github.com/laggingreflex/repro-react-virt

[2021-02-16 06:58] petyosi commented on #263
@jonathaneckman thanks for sharing the use case - indeed, this is a valid one. I would like to implement proper support for empty groups, but I am not sure when I will be able to get to it, priority wise.

[2021-02-16 07:02] laggingreflex commented on #295
Ah, `<!DOCTYPE html>` was missing from my app, adding which fixed it!

Don't understand yet why, but there's some confirmation why it might happen: https://stackoverflow.com/questions/4815283/using-doctype-let-scrolltop-return-0-why

[2021-02-16 07:02] #295 closed

[2021-02-16 08:53] petyosi opened #297 "[BUG] followOutput stops following if viewport is resized."
The implementation does not track the viewport changes - only the addition of new items. Should look into both increase and decrease.

Necessary to check - if the viewport is resized, the list items may be resized as well. The repositioning should be applied after that.

[2021-02-16 08:58] chrisdostert commented on #297
would be awesome if the solution to this could also solve https://github.com/petyosi/react-virtuoso/issues/127

[2021-02-16 11:19] laggingreflex commented on #282
Running into this too. The issue is since FlipToolkit requires each item of the list wrapped in a `<Flipped>`:

[code]

But since Virtuoso also creates its own wrapper around each item:

[code]
Which obviously breaks the link between Flipper & Flipped.

If maybe `<Virtuoso>` & `<Flipped>` can be merged this could work.

Is `components.Item` the right API to customize to make this happen? I can't s

[2021-02-16 21:56] psirenny commented on #288
I don't think this is device specific. I encounter the same problem with an Apple mouse. For me, it seems I often have stray `enter` callbacks fire _after_ the exit callback. I've observed this in my project but haven't created a reproducable example.

[2021-02-17 11:00] ozsirma commented on #283
I did not encounter a problem. Nice to see the new approach works. 👍

[2021-02-17 14:20] laggingreflex opened #298 "[Feature request] Disable / control unmounting of already mounted rows"
Someone's made this feature request in https://github.com/bvaughn/react-window/issues/234, I'd like to request it here as well.

This could give a performance boost to lists with a moderate amount of large rows but which are very expensive to render.
If properly handled (rows should use memo of course) it would only render rows the first time they are visible and then keep them mounted to be able

[2021-02-17 15:33] petyosi commented on #298
This seems like a different kind of story than what Virtuoso is designed for, to be honest. Leaving the issue open for potential feedback, but my initial reaction is that I am unlikely to include such a mode.

[2021-02-19 09:39] huudatk53 opened #300 "[Question] How can I scroll to bottom if dynamic height image"
1. First time, scroll to bottom not working when I use image. I used scrollToIndex. I'm not sure the way I use it makes sense.
2. Suppose, the conversation has a lot of images, each image has a different height and use reverse endless scrolling loadmore message
Which approach is better?

![image](https://user-images.githubusercontent.com/13384935/108486180-5fbe4080-72d0-11eb-8bf4-040c32635026.png)

[2021-02-20 02:59] russelldc commented on #283
@petyosi Your codesandbox version is working perfectly for me (besides some leftover padding in the list while an item is being dragged, but I think that can probably be easily dealt with, and depends on the general styling choice for the items).

I haven't had the chance yet to try it out in my target project, but will let you know ASAP whether I run into any issues.

Thanks so much for addressin

[2021-02-20 06:15] petyosi commented on #300
Duplicate of #293.

[2021-02-20 06:15] #300 closed

[2021-02-20 13:55] #297 closed

[2021-02-20 13:59] petyosi commented on #127
Closed with #297

[2021-02-20 13:59] #127 closed

[2021-02-20 14:00] petyosi commented on #283
Thanks everyone for the feedback, I am closing the issue.

[2021-02-20 14:00] #283 closed

[2021-02-20 20:08] jonathaneckman commented on #279
I could use this as well. I tried to add the feature myself but I couldn't get there. The only thing I was able to shake out of the experiment that may be of value is an e2e example showing:

- a list of "events" grouped by day
- initial load shows current day at the top
- infinite scroll into the future (append)
- TODO: infinite scroll into the past (prepend)

Its [in my fork](https://github.com/

[2021-02-20 22:12] chrisdostert commented on #297
just tested and #127 works flawlessly now, amazing work!

[2021-02-21 08:10] dlee opened #301 "[BUG] initialItemCount does not pull record from `data`"
**Describe the bug**
Supplying an `initialItemCount` breaks virtuoso.

**Reproduction**
https://codesandbox.io/s/admiring-hill-uvvkq?file=/src/App.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/admiring-hill-uvvkq?file=/src/App.js
2. Notice that `initialItemCount={50}` and Virtuoso is broken
3. Set `initialItemCount={0}`
4. Notice that Virtuoso works again

[2021-02-21 10:29] petyosi commented on #301
Got it, it seems to be missing the record from the data prop. Will look into it.

[2021-02-21 15:54] jonathaneckman opened #302 "Maximum call stack size exceeded"
**Describe the bug**
Scrolling quickly in a grouped list with endless scroll throws a RangeError.

**Reproduction**
It can be reproduced in the `grouped-endless-scrolling` e2e test.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll down super fast.
2. See error in console.

[code]

**Expected behavior**
No error.

**Screenshots**
![fast-scroll](https://user-images.githubusercontent.com/

[2021-02-21 17:01] petyosi commented on #302
Taking a look. Thanks for becoming a sponsor!

[2021-02-21 17:39] petyosi commented on #302
@jonathaneckman it looks like I managed to mess up the example itself at some point - thanks for spotting this. This is [the incorrect line](https://github.com/petyosi/react-virtuoso/blob/master/e2e/grouped-endless-scrolling.tsx#L100), by the way. loadMore effectively calls itself.

Here's what [the fixed version looks like](https://codesandbox.io/s/modest-wu-fzwtn?file=/src/App.tsx) - I am doing

[2021-02-21 18:42] jonathaneckman commented on #302
@petyosi the example looks good. I wasn't able to reproduce it.

[2021-02-21 18:42] #302 closed

[2021-02-23 06:17] fakhrishahab opened #303 "Memory Leak on large list of data"
I try to use react-virtuoso for rendering a large count of list data, but I found the memory usage is still increase since the items was destroyed from the DOM.
It's not returning back the allocation memory to the OS.

[2021-02-23 08:22] petyosi commented on #303
Hey,

please provide more information on the subject, including a simple, runnable example that demonstrates the issue you are observing, instructions on how to reproduce it, along with relevant information - browser, OS, etc. I will re-open the issue once this information is available and I can look at it.

[2021-02-23 08:22] #303 closed

[2021-02-23 10:45] huudatk53 commented on #300
I used onLoad in img
First time is ok, but whenever the image loaded, scroll to bottom. Like this
![error](https://user-images.githubusercontent.com/13384935/108832928-bd1efe00-75fe-11eb-900c-37b95d642b3f.gif)

[2021-02-24 18:12] DrLiamKless opened #304 "[BUG] Creating infinite data virtuosu with prepending items (chat)"
**Describe the bug**
My bug is that i have an infinite data (using useInfiniteQuery from react-query) and im using it tu create a virtuoso chat.
the virtuoso sometimes dosent detect the "startReached" event, and also the paddings are randomly becoming higher then needed.

**Screenshots**
![image](https://user-images.githubusercontent.com/67854560/109045527-5d972000-76dc-11eb-9165-2780ce19c82f.png)

[2021-02-24 19:47] petyosi commented on #304
Hey,

Debugging code in jpegs is not something I can do, yet. Please provide a simple, runnable example with minimum external dependencies (I am not familiar with react query) that demonstrates the issue you are observing, instructions on how to reproduce it. I will re-open the issue once this information is available and I can look at it.

[2021-02-24 19:47] #304 closed

[2021-02-26 05:15] muyiwaoyeniyi commented on #291
@petyosi Thanks again for this package. We use it in an upcoming product and it saved us a ton of time.

Here's the use case I have. It's similar to Slack where the app loads more data remotely when you scroll to the top or when you scroll down. I could use atTopStateChange or atBottomStateChange but I find that they fire more events that is necessary for determining when to fetch data. It would b

[2021-02-26 09:06] mattmuirhead opened #305 "[BUG] New item causes page to jump when not scrolled to the bottom of the window"
**Describe the bug**
When a new item is added to the data, and the user is not scrolled to the bottom of the window it causes the page to jump and the user to lose their scroll position.

**Reproduction**

https://user-images.githubusercontent.com/7092741/109278809-deefcf00-7810-11eb-924c-0a276a1c4a5b.mov

In the above demo, user a (left side of screen) sends a message to user b (right of screen).

[2021-02-26 11:44] petyosi commented on #305
I think this is related to a recent change I introduced in 1.5.9 - can you please reproduce this in a codesandbox? I will take a look.

[2021-02-26 11:46] petyosi commented on #291
@muyiwaoyeniyi What you describe still does not explain why you need to reset the state of endReached or startReached.
Loading more data will change the totalCount and will reset them for you.

[2021-02-26 14:39] muyiwaoyeniyi commented on #291
@petyosi I get that but like it was raised on another issue, if the request fails or you lose data or something else happens that doesn't fetch more data, then I can't use endReached or startReached anymore. You added resetting endReached by changing the data object reference but this doesnt work for startReached in grouped or ungrouped mode. And resetting endReached doesn't work in grouped mode.

[2021-02-26 16:30] mchitson opened #306 "for reverse scrolling, the list doesn't load more when new items added"
Hi does this work when the list changes /expands? couple of issues:

1. in reverse mode i need firstItemIndex it seems, i however do not know ahead of time how many items i would have. how to solve this?
2. when i append to the list (like say in a chat example) i can no longer scroll more when i scroll to the top.

[2021-02-26 17:09] mattmuirhead commented on #305
Sorry this is due to a user error. I was incrementing the `firstItemIndex` when an item is appended. Will close the ticket.

[2021-02-26 17:09] #305 closed

[2021-02-26 17:10] mchitson commented on #304
Hello i am experiencing the same issue, can we reopen this?

[2021-02-26 17:11] mchitson commented on #304
so basically same use case am using it for a chat, and whenever i append a chat message that i type under the chat list, the endless scrolling just completely stops

displayMessages = (messages) => {
    return (
        // <div className='messages-infinite-scroll'>
          <Virtuoso className='messages-infinite-scroll'
            components={{
              Header: () => <div style={{ textAlig

[2021-02-26 17:26] petyosi commented on #306
1. You can use a very large number and decrement it;
2. Not sure I understand what the problem is. Please provide a reproduction in codesandbox; - I will re-open the issue once I can look into it.

[2021-02-26 17:26] #306 closed

[2021-02-27 15:00] mchitson commented on #306
Hi thank you I managed to get it working. Thank you so much! It’s a hell of a lot easier than ReactVirtualized.

Just a quick question, since we need to set the firstItemIndex and I don’t know at the beginning how many records I will be loading, I can set it to an very large number for arguments sake 10,000. What happens if I end up with number of records > 10k? What is the significance of the fir

[2021-02-27 15:59] KeitelDOG commented on #196
I really like the Virtuoso package, and I use it after trying react-window and plugins, I prefer it.

I know the pattern is to only render the portion of items that has their parts in the Window range. But I was wondering, to improve scroll smoothing, if we could instead provide explicitly the Number of Items to be rendered. Like a `minRenderedCount={20}`.

My Items are complex enough, and are dis

[2021-02-27 18:40] petyosi commented on #196
@KeitelDOG - not sure how your comment is related to the initial problem in this issue - can you clarify? Apart from that, I am personally not a fan of the overscan property, especially when combined with complex items which include images. However, you can give your idea a go - if it works better for certain cases, I would love to accept a PR.

[2021-02-27 18:45] petyosi commented on #306
the first item index is used internally for calculations - and it has certain boundaries which I should be able to fix at some point (hence the necessity of it being above zero). Using a large number (1M) has no negative performance.

[2021-02-27 19:13] Alino commented on #196
I am closing this, as I think this is not relevant anymore since the big refactor.

[2021-02-27 19:13] #196 closed

[2021-02-28 23:09] mchitson commented on #306
Great. One more question (sorry), it seems the endless scroll triggers endMore on first load as well so that I am loading twice the amount of data am expecting. Is there a way to ensure endMore loads only on scroll?

That’s my code:

displayUsers = (users) => {
    return (
      <Virtuoso
        className='users-container'
        data={users}
        components={{Footer: () =>
          (this.s

[2021-03-01 09:07] evskorobogatij opened #307 "No data in VirtuosoGrid"
Hello

I try too use virtuoso library. It's very nice for list.

But in my projects I mast use grid.
I try write small sample for testings, based on  https://virtuoso.dev/grid-responsive-columns/
but not data rendered in my project:
https://codesandbox.io/s/test-ucokn?file=/src/App.js

How to fix this?

[2021-03-01 11:22] petyosi commented on #307
You need to specify a height for your grid component - either with style or by using flexbox. Please refer to the working examples in the docs.

[2021-03-01 11:22] #307 closed

[2021-03-01 12:26] mchitson commented on #306
Hi

Me again, when I scroll by mouse through my virtualized list, sometimes the whole list goes blank for a while before it renders it. It’s quite a noticeable lag. Is there anything that can be done?

[2021-03-01 18:53] evskorobogatij commented on #307
Where is working example?
This example https://virtuoso.dev/grid-responsive-columns/ is now fork

I rewrite container component. But nothing happens:
`
  const ListContainer = styled.div`
    display: flex;
    flex-wrap: wrap;
    height: 200px;
  `;
`

[2021-03-04 13:20] pyreta commented on #141
@itayganor Can I see the code for this expandable list you made?

[2021-03-05 11:27] bhavesh-desai-scratch opened #309 "Website examples using `data` prop do not work in MacOS Safari"
**Describe the bug**
React-virtuso does not seem to work in Safari for lists with a data source. None of the items are rendered to the screen.

**Reproduction**

If you open the demo page in Safari you can see the "List with data" example is blank.

https://virtuoso.dev/hello/

**To Reproduce**
Steps to reproduce the behaviour:
1. https://virtuoso.dev/hello/
2. Look at the "List with data" example

[2021-03-05 13:03] petyosi commented on #309
Now that's truly an amazing feat on my side. Looking into it.

[2021-03-05 13:10] petyosi commented on #309
@bhavesh-desai-scratch - this seems to be an issue with docusaurus (the backend of the docs) itself. The list works fine in a code sandbox - [see here](https://codesandbox.io/s/dry-forest-hxr9u?file=/src/App.tsx).

[2021-03-05 18:13] jan-wilhelm opened #310 "[BUG] followOutput is flaky on Big Sur Safari"
**Describe the bug**
The ["Stick to Bottom" example](https://virtuoso.dev/stick-to-bottom/) stops sticking to the bottom every now and then on Safari, as shown in my screen recording.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://virtuoso.dev/stick-to-bottom/ in Safari
2. Watch the example for a few seconds
3. Notice how after a while, it stops sticking to the bottom and show

[2021-03-05 18:29] jan-wilhelm commented on #154
@fabiospampinato have you found any workaround? I am running into the same problem myself

[2021-03-05 19:09] petyosi commented on #310
Thanks, I will take a look.

[2021-03-06 07:07] #310 closed

[2021-03-06 08:30] #301 closed

[2021-03-08 09:57] fonty422 commented on #141
As in just for the list, or including the redux part?

[2021-03-11 09:19] johsunds opened #313 "Scroll to index example not working with smooth scrolling on Chrome"
First off, thanks for your work on this library!

I noticed while testing the scrolling example at https://virtuoso.dev/scroll-to-index/ that scrolling with `behavior: 'smooth'` doesn't have any effect on latest chrome. Seems to work fine on firefox.

[2021-03-11 12:39] petyosi commented on #313
Thanks for the report, I will look into that over the weekend.

[2021-03-11 15:42] BenPrt opened #314 "[BUG] The list height does not update when items size changes with transitions"
**Description**
When switching from scrollable list to non-scrollable list because of content change, the list height seems to not be re-calculated. We then have a scrollbar still appearing, even if the list isn't scrollable anymore. When trying to scroll, the list is updated and the scrollbar disappears, ocasionning a weird blinky behaviour.

**Reproduction**
Here is a sandbox illustrating the pr

[2021-03-11 16:15] henrykuzmick opened #315 "[BUG] scrollToIndex, smooth behavour doesn't seem to work"
**Describe the bug**
When setting `behavior` to `smooth` it still scrolls instantly

**Reproduction**
You can see it on the documentation website example https://virtuoso.dev/scroll-to-index/

[2021-03-11 16:20] henrykuzmick opened #316 "[Feature Request] Offset for scrollToIndex"
Hey 👋  first of all - thanks for the incredible lib!

An additional option of `offset` would be super helpful in `scrollToIndex`.
In many cases having some margins would help with the look of things, for example, one may want to scroll to the top of some index, but also leave a 16px gap from the top.

Additionally, it would be cool to have some pixel value offset for `initialTopMostItemIndex`. Or

[2021-03-11 16:42] petyosi commented on #316
Thanks, that's a good idea, and, in fact, fairly simple to implement. I will probably get to it at some point, but in the mean time, feel free to give it a try - [this is the place](https://github.com/petyosi/react-virtuoso/blob/master/src/scrollToIndexSystem.ts#L59) where the index argument type is transformed into a locaiton.

[2021-03-11 16:44] #282 closed

[2021-03-11 16:46] petyosi commented on #314
Hey @BenPrt ,

Thank you for the repro. I think I have seen this before with the material Accordion. In a nutshell, the accordion animation breaks the item height reporting due to overloading the resize observer. Can you try disabling the animation and see if the problem persists? In general, I would love to be able to support animated expansions, but I would also avoid any complications in that p

[2021-03-11 16:47] petyosi commented on #315
Yes, I broke this fairly recently while fixing a bug in Safari. Duplicate of #313, will fix this ASAP.

[2021-03-11 16:47] #315 closed

[2021-03-12 14:37] BenPrt commented on #314
Hi @petyosi  !

I just updated the sandbox disabling all MUI transitions, unfortunately it seems to not solve the issue : https://codesandbox.io/s/cool-keldysh-4u7et

Let me know if there is anything I can provide to help you find where the issue can come from !

[2021-03-13 08:54] petyosi commented on #314
From what I see in the DOM inspector, some transitions still happen. I tried to find out more about the accordion component, but the MUI docs are quite complicated in that area.

https://user-images.githubusercontent.com/13347/111024924-e060f000-83e9-11eb-94f8-7278e28e0d36.mov

As a reference implementation, check [this simplified sandbox](https://codesandbox.io/s/heuristic-rain-4lc7l?file=/src/Ap

[2021-03-13 08:54] #314 closed

[2021-03-13 08:58] #313 closed

[2021-03-16 09:15] wahlstedt opened #317 "followOutput not working with fast updates"
I was excited to learn about this library and set about trying to replace an existing chat solution, using a pretty basic Virtuoso container:

[code]

It works like expected most of the time but when several new text items are added at once the textbox will not autoscroll until the user manually scrolls down to the bottom again. (Just as if the user had scrolled back.)

This is 100% reproducible i

[2021-03-16 10:46] petyosi commented on #317
Hey,

can you please provide a reproduction? I will re-open the ticket once I have such.

[2021-03-16 10:46] #317 closed

[2021-03-16 13:24] wahlstedt commented on #317
I made a sandbox version of the same basic principle but the issue doesn't happen there: https://codesandbox.io/s/react-virtuoso-v1-chat-forked-bz9y

I sent you a pm with links to the full test project.

I made screen recordings of how it looks, (the text in red is added client-side and the rest is regular chat text) This is setting followOutput to always return true in order to always force a scr

[2021-03-17 00:24] codemaster115 commented on #42
This example looks great, but if trying with the latest version(1.5.14) it doesn't work. Header doesn't stay on the top.
@piecyk Will you please update it if possible?

[2021-03-18 12:02] wahlstedt commented on #317
I experimented with the source and found that removing the `offsetBottom === 0` check at the following line removes the problem in my case:
https://github.com/petyosi/react-virtuoso/blob/f220f06547ad73009f898c55162008b6c76f1fb9/src/stateFlagsSystem.ts#L75

Could this be a clue to what is happening?

[2021-03-19 07:35] 52flutter opened #318 "Hope that the width can be customized on the viewport"
This allows the content to be scrolled horizontally, and all scrolling is processed on the same container

[2021-03-19 12:23] petyosi commented on #318
Hey,

I don't have the bandwidth to do support through Github issues. You can try asking your questions in StackOverflow.

[2021-03-19 12:23] #318 closed

[2021-03-22 15:03] pdeleastar opened #319 "itemContent is getting called with 0 items in grouped array (GroupedVirtuoso)"
`itemContent` is getting called with 0 items in a grouped Array with GroupedVirtuoso. With Virtuoso list this does not happen with an empty array.

**Reproduction**
I have created a sandbox with a GroupedVirtuoso and Virtuoso, both logging when they get called.
https://codesandbox.io/s/react-virtualized-grouped-oge5x?file=/src/App.js

[code]

Thanks,
Pierre

[2021-03-22 18:58] lumenlunae commented on #62
@shoNagai Hello! How do you feel about your feature commits so far?

After trying and implementing react-window, react-virtualized, and react-virtuoso with beautiful-dnd, virtuoso was the one that caused me the least amount of problems but was missing horizontal. 🙏  How far did you get with it? I saw the branch had two commits in it. Thank you!

[2021-03-23 06:22] petyosi commented on #319
Supporting empty groups, (especially in the initial render) is quite complicated, due to the "probe" rendering cycle. I may eventually find a way to fix that, but for now, I would suggest that you skip the rendering of the component if you have empty groups.

[2021-03-23 07:00] ozsirma commented on #253
@tiagoevanp  you can use overlayscrollbars as an alternative to simplebar.
https://github.com/KingSora/OverlayScrollbars

As a reference, [virtuoso + overlayscrollbars ](https://codesandbox.io/s/react-virtuoso-custom-scrollbar-mz4lg?file=/src/CustomScrollbar.js)

[2021-03-23 19:14] tiagoevanp commented on #253
Rocket.Chat is using the [rc-scrollbars](https://github.com/sakhnyuk/rc-scrollbars) for now. Thanks for your reply!

[2021-03-24 12:41] wahlstedt commented on #317
Another observation that might be related; with certain font sizes (and not with others) the text will start to flicker when there's a single item displayed. It seems to be caused by the `He` component constantly re-rendering..?

Example:
https://user-images.githubusercontent.com/1794720/112310348-c4d8cd80-8ca4-11eb-97df-72dd56bf5008.mov

Activating Chrome's paint flashing shows that it keeps re-r

[2021-03-24 13:45] petyosi commented on #317
I am unable to help you unless you create a clear, simple reproduction in a codesandbox environment that reduces the problem to the virtuoso component.

[2021-03-24 14:52] wahlstedt commented on #317
Understandable. I've tried to isolate it into a sandbox, but my app is complex and asynchronous so I haven't succeeded to replicate the issue there. I was hoping to maybe get some pointers to what might be the cause in case I've implemented it wrong. Like what could cause the `data-known-size` to change like that, or how `offsetBottom` is calculated.

The troubleshooting section in the docs tells

[2021-03-24 15:12] acapro opened #320 "[Feature Request] add scrollElement to useWindowScroll"
This is by far one of the best windowing tools I have tried, and would love to be able to use it, but there is one feature that is sadly still missing and I have not yet been able to find a work around this yet.

I have a more or less complex layout with multiple overflowing divs and scrollbars, and it would be an awesome feature if the useWindowScroll could be extended to support other wrapping s

[2021-03-24 16:22] petyosi commented on #320
Hey,

What you explain is fairly simple to achieve. You can take a look at the commit which introduced the window scrolling behavior and extend it further. I am happy to accept a PR for that.

[2021-03-24 19:27] ishumilova opened #321 "[BUG]"
**Describe the bug**

Hello, and thank you for the wonderful library! But, unfortunately, I've encountered an issue with the MaterialUI integration. If I try to add a TextArea with a dynamic height, auto-calculation of the item height stops working properly so that the UI starts to look glitchy.

**Reproduction**
[Code sandbox](https://codesandbox.io/s/hardcore-bassi-4xdm8?file=/src/App.js)

![Pee

[2021-03-25 06:06] petyosi commented on #321
Hi,

the problem you exhibit is related to the animation settings of the textarea component, similar to what's discussed in https://github.com/petyosi/react-virtuoso/issues/314. Removing the `animation-duration` property in the developer tools seems to have fixed the behavior from what I see.

[2021-03-25 06:06] #321 closed

[2021-03-25 19:40] cvle opened #322 "[BUG] List height does not update when items size changes *without* transitions"
**Describe the bug**
Similar to https://github.com/petyosi/react-virtuoso/issues/314, the list height does not update as expected even when not using transitions.

**Reproduction**
https://codesandbox.io/s/aged-resonance-evq3r

**Workaround**
Adapted with `rerender parent component approach` see https://github.com/petyosi/react-virtuoso/issues/322#issuecomment-807428391
https://codesandbox.io/s/tw

[2021-03-25 19:59] petyosi commented on #322
The issue you have referred to includes a sandbox which I created. Does it work when you test it? If so, use its approach.

[2021-03-25 20:29] cvle commented on #322
Hi @petyosi! Thanks for your answer! Your sandbox actually shows the expected behavior. The only difference to your sandbox and mine was that yours would cause the Component that contains Virtuoso to rerender every time the height of an item changes.

I've adapted my sandbox example to call a custom `rerender()` to mimic this and then it works as expected.

This seems to be a bug though, shouldn't

[2021-03-26 06:13] petyosi commented on #322
Yes, it is a bug. I will look into it. A thing to notice though is that keeping state in the individual item is not a good idea. If you scroll beyond the current set of items, they will be unmounted, thus, their expanded state will be lost.

[2021-03-30 08:32] doubld opened #323 "scrollToIndex at component mount"
Hi, I tried to scroll the list by "scrollToIndex" function, after the component is mounted:

useEffect(() => {
      virtuoso.current.scrollToIndex({
        index: 25,
        align: "center",
        behavior: "smooth"
      })
}, []);

but it doesn't seem to work. Can you help me? Thanks.

[2021-03-30 08:59] petyosi commented on #323
TL;DR: Don't do that. Use `initialTopMostItemIndex` prop instead, it will skip the rendering of the initial items (index 0-20). This is very important for large lists, as you won't have to load data for the top of the list.

However, if you still want to do it for some reason, wrap the call in a timeout of some sort so that the component is ready.

[2021-03-30 08:59] #323 closed

[2021-03-30 10:58] petyosi commented on #323
Yes, in that case, the easiest way to achieve it is through timeout.

[2021-03-30 14:54] sei666 opened #324 "[BUG] Window Scrolling does not work in safari in ios 12 and below"
**Describe the bug**
Window Scrolling does not work in safari in ios 12 and below. Virtuoso shows several rendered blocks, but after scrolling, no new blocks are rendered. Problem tested in iphone 5s ios 12 and ipad 4 ios 10.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://virtuoso.dev/window-scrolling/
2. Scroll down on ios 12 and below
3. No new blocks

**Expected behavior**

[2021-03-30 15:04] petyosi commented on #324
@sei666 are you willing to debug what's going on at that platform? [This is the hook](https://github.com/petyosi/react-virtuoso/blob/master/src/hooks/useScrollTop.ts) which deals with the scroll handling. My guess is that scrolling does not get reported at some reason.

[2021-03-30 16:37] sei666 commented on #324
@petyosi Unfortunately I have no experience with TypeScript. I don't know how to run this for testing.

[2021-03-30 19:04] petyosi commented on #324
You can follow [the instructions from the contributing section](https://github.com/petyosi/react-virtuoso#fixes-and-new-features). There's a [window scroller test case](https://github.com/petyosi/react-virtuoso/blob/master/e2e/window-scroller.tsx). TypeScript should not be particular issue.

[2021-03-31 11:54] Passhub opened #325 "[BUG] Uncaught Error: Zero-sized element, this should not happen with react-beautiful-dnd"
Hi there! I was working with react-beautiful-dnd and virtuoso and dynamic list items height and i've got a problem. When I'm trying to use draggable component of dnd inside virtuoso it's getting Uncaught Error: Zero-sized element, this should not happen.

To my mind, the reason is when item in list is dragging, it changes the position to "fixed" and then it causes the virtuoso lib recalculate the

[2021-03-31 13:41] Passhub commented on #325
Love u
Didn't see the available scenario
Thank u so much!

[2021-03-31 13:41] #325 closed

[2021-04-01 11:55] sei666 commented on #324
@petyosi Problem found. It really was hidden in useScrollTop.ts. You need to change one line in the handler UseCallback function. There was "const scrollTop = (el as any) === window || (el as any) === document? Document.documentElement.scrollTop: el.scrollTop", but there should be such "const scrollTop = (el as any ) === window || (el as any) === document? window.pageYOffset || document.documentEl

[2021-04-01 11:58] petyosi commented on #324
Thank you for looking into this. I will test this change later this week. If you want to, you can also submit a PR, but it is not necessary.

[2021-04-01 12:34] sei666 commented on #324
PR is created. Thank you so much for this great tool :) Virtuoso is the best!

[2021-04-01 13:52] FezVrasta commented on #204
Is there any progress on this? I can reproduce the issue on 1.5.13

![image](https://user-images.githubusercontent.com/5382443/113304379-41e9ef80-9302-11eb-98b6-6e496b0881e0.png)
the above is with no overscan set

[2021-04-01 16:10] janKozie1 opened #329 "[Question] Why does the outer list wrapper have a tabindex?"
First of all, thank you for the great library!

Keyboard navigation is an important part of an application for me and the tabindex being there breaks the flow of tabbing. Could it be removed?

<img width="352" alt="Screenshot 2021-04-01 at 18 07 29" src="https://user-images.githubusercontent.com/48291123/113322558-220ff700-9315-11eb-9cde-a2d3c0447317.png">

(screenshot taken from the first example

[2021-04-02 03:13] hilts-vaughan commented on #254
FYI This happens for legitimate reasons in that you are modifying the same thing you observe -- I think this is a legitimate use case and opened https://github.com/w3c/csswg-drafts/issues/6173 to discuss it.

You can see the above for more info as well; please chime in if this is something that has caused you pain in the past.

[2021-04-02 09:14] petyosi commented on #329
Yes, you can remove it by passing `tabindex={null}` (or, was it, `undefined`?) to the virtuoso component.  All HTML attributes set to the component are passed to the root DOM element.

The reason for this prop to be there by default is to enable scrolling with the keyboard. Once you click somewhere in the list, pressing up/down, etc. will scroll it.

[2021-04-02 09:16] petyosi commented on #204
I haven't discovered any additional general performance improvements. Again, the best way to help me here is with a way for me to reproduce the slowness you observe on my side.

[2021-04-02 11:53] #329 closed

[2021-04-03 08:52] petyosi commented on #324
Merged and released; the change is available in 1.6.0.

[2021-04-03 08:52] #324 closed

[2021-04-07 13:43] cristianManrique opened #330 "[BUG] Safari and iOS Safari issue with topItemCount and Material UI"
**Describe the bug**
In this particular case, we add the Virtuoso list inside a Material-UI dialog to display a list with a sticky header item at the top of the list.

When we scroll down in Safari (either on Mac OS or iOS), the header keeps getting sticky for a little while and then it goes down as it is would be an item of the list.

**Reproduction**
https://codesandbox.io/s/youthful-lehmann-ncl

[2021-04-07 15:12] petyosi commented on #330
@cristianManrique - material ui has a lot of transitions and animations by default which disrupt the measurement of elements. Can you provide a reproduction of the problem with Mui removed?

[2021-04-07 17:18] petyosi commented on #330
[This simple setup works](https://codesandbox.io/s/zen-ride-zv7ih?file=/src/App.tsx) when I test it. Let me know if I am missing something.

[2021-04-07 17:18] #330 closed

[2021-04-07 18:16] acmatson commented on #279
We're implementing this scenario as well using GroupedVirtuoso. I came up with workarounds in the 0.x versions, but they have been very unstable. Love that this issue has visibility and looking forward to see this resolved in the codebase!

[2021-04-07 19:56] cristianManrique commented on #330
@petyosi   - The simple setup works well without any div wrapper with css,

Why Virtuoso does not work with Material UI in Safari and work in any browsers on MAC, on PC, Android or iPhone?
When I check Virtuoso added CSS. The first object in the list it`s in position sticky, and others in position absolutes.
Maybe be something is wrong when we scroll and Virtuoso list in Safari. Let me know if I a

[2021-04-08 03:19] OrcaXS opened #331 "[BUG]`TypeError: Cannot read property 'getBoundingClientRect' of null` on Next.js"
**Describe the bug**
I'm using Virtuoso with `useWindowScroll` on Next.js. Each list item is a next/link `<Link>` navigating to an individual page.
Clicking an item after scrolling will sometimes cause `Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null`.

**Reproduction**
https://codesandbox.io/s/unruffled-solomon-8p800

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2021-04-08 07:53] petyosi commented on #331
Thanks for reporting this, this seems like an easy fix. I will look into it.

[2021-04-09 14:11] ezsper opened #332 "TopItemListContainer must be part of the custom components"
I'm facing a problem with [`TopItemListContainer`](https://github.com/petyosi/react-virtuoso/blob/master/src/List.tsx#L259) that when using groups it doesn't allow us to set a proper `z-index`. A proper solution would be to make `TopItemListContainer` a customisable component as `Item` or `Group`. Currently I'm having to apply zIndex with this selector `'& div[style*="position: sticky"]': { zIndex

[2021-04-09 15:00] petyosi commented on #332
Agreed, that's a nice idea. Why don't you open a PR? [That part of the code is fairly trivial](https://github.com/petyosi/react-virtuoso/blob/master/src/List.tsx#L64).

[2021-04-10 07:58] #331 closed

[2021-04-10 08:13] petyosi commented on #294
@aravind-tc `useWindowScroll` is available in the 1.7.0 release. Check [this codesandbox](https://codesandbox.io/s/bitter-sunset-9vwmq?file=/src/App.tsx) for a working example.

[2021-04-10 08:13] #294 closed

[2021-04-10 15:07] ezsper commented on #332
https://github.com/petyosi/react-virtuoso/pull/335

[2021-04-11 18:17] edisonmatoso opened #336 "How use components prop without styled-components in VirtuosoGrid?"
I saw [this example](https://codesandbox.io/s/laughing-agnesi-kuuqg?file=/src/App.js:1513-1529) to do my VirtuosoGrid, but on it is using `@emotion/styled` and I can't use any lib similar to `styled-component`.

And then I tried to create the components returning a styled div and use in `List` and` Item` inside `components` prop, but this doesn't work. ([my attempt](https://codesandbox.io/s/namele

[2021-04-11 20:04] ezsper commented on #332
Merged.

[2021-04-11 20:04] #332 closed

[2021-04-13 22:50] omgoshjosh commented on #40
This library is great!

I am wondering if you had any thoughts on how I might get the scroll bar off the content?

Below is a screenshot of the corner where I have changed our margins to padding around the GroupedVirtuoso and the scrollbar is over the content.
![image](https://user-images.githubusercontent.com/1960929/114630323-32a66280-9c6f-11eb-9505-ef607fb5be9d.png)

i think we can live with th

[2021-04-14 06:43] aravind-tc opened #337 "[BUG] crash noticed with the Virtuoso"
**Describe the bug**<img width="1038" alt="Screen Shot 2021-04-13 at 11 37 02 PM" src="https://user-images.githubusercontent.com/37326359/114665534-03651500-9cb2-11eb-98df-ccf5ae82dbd6.png">We are using virtuoso for infiniate pagination scroll. While scrolling the elements, there is a crash noticed.

**Reproduction**
Just list items using virtuoso and implement infinite pagination. Scroll up and d

[2021-04-14 09:17] petyosi commented on #337
@aravind-tc I will need some additional details to help you with this - the link you gave does not lead to reproduction. Can you reproduce the problem you describe on [the infinite scrolling example on the site?](https://virtuoso.dev/endless-scrolling/)?

[2021-04-14 17:49] skrivanos opened #338 "Feature request: support "if-needed" scroll behaviour"
It would be great if virtuoso supported the following type of  scroll behaviour natively:

https://user-images.githubusercontent.com/87463/114753540-db2ff180-9d57-11eb-93d3-c1e1a7be8d9f.mov

I managed to get it working with the following snippet, but it feels like a hack:

[code]

[2021-04-14 18:42] petyosi commented on #338
A fairly easy way to achieve something similar (while not absolutely the same, as the container is re-scrolled continuously) is  `scrollIntoView`. [Check this comment](https://github.com/petyosi/react-virtuoso/issues/53#issuecomment-550183754).

[2021-04-15 22:43] raphaelbadia commented on #336
Under the hood, styled components forwards the ref and passes the props down.

You should write your components like that:
[code]

taking your attempt : https://codesandbox.io/s/eloquent-fire-p736e?file=/src/App.js:205-491

[2021-04-16 05:01] kelokchan opened #339 "[BUG] useWindowScroll will overlap footer"
**Describe the bug**
I have a `VirtuosoGrid` that is responsive to the screen. And I am using useWindowScroll since I do not want do have 2 scrollers in the screen. However, when I scroll to the end of the grid, the items overlap the page footer. The overlap will get even worse if I use a higher `overscan` prop value. The same issue won't happen if I use `Virtuoso` instead of `VirtuosoGrid` though

[2021-04-16 08:46] hannupekka commented on #42
Just checking if this is still on roadmap, @petyosi? :)

[2021-04-16 09:49] petyosi commented on #42
@hannupekka short answer is "no" unless something in my work/life radically changes. After doing a couple of POCs, I can say that this is a huge effort that I am unable to pull unless I spend months of full-time work on it.

At this stage, I have just enough bandwidth to ensure that the list, the grouped list, and the responsive grid are properly maintained and extended.

[2021-04-16 09:53] petyosi commented on #339
@kelokchan I am afraid that the grid item measurement logic cannot detect the spacing from `gridGap`. Removing that fixes the issue. Use `padding` instead.

[2021-04-16 09:53] #339 closed

[2021-04-16 10:04] toonvd commented on #42
I am in the same pickle since I switched jobs and barely do any frontend anymore.
But, imho, several people already integrated this with react-table and MUI tables. You can just refactor examples from other frameworks. I wonder how you exactly see Table support. Your own table framework to go with Virtuoso?

[2021-04-16 10:09] piecyk commented on #42
@petyosi any thoughts about this hack with tbody paddings via pseudo elements  🤔

I know that basic it's add's a block element there breaking the specification, but in time of parsing html markup is correct 🤔

[2021-04-16 10:48] petyosi commented on #42
@piecyk that's ... beautiful, I should have checked it sooner :). Thank you very much for sharing that! I will mention this in the docs.

[2021-04-16 12:15] horprogs opened #340 "[BUG] useWindowScroll mode does not work with body { margin: 0 }"
**Describe the bug**
The problem appears if I use normalize.css in the project, more specifically style
`body: { margin: 0 }`

**Reproduction**
https://codesandbox.io/s/bitter-sun-1lxze

If you removed `import "./style.css";` (or remove `body: { margin: 0 }` style) it would work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. add normalize.css to the project

**Additional context**

[2021-04-16 12:35] petyosi commented on #340
Seems related to `body { margin: 0 }`. Not sure what the problem is, likely [a math here](https://github.com/petyosi/react-virtuoso/blob/master/src/hooks/useWindowViewportRect.ts) [or here](https://github.com/petyosi/react-virtuoso/blob/master/src/hooks/useScrollTop.ts#L20).

[2021-04-16 16:29] horprogs opened #341 "[BUG] endReached does not work together with initialItemCount"
**Describe the bug**
We have:
Virtuoso with defined `initialItemCount` and `endReached`. Also we have conditional rendering to show loading block or virtuoso table
[code]

And under these 3 circumstances `endReached` does not work. If we remove conditional rendering it will work, or if we remove `initialItemCount` it will work too.

**Context:**
I have SPA and I use jest for testing. To be able to

[2021-04-17 07:05] petyosi commented on #341
Hey, I checked what's going on.

- `endReached` is triggered when the last item of the list is rendered for the first time.
- component mutes events emitting during the component mount setup.

In your setup, `endReached` gets triggered because the entire list (including the last item) gets rendered initially. This happens during the initial setup, so the event isn't emitted (hence no `console.log`

[2021-04-17 08:09] #340 closed

[2021-04-19 08:13] mclngl opened #342 "[BUG] Virtualized list doesn't scroll on iOS Safari when inside of a Modal"
**Describe the bug**
List doesn't scroll on iOS Safari when inside of a modal component. Works fine on desktop and Android.

**Reproduction**
[https://codesandbox.io/s/amazing-shamir-212dx?file=/src/App.js](https://codesandbox.io/s/amazing-shamir-212dx?file=/src/App.js)

**Expected behavior**
List should be scrolling on iOS Safari as well.

**Additional context**
If I remove the Modal component it

[2021-04-19 08:17] petyosi commented on #342
@mclngl - I would suggest you file that to the other libraries you have in this example. Feel free to reference that issue.

[2021-04-19 08:58] anilanar opened #343 "Omit resize observer polyfill from bundle"
Use case:

We target modern browsers only so we don't need the polyfill.

[2021-04-19 09:23] petyosi commented on #343
Can you submit a PR for that? I doubt that the rest of the code will work on any of those browsers, to be honest.

https://caniuse.com/resizeobserver

[2021-04-19 09:47] mclngl commented on #342
Thank you and sorry for the annoyance.
In fact this is related to the way reakit handles body lock scroll

[2021-04-19 09:47] #342 closed

[2021-04-19 15:42] mgallo commented on #337
@petyosi I encountered the same bug trying to render a component that changes size after mount. I made an example to reproduce it on codesandbox: https://codesandbox.io/s/suspicious-sid-gniph?file=/src/App.js.  The issue happens when scrolling quickly up and down for few times.
There's any tip to make virtuoso work with this behaviour? thanks

[2021-04-19 17:30] petyosi commented on #337
@mgallo I can't reproduce the stack trace in your example. It seems horribly broken for the same reason as #322, which  I do want to fix (but the fix I know breaks another scenario). Can you please record me a video or a gif?

[2021-04-19 18:57] anilanar commented on #343
@petyosi This could be a breaking change tho. Perhaps the rest of the code works for those browsers after babelifycation? Or are you already aware of other DOM/ES apis that the codebase relies on that wouldn't work for, let's say, Safari 12.1 or Safari 13.0 which are quite "modern" actually.

[2021-04-20 06:53] petyosi commented on #343
@anilanar isn't this a general problem with those polyfills? I am not following the development of those closely, but I was hoping that a browserlist configuration could make a polyfill "tree-shake" unnecessary code.

[2021-04-20 07:34] mgallo commented on #337
@petyosi thanks for the reply. Here's a video showing the issue https://user-images.githubusercontent.com/1528511/115354901-6d9e1e00-a1ba-11eb-92e7-0bbdf62e238f.mov, it doesn't always happen, in this case I scrolled down the list, waited for the render and then scrolled up quickly. Hope it helps to figure out the issue. Thanks

[2021-04-20 07:47] anilanar commented on #343
The ecmascript version target: the consensus is to always  transpile library code to ES5.

For Ecmascript polyfills: The general consensus is to not babelify node_modules, so no, nothing would be polyfilled for libraries. In those cases, library authors are either choose not to use those APIs or they polyfill the API for small stuff. If there's something big (let's say, async iterators), they drop

[2021-04-20 08:16] #322 closed

[2021-04-20 08:16] #337 closed

[2021-04-20 10:14] anilanar commented on #343
No. Instead, babel preset env (and/or auto-polyfill babel plugins) read the browserslist and choose whether to include a polyfill or not, but that doesn't apply to DOM polyfills. It's only for Ecmascript polyfills.

So as a library author, the ideal solution is to not include any Ecmascript polyfills but let users babelify library code. But as you can see in the above comment, the consensus is cur

[2021-04-20 14:21] petyosi commented on #343
@anilanar Thanks, I guess I hoped for too much. Up to your case, I assume you can use something like this: https://webpack.js.org/configuration/resolve/ to cut off the dependency?

[2021-04-21 14:38] itayganor opened #345 "[BUG] scrollerRef doesn't work on VirtuosoGrid"
**Describe the bug**
`scrollerRef` can't be used in `VirtuosoGrid`.

**Reproduction**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://virtuoso.dev/grid-responsive-columns/
2. Add a prop: `scrollerRef={r => console.log(r)}`
3. Nothing appears on console.

**Expected Behavior**
The reference should be logged, so it'll show that it can also be used for other logic.  .

**Desktop (

[2021-04-21 16:25] #345 closed

[2021-04-21 18:34] omgoshjosh opened #346 "[BUG] GroupedVirtuoso seems to miscalculate heights based on number of groups"
First off, this repo and project is TIGHT. i want to give and say thanks. my company may one day sponsor this project and/or i may be interested in contributing some time. i really like the bits of source i've seen while investigating this bug.

**Describe the bug**
GroupedVirtuoso seems to miss the final items in the data array (100k items) and it seems to correspond the the number of groups (siz

[2021-04-21 21:43] cvle commented on #322
Thank you <3

[2021-04-22 03:51] petyosi commented on #346
@omgoshjosh the problem is a trivial one; a missing feature. GroupedVirtuoso does not correctly support `data` prop; rather, it "inherits" it from the flat list, causing the mischief you observe. Removing the `data` prop makes the example run for me, including the uncommenting of the footer (as far as I saw).

There's no real reason to not support `data` in grouped virtuoso apart from my limited r

[2021-04-22 08:57] vnesterovspirent commented on #288
This behavior is reproduced with a usual mouse, are there any solutions to this problem?

[2021-04-22 09:14] petyosi commented on #288
@vnesterovspirent are you willing to debug it and submit a PR? As guidance, this is the code that handles scroll seek logic:

https://github.com/petyosi/react-virtuoso/blob/master/src/scrollSeekSystem.ts

[2021-04-22 15:03] omgoshjosh commented on #346
Excellent thanks.

[2021-04-22 15:54] #346 closed

[2021-04-22 23:09] vnesterovspirent commented on #288
Thanks for the hint, I will try to figure this out.

[2021-04-25 16:30] itayganor opened #348 "[BUG] VirtuosoGrid doesn't work well with smooth `scrollToIndex`"
**Describe the bug**
When using `VirtuosoGrid` with `scrollToIndex` of a smooth behavior, some issues are raised:

![image](https://user-images.githubusercontent.com/6430313/116001095-8748c680-a5fb-11eb-80cd-5fb29c5942f7.png)

Or on the Codesandbox reproduction:

![image](https://user-images.githubusercontent.com/6430313/116001121-a7788580-a5fb-11eb-929f-24f0a20034af.png)

---

### To Reproduce

*

[2021-04-25 16:35] itayganor commented on #316
This issue [should be closed](https://github.com/petyosi/react-virtuoso/commit/7ee4ced6c34f2612bd4cbe0c47b6193a526fc3a7), shouldn't it?

[2021-04-25 17:10] #316 closed

[2021-04-26 08:31] itayganor commented on #197
Is there a change for this being resolved? I'm looking for a header/footer solution to add top and bottom paddings to the scroller, just like we do in the regular List component.

I tried to contribute but the learning curve of the implementation makes this difficult since it's a new behavior for grid.

Thank you!

[2021-04-26 10:08] horprogs commented on #341
Thank you for this explanation! I think `data.length - 1` works in my case, I'll close this issue

[2021-04-26 10:08] #341 closed

[2021-04-27 04:54] #348 closed

[2021-04-27 23:50] fonty422 opened #349 "_this.props.group is not a function when using GroupedVirtuoso [BUG]"
Trying to use the GroupedVirtuoso and Virtuoso components.
When a particular check box is selected, it needs to group the items and render the GroupedVirtuoso, otherwise use the Virtuoso.

[code]

Running this results in a Type Error as in the title.

I also tried a direct copy and paste from https://virtuoso.dev/grouped-numbers/ which failed in the same way.
[code]

[2021-04-28 05:23] petyosi commented on #349
Not sure that I understand your code. Virtuoso is a functional component, there's no `this` in the source. The example you have linked also works fine for me. Please use a codesandbox to re-create the problem.

[2021-04-28 05:23] #349 closed

[2021-04-28 05:46] fonty422 commented on #349
What a stupid mistake! Code sandbox showed that i was clearly using an outdated version. I had not long run yarn upgrade, but it did not upgrade to the latest and was stuck in v 0.12.something. The upgrade fixed it immediately. Sorry to have bothered you for something to trivial.

[2021-04-28 17:02] itayganor opened #350 "Mount `VirtuosoGrid` scrolled to a specific index"
Hi!

I'm trying to make my `VirtuosoGrid` mount scrolled to a specific index. I've seen the regular `Virtuoso` has a `initialTopMostItemIndex` prop, which `VirtuosoGrid` does not have.

I also tried to scroll on mount:

[code]

But it doesn't seem to work very well - my guess is that the grid hasn't finished calculating its heights yet.

What's the correct way of doing so?

Thank you! <3

[2021-04-29 06:49] petyosi commented on #350
Your statement is correct - setting the initial location is not supported in the grid. Wrapping the call from above in a `setTimeout(, 100)` should work I think.

[2021-04-29 09:46] itayganor commented on #350
@petyosi it means you'll end up having a flash of wrong scroll before you actually scroll to the desired index.

Is there a reason why `initialTopMostItemIndex` is not supported? Will it be available in the future?

[2021-04-29 10:12] petyosi commented on #350
I am aware of the shortcomings of the workaround I suggested. That's why it's a workaround and not an official solution. There's no technical reason to not support `initialTopMostItemIndex`. It is possible and relatively straightforward to do so, but it needs a good day or so of someones' time.

To make this clear: React Virtuoso is an open-source project which I develop, release for free, and exp

[2021-04-29 10:12] #350 closed

[2021-04-29 13:10] janKozie1 opened #351 "[Question] How do i pass additional props to components?"
There have been instances where I wanted to pass additional props to the `Header` and `Items`.

I could do this
[code]
But that would create a new component on each render.
I could also pass it through context but that feels very unnecessary

[2021-04-30 12:36] petyosi commented on #351
What's wrong with using contexts for that? That's exactly their purpose.

[2021-04-30 12:57] chamerling commented on #322
Great, this also fixes issue I was looking at when a sub component is lazy loading image with unknown height. Great job, thx for this 🍺

[2021-04-30 16:53] janKozie1 commented on #351
I don't think the purpose of context is passing prop one level down. My item component is a simple styled component which needs one additional prop to change styles. Making a wrapper around it to be able to use context seems just unnecessary. Some of the components are used in other places, which would require me to make more one-time-use components which are there just to subscribe to context.

[2021-05-04 01:44] sameem786-blip opened #352 "your code for endless scroll keeps giving this error."
<img width="798" alt="Capture" src="https://user-images.githubusercontent.com/70144568/116952573-625fed80-aca4-11eb-8b90-7e3c9c003acc.PNG">
<img width="720" alt="err" src="https://user-images.githubusercontent.com/70144568/116952576-64c24780-aca4-11eb-8de9-4e558a387f6d.PNG">

[2021-05-04 05:31] petyosi commented on #352
That's an example function to generate random data.

[2021-05-04 05:31] #352 closed

[2021-05-06 03:26] gajus opened #353 "How to configure overscan to render before the end is reached?"
[code]

I am trying to get rid of the flickering when scrolling by using `overscan`.

![2021-05-05 22-23-14 2021-05-05 22_23_46](https://user-images.githubusercontent.com/973543/117237451-a102be80-adf0-11eb-8c3a-1c2d0478be32.gif)

However, it looks like the way `overscan` works is that it does not start rendering new rows before the very end of current scroll is reached. I would think that flicker

[2021-05-06 03:45] gajus opened #354 "How to provide item height for each item?"
I've noticed that Virtuose performance is significantly better when I provide `fixedItemHeight`.

While my items aren't fixed height, I can calculate (approximate) their height based on data of each item.

Is there a way to make Virtuose ask me for item size instead of it using DOM methods to calculate it?

[2021-05-06 03:49] gajus commented on #354
Duplicate of https://github.com/petyosi/react-virtuoso/issues/169

[2021-05-06 03:49] #354 closed

[2021-05-06 04:16] gajus commented on #169
I am rendering a large list of JSON documents, but rendering these documents using a lot of markup to provide syntax highlighting, e.g.

<img width="973" alt="Screen Shot 2021-05-05 at 11 15 11 PM" src="https://user-images.githubusercontent.com/973543/117241040-d068f980-adf7-11eb-9d03-b4c2063d475f.png">

It would be trivial for me to approximate height of each element at different container widths

[2021-05-06 06:32] petyosi commented on #353
1. your understanding of how overscan works right now is correct. Its purpose is to reduce render cycles. I personally don't recommend it and I regret introducing it, as people usually assume it will be the magic dust that fixes their performance troubles.

2. The behavior you describe is effectively increasing the viewport height to ~5k px. I don't think that this will help you with the flickerin

[2021-05-06 06:32] #353 closed

[2021-05-06 06:46] petyosi commented on #169
While not excluding the possibility of such API being a viable solution, I have seen it fail for the regular developer on multiple occasions - look no further react-window's GH issues for proof on the matter.

With this being said, I am closing the issue as I have no intention to implement it. If someone is willing to contribute, feel free to reach out to me for guidance in the codebase.

[2021-05-06 06:46] #169 closed

[2021-05-06 18:17] maxhelsel commented on #320
I second this. My _only_ issue with Virtuoso is the fact it doesn’t have support for assigning a custom parent scroll element like React Virtualized WindowScroller.

My use case is within modals and containers that have other elements within them; RV WindowScroller makes it easy and convenient to inject a scrollElement ref and carry on.

I forked this package and spent a few hours with it, but I’m

[2021-05-09 20:37] TrueCarry opened #361 "[Feature Request] Offset support for ssr"
Can you please add option to render `initialItemCount` not from the start of the list?

[code]
I think if you use `data[initialTopMostItemIndex + index]` instead of `data[index]` it should work, but I'm not sure how to access initialTopMostItemIndex from initialItemCountSystem.