[2019-05-14 13:13] petyosi opened #1 "Fix export for Virtuoso.tsx"
[See comment](https://github.com/petyosi/react-virtuoso/commit/d286977e7d47aea39521e58757752cde62b8bc49#r33528949)

[2019-05-14 13:15] petyosi opened #2 "Support for sticky items"
Marking certain indices as sticky can be used to create groups. The rendering itself won't change, but the implementation should switch the pinned items to the closest sticky one.

[2019-05-14 18:35] xrd opened #3 "Page down / spacebar buttons don't work in large lists"
Steps to reproduce:

1. Go to: https://virtuoso.dev/?path=/story/introduction--100-000-items
1. Click into the list.
1. Use page down or spacebar.
1. Notice the list scrolls down one page.
1. Hit the spacebar/page down button again. Notice it no longer works.

Tested on Chrome Version 72.0.3626.109 (Official Build) (64-bit), Linux.

[2019-05-15 07:05] petyosi commented on #3
Hey @xrd ,

thank you very much for spotting that. I fixed that in https://github.com/petyosi/react-virtuoso/commit/af28a5cc79d16d3c774ae912763980d0a5431b7a, published `0.2.0` and updated the examples. Works fine on my side, tested in Chrome, Safari, and Firefox.

[2019-05-15 07:05] #3 closed

[2019-05-16 09:14] oisinlavery commented on #2
Just to confirm does this mean you are emulating css `position: sticky` behavior?

I don't think any of the other virtualization libraries do this so it would be a great feature to support.

[2019-05-16 09:28] petyosi commented on #2
That's my intent, yes. In a nutshell, the component should behave like the iOS listview.

[2019-05-16 14:05] petyosi opened #4 "Strange behavior in Edge"
Scrolling down, then up in Edge (Windows 10) behaves erratically, at least in a VM. The top items do not seem to be re-displayed properly.

FF and Chrome work as expected.

[2019-05-16 19:46] Maesimt opened #5 "Scroll at specific index"
Would like to see some features around scrolling to a specific index and an option to start at bottom.

[2019-05-17 12:18] petyosi commented on #2
Just published `v0.3.0` that includes a `GroupedVirtuoso` component that supports sticky group headers. Check the [release notes](https://github.com/petyosi/react-virtuoso/releases/tag/v0.3.0).

To clarify something - my initial idea was to export a "lower" level API that accepts sticky items indices and leave the grouping logic to the client. However, after building one example with that, I reali

[2019-05-17 12:18] #2 closed

[2019-05-17 12:19] petyosi commented on #1
Resolved in v0.3.0.

[2019-05-17 12:19] #1 closed

[2019-05-17 14:50] petyosi commented on #5
Feedback from twitter reg the same: https://twitter.com/zshrm/status/1129389811024973826

[2019-05-21 16:29] greyivy opened #6 "Breaks when items are removed (totalCount changed)"
When totalCount is lowered (e.g. to 1), no items are rendered. Changing the totalCount appears to break the component in other circumstances too. For example, if totalCount is lowered to 0 and then increased again, only the last item is rendered.

[2019-05-22 01:43] AyumiKai opened #7 "[Feature request] pull to refresh"
hi, @petyosi , do you want to add pull refresh?  I really need this feature right now, and probably others too  :)

[2019-05-22 04:00] petyosi commented on #6
Thanks for reporting that. Which version are you using? I published 0.4.0 which addressed some race conditions.

I did [the following reproduction](https://stackblitz.com/edit/react-f1eher?file=example.js) - The problem I see here is that pressing 0 / 1 does not clear the visible items. Will look into that.

[2019-05-22 04:55] petyosi commented on #6
Updated the example above to `0.4.2`, seems to work fine: https://stackblitz.com/edit/react-f1eher-xjkzu1?file=example.js

Let me know if I am missing a case.

[2019-05-22 04:55] #6 closed

[2019-05-22 10:05] petyosi commented on #7
Hey, @AyumiKai - Supporting pull to refresh is possible, indeed.  I think I would rather keep the pull/release/refresh logic external to the component, though.

Some thoughts: For this to work, I guess the virtuoso component should support optional header render prop (just like the footer), and maybe, ref access to the scroller element so that touch events can be bound to it.

I am not sure when /

[2019-05-22 12:51] greyivy commented on #6
Really appreciate you taking a look! Everything's working perfectly now.

[2019-05-22 12:57] FezVrasta commented on #7
Support for `header` prop just like `footer` would be very welcome!

[2019-05-22 13:57] AyumiKai commented on #7
header render prop, that is good idea

[2019-05-22 17:00] petyosi commented on #4
Works fine in the Canary edge released from MS.

[2019-05-22 17:00] #4 closed

[2019-05-23 09:09] mcastro84 opened #8 "Use with react-custom-scrollbars"
Could this library be used alongside react-custom-scrollbars? I was previously using react-window and this was supported by passing a ref of the rendered list to react-custom-scrollbars onScroll method but doing the same seems to not work with virtuoso as the ref is not a DOM element.

I've attached an example of what I'm trying to achieve.
Edit: here's the link - https://codesandbox.io/s/practica

[2019-05-23 10:46] petyosi commented on #8
Thank you for the suggestion - this should be easy to do if the component exports render property that allows customization of the scrolling container. I will give this a shot.

[2019-05-23 12:06] petyosi commented on #8
@mcastro84 I managed to do the idea described above, will include it in the next release. Quick question - what are you trying to achieve? If you are trying to scroll to a given index or location, I plan to do that as part of the core API of the component.

[2019-05-23 13:03] mcastro84 commented on #8
Thanks for the quick reply petyosi.
Scrolling to a specific index would be great also but at the moment I'm just trying to scroll the list using the custom scrollbars instead of using the native scrollbar.
My approach to this was to get the ref of the list container (in this case <Virtuoso>), get the scrollTop value every time the list is scrolled and then trigger the event scroll manually.

As an

[2019-05-23 17:28] FezVrasta opened #9 "Support `className` property?"
Is there any reason of why `Virtuoso` doesn't support `className` but does support `style`?

[2019-05-23 18:59] petyosi commented on #9
Hey,

No, no real reason apart from not needing it till now. Should be quite safe to forward it to the scroll element.

[2019-05-24 06:10] #7 closed

[2019-05-24 08:42] #9 closed

[2019-05-24 11:16] petyosi commented on #8
Hey,

just published `v0.5.0` that provides access to the scroll container and allows you to swap it with a something like the custom scrollbars component. You can check the [example](https://virtuoso.dev/custom-scroll-container)  and use it as a starting point for your implementation.

Let me know if the above works for you.

[2019-05-24 11:16] #8 closed

[2019-05-24 12:26] petyosi commented on #5
@Maesimt , I just published v0.5.0, which has `scrollToIndex` - check the [example](https://virtuoso.dev/scroll-to-index). Let me know if this is what you had in mind.

[2019-05-24 12:26] #5 closed

[2019-05-24 12:27] petyosi commented on #7
@AyumiKai I just published v0.5.0 which provides access to the scroll container DOM element - I think it should be possible to plug pull to refresh logic through that. Check [the example](https://virtuoso.dev/custom-scroll-container).

[2019-05-24 15:53] mcastro84 commented on #8
Thank you petyosi, that should do the trick. I'll give it a try and get back to you.

[2019-05-28 05:51] petyosi opened #11 "(v0.6.0) does not work in Safari when in element with `flex` display"
Repro:

https://stackblitz.com/edit/react-ds95kg?file=example.js

Introduced when the styling was extracted to a stylesheet.

[2019-05-28 09:49] petyosi commented on #11
Fixed in `v0.6.1`

[2019-05-28 09:49] #11 closed

[2019-05-29 07:08] cjcheshire opened #12 "Demo flickers on page scroll"
Hey, just stumbled on your library (via Sid mailing list). Looks slick 🙌

I spotted on the demo site it seems to not like the browser page scrolling? It results in a nasty flicker and a times no longer paints the list.

https://vimeo.com/339051112

Device is an iPhone X, iOS 12.2. Suspect you could replicate on other iOS devices.

[2019-05-29 07:33] petyosi commented on #12
Thanks! 👍 I believe I introduced this regression recently; Seems specific to iOS. It's in my TODO list.

[2019-05-29 09:37] cjcheshire commented on #12
No worries, I hate to bring problems without solutions :)

[2019-05-29 11:32] FezVrasta opened #13 "Support grid layout?"
Hi, I was wondering if you do plan to support a grid layout? I think a simple fixed column width grid support would be more than enough to cover most of the use cases.

[2019-05-29 11:55] petyosi commented on #13
Yes, I do. Just like you state, I think that fixed width columns are sufficient enough. I don't want to enter the spreadsheet territory :).

Regarding the grid layout: a thing which I consider mandatory is rendering using a *single* `table` tag with `thead`, `tbody`, so on. Rendering tables as div elements is a major crime against a11y in my book.

Let me know what you think about that. Cheers!

[2019-05-29 12:35] FezVrasta commented on #13
My use case is to render a list of "cards", all with the same height and width, I don't think `table` would make sense in my case, since it's not a "tabular data", it's just a list of elements that goes on a new line when there's no more room on the current row.

[2019-05-29 13:45] petyosi commented on #13
I think I understand what you mean; something like a flexbox / CSS grid-ish layout - for example, https://codepen.io/underlog/pen/joveop. Would virtualizing the layout in this pen work for you?

Some thoughts - these layouts are responsive. Specifying the width/number of columns through JS is a road of pain and futile attempts to re-implement the browser layout engine. I would much rather have the

[2019-05-29 14:04] FezVrasta commented on #13
Yes that's the layout I'm talking about. Right now I use `react-virtualized` but it's something like 600 lines of code just to render that grid 😓

[2019-05-30 10:40] petyosi commented on #12
Fixed in `v0.7.0`. Had to rework the positioning mechanism for that.

[2019-05-30 10:40] #12 closed

[2019-05-31 19:41] stunaz opened #14 "cant find vrituoso in windows global while using umd release"
Hi, I wanted to test that lib on an umd application.
After putting the https://unpkg.com/react-virtuoso@0.7.0/dist/react-virtuoso.umd.production.js in the the head of my html. i cant find the Virtuoso.

Tried
- window.ReactVirtuos0
- window.Virtuoso

[2019-06-01 03:05] petyosi commented on #14
Hey,

In the UMD bundle, you can access both `Virtuoso` and `GroupedVirtuoso` from the `window['react-virtuoso']` object.

Cheers,

[2019-06-01 03:05] #14 closed

[2019-06-03 01:16] x4080 opened #15 "Alternate row color"
Hi, I tried your component and works fast ! I wondered if we can add alternate row color using
 ```&:nth-of-type(odd)```

Since the item that we supply is inside another div, so it always @ 0 numbered row

Thanks

[2019-06-03 19:01] petyosi commented on #15
Using nth-of-type won't work I am afraid - the component moves elements around, so an even item can become odd when you scroll down.

You can use the item index instead - something [like this](https://stackblitz.com/edit/react-1dnzbx?file=example.js).

[2019-06-03 19:01] #15 closed

[2019-06-04 21:21] x4080 commented on #15
Thanks I think that will fix it

[2019-06-05 13:14] AyumiKai opened #16 "webpack: Failed to compile"
ERROR in ./node_modules/react-virtuoso/dist/react-virtuoso.es.production.js
Module parse failed: /Users/xx/Desktop/xx/react-virtuoso/dist/react-virtuoso.es.production.js Unexpected token (1:12692)
You may need an appropriate loader to handle this file type.
--------------------------------------------------------------------------------------------
hi @petyosi , my packages version:
      "webpack

[2019-06-05 13:48] petyosi commented on #16
This does not ring a bell. I am using [tsdx](https://github.com/palmerhq/tsdx) for the entire build/package setup, and the build artifacts work as expected in a CRA scaffold, Stackblitz, and CodeSandbox. What's the setup of your project? Perhaps you can compare it to the CRA scaffold and figure out what's the difference that causes this problem.

[2019-06-06 03:43] x4080 commented on #12
Hi @petyosi , There's still a screen glitch in iOS, it happened when scroll back to top, when near the top it will glitch, I'm using material ui navigation drawer on the left (if there's conflict)

Thanks

[2019-06-06 07:14] petyosi commented on #12
@x4080 can you reproduce that on the [examples](https://virtuoso.dev/)? If not, can you fork one of them to Stackblitz and showcase it? I will take a look.

[2019-06-07 02:06] AyumiKai commented on #16
yeah,It is my babel configuration  problem

[2019-06-07 02:06] #16 closed

[2019-06-08 00:18] x4080 commented on #12
@petyosi I'll try it and let you know

[2019-06-11 23:33] x4080 commented on #12
@petyosi I havent tried using the examples, but when I take a look at the flicker, that happened outside of the virtuoso, I'm using material ui appbar, and inside paper component I put virtuoso and the flicker is in app bar when reaching near top of list and bouncing effect from safari is started

[2019-06-12 18:16] petyosi commented on #12
I have to see that in order to help you. Please try replicating it in a sample (stackblitz or code sandbox). Cheers!

[2019-06-25 16:32] stoich opened #18 ""SCRIPT1028: Expected identifier, string or number" error in MS Edge apparently due to a transpile issue"
Adding the virtuoso-package to our app causes it to crash with following error message ins MS Edge: "SCRIPT1028: Expected identifier, string or number". As far as I can tell MS Edge still doesn't support the es6 spread operator so seems this relates to how react-virtuoso is transpiled to es5

[2019-06-25 16:53] #18 closed

[2019-06-25 17:22] petyosi commented on #18
Thank you for the report. Root cause was palmerhq/tsdx#101. Upgrading to the latest version solved the problem. Also, https://virtuoso.dev/ works in edge now.

[2019-06-26 08:32] GuillaumeAmat opened #19 "Empty list on display changes"
When the parent element of Virtuoso changes its display mode from visible to hidden, the list is eventually empty.

I use `@reach/tabs` and all the `TabPanel` elements contain a Virtuoso list. If I repeatedly click on the tabs to hide and display my lists, one of them end to be empty.

I also tested by manually set/unset `display: none` on the parent and the result is the same.

Any idea?

Thanks

[2019-06-26 10:32] petyosi commented on #19
This seems plausible given the resize observable logic. I tried to reproduce it in [this example](https://stackblitz.com/edit/react-cv7uve?file=example.js), but it seems to work fine, so perhaps I am missing something.

 Can you fork the above so that I can reproduce it? Will take a look.

Cheers!

[2019-06-28 18:35] petyosi commented on #13
Hey @FezVrasta - I just published v0.8.0 which includes `VirtuosoGrid` - I believe that it should address the case you describe. Check the [responsive columns demo](https://virtuoso.dev/grid-responsive-columns/). Would love to get some feedback on the approach. Cheers!

[2019-06-29 05:25] FezVrasta commented on #13
I will give it a shot on Monday! Thank you so much!

[2019-07-01 11:19] FezVrasta commented on #13
@petyosi I started to switch from react-virtualized to react-virtuoso for my grid but I realized I forgot to mention I need lazy loading on scroll 😥

Is there any way to run a GraphQL `fetchMore` call when more cells/rows need to be loaded?

[2019-07-01 11:44] petyosi commented on #13
Thanks, What would be the idiomatic way to handle that in the CSS-in-JS world (I am new to it, so pardon my ignorance)? I can expose `*Container` props which accept custom components, like the ones in the initial `Virtuoso` components.

[2019-07-01 11:46] FezVrasta commented on #13
That would probably work, the end result would be:

[code]

[2019-07-01 12:14] FezVrasta commented on #13
I tried to switch out my react-virtualized grid with VirtuosoGrid, but as soon I try to render my real elements and scroll a bit, the whole list starts flickering.

(The element contains text inside, I had to hide everything with `> * { opacity: 0 }` because I'm under NDA)

If I render something simple such as `<div>{index}</div>` everything works fine. I know it's a long shot, but do you have any

[2019-07-01 12:49] petyosi commented on #13
Thanks for the suggestion, I will try the container approach.

Re: the flicker - a wild guess would be elements with margins in the content, that would mess up the calculations.

Another (less likely) is a rounding issue (I have discovered two cases that led me to this fix: https://github.com/petyosi/react-virtuoso/commit/6bbbca0b17a53da9cc2b0d7cc8787e97ff51a165).

A repro case would definitely he

[2019-07-01 13:35] FezVrasta commented on #13
I'm already on 0.8.2 which should include your recent fix.

My grid implementation is:

[code]

I think the CSS is fine, the margins are applied internally the item, not on its container.

[2019-07-01 17:14] petyosi commented on #13
Just published v0.9.0 with containers exposed and [updated the demo](https://virtuoso.dev/grid-responsive-columns/).

Some debugging ideas:

- Throw in an `overflow: hidden` at the item CSS, just in case.

- Maybe the flicker is caused by the component toggling between 3 and 4(?) items per row. The code is doing math trying to guess [how many items will fit per row](https://github.com/petyosi/reac

[2019-07-01 21:04] GuillaumeAmat commented on #19
I can't reproduce the behavior on your sandbox, this is really weird... Though, when I scroll a list, Firefox complains (warning in the console) about a positionning effect related to the scroll state.

The french warning message is:

I don't if it is related but it could be.

[2019-07-02 03:42] petyosi commented on #19
Thank you. Went through the article, the warning is more generic, and not related.

If you can deploy (or have deployed) your current setup somewhere, I can look at it. Perhaps there are other factors at play.

[2019-07-22 12:56] danielkov opened #21 "Support Server-Side Rendering"
FIrst off, this is a great library and I've got into one of our projects with massive traffic, so it will be stress-tested.

When creating a bunch of examples I discovered that while it doesn't break SSR specifically, but there is no way to support the server at the moment. The effects it triggers don't run in a server environment, so the component comes out empty when rendered on the server. This

[2019-07-22 15:48] petyosi commented on #21
Thanks for the suggestion. I don't have any experience with SSR specifics, but I think that this should be fairly easy to be implemented.

Right now, the component relies on the resize observers to bring information about the viewport, item size, etc. in order to do the calculations and render the respective items. On the server, these are never triggered, as you stated.

However, if we somehow in

[2019-07-25 13:57] danielkov commented on #21
There are two great ways to detect if a component is being rendered on the server:
1. Rely on the environment, like [this package does](https://www.npmjs.com/package/exenv). It's closely related to React internals so you can assume it's reliable.
2. Use React itself, more specifically, we know that `useEffect` only executes on the client, so we can create a hook taking advantage of this:

[code]

[2019-07-27 03:52] petyosi commented on #21
@danielkov I spiked a property called `initialItemCount`. If possible, can you build the library from the [SSR branch](https://github.com/petyosi/react-virtuoso/tree/ssr) and test it on your side? Essentially, all you have to do is set the property to the number of items you wish to get rendered initially, bypassing the DOM measurements.

If it works in your environment, I am going to document it

[2019-07-30 06:34] danielkov commented on #21
@petyosi do you know of a simple way to use it locally? When I do `file:` in `package.json` after building it mismatches React versions for some reason. I didn't have much time to fiddle with it, but if you have a good way to get it working I will try it.

[2019-07-30 10:14] petyosi commented on #21
Sure, that would be something like this:
[code]

Above should create  `react-virtuoso-v0.9.0.tgz` file in the repo.
Then, in your project, `yarn install path/to/lib/react-virtuoso-v0.9.0.tgz`

Cheers,

[2019-07-30 14:42] FezVrasta commented on #13
Gonna close this issue since it seems solved for the general public, I'll open a specific one if I ever find out what's going on with my implementation :-)

[2019-07-30 14:42] #13 closed

[2019-07-30 18:08] mcabs3 opened #24 "App crashes when "list" is changed in VirtuosoGrid"
first off, this library is great and exactly what I need!

I am using the `VirtuosoGrid` component, I supply it an array of small objects (from redux). I am trying to allow a user to use a text input to search and filter the boxes in the grid, so I have the text input text filter the array that is passed to this grid, when the list is "filtered" my react app crashes because a component that did ha

[2019-07-31 06:51] petyosi opened #25 "Expose callback prop for `itemsRendered`"

[2019-07-31 06:57] petyosi commented on #24
Hey, @mcabs3 that should work from what I see, but you may have found a bug in the rendering mechanism. Can you reproduce it in stackblitz or codesandbox? I will take a look.

Cheers,

[2019-07-31 13:07] mcabs3 commented on #24
@petyosi Can do: https://codesandbox.io/embed/silly-mendeleev-8j51k

Try searching successfully, and then try a random set of characters to where nothing would return from the filter.

[2019-07-31 13:26] petyosi commented on #24
Thank you! Reproduced the problem on my side, confirming it as a bug. Will figure out a fix and publish a new version this week.

[2019-07-31 13:39] mcabs3 commented on #24
Thank you, I appreciate the quick attention!

[2019-07-31 14:53] joshacheson commented on #25
@petyosi are you open to having someone else implement this? I could be up for giving it a shot late this week or next week.

[2019-07-31 16:15] petyosi commented on #25
@joshacheson That would be awesome! Give it a shot.

[2019-07-31 17:19] #24 closed

[2019-07-31 17:49] petyosi commented on #19
@GuillaumeAmat - please ping me if you figure out something - I will re-open the issue. Thanks!

[2019-07-31 17:49] #19 closed

[2019-07-31 18:00] petyosi commented on #21
@danielkov I just published v0.10 which includes the `initialItemCount` property, mentioned in the [API reference](https://virtuoso.dev/virtuoso-api-reference/). Let me know how it goes.

[2019-07-31 18:15] petyosi commented on #24
Hey, just published v0.10 which includes a fix for the above. Forked your sandbox and updated the version - it seems to work fine.

https://codesandbox.io/s/serene-fog-wyx8v

Cheers,

[2019-07-31 19:50] mcabs3 commented on #24
Sounds good, I will give it a try on my actual app as well. Thanks for squashing this so quick!

[2019-08-01 09:26] brapifra opened #26 "Empty list when testing with react-testing-library"
Hi, first of all, congrats for your awesome library! I've been trying to test some components where I use it, but the list never gets rendered :disappointed:

[code]

[2019-08-01 10:58] petyosi commented on #26
Hi,

I am not familiar with the testing-library internals, but my guess is that it is executed in a node environment, bypassing the hooks, effects, etc. If this is so, you can probably make it work by setting the `initialItemCount` prop, available in v0.10 (released yesterday). Check the demo: https://stackblitz.com/edit/react-virtuoso-server-side-rendering?file=example.js
It is also mentioned in

[2019-08-01 16:28] GuillaumeAmat commented on #19
Sure, thank you for your time!

[2019-08-02 14:18] brapifra commented on #26
That works! :tada: Ty

[2019-08-02 14:18] #26 closed

[2019-08-05 23:10] GuillaumeAmat commented on #19
@petyosi I think I have a lead on that issue :)

I had a bit of time to test things here and there tonight and I figured this:

If I replace the

[2019-08-05 23:14] GuillaumeAmat commented on #19
Picture this: I have three tabs (@reach/tabs), each containing a VIrtuoso list.

In the first I have 59 items and it never fails...
In the second I have 6 items, which are all displayed without scrolling (the last one is cut though).
And in the third one, I have 9 items.

All the items have the same height. SO when I switch over the 2 last tabs, after 2 times, the second list is empty and the last

[2019-08-09 15:38] joshacheson commented on #25
Heya! I'm working on this today (And on other days if necessary :)). I'm curious how you make use of `playground/` for testing? I'm not sure what browser environment allows you to directly import / use `.tsx`.

[2019-08-10 06:23] petyosi commented on #25
Hey @joshacheson ,

you just run `parcel playground/index.html` and you are good to go.

[2019-08-10 06:45] danielkov commented on #21
@petyosi thanks for your effort, I've tested it out and it works nicely. Still throws a warning during SSR about `useLayoutEffect` not being able to render on server, but it renders the initial items nicely and hydrates correctly on first client render, so well done.

[2019-08-14 23:26] theonlylies opened #29 "Create callback prop for getting total height"
I need get full height for implement my own scroll behavior around `scrollTop` for `VirtuosoScroller`.
I think that need/can to be implemented some callback prop for `Virtuoso`, that can be passed into `VirtuosoView` and call function with `fillerHeight` as param.
if you know some better solution. pls tell me
if this idea not bad - i can try to create PR
sorry for my lang

[2019-08-15 05:41] petyosi commented on #29
Hey,

Thank you very much for your suggestion. You can expose the fillerHeight via callback prop easily. The `isScrolling` property is exposed in a similar manner. You don't need to change the VirtuosoView. Check https://github.com/petyosi/react-virtuoso/pull/28 request, which does something similar (exposing output stream as a prop).

Let me know if you need any help with the PR.
Cheers,

[2019-08-17 05:21] #25 closed

[2019-08-17 05:22] petyosi commented on #21
Hm, I did not see that when testing in Gastby. Can you please let me know how I can reproduce that on my side? Thanks.

[2019-08-17 05:22] #21 closed

[2019-08-18 15:00] theonlylies commented on #29
@petyosi
i add some dirty PR. I'l be glad if you help me with this #30

[2019-08-18 20:50] yhnavein opened #31 "Latest version (0.11) broken"
When upgraded to the latest version (0.11), my app is not buildable by TypeScript because of the following error:

[code]

There is not a single mention about `computeItemKey` in the docs or the code examples

[2019-08-19 10:35] petyosi commented on #31
Ugh, sorry for that, this should be optional (and documented). Will release a fix later today.

[2019-08-19 18:28] #29 closed

[2019-08-19 22:58] joshacheson opened #33 "List does not re-render properly when backing data is shuffled/filtered."
I have created a codesandbox to illustrate the problem I'm having: https://codesandbox.io/s/wizardly-http-61djr. It's important to have the console open here to see the disparity between what "should" be rendered and what actually gets rendered.

In general, when a list is shuffled, `<Virtuoso/>` does not necessarily re-render in the correct order _or_ render all of the items that it should. Inste

[2019-08-19 23:00] #33 closed

[2019-08-19 23:00] joshacheson commented on #33
Sorry, I need to give a better example. I am closing this issue and will open a better one!

[2019-08-20 05:12] petyosi commented on #31
Published 0.11.1 that fixes the typings

[2019-08-20 05:12] #31 closed

[2019-08-20 16:56] petyosi opened #34 "[chore] Add `npm run build` to "prepublishOnly"."

[2019-08-21 06:50] danielkov commented on #21
@petyosi it will be different in Gatsby as it doesn't use SSR in a traditional way, but like I said it's fine because the warning shows it's working as intended. We don't want to have the effect take over and set the items in viewport during the server pass. If you'd like I can contribute with examples using Gatsby and NextJS.

[2019-08-22 01:41] fonty422 opened #35 "Support for zero height rows"
The application works wonderfully for me with material-ui ExpansionPanels. It correctly expands and closes the panel and moves/adjusts everything else in the list accordingly (unlike react-window or react-virtualize').
But unlike those other packages, if I need to hide a row (the expansion component only needs to be shown if a criterion is met) it fails. A zero height div, or a null object fails,

[2019-08-22 01:51] fonty422 commented on #35
Although, I suspect that if you return anything that technically doesn't render it behaves as though you have less items in the list than you originally declared so it fails. You can't return a null object, a hidden div or a div of zero height.

[2019-08-22 06:45] petyosi commented on #35
Hey @fonty422 ,

That's not something that I have considered so far, and I am probably using the zero as a special value here and there. Can you help me out with a test case that I can observe? Perhaps there is an easy way to support the behavior.

Thank you!

[2019-08-22 07:58] fonty422 commented on #35
I've made a quick sandbox. Try make the ones we don't want to display be zero height, or better still return a null.
https://codesandbox.io/embed/stoic-beaver-m3ez2

[2019-08-22 11:25] rusev commented on #35
If understand your example correctly the problem is due to probing logic of the Virtuoso component. In particular the first item should be visible.

A workaround for that will be to set `initialItemCount` to some value which will guarantee that visible item will be initially rendered.

Updated example: https://codesandbox.io/s/pedantic-river-u9qiv?fontsize=14

[2019-08-22 22:50] NrqhEIcsRi004 opened #36 "Support iscrolljs?"
https://github.com/ustbhuangyi/better-scroll
or
Provide dynamic setting margin-top method

[2019-08-23 05:16] fonty422 commented on #35
So close! It works nicely with small lists, like the one initially provided, but if I modify your example to start with a large list of even 1k items, it renders the first few, then pauses for a while, then renders the rest. Then the list can be scrolled/interacted with. BUT, if you return a proper div with some text, it renders immediately with no hang and full interactivity.
Thoughts?

https://c

[2019-08-23 07:33] petyosi commented on #35
Thank you for the example - I can see that the measurements of the list are incorrect in this case. Will fiddle with it over the weekend and see if this can be supported.

[2019-08-23 07:35] fonty422 commented on #35
Thanks! Very much appreciated.

[2019-08-23 07:35] petyosi commented on #36
I am not sure what the library you refer to does and how it would work with Vrituoso. Can you please elaborate?

[2019-08-23 07:42] fonty422 opened #37 "Auto size container height"
An enhancement request - any chance of having the same autosizing as the width part?
Perhaps this is already doable via standard CSS things (like flex), but I can't seem to get it to work.
It would be useful to hard code a height of the scroll container, but also have it flex to fit the white space.
If the window changes size, or another component above changes size and pushes/pulls on the scroll

[2019-08-23 08:19] fonty422 commented on #37
Never mind. It can be resolved with pure CSS using flex.

[2019-08-23 08:19] #37 closed

[2019-08-23 12:39] theonlylies commented on #36
DId you trying that?
https://virtuoso.dev/custom-scroll-container/

[2019-08-23 23:39] fonty422 commented on #35
I've continued working on my project in the mean time and have come across a scenario that might be important to consider.

My real data is ~3600 list items at the moment. There are 4 states each item can be in (0-3). The user may wish to show all 3600, or determine which states they want to view via checkbox selection. One of these states, however, only contains 20 list items! In this case, all a

[2019-08-25 08:08] fonty422 commented on #35
An updated example that's a much more like how I'm intending to use it.

The main issue has now been addressed with [this ](https://codesandbox.io/s/boring-mountain-tsepu?fontsize=14&module=%2Fsrc%2FApp.js)super ugly code.

The issue with the list size continues, although is not as big an issue as the other one where items wouldn't hide, and then when we figured out how to hide them they wouldn't

[2019-08-25 17:46] #34 closed

[2019-08-26 05:32] petyosi commented on #35
I investigated the issue over the weekend. The internal data structures which store the items' offsets get confused with zero-height items because I am using the item offset as an index. In a nutshell, there are more than one items occupying the same offset. I think this leads to the erratic behavior visible in your earlier example. Changing this implementation is far from trivial, and I don't hav

[2019-08-26 05:38] fonty422 commented on #35
Yeah, I figured it was likely to be a large issue, so thanks a million for looking into it.
In the meantime I noticed that my class-based version wasn't so good after all as it required the list item to edit the rendered list... which meant throwing a "Don't change state while rendering" error. The system worked, but not without problems.
I'm not so used to hooks and functional components, but can

[2019-08-26 05:43] petyosi commented on #33
I somehow missed this issue. To answer your question - yes, Virtuoso should work with filtering and shuffling of data. The problem with the example here is that there is an "empty" item (you can check #35 for more details). Setting the content of the `divItem` made the example work as expected ([updated version](https://codesandbox.io/s/dreamy-nightingale-h1n3h)).

[2019-08-26 05:47] petyosi commented on #35
I believe so, yes. Hooks are not that bad once you get the grip of them, the example I posted has a funny looking bit*, but everything else seems quite simple to me, at least. You should be safe with such approach IMO.

* the bit is related to useState accepting a function:
[code]

[2019-08-26 13:51] joshacheson commented on #33
@petyosi thanks for checking in. In the actually example in our own product, we had an element with no content _and_ that had a margin. I found the thing about margins in the gotchas, replaced it with a fixed element height, and everything worked great. It seems in this case that a fixed height worked just as well as adding content or what have you.

The only feedback I might offer is to make the

[2019-08-27 05:09] NrqhEIcsRi004 commented on #36
https://github.com/ustbhuangyi/better-scroll is not using the native scroll, it is made by dragging the calculation and setting translateY, so it can't be with https://virtuoso.dev/custom-scroll-container/ Working very well together

[2019-08-29 21:21] veyndan opened #40 "react-virtualized WindowScroller alternative?"
Is there anyway to achieve what [`WindowScroller`](https://github.com/bvaughn/react-virtualized/blob/master/docs/WindowScroller.md) does in react-virtuoso? I'm looking to create a Twitter/Facebook style news feed where you use the native window scrollbars to scroll an infinite list (or in my case, grid). Thanks in advance.

[2019-08-30 13:18] petyosi commented on #40
Hey,

this is not supported currently, I am afraid. Technically, it should be fairly easy to build such variation of the component, reusing the same engine but rendering in a different manner. I can help with directions In case you are interested in contributing such implementation.

Thanks!

[2019-08-30 21:07] veyndan commented on #40
Thanks I may have a look at implementing it in the future.

[2019-08-30 21:19] veyndan opened #41 "Property `item` of VirtuosoGrid called when `totalCount` is zero"
When I set the `totalCount` of VirtuosoGrid to `0`, nothing is rendered yet `item` is called. Is this expected behaviour?

### Code snippet

[code]

### Console log
[code]

[2019-09-01 21:46] GuillaumeAmat commented on #19
Hey @petyosi, did you see my weird test? Could you consider reopening the issue?

[2019-09-02 18:31] petyosi commented on #19
Hey @GuillaumeAmat  - where is the test you refer to? Is there anything I can run on my side?

Apart from that, the change you refer to is not a feasible one, I am afraid.

[2019-09-02 22:07] GuillaumeAmat commented on #19
No online test, it is just the result of a "quick, naive and dirty" search. I was just hopping to ring a bell on a possible cause of that issue.

Yes of course, I wasn't asking that.

[2019-09-03 17:48] jaskinn commented on #37
@fonty422 - I'm struggling with the same thing. Did you apply flex settings (I'm guessing flex-grow) to the Virtuoso component or its parent?

[2019-09-04 15:09] mcabs3 opened #42 "Table support"
I am currently trying to find a way to use one of your components to render table rows (specifically using material ui).

Here is the general idea of what I'm aiming for
[code]

however I see the issue is that your `Virtuoso` component renders a few divs I'm assuming to track height, number of items in view, etc.

Maybe there is a way we can pass our own component as a prop to render as a parent e

[2019-09-04 17:02] petyosi commented on #42
Hey @mcabs3 ,

Support for table rendering is something which I am currently working on (no ETA, I am afraid). The current necessary markup is not compatible with the table rendering, so it needs a separate approach.

[2019-09-04 17:57] mcabs3 commented on #42
No worries, if there is something I can do to help, I will most certainly try!

[2019-09-06 00:29] fonty422 commented on #37
Yeah, I figured it out using plain old CSS.
I think the key is to ensure that _all_ parent components have a `height` assigned right back to `#root` and then use some flex settings.
I've knocked up a simple code sandbox for you to look at [here](https://codesandbox.io/s/cool-hill-69dz7?from-embed). The only thing I had to mess around with was the height of the `.box` bit, as a pure 100% would alwa

[2019-09-08 03:24] fonty422 commented on #37
Except that today, for no known reason just yet, it stopped working in my code. I figured there was something I changed in the main code that messes something up, but no! Even the sandbox above no longer works... at least in Chrome. But Firefox works, so what;s going on there???

[2019-09-08 03:42] fonty422 commented on #37
Strangely, the .content style now needs a height in Chrome, which it didn't when I wrote that sandbox code. Very strange

[2019-09-15 18:55] yhnavein opened #43 "Latest version (0.12.0) broken"
When upgraded to the latest version (0.12.0), my app is not buildable by TypeScript because of the following error:

[code]

I can see that `react-virtuoso` does not refer to the `tinyrx` as its dependency.

[2019-09-15 19:01] yhnavein commented on #43
And it seems that the same error appears in the version `0.11.1`
Version `0.10.2` works fine

[2019-09-16 07:32] petyosi commented on #43
👍 Thanks for reporting this, fixed the import in 0.12.1, let me know if it works for you.

Cheers,

[2019-09-17 12:53] #36 closed

[2019-10-01 07:47] nicgutierrez opened #44 "[info] Always start at the bottom of the list"
Hi! I'm building a chat system using React Virtuoso and I'm using `scrollToIndex` to scroll right to the bottom of the list, with a tiny delay.  This works "ok" but as I said there's a tiny delay. I was wondering if there's a way to automatically show the list scrolled at the bottom already?

Thanks!

[2019-10-01 14:05] petyosi commented on #44
Hey,

there are 2 probing rendering cycles that are necessary for Vrituoso to determine the probable size of the items. From what you describe, the delay might be related to that. Do you have the whole thing (or part of it) working somewhere? I can take a look.

[2019-10-02 18:06] FezVrasta opened #45 "pin items broken, first item not sticky"
Hi, the first row of the list doesn't stick to the top.

You can reproduce it in the demo website example:
https://virtuoso.dev/top-items/

![image](https://user-images.githubusercontent.com/5382443/66069673-23aa0480-e550-11e9-9388-d0894c7c6d7f.png)

[2019-10-15 19:45] NerdCowboy opened #46 "Expose active group index"
I'm building something similar to https://virtuoso.dev/scroll-to-group/

I'd like to trigger some functionality whenever a new group index becomes active to do things like add an active class to the navigational buttons, but I can't seem to find anything that exposes that.

Am I missing something? Otherwise, I think it would be best to expose it in the `scrollingStateChange` or in `itemsRendered`

[2019-10-15 21:28] NerdCowboy commented on #46
I did find a workaround by doing the following in `itemsRendered` callback, but would still be nice to have this exposed natively:

[code]

[2019-10-19 03:33] gthdie opened #47 "I want ‘props‘ for initializing the scroll bar location"
I used react-virtuoso in all my projects. I can only add a unique class name to manipulate the native dom and get the last position of the scroll bar . On the next load, scroll to the previous position. I like react-virtuose.

[2019-10-20 16:32] petyosi commented on #47
Can you describe what you want to achieve? Are you trying to persist the scroll location between reload? There is an imperative API for scrolling, but I can consider a prop, too, if I understand the case better.

Thanks!

[2019-10-20 16:39] petyosi commented on #45
@FezVrasta - this is related to the server-side rendering, at least on the site. Examining further.

[2019-10-20 20:19] FezVrasta commented on #45
I get a very similar problem on codesandbox

[2019-10-21 07:02] petyosi commented on #45
Can you post a link to the sandbox? Might be a different case then.

[2019-10-21 07:40] FezVrasta commented on #45
https://codesandbox.io/s/crazy-buck-8js2n

here it is, if you set `topItems` to 1, it has no effect, you must set it to at least 2

[2019-10-22 09:19] gthdie commented on #47
Maybe I want a ref props and forward it to the scroll container so I can control the scroll bar location myself

Thanks!

[2019-10-22 09:32] gthdie commented on #47
Or add two props, initializing the scroll position and the callback function to get the scroll position, as  ' react-window' did

[2019-10-23 04:15] petyosi commented on #45
@FezVrasta I fixed the problem in the sandbox (never worked in the first place) in 0.12.2 - [updated sandbox](https://codesandbox.io/s/blazing-violet-48bwy). The problem on the demo site is a different story though, will keep the issue open.

[2019-10-23 11:10] FezVrasta opened #50 "Add Flow type annotations?"
Hi, would you accept a PR to add Flow type annotations to the project?

[2019-10-23 14:34] petyosi commented on #50
Is there anything that will generate them from the typescript ones? Otherwise, they would get out of sync eventually.

[2019-10-23 14:36] FezVrasta commented on #50
There's [flowgen](https://github.com/joarwilk/flowgen), but AFAIK it only works for `.d.ts` files.

[2019-10-23 15:30] petyosi commented on #50
It can be added as a build step after the d.ts files are generated by the `yarn build` I think.

[2019-10-23 21:29] NerdCowboy commented on #47
Not entirely sure I'm following this, but adding the ability to set the initial scroll position would be awesome as right now there's a minor flash that's not so awesome that I'm try to make less jarring with a quick fade in.

For use case, I'm using Grouped Virtuoso with a list of events grouped by day, so if they navigate back from looking at an event from a specific date, I need the list to sta

[2019-10-24 07:09] petyosi commented on #47
@NerdCowboy You probably use the method `scrollToIndex` - the minor flash is there because the code needs to measure one item before calculating the probable location of the index.

Introducing a property like `initialScrollPosition` (and a respective `scrollPositionChanged` callback property) won't need the initial measurement.

[2019-10-24 12:03] veyndan opened #51 "Running playground"
I'm attempting to work on a previous issue that I have created, and would like to use `playground` to aid me in debugging. However, I'm having a couple of issues getting it to work.

First up, neither of the following dependencies can be resolved.

https://github.com/petyosi/react-virtuoso/blob/fa21f922525d83fe67c0f05ae81ff0fb523a2558/playground/grid.tsx#L5-L6

Second up, and this one is more on m

[2019-10-25 08:15] davide-igdb opened #52 "Item prop does accepts only ReactElement as a return type."
[code]

All of the above types function correctly to render a React component. But item as a prop lacks the alternatives to `ReactElement` in it's return type.

I tried to return `null` from item and it works on the javascript side. But I have to cast `null as ReactElement` to make it work in ts.

Would you consider to type item as `(index: number) => ReactNode`? Or is there a reason why the retur

[2019-10-25 08:48] petyosi commented on #52
I am 99% certain that returning `null / undefined` will confuse the measuring mechanism. Wh don't you filter the items from the data instead?

[2019-10-25 09:08] davide-igdb commented on #52
As the index could be any number, I return null if said index is out of range. I covered it for testing purposes.

[code]

Just as a thought. In this scenario would you suggest to throw an error instead?

[2019-10-25 12:01] veyndan commented on #51
Thanks! Got it to work. I agree that running the `playground` could be a bit easier.

[2019-10-25 13:29] petyosi commented on #52
Setting the totalCount to the correct number (say, 1000) means that you will get called with 0-999. The component takes care of rendering only the items in the specified range.

[2019-10-25 14:28] davide-igdb commented on #52
Yes, I would have expected as much. I will proceed with a throw error as there is a chance that `value` is undefined. Not necessarily for totalCount being wrong, but items being undefined.

In anycase thanks. I appreciated the thread.

[2019-10-25 14:28] #52 closed

[2019-10-26 13:16] petyosi commented on #45
The above is resolved in 0.12.3.

[2019-10-26 13:16] #45 closed

[2019-11-05 22:52] NerdCowboy opened #53 "Using ItemContainer and useState causes rerender"
I'm using a GroupedVirtuoso with buttons in each row. To make my list more accessible, I'm trying to keep track of the focused index, so I can auto-scroll the list as a user tabs through it.

However, In order to properly style my list elements, I needed to add an `ItemContainer`. Once I add the `ItemContainer` in combination with `setFocusedIndex` via `useState`, it will always cause a rerender o

[2019-11-06 07:33] petyosi commented on #53
The way I understand useState hooks, the behavior is expected. you call setState, and changing the state will re-render the container.

If I understand your requirements correctly, I believe that there is a simpler way to achieve what you describe - using `scrollIntoView`. Check [this fork of the sandbox](https://codesandbox.io/s/frosty-archimedes-urzyq) for what I mean.

[2019-11-06 15:56] NerdCowboy commented on #53
I had a suspicion that might be the case case. I really appreciate you proving a better solution—wasn't even aware that `scrollIntoView` was thing.

[2019-11-06 16:09] #53 closed

[2019-11-06 20:44] NerdCowboy commented on #53
For others that might still be running into a similar issue, my component was a little more complex than the sandbox I created, so I had to also wrap my `ItemContainer` in a `useCallback` to prevent it from causing rerenders that would cause it to lose focus.

[2019-11-07 09:59] mfarhadpur opened #54 "Cannot scroll very large lists all the way down when item styling affects height"
I was just playing with the Virtuoso component, and noticed for lists with very large number of items, you can't scroll all the way down if list items have styling that affects their height. You can verify this with a list of 1,000,000 items with some vertical padding or a larger font size set on the items. Not a deal breaker as it's unlikely this happens in practice, but was wondering what the un

[2019-11-07 12:02] petyosi commented on #54
Can you reproduce that by forking one of the [site examples](https://virtuoso.dev/)? One thing which comes to mind is the maximum element height in the DOM (varies across browsers, but as far as I remember it was around 10M pixels in Chrome).

[2019-11-07 12:22] mfarhadpur commented on #54
Sorry for not providing an example. [**Here**](https://stackblitz.com/edit/react-ajgjuz?file=example.js)'s a fork of the "100 000 Items" example, but with 500 000 items. I can only scroll down to item 453 431 on Chrome, 20 734 on Edge, and 9 on Firefox! So, it is probably the limitation you mentioned.

[2019-11-21 13:01] iJimmyWei opened #55 "TScrollContainer type missing children props"
**VirtuosoScroller.tsx**
[code]
In VirtuosoScroller types is currently missing a `children` prop type, without this prop typescript will not allow you to pass in children to your custom scroll component.

An example of passing children down is shown here https://virtuoso.dev/custom-scroll-container/ but the given example uses merely javascript so typescript errors won't show here.

[2019-11-21 13:39] petyosi commented on #55
I might be wrong here, but TScrollContainer takes children from the [FC interface](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L771).

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L515

[2019-11-21 14:04] iJimmyWei commented on #55
Ah yea, I found the issue. So using the example given as is without declaring `children` as optional causes an error in typescript

[code]

However I would of expected `children` to be non optional, because of the way it's used and that `item` is non optional in this case, meaning that children would always be non optional too here.

[2019-12-02 17:47] NerdCowboy opened #57 "scrollTo not supported in Edge"
In Edge (pre-Chromium), scroll methods aren't supported that well.

The example https://virtuoso.dev/scroll-to-index/ doesn't work at all in Edge.

To fix, will need to add a polyfill:
https://github.com/iamdustan/smoothscroll

[2019-12-02 18:55] NerdCowboy commented on #57
Closing. Realized I can implement the polyfill on my end.

Would recommend adding something to the docs though.

[2019-12-02 18:55] #57 closed

[2019-12-03 06:05] petyosi commented on #57
@NerdCowboy Which polyfill did you end up using? A sample will help, I will add it to the docs. Thanks!

[2019-12-03 15:11] NerdCowboy commented on #57
I used the polyfill in my first post https://github.com/iamdustan/smoothscroll

Here's the code to implement
[code]

[2020-01-06 21:41] Ethorsen opened #59 "Specifying a different itemHeight per item/group?"
We have a GroupedVirtuoso list with known item heights.   But each item and group header has a different height.

Is it possible to achieve this using the itemHeight prop ?   Like passing a function instead of a number,  function that would take a group index or an item index and would return an itemHeight.

something like
[code]

BTW. I cannot use the auto sizer feature, because most of my items

[2020-01-07 09:39] petyosi commented on #59
Hey,

I would recommend looking into the autoSizer as an approach - the itemHeight and groupHeight are meant to be used for uniform size scenarios.

You mention that you have negative margins that you use to visualise overlaps. Can I see that running somewhere? Changes are this scenario can be tuned to work as expected.

Cheers,

[2020-01-07 12:05] Ethorsen commented on #59
I tried many different patterns, and can never get the auto sizer to figure out cell heights correctly as soon as a negative margin is specified.

I'll try to reproduce in a sandbox

[2020-01-07 16:00] Ethorsen commented on #59
I was able to get this thing working for us.   Instead of using negative margins for interlace,  I'm now using fixed height with visible overflow.  In terms of positioning a scrolling,  it now works fine.

But I still have a visual bug that I cant figure out.   When scrolling slowly,  the first element on the screen sometimes appear after it entered the viewport or disappear before it exits the vi

[2020-01-07 17:31] petyosi commented on #59
Thanks for the repro, I believe I know what's going on.

When I designed the groups, I assumed that the sticky group headers would be *non-transparent* and occupying the full width of the list viewport. As soon as something passes the bottom border of the group, the code considers it invisible and removes it from the list of items. Removing the width of the group element addresses the problem part

[2020-01-07 18:38] Ethorsen commented on #59
Thanks for taking a look.

Even if its an edge case, I feel we're not far from having this thing work as expected.

I tried to do the opposite, and have the overflow pop above the actual line.  But unfortunately it gives the same problem but for the item at bottom of the list.

Correct me if I'm wrong, but isnt the overscan prop used to actually render more items than whats required on screen?  If

[2020-01-07 20:32] petyosi commented on #59
What you say sounds right - I will revisit the tests and see if the overscan is actually included in the grouped mode. Flagging it as a bug for now.

[2020-01-08 12:36] Ethorsen commented on #59
Thx

[2020-01-08 14:18] Shadowlauch opened #60 "List not showing enough elements when big differences in height"
This is a bit of a special and maybe even contrived case, at least to the extent I did it, but this could lead to mistakes in more reasonable examples aswell.

Virtuoso doesn't really handle big differences in height very well, when there is a sudden decrease in size.

[code]

Since the first 100 items have a height of 200 Virtuoso assumes that height for all elements to begin with and once you sc

[2020-01-08 20:02] #59 closed

[2020-01-08 20:03] petyosi commented on #59
@Ethorsen I found the culprit. I will look into a few other issues and release an update during the weekend.

[2020-01-09 10:05] petyosi commented on #60
You are correct in your statement - the list assumes the "default" value from the first item rendered (it has to take it from somewhere, and maybe a "defaultItemHeight" property would help).

However, there is a self-repairing mechanism that will append additional items if the assumption is wrong. I took your example and it seems to [work fine here](https://stackblitz.com/edit/react-compvw?file=ex

[2020-01-09 13:07] Shadowlauch commented on #60
To reproduce the error I got you have to scroll fast down to the smaller items and then abruptly stop. That sometimes leads to an empty viewport. It is a bit easier to do with a larger list size: https://stackblitz.com/edit/react-compvw-bkco4s

Once you are in that state the list does not seem to use the recovery mechanism you spoke of anymore.
![2020-01-09-14-04-07](https://user-images.githubuser

[2020-01-09 13:36] petyosi commented on #60
Got it, thanks for the repro steps!

[2020-01-10 07:24] petyosi commented on #60
Confirming that this is a bug, I found a solution but need to test it for possible performance regression. If everything is good, I will release a fix over the weekend.

[2020-01-10 08:35] Shadowlauch commented on #60
@petyosi Thanks for the quick response!

[2020-01-11 08:25] #55 closed

[2020-01-11 08:29] petyosi commented on #54
I can confirm that the maximum element height is the limitation here - there are somewhat complex and unpleasant (from UX perspective) workarounds that can be applied - I will consider this further.

[2020-01-11 08:35] #60 closed

[2020-01-11 08:58] petyosi commented on #60
Published 0.12.4 and [updated the example](https://stackblitz.com/edit/react-compvw-jqanm6?file=package.json) with it. You can see how the shorter items are re-filled with new ones.

A property that can improve the behavior in this case is `defaultItemHeight` - something which I consider.

[2020-01-11 12:47] petyosi commented on #59
Hey @Ethorsen, [updated your example](https://codesandbox.io/s/hopeful-violet-4ktse) to the latest version - it seems to work as expected. Cheers.

[2020-01-11 13:34] petyosi opened #61 "Latest release requires tslib"
Regression from tsdx - https://github.com/jaredpalmer/tsdx/issues/412. Will follow that issue and upgrade accordingly.

[2020-01-11 16:12] petyosi commented on #61
Fixed in bf13793

[2020-01-11 16:12] #61 closed

[2020-01-13 15:30] Ethorsen commented on #59
Yes, working nicely and as expected since 12.6.   Thx a lot

[2020-01-14 21:00] NawarA opened #62 "Feature request: horizontal list"
I'm hacking at the library to get it to display a horizontal list. It seems built only for vertical lists.

Is there any easy way to get it to display the virtualized list horizontally instead of vertically?

[2020-01-15 06:40] petyosi commented on #62
Correct - I haven't implemented horizontal mode. I think that the code for the horizontal list will be exactly the same, but the component has to accept configuration to take scrollLeft / offsetWidth (vs scrollTop / offsetHeight) into account.

All in all, this is a relatively low complexity capability, but it needs tests, docs, etc. If you are interested in contributing, please let me know.

[2020-01-21 12:18] josephstgh opened #63 "Changelog"
Hi,

Is there a changelog for react-virtuoso?

Thanks

[2020-01-21 12:41] petyosi commented on #63
Hey,

I am documenting the major points for each release in the GH releases UI: https://github.com/petyosi/react-virtuoso/releases

Let me know if you are looking for something in particular.

[2020-01-21 13:01] josephstgh commented on #63
Would appreciate it to have changelog for every single release.

In the release page, only certain releases was updated with the changelog.

For example, `v0.12.1` to `v0.12.6` wasn't documented. Hence, I am not sure what changes there are, and if I can safety upgrade in my project.

[2020-01-21 14:36] petyosi commented on #63
Thank you for the feedback - it is a valid one. Even though I am in a pre-release cycle, I am sticking to semantic versioning, so patch releases like v0.12.1 don't contain new features (let alone breaking changes) - it is just bug fixes or dependency bumps to fix security reports from Github. I do agree that people would benefit from knowing what those bug fixes are.

[2020-01-21 15:58] josephstgh commented on #63
It would really help us (and others), knowing what exactly are the issue fixed. While using the library, we may come across certain issue/limitation/bug that could get fixed in any minor or patch release. Hence, with the changelog for every release (no matter the type), is important to us.

We are switching out from react-window, ag-grid to this, and so far, it seem really promising. Keep the good

[2020-01-21 16:06] josephstgh commented on #42
Hi @petyosi, wondering if this feature has any update?

[2020-01-21 18:47] petyosi commented on #42
@mcabs3 @josephstgh I have a working virtualized table - not public yet, since I am struggling to find the "MVP" state which would make it usable.

If you are interested in having a conversation around it, please reach out to my GH email address. Cheers!

[2020-01-22 19:32] Ethorsen opened #64 "Question: Is it possible to scrollToIndex with a transition?"
Something like domEl.scrollIntoView();

ex.
elmnt.scrollIntoView({block: 'start', behavior: 'smooth'});

https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView

Thx

[2020-01-23 06:25] petyosi commented on #64
Yes, It is implemented but not released yet, I will publish a version in a week or two. There is a caveat though - if the item is far from its expected location, the list will “double jump”. I will update the issue once the release is out.

[2020-01-23 07:30] petyosi commented on #64
Now that I gave the caveat above a thought, this could be avoidable.

[2020-01-23 12:54] Ethorsen commented on #64
Very nice.  Let me know if you need any help with this matter, even if only for testing.

[2020-01-23 15:14] Ethorsen opened #65 "Question: Expose reportScrollTop or scrollTop in some way"
Hi again,

For my use-case,  I'm trying to have a 'back to top' button appear only when user scroll passed a certain limit in the list (most probably 2 x viewportHeight)

My first solution attempt was to position myself in the  scrollingStateChange callback. And when the user stops scrolling, verify the scroller scrollTop and manage the button then. This method has some problems.

1- I have to dec

[2020-01-23 15:42] niparx opened #66 "SSR is not working in case of GroupedVirtuoso"
### When I use `Virtuoso` container, everything is working as expected
1. `initialItemCount` is not defined:
[code]

Result (no items are populated):
[code]

2. `initialItemCount` is defined:
[code]

Result (one item is populated):
[code]

### Meanwhile, I can not do the same with `GroupedVirtuoso`
1. `initialItemCount` is not defined:
[code]

Result (no items are populated):
[code]

2. `initialIt

[2020-01-23 16:48] Ethorsen commented on #65
Came up with that solution, I'm getting the scroller based on its className.  This works without the need of the customer scroll component.

Still not the best solution IMO, but it does work well enough for now.

[code]

[2020-01-23 19:10] petyosi commented on #66
You are doing nothing wrong - just a missing feature. I never really got to that. I am currently working actively on the code base, so I hope I will be able to get to that.

[2020-01-23 19:12] petyosi commented on #65
This is not the first time this is requested. It's fairly trivial to expose a callback for that. I will try to get to that in the upcoming weeks.

Cheers,

[2020-01-23 19:15] Ethorsen commented on #65
Amazing.

I did commit my code for now and will create another task to revisit these once available in upcoming releases.

Thx again

[2020-01-24 02:13] #63 closed

[2020-01-24 02:36] josephstgh commented on #42
We are currently at r&d stage, so many things are not well-defined yet.

One key thing, is that we will need to integrate with lib like [react-table](https://github.com/tannerlinsley/react-table). Using `react-table` for its table features (sorting, filtering and what not), and then maybe try to use `react-virtuoso` to load its content.

Like I said, we haven't really done anything concrete yet.

[2020-01-24 16:43] toonvd commented on #42
This is a bit rough around the edges but I will leave it here.

https://codesandbox.io/s/muivirtuoso-w5lmq

[2020-01-24 22:57] toonvd commented on #42
@petyosi @josephstgh react-table already has an example for virtualized rows with react-window, it is a very small step from there to an example for this lib. Just mentioning to avoid wasting time on this.

[2020-01-25 04:50] josephstgh commented on #42
Yup, I did saw that. Thanks.

Will be trying out and see if it works together.

[2020-01-30 21:42] toonvd opened #67 "Container height autosizing"
Hi

In my example at https://codesandbox.io/s/muivirtuoso-w5lmq.
Autosizing is working correctly in Chrome and IE but not in firefox.

Using an auto resize lib fixes this issue, but having this dependency is not ideal.
Do you have any pointers by any chance?

[2020-01-31 09:43] toonvd commented on #67
Hi @petyosi

Managed to fix it by forcing the table itself as a flexbox with a flexDirection: 'column'.
If you want, I can clean this up and make a pullrequest for your demo.

[2020-01-31 11:00] petyosi commented on #67
Reopening this to check it shortly, thanks @toonvd

[2020-01-31 11:01] toonvd commented on #67
Hi

Great, FYI, this was not a problem with react-virtuoso but more of a styling issue on my side.

[2020-01-31 14:29] iJimmyWei commented on #44
For anyone looking at this issue when building a "chat" system, one way to get around this is to apply a transformation on the Virtuoso style prop, i.e `<Virtuoso style={{rotate(180deg) scaleX(-1)}}>` and then apply the same transformation but on the `ItemContainer` too (so the item is reversed back to be readable again).

The scrollbar itself naturally reverses too (works on mac, chrome and firef

[2020-01-31 15:22] petyosi commented on #44
@iJimmyWei Thanks for sharing that! I am working on this feature right now (with a timeline / chat UI in mind), should be available in the upcoming weeks.

[2020-02-01 09:30] nicgutierrez commented on #44
Thanks both @iJimmyWei and @petyosi!

@petyosi do you want to keep this open until the release? Otherwise, feel free to close.

Thanks again,
Nic

[2020-02-02 09:08] petyosi commented on #44
@nicgutierrez Yes, I will keep this open to notify you on when it is ready, as I will appreciate feedback on the behavior.

[2020-02-06 09:24] gregoryforel opened #68 "Use with react-beautiful-dnd"
Hi @petyosi !
Great work on the library, especially the simple auto-calculation of the rows.
I am trying to implement it with `react-beautiful-dnd`. I haven't been able to so far, do you see any reason why it couldn't be implemented?
Here's a [codesandbox](https://codesandbox.io/s/react-virtuoso-tx7r4). If you help me maybe, we could also add this as a showcase in your examples?
Thanks in advance!

[2020-02-06 15:20] petyosi commented on #68
I am not sure what's the intended behavior - the sandbox throws a few errors which might be caused by the dnd implementation. Can you re-create what you are trying to achieve with a plain list? That should help me understand the cause.

[2020-02-06 15:53] gregoryforel commented on #68
Sure! I've updated the [example](https://codesandbox.io/s/react-virtuoso-tx7r4)

[2020-02-07 11:41] petyosi commented on #68
I looked at a few examples with react-window, and I think that the code should look something like this:

https://codesandbox.io/s/react-virtuoso-41mz8
(you need to pass the ref to the scroll container)
However, this setup causes React to throw errors I have not seen before :(.

Perhaps the react-beautiful-dnd team can help or at least suggest what's wrong. If you decide to bring this issue to the

[2020-02-07 12:42] gregoryforel commented on #68
Will do. Thank you very much for taking the time to look into it!

On Fri, 7 Feb 2020 at 12:41, Petyo Ivanov <notifications@github.com> wrote:

[2020-02-11 14:18] petyosi commented on #65
Hi @Ethorsen ,

The new release exposed a `rangeChanged` callback. You can use that to display the button if the list range startIndex is higher than a certain value. Let me know if this works for you. Check [this example](https://virtuoso.dev/range-change-callback/).

Thanks!

[2020-02-11 14:21] petyosi commented on #47
@NerdCowboy @gthdie the latest release includes the `initialTopMostItemIndex` - [see example](https://virtuoso.dev/initial-index/). @NerdCowboy - let me know if this works for your case so that I can bring this to the grouped component.

I think that scrolling to a certain index is what people will need (rather than passing the location directly). I might be wrong though - let me know your thought

[2020-02-11 15:11] NerdCowboy commented on #47
@petyosi it appears that should solve my use case. Thanks!

[2020-02-12 15:23] zsee commented on #40
Hi!
Good job on react-virtuoso! It seems like a nice library 👍

I tried to achieve something similar to WindowScroller. It seems to be doable with these things / workarounds:
- Custom scroll container which reports and sets the window's scroll position +- `offsetTop` of the scroll container.
- Detection of position changes for the list. (eg. an element above disappears). Not sure how to this corre

[2020-02-12 15:45] toonvd opened #69 "No scrolling in Firefox on a total count of 241834"
Hi

I used the demo on https://virtuoso.dev/hello/ in Firefox.
When I changed the total count to 241834 (in the StackBlitz), the scrollbar went bigger and the max item I could reach was 11. This was the case for all counts higher than that number.

This is not the case in Chrome and other browsers (Safari, Edge). When I set the count to 241833 the problem is fixed. I tested this on my own environm

[2020-02-12 18:49] ysael commented on #44
Hi from 🇨🇦 and great work @petyosi I was wondering if its possible to do like @iJimmyWei is proposing but avoid that part -->  `The scrollbar itself naturally reverses too` thanks in advance and hopefully we can start leveraging the lib in our current project 👍

[2020-02-13 06:18] petyosi commented on #44
@ysael @nicgutierrez - v 0.13.1 includes the necessary configuration: https://virtuoso.dev/initial-index/

Check the rest of the new items from the navigation, they might be relevant for your cases. Cheers!

[2020-02-13 06:18] #44 closed

[2020-02-13 06:21] petyosi commented on #69
@toonvd are you interested in a contribution? My guess is that the filler height hits some kind of a browser maximum. A workaround I have seen in the past is chunking such elements into multiple smaller ones (say - 10 divs with 1m px height rather than a single one). You can give this a try by [modifying the filler code](https://github.com/petyosi/react-virtuoso/blob/master/src/VirtuosoFiller.tsx)

[2020-02-13 08:52] toonvd commented on #69
Hi @petyosi

Thank you for the pointer!
Will take a look at it tonight as I need it for a datatable with +- 2 million items.

[2020-02-13 09:09] petyosi commented on #69
With those numbers, you might hit another limitation: the maximum scrollHeight of an element.

Take a look [at this sandbox](https://codesandbox.io/s/snowy-rain-j37r0) for what I mean.

In Chrome, you get this:
![image](https://user-images.githubusercontent.com/13347/74418238-c05ea600-4e50-11ea-9292-0408f465569c.png)

In Firefox, you will get this:
![image](https://user-images.githubusercontent.co

[2020-02-14 12:40] tschortsch opened #70 "Scrolling issue on iOS"
I have a list which fills the whole viewport of the browser. When I scroll down the list on an iOS device and then back up to the top of the list and keep on scrolling, the list content starts jumping / flickering. It seems to be an issue related to the rubber band effect on iOS devices. Here's a basic example of the described issue:
https://codesandbox.io/s/react-virtuoso-scrolling-issue-rzife (U

[2020-02-15 10:50] petyosi commented on #47
@NerdCowboy  - It works in Grouped Virtuoso as well: check [this example](https://stackblitz.com/edit/react-yisxcs?file=example.js).

[2020-02-15 10:54] petyosi commented on #70
@tschortsch Fixed in v0.13.2 - give it a try.

[2020-02-15 10:55] tschortsch commented on #70
Wow that was fast! I’ll try it out, thanks a lot.

[2020-02-17 09:53] Alexzzz91 commented on #66
HI, i want add SSR feature, if you have recommendations? please say me =)

[2020-02-17 09:58] mdegrees opened #71 "Is it possible to prepend custom elements to the list?"
It would be helpful to add a search bar for example, similarly to what twitter does for messages search:
<img width="379" alt="Screen Shot 2020-02-17 at 10 39 21" src="https://user-images.githubusercontent.com/3754709/74641631-eb5b3980-5171-11ea-9d8c-31dcc502b5f7.png">

In reactWindow I used to do it this way:

1) Add a paddingTop to the list
[code]

2) Then, using the list container renderer, I p

[2020-02-17 11:10] petyosi commented on #71
I am considering an optional header component, in the same way as the footer. Meanwhile, you can easily do something like this (which is not very elegant, but works:): https://stackblitz.com/edit/react-y6fim2?file=example.js

Let me know what you think about it.

[2020-02-17 13:48] mdegrees commented on #71
Thanks for the quick reply. It works but with some caveats: appending the element as a list item makes it subject to virtualization so you end losing its state and you can't have it behave as a sticky item.

[2020-02-17 15:16] petyosi commented on #71
You can pin it with the `topItems` attribute: https://stackblitz.com/edit/react-y6fim2-54opt7?file=example.js

[2020-02-17 22:52] toonvd commented on #69
Hi

Sorry for the delay, I am working on it but have hit some issues as I am not that familiar with typescript. I was under the impression since the height prop had type: number I could do calculations on it but this is not the case. Better do some more reading on TS and FP :P

[2020-02-18 00:06] toonvd commented on #69
Hi @petyosi chunking did not seem to have the desired effect (atleast not in the playground).

A simple change into:

[code]

Still has a pretty low hard limit.

[2020-02-18 07:54] petyosi commented on #69
Did you try to override it from the outside? If so, it won't work, because the filler is not overridable. Can you share what you did?

[2020-02-18 08:54] mdegrees commented on #71
Awesome! I was not planning to have search as a sticky item (similarly to Twitter messages search) but I'll do it for now waiting for the custom header option. Thank you!

[2020-02-18 11:38] toonvd commented on #69
Hi

I changed it in the file directly and tested it in the playground. I inspected the element and there were indeed multiple divs instead of 1.

[2020-02-18 12:03] petyosi commented on #69
What was the limit you hit? Can it be related to the other problem (maximum scrollHeight) I referred to?

[2020-02-18 14:47] tschortsch opened #72 "Scrolling issue in GroupedVirtuoso with defined GroupContainer property (iOS)"
Related to this issue #70 there still seem to be a scrolling issue in the `GroupedVirtuoso` component. When there is a custom `GroupContainer` defined and a function which changes the state of the component (like `scrollingStateChange`) there is a scroll jump happening when reached the top of the list. See this example implementation: https://codesandbox.io/s/groupedvirtuoso-scrolling-issue-04l0y

[2020-02-19 20:11] toonvd commented on #69
Hi

It seems I have indeed hit that limit on the wrapper div.
I am trying to come up with a solution. I see that there are other libs that do not have said limitation, maybe I could take a look at their implementation for some ideas.

[2020-02-20 10:01] tschortsch commented on #70
Sorry to bother you again. But I just found out that the same issue appears when you reach the bottom of the list. See https://vimeo.com/392666471 or again this example https://codesandbox.io/s/react-virtuoso-scrolling-issue-rzife (with react-virtuoso 0.13.2).

[2020-02-20 11:20] petyosi commented on #70
@tschortsch Agh, I need to boundary the scrollTop reporting properly :(.

Will check both issues over the weekend. Thanks for your cooperation.

[2020-02-23 17:13] petyosi commented on #70
Hey, check v0.13.3 - it fixed the problem in my tests.

[2020-02-23 17:13] #70 closed

[2020-02-23 17:14] petyosi commented on #72
Hey @tschortsch, check v0.13.3 - it fixed the problem in my tests.

[2020-02-23 17:57] tschortsch commented on #70
You're awesome. Thanks a lot!

[2020-02-25 07:41] tschortsch commented on #72
The fix works great, but I just found out there there also seem to be a little issue at the bottom of the `GroupedVirtuoso` list (sorry for not noticing earlier 😓). I again reproduced it in this example: https://codesandbox.io/s/groupedvirtuoso-scrolling-issue-04l0y / https://04l0y.csb.app/ (mobile view to reproduce the bug on an iOS device)

Screen record: https://vimeo.com/393618810

Setup:
* re

[2020-02-26 03:47] thecynicalpaul opened #73 "Disable stickiness on the group elements"
Not sure if this is the right place to ask, but is there an intuitive way to disable the sticky positioning of the groups? I've looked through code and wasn't able to find any leads unfortunately. My current hacky solution is to have a `useEffect` hook that waits for my custom group component to render, then immediately resets its parent's class name. It does have a bit of initial delay though, so

[2020-02-26 04:06] thecynicalpaul commented on #73
Ah, never mind - just realized that there is a `GroupContainer` prop; overriding that and setting a different classname does the trick.

[code]

[2020-02-26 04:06] #73 closed

[2020-02-27 10:56] alexdrimbe opened #74 "React v16.13.0: Warnings for some updates during render"
I use GroupedVirtuoso in React v16.13.0 and I get this warning:
Warning: Cannot update a component from inside the function body of a different component.

[2020-02-27 11:22] petyosi commented on #74
As far as I can see, there is no such error in this example: https://virtuoso.dev/grouped-numbers/

Can you reproduce so I can take a look?

[2020-02-27 11:39] alexdrimbe commented on #74
Take a look at this example: https://stackblitz.com/run?file=example.js

[2020-02-27 12:06] petyosi commented on #74
The URL from above is not saved and takes me to Stackblitz homepage. You used the button from there, you need to fork it afterwards.

[2020-02-27 12:19] alexdrimbe commented on #74
Take a look at this example: https://virtuoso.dev/grouped-with-load-on-demand/ in StackBlitz.

[2020-02-28 07:22] nuintun commented on #74
Same

![企业微信截图_20200227162119](https://user-images.githubusercontent.com/1730277/75519404-17ae6a00-5a3e-11ea-8ce7-842b663ea662.png)

[2020-02-28 07:29] nuintun commented on #65
@Ethorsen Same request ~ 3Q

[2020-02-28 12:09] petyosi commented on #74
Yes, confirming that. I will look into it as soon as possible.

[2020-02-28 12:10] petyosi commented on #65
@nuintun - did you check the callback I exposed? If it does not work for you, let me know your use case.

[2020-02-28 13:26] pedroalves0 opened #75 "Scrolling down will jump to previous scroll to index"
After the `scrollToIndex` method is used to set the list visible start item, scrolling down a certain amount will jump to the last scrolled to index. This is apparently due to the list height changing by the rendering of a new item when scrolling down.

The behavior can be observed even in `react-virtuoso`'s examples - https://virtuoso.dev/scroll-to-index/ - notice how scroll will jump back to ite

[2020-02-28 14:06] petyosi commented on #75
Thank you for the report, I think this is a regression I introduced (had similar problem at some point). Will look into it.

[2020-02-28 16:02] petyosi commented on #75
I will test this further before releasing the new version.

[2020-02-28 16:03] petyosi commented on #74
I found a workaround which I am not happy with. I will think a bit over other potential means to deal with the problem.

[2020-02-29 07:24] nuintun commented on #65
I write a component use pull refresh and virtuoso, when I drag down ,pull refresh will be triggered anywhere, but I just need to trigger pull refresh when scrolltop is 0!

see:

[code]

[2020-02-29 07:31] nuintun opened #76 "Pass rest props to ScrollContainer?"
Now rest props will not be passed to the ScrollController, but sometimes we need to get rest props in the ScrollContainer!

[2020-02-29 08:29] petyosi commented on #65
@nuintun - You can use custom scroll container for that purpose - you can consume the scrollTop property as you wish. Check this demo:
https://virtuoso.dev/custom-scroll-container/

[2020-02-29 08:30] petyosi commented on #76
@nuintun If I understand you correctly, you can use custom scroll container for that purpose:
https://virtuoso.dev/custom-scroll-container/

[2020-02-29 08:30] #76 closed

[2020-02-29 11:21] nuintun commented on #76
@petyosi See:
[code]

[2020-02-29 11:27] nuintun commented on #65
@petyosi My first attempt was this method, but I can get rest props in ScrollContainer, see #76

[2020-02-29 11:56] petyosi commented on #76
You don't have to pass `onScroll` through the Virtuoso component props; you can compose it [like this](https://stackblitz.com/edit/react-5vz9nl?file=example.js), for example.

[2020-02-29 13:01] nuintun commented on #76
@petyosi  LGTM, 3Q~

[2020-02-29 16:38] #74 closed

[2020-02-29 16:38] #65 closed

[2020-02-29 16:38] petyosi commented on #65
#76 has a solution.

[2020-02-29 17:42] #75 closed

[2020-03-01 05:34] nuintun commented on #76
@petyosi

I tried your idea, but there were some bugs: [Custom Scroll Container](https://stackblitz.com/edit/react-virtuoso?file=example.js), F12 and see console.

Scroll Container will be destroyed after update!

[2020-03-01 10:27] petyosi commented on #76
You can use `useCallback` [like this](https://stackblitz.com/edit/react-virtuoso-i5qbqr?file=example.js). useMemo will probably work as well.

[2020-03-01 10:42] petyosi commented on #72
The behavior is improved in v0.13.5 - check [this sandbox fork](https://codesandbox.io/s/groupedvirtuoso-scrolling-issue-twwc0). It is not perfect; if you pull at the bottom and keep it pulled for a while, you will see a blink (because of the isScrolling state change).

Detecting this is going to be quite messy TBH, because you have to detect touch events and so on.

[2020-03-01 10:42] #72 closed

[2020-03-01 11:58] nuintun commented on #76
@petyosi

I've tried before, but if useMemo, `MyScrollContainer` will not be able to receive new props!

See: [Custom Scroll Container](https://stackblitz.com/edit/react-virtuoso?file=example.js).

[2020-03-01 15:45] petyosi commented on #76
To be honest, I am getting lost in this example. If you feel like you can achieve your requirements by passing additional properties to the ScrollContainer, I suggest that you fork the project for now, implementation of that should be fairly easy.

[2020-03-02 09:38] pedroalves0 commented on #75
Thanks for looking into it @petyosi . I've tested your fix and I no longer experience the scroll to last index issue 👌

That said, I found a new issue, when jumping to an index and scrolling up it there will be a lot of jitteriness, I guess because new items are being measured and rendered on top, so the current top item gets pushed down a bit. Higher overscan values seem to alleviate this issue,

[2020-03-02 16:43] petyosi commented on #75
@pedroalves0 This is a problem which I don't know how to address - yet. Let me explain (using the example page).

When jumping to the 500th item, the heights of the items above are unknown, so the component assumes the default value (the 1st item height or `defaultItemHeight`). As you scroll up, the top of the list is changed and the skipped items are inserted, with the assumption that their heigh

[2020-03-10 13:31] ysael opened #78 "rangeChanged not being called in GroupedVirtuoso.tsx"
Hi,

it seems that the CB for the rangeChanged is not working the Grouped version.

I also see that it seems to be missing here ->
https://github.com/petyosi/react-virtuoso/blob/2c098fdeb8620d641103e7f315d292b65e75a859/src/GroupedVirtuoso.tsx#L31

I could help with the pr :)

thanks again for the great work!

[2020-03-10 13:56] petyosi commented on #78
Thank you for your offer! PR is more than welcome.

[2020-03-10 13:58] lbenie opened #80 "Inverted scrolling"
Creating this ticket to match the PR.

I would like to be able to call the `endReached` callback when I scroll `top`, meaning the callback should be fired when I get the `index` 0.

[2020-03-10 14:50] ysael commented on #78
PR on its way then :) quick question, how do we run the `Playground` ?

thanks

[2020-03-10 16:11] petyosi commented on #78
yeah, I need to put this in the README.

`npx parcel playground/index.html` or whichever .html file you wish to test.

[2020-03-10 16:36] ysael commented on #78
pr un-drafted and it seem to fix the issue :)

[2020-03-11 07:42] petyosi commented on #78
Looks good to me, I will get to that later in the week and merge it with the other open one.

[2020-03-11 23:33] #78 closed

[2020-03-11 23:33] ysael commented on #78
fixed thanks!!

[2020-03-14 21:59] andrewfluck commented on #71
I was thinking about doing this, but it doesnt seem like groups have support for it

I'm going for this kind of look. only the inbox toolbar should stick.
<img width="323" alt="Screen Shot 2020-03-14 at 5 58 32 PM" src="https://user-images.githubusercontent.com/8619094/76691097-71598b80-661d-11ea-88fe-904a0150f7cd.png">

[2020-03-16 15:21] niparx opened #83 "GroupedVirtuoso is crashing when trying to rerender component"
We have component, which uses `GroupedVirtuoso`. Some state of our component is changed, which leads to call of `render()` function. As a result we have exception in `GroupedVirtuoso`:
`Requested offset outside of the known ones, index: 0`

I am 110% sure, that data, which is passed to `GroupedVirtuoso` component is correct.
In fact, i was able to reproduce issue with an example from `Virtuoso` of

[2020-03-16 15:32] petyosi commented on #83
This is a head-scratcher. So far, I have attributed this to StackBlitz hot reload mechanism. Will look into it, but if you can give me an easier way to reproduce it, it would help a lot.

Cheers,

[2020-03-16 17:00] niparx commented on #83
@petyosi ok, I'll try to provide normal example later today or tomorrow

[2020-03-16 23:25] PauliusLiekis commented on #83
Just a quick update: I tried reproducing the issue in the clone of react-virtuoso repository with no luck. It doesn't seem to like empty list passed to it, but that seems to be a separate story.

On our side we're able to reproduce the issue by simply rendering `GroupedVirtuoso` with param `groupCounts={[100]}` and then hiding and showing it. It seems to be some sort of react-caching / one-frame-d

[2020-03-17 11:38] PauliusLiekis commented on #83
@petyosi I found a clear way to reproduce the issue:
[grouped-error.tsx.txt](https://github.com/petyosi/react-virtuoso/files/4343184/grouped-error.tsx.txt)

Just keep pressing "Show/Hide" button until the list disappears from the screen and it says "Hidden" instead. You should see the exception in the console at that point.

Ignore the fact that sizes of items keep changing randomly - we're not do

[2020-03-17 12:06] petyosi commented on #83
Thanks, I will repro the problem and release a fix - it should not be something to fix on your side.

[2020-03-17 14:34] PauliusLiekis commented on #83
Could you tell us when you're planning to make the release?
I know you have no obligations whatsoever, but we just need to know how to proceed with our own release which is blocked by this issue.
Thanks again for looking into this.

[2020-03-17 15:19] petyosi commented on #83
I will look into it this evening, and if something easy, I might release a fix for tomorrow. If not, I will have to examine it over the weekend.

[2020-03-17 18:29] #83 closed

[2020-03-17 18:34] petyosi commented on #83
I found one possible cause - can you test v0.14.1?

[2020-03-17 21:18] PauliusLiekis commented on #83
I seem to be unable to reproduce the issue. I'll give the build to QA in the morning to make sure it's solid. Thanks again!

[2020-03-18 16:37] PauliusLiekis commented on #83
It seems to be fine now. Amazing!

[2020-03-22 07:40] haiquangtran opened #85 "Question: Is it possible to set a variable height?"
Is there a way to set a variable height on the Virtuoso List?

I have a screen with multiple cards. My use case is that some of my cards have Collapse components (in Material UI) to it which have a slightly larger height, while others do not have collapse components. When I let Virtuoso list set the height for me, it has some unwanted behavior when expanding my card where the child offsetHeight ca

[2020-03-22 17:59] petyosi commented on #85
The whole point of the component is not to deal with height settings. Can you replicate the problem you describe? I would like to understand what's happening better. You can use the "edit in stackblitz" button from [the site](https://virtuoso.dev/hello/).

[2020-03-22 22:22] haiquangtran commented on #85
Please see the following example: https://stackblitz.com/edit/react-rnfywu?file=example.js.

You can replicate my issue by scrolling down then all the way to the top, then pressing the "Test" button.

[2020-03-23 17:35] petyosi commented on #85
@haiquangtran - thanks, this seems like a bug I have introduced recently to compensations for scrolling up. I need to investigate this further.

[2020-03-23 19:12] davidterins opened #86 "Large array support - totalItemCount 2000000"
Hi,

Im currently using react-virtualized for a project where I have over 2 million items to display, however managing dynamic row-height and positions of elements can sometimes be a bit off.

So I though react-virtuoso seemed like an interesting alternative. When doing so I quickly ran in to the problem that react-virtuoso will not work for much more than 226710 items when trying it out at https:

[2020-03-24 06:42] petyosi commented on #86
Hey,

@toonvd was interested in contributing this, but I am not sure if he got to it. I may check and do this in the upcoming confinement days.

[2020-03-24 07:38] toonvd commented on #86
Hi

I started it but haven't gotten a chance to finish since I moved to other projects at work.
I finished reading your articles and have taken the first steps to determine the max height for the current browser. I first went for the UserAgent but as some people manipulate that, I don't think that would be a good way to go. Unless we could determine a fallback (bare minimum). Maybe we should just

[2020-03-24 08:14] petyosi commented on #86
@toonvd - I am totally fine with a less sophisticated max height detection, including window.chrome as a feature detection. This can be improved later.

[2020-03-25 10:25] iJimmyWei opened #87 "Render item out of sync when totalCount gets updated"
Hi,

**Problem**
When the `totalCount` prop gets changed, it seems like the item render is always one step behind before it catches up with the actual index count.

For instance, if I add an item onto my list of 5 items, `totalCount` gets immediately changed to 6, however the items that are rendered by Virtuoso still render up to the 5th item (i.e index of 4).

The next render afterwards will catc

[2020-03-26 16:15] mrdivyansh opened #88 "Property `item` of Virtuoso doesn't get called"
Property `item` of Virtuoso doesn't get called further if the first iteration returns null/undefined/<div />.

I am not sure whether it's a feature or bug. However, it sounds like a bug to me.

[Demo](https://stackblitz.com/edit/react-kn82nn?file=example.js)

[2020-03-27 07:37] petyosi commented on #88
@mrdivyansh This won't work for multiple reasons (see #35 ) - if you have empty items, you should filter them before passing to the component.

[2020-03-27 07:37] #88 closed

[2020-03-28 15:42] #85 closed

[2020-03-28 15:42] #86 closed

[2020-03-28 15:42] #87 closed

[2020-03-28 15:42] #69 closed

[2020-03-28 16:16] #80 closed

[2020-03-28 16:17] petyosi commented on #54
This should work with v0.15.0

[2020-03-28 16:17] #54 closed

[2020-03-28 20:12] #47 closed

[2020-04-07 04:29] dilizarov opened #89 "Is it possible to pre-compute all row heights?"
I'm trying to build a chat app, but the size of messages could vary wildly. The chat starts from the bottom (so I want to use `initialTopMostItemIndex={messages.length - 1}`.

The problem is that because you can have large differences message heights, when you scroll up it is very janky.

This is only a problem because obviously the height of each row has not been computed, so it is computing them

[2020-04-07 12:08] toonvd opened #90 "RenderItem not triggering when totalCount is not changing but data is"
Hi

When having new data but the same totalCount, item generation is not triggering.
Is there a way to force the trigger?

If you open up the console https://stackblitz.com/edit/react-vrcu3a?file=example.js you can see the problem.

[2020-04-07 12:35] toonvd commented on #90
Hi

This can also be fixed by using computeItemKey, the problem is mainly the keys not changing.

[2020-04-08 06:10] petyosi commented on #89
@dilizarov I have explored the scenario you describe - the jank is there indeed, and I have not found a proper way to fix it. Pre-computing all heights is not an option - you have to render everything. And the same operation should be performed if the list width changes (for example due to browser resize, content change, device rotation).

A creative way I have seen for apps to get around that pro

[2020-04-08 06:12] petyosi commented on #90
Another way to fix this (and an easy one) would be to introduce a new property called data-key - changing its value to something like `Symbol()` can be used to re-render the list.

[2020-04-08 08:44] toonvd commented on #87
Hi

This is still an issue when totalcount goes over 14:

https://stackblitz.com/edit/react-vgunct-yqp9hg

[2020-04-13 07:34] lesha1201 opened #91 "initialTopMostItemIndex doesn't work properly in Chrome"
When I try to use `initialTopMostItemIndex`, the list doesn't render any items. I tried to open an example from official page. It works on https://virtuoso.dev/initial-index/ but it doesn't work when I open in StackBlitz. I decided to download and try to build it but it didn't work neither. Also I tried it in playground and it didn't work there too. But for some reason it works in Firefox.

![reac

[2020-04-13 08:11] lesha1201 opened #92 "When can we change scroll position manually?"
I need to restore scroll position manually by setting `scrollTop` to scroll container element. But everything I tried has effect of seeing first element and then jumps to certain position. Also it looks like there is code that runs asynchronously in Virtuoso so sometimes scroll doesn't restore and I don't know when I should modify `scrollTop`

Example of what I'm trying to do:
https://stackblitz.c

[2020-04-13 09:11] petyosi commented on #92
Hey,

you can use the [initial index](https://virtuoso.dev/initial-index/) property to restore the scroll state.

[2020-04-13 09:14] petyosi commented on #91
I just [forked the example from the page in StackBlitz](https://stackblitz.com/edit/react-l1eibb?file=example.js) and it works fine for me. Can you elaborate on any additional steps?

[2020-04-13 09:44] lesha1201 commented on #91
@petyosi It happens for me without any additional steps. I thought that it can happen only for me but I also tried on mobile and it behaves the same. I just tried on mobile again and noticed that if I reload https://virtuoso.dev/initial-index/ sometimes the list disappears even there. Can you try https://virtuoso.dev/initial-index/ to open it on mobile (Chrome), scroll to bottom to see an example

[2020-04-13 09:47] lesha1201 commented on #92
@petyosi `initial index` doesn't fit for my case because I need to restore scroll in exact place where user stopped scrolling. For example if user stopped between two elements I need to restore scroll to be also between two elements

[2020-04-13 10:04] petyosi commented on #92
I see. This is not supported currently, although it can piggyback the implementation of the initial index. I am not sure how reliably that would work with different screen sizing for example - something to have in mind in such case.

If you are interested in exposing such property, I can help with directions on a PR.

[2020-04-13 10:15] lesha1201 commented on #92
I'll look into code and think about API. After that I'll write my ideas if I have free time. But this is probably going to be on weekends. Thanks anyway

Can you please point me to the code where initial index logic calls `scrollTo` or setting scroll position manually on a scroll element?

[2020-04-13 10:35] lesha1201 commented on #91
Verified the same behavior on another device. It happens periodically
Video: https://www.dropbox.com/s/4foqhy0hu9sqttb/2020-04-13%2013-29-43.mkv?dl=0

[2020-04-13 11:52] petyosi commented on #91
This looks like a rendering glitch - the scrollbar is there, but the items are not visible. Can you inspect the elements? Also, What's this - Chrome OS or Linux?

[2020-04-13 12:04] lesha1201 commented on #91
@petyosi There is no elements. If I use footer then there is only the footer. It happens on Windows 10 (first video), Android, Linux (second video) in Chrome

[2020-04-13 12:36] lesha1201 commented on #91
I tried to log `items` in `VirtuosoList` and here is the result:

![image](https://user-images.githubusercontent.com/10157660/79120791-6e78c480-7d9c-11ea-922a-dafc3c650741.png)

This is how it looks without `initialTopMostItemIndex`:

![image](https://user-images.githubusercontent.com/10157660/79120850-949e6480-7d9c-11ea-98c3-59da7bc476fc.png)

[2020-04-13 13:40] petyosi commented on #91
I fully trust you, but I need to reproduce this on my side to figure out what's wrong.  Never seen such thing during the dev (and I refreshed the demo 20 times at least). It could be a difference in the sequence of DOM elements reported.

Will fire up a Windows VM and see if it will break there.

[2020-04-13 15:32] lesha1201 opened #93 "computeItemKey has invalid typing"
Currently `computeItemKey` expects number as returned type but React allows `key` to be string as well. Is it done for some reason or it should accept string as well?

Current type for `computeItemKey`

[code]

React type for `key`

[code]

[2020-04-13 16:42] petyosi commented on #93
This looks more like a mistake on my side (or the contributor) - PR welcome!

[2020-04-14 04:36] #93 closed

[2020-04-14 13:49] psirenny commented on #91
I've run into this issue as well when there is no scroll bar because the list is small. I'm not sure if it's related. I've had success by omitting the prop for small lists.

[2020-04-14 16:23] petyosi commented on #91
Does not seem related, you can post a repro in a separate issue. Thanks!

[2020-04-15 07:49] aakashnand opened #96 "[Question/Bug] CSS Transition animation not working with VirtuosoGrid"
### Problem
I am trying to use VirtuosoGrid to render a large grid using a material-ui library similar to the demo example from documentation [page](https://virtuoso.dev/grid-responsive-columns/). I want to expand the Paper component width on click of a button using CSS transitions but it is not working with VirtuosoGrid component however it works fine if the item is not rendered using VirtuosoGri

[2020-04-15 07:56] toonvd opened #97 "Issues when filtering a source (array of objects)"
Hi

I might be approaching this incorrectly, but I am attempting to filter list items based on a condition.
When the amount of data gets smaller, the lib tries to render too much (more keys than the totalcount).

Is my approach here wrong?
https://stackblitz.com/edit/react-mjiema

[2020-04-15 08:07] toonvd commented on #97
Update:

The issue does not exist in v0.12.6.
This might be related to #87

[2020-04-15 09:21] petyosi commented on #97
Looks like a bug to me. I will leave a modified version [of the example](https://stackblitz.com/edit/react-mjiema-5mhnbp?file=example.js) here for further examination.

[2020-04-15 09:22] toonvd commented on #97
Hi, yes, I have started debugging in listEngine since it gives back an empty array after filtering.

[2020-04-15 09:28] petyosi commented on #96
No idea on this. As far as I can see in the inspector, the elements are blinking, which probably suggests that rather than toggling a class, the code replaces the element, which won't cause a transition.

Feel free to investigate this further - I am open to PRs. The code of the grid is tiny and simple compared to the list one.

[2020-04-15 12:47] aakashnand commented on #96
@petyosi  I think I got the root cause, the div in VirtuosoGrid component is getting rerendered and that is why classes are not getting toggled. Could you please give me some pointers on how can I control this rerendering in the VirtuosoGrid component? I saw the code but it was difficult for me to get started.

[2020-04-16 05:52] petyosi commented on #96
React dev tools gives good information on why certain component got re-rendered. I will check on the problem myself in the upcoming days, perhaps the solution is trivial.

[2020-04-16 06:41] toonvd commented on #97
Reminder for myself to narrow it down: broke in v0.13.4

[2020-04-16 09:22] lesha1201 commented on #96
@aakashnand I didn't go into details but I saw that you're creating a new component for `ItemContainer` and `MainGrid` on every App re-render so it causes mount/unmount of these components instead of re-render. You can move them from App or memoize them.

https://stackblitz.com/edit/react-virtuoso-animation-zpxpty?file=Hello.js

@petyosi By the way I think it would be great if `ItemContainer`, `Li

[2020-04-16 11:25] aakashnand commented on #96
@lesha1201 Thank you so much! I understood the problem. I completely ignored the part that I was rerendering `ItemContainer` and `MainGrid` every time. @petyosi I am closing this issue thanks for quick help.

[2020-04-16 11:33] #96 closed

[2020-04-16 13:43] petyosi commented on #96
I am not using react-router, unfortunately, so I am probably missing something. `ItemContainer` and `ListContainer` are functional components, which means that you can inline their definitions - [like this](https://stackblitz.com/edit/react-ef1twu?file=example.js). Or do you have something else in mind? An example can help me.

[2020-04-16 13:58] lesha1201 commented on #96
@petyosi I'm currently not from computer. I meant that whatever you pass to, for example, ScrollContainer it will call React.createElement inside VirtuosoScroller (if I don't confuse something). So if we pass inline function in Virtuoso to ItemContainer it will always create a new element. But we could add ability to pass inline function and call it directly instead of passing to createElement

[c

[2020-04-17 01:56] dilizarov commented on #89
Hmm. Teams? I've tried replicating it with Twitter and I don't seem to see a loading overlay :/. I do see that if you scroll fast enough though that it's basically all white in twitter (like the items don't render. It takes them some milliseconds to appear on screen). Is that what you mean?

[2020-04-18 08:47] lesha1201 commented on #92
@petyosi I don't think I'll be able to implement this because it's hard for me to follow the flow of all observables so I can miss something.

This is how I imagine API:

[code]

Usage example:

[code]

Also we can add prop `initialScrollPosition`:

[code]

I think it can be implemented as `scrollToIndex` via calling `scrollTo$.next`

The difference between calling `scrollToPosition` and calling n

[2020-04-18 12:48] petyosi commented on #92
Agreed, this part of the code is quite complex. I will try to get to that soon.

[2020-04-18 12:56] #90 closed

[2020-04-18 13:38] petyosi commented on #91
@lesha1201 I tested the demo from the site on Windows and Linux VMs, Latest Chrome, to no avail. I have no android device available (and in these times, there is no one to take such a device from). If you can run the setup locally, you can try and see if this #99 makes any changes, although it should not be related to it.

[2020-04-18 17:56] toonvd commented on #91
I can reproduce this. Will include it in my testing tommorow.

[2020-04-19 09:09] lesha1201 commented on #91
@petyosi Yes, #99 didn't help. I notice that it only happens for big `totalCount` in `index` playground. If I set 100000 as `totalCount` then I don't have problem but when I set `totalCount` to 500000 then I have that problem. Also I think it depends on how comlex components because the problem happens also in Initial Index example but `totalCount` is only 1000 there

[2020-04-19 09:47] petyosi commented on #91
Thanks, that is a good insight. The extrapolation of scrollTop for large lists will break the position, I can reliably reproduce it now, so I will think over that.

However, I still can't find the problem in the original example version.

[2020-04-21 13:10] PauliusLiekis opened #100 "Rendering in Snapshot tests"
Hi,

I'm having problems with GroupedVirtuoso in UnitTests. The first issue that I ran into was this:

This happens when rendering an empty list.
I made sure that the rendering of functional-components and hooks works fine. The issue seems to be specific to GroupedVirtuoso.

I tried to narrow down the issue but run into another problem:

The latter issue was reproduced in master of react-virtuoso

[2020-04-21 16:02] petyosi commented on #100
Thanks for the report, I will give this a try.

[2020-04-21 16:26] #97 closed

[2020-04-22 15:03] FezVrasta opened #101 "placeholder for not-yet-loaded rows?"
Hi, is there any way to render placeholder rows for the ones that have not yet been loaded?

For instance, I have a query that loads the first 10 rows, and tells me how many more rows are available but not yet loaded, and when I reach the bottom it loads 10 more. The problem with this approach is that the user needs to wait for the next chunk to load before they are able to scroll further.

I'd li

[2020-04-23 04:42] petyosi commented on #101
I have purposely left data management out of the scope of the component, but this is totally doable. You need to build a data engine wrapper that handles the loading of data pages when scrolled to them, rendering placeholders, and refreshing the component when data arrives.

[2020-04-23 04:55] FezVrasta commented on #101
Thanks, but I can’t use the end reached callback in this case, is that correct?

[2020-04-23 05:04] petyosi commented on #101
No - I assume that you will use the total amount of items for `totalCount` and then use `rangeChanged` to determine if you need to load more records.

[2020-04-23 10:08] FezVrasta commented on #101
I was thinking this library may provide something easier to use, maybe a `totalLoadedCount` property that would tell the `endReached` and `overscan` properties to use this other number rather than `totalCount` to perform their logic?

[2020-04-23 10:45] petyosi commented on #101
`endReached` is not a solution in my head - people (and devs) can jump to different locations. using the scrollbars or the API. An external data pager is necessary to make that work.

[2020-04-23 10:50] FezVrasta commented on #101
In my case I'm using cursor+limit pagination so the jump to different locations is not really possible, but I get your point. It's just unfortunate I'll need to reimplement most of the built-in logic to get the expected result.

[2020-04-26 08:34] #100 closed

[2020-04-26 08:57] petyosi commented on #100
@PauliusLiekis - can you please test `0.16.1`? Let me know if you discover more issues down the road with the hook usage.

[2020-04-28 12:49] rowrowrowrow opened #102 "Prop to control whether or not to Virtualize"
Is it possible given the current props to use Virtuoso without any virtualization? I.e. something like specify a range of [0, list.length] regardless of scrolling/resizing.

For me I would like to choose whether or not to virtualize but still use Virtuoso for it's features and to keep listing things consistent.

Thanks!

[2020-04-28 12:55] petyosi commented on #102
You can probably achieve this with a very large overscan property - haven't tested it.

[2020-04-28 13:28] rowrowrowrow commented on #102
Yep, that seems to work. In my case I set the overscan to list.length * (expected per row/item height). So now it seems I can either set an arbitrarily high number for the row/item height to account for dynamic sizing or get a more accurate height for dynamic sized items from Virtuoso. Is the latter possible or even worth it?

[2020-04-28 13:54] petyosi commented on #102
Not worth it, internal bounds will take care of figuring it out.

[2020-04-28 14:21] rowrowrowrow commented on #102
Kk, thanks!

[2020-04-28 14:21] #102 closed

[2020-04-28 14:33] rowrowrowrow opened #103 "Dynamic overscan issue"
If the overscan changes after mounting Virtuoso, e.g. from 0 to NUMBER, Virtuoso doesn't take that change into account. For me this occurs because I'm calculating the overscan based on the number of items in the list, if the list begins at 0 or changes in length it causes an error.

NOTE: encountered this as a result of https://github.com/petyosi/react-virtuoso/issues/102 but felt it was a separat

[2020-04-28 15:17] petyosi commented on #103
I see - quite possible, as I never considered this value to have any reason to change. Does it work if you just put a very large number (something like `15 000 000`)?

[2020-04-28 16:06] rowrowrowrow commented on #103
Ya it works as long as the overscan value is constant and correct. In my case, I'd like to virtualize based on the number of items in the list, which can change. But, I can imagine someone wanting to virtualize based on the contents of the list or some other dependency.

One solution for me is to always mount a new Virtuoso when the list changes, allowing me to update the overscan value with each

[2020-04-29 04:00] joseph1125 opened #104 "followOutput doesn't work if total item sizes is smaller than the container size"
You can test it with the example of "Stick to Bottom" in https://virtuoso.dev/stick-to-bottom/ and the total and initialTopMostItemIndex as follows

![image](https://user-images.githubusercontent.com/8279406/80559679-f7386700-8a10-11ea-8233-6552627e9524.png)

[2020-04-30 18:22] mdegrees commented on #71
@petyosi is it possible to achieve this by prepending the header element using the ListContainer? It works but wanted to make sure it's not anti-pattern

[code]

[2020-04-30 21:27] NerdCowboy opened #105 "016.0 removed GroupContainer support"
I tried updating to 16.1 and found that `GroupContainer` prop was accidentally removed in version 0.16.0 as it no longer works.

0.15.0 still works

[2020-05-01 09:03] mdegrees opened #106 "Warning: useLayoutEffect does nothing on the server when using Virtuoso with ssr"
Using Virtuoso with server side rendering raises the following warning:

``Warning: useLayoutEffect does nothing on the server, because its effect cannot be encoded into the server renderer's output format. This will lead to a mismatch between the initial, non-hydrated UI and the intended UI. To avoid this, useLayoutEffect should only be used in components that render exclusively on the client. Se

[2020-05-01 10:29] petyosi commented on #71
@mdegrees - no, not a good idea.

[2020-05-01 10:51] #105 closed

[2020-05-01 10:55] petyosi commented on #106
Thanks for that, I will see if I can convert this to useEffect.

[2020-05-01 10:56] petyosi commented on #89
Yes, this is the behavior I referred to. Microsoft Teams is a chat app.

[2020-05-01 16:34] b-zurg commented on #42
@josephstgh just curious was react-table good enough for your needs?  If so then we might put a mention in the docs pointing to react table to save people time and indicate an active decision not to support table virtualization.

[2020-05-02 08:11] uffou opened #107 "startReached + endless scrolling up?"
Are you planning to add endless scrolling up? Something similar to endReached could be startReached. I am going to try your library for a chat I am building and I like it way better than react-virtualized so far.

(Страхотна работа!)

[2020-05-02 11:34] #106 closed

[2020-05-02 18:01] josephstgh commented on #42
@b-zurg I did not continue to look into this for the past couple of months. I have however, used `material-table` briefly for some simpler use-case that did not require me to add table virtualization yet.

My project is currently using `react-virtuoso` for other purpose, and if `react-virtuoso` does provide table virtualization support, I can possibly reduce the dependencies and libraries for my p

[2020-05-02 19:18] petyosi commented on #42
@josephstgh I do want to focus on table support, as I think it is an awesome and widely used case :). The only limit is my spare time.

[2020-05-03 15:32] uffou opened #108 "Prepend optimisation"
Currently, when you prepend there is twice the amount of the rendering of items.  It would be great if there is a way to prepend without any rendering or at least without rendering the old currently visible items.

I have a case where there are videos and photos so these renders are visible and I wonder how to minimize them.

To see when the item is being rendered I put a console log inside the it

[2020-05-03 17:51] petyosi commented on #107
Thank you!

Warning: scrolling upwards does not work well with variable size items. Displacements happen due to items not matching their expected size, and pushing down or pulling up previously visible ones. I have tried a few ways to fix it, but it needs different rendering, which also has some possible shortcomings.

Up to your question, you can use `rangeChanged` and check when the startIndex g

[2020-05-03 17:57] petyosi commented on #108
Thank you,

I think (but not sure) that this is not a problem of the component itself but rather sloppily coded demo which re-renders the component incorrectly. A few `useCallback` should fix it, will examine it and update the issue.

[2020-05-03 22:08] mitchellwarr commented on #68
@gregoryforel If you just want sorting, https://github.com/clauderic/react-sortable-hoc works with this library

[2020-05-04 00:57] mitchellwarr commented on #68
[code]

This is an example with react-sortable-hoc that works well @gregoryforel @petyosi

[2020-05-04 07:42] uffou commented on #107
I ended up using custom ScrollContainer where I hook up to the onScroll callback and then I use
clientHeight, scrollHeight, and scrollTop to load more items on top or bottom.

[code]
I will try `rangeChanged` if I have any problems with the current approach.

Yes, there are some glitches scrolling up. If there was a boolean like to enable calculating those heights and then prepending those items I

[2020-05-04 07:44] uffou commented on #108
I am not sure but my best guess is that the component is rendering because the length changes once then prepending and rendering again.

[2020-05-05 12:12] toonvd commented on #42
I am actually planning on opensourcing a datatable based on MUI and Virtuoso using callbags as store. However, it needs a lot of refactoring since it was my playground. Will probably have a decent alpha by the end of next month.

[2020-05-06 09:16] petyosi commented on #108
I was wrong, the demo is not the problem. The `adjustForPrependItems` causes the secondary (correct) render. There is one intermediate (incorrect) cycle when the users are prepended to the array.

I am not aware of any way to avoid that properly without making the component aware of the data. This is one more use case which is specific for bottom-up scrolling, which I did not have as a use case wh

[2020-05-06 21:58] mitchellwarr opened #109 "react-sortable-hoc optimisations and docs help"
I currently have this version of a drag and drop sortable list working with react-virtuoso. My goal is to get this documented either here or on react-sortable-hoc docs.

If i could get some help on if there are better ways to get the index in ItemContainer, and help on whether using ItemContainer and ListContainer are even the best options to accomplish this: Then i will go to react-sortable-hoc a

[2020-05-07 05:06] petyosi commented on #109
Thank you very much for that! I will add the index to the ItemContainer props, upload an example to the site later today and update the issue. A PR to the react-sortable-hoc docs would be great!

[2020-05-08 15:24] #109 closed

[2020-05-08 15:27] petyosi commented on #109
The [example is deployed to the site](https://virtuoso.dev/react-sortable-hoc/).

[2020-05-12 14:49] uffou commented on #64
Is smooth scrolling possible now?

[2020-05-12 16:26] savkelita commented on #64
Yes it is! Sorry i’m on mobile device, but this may help as instant solution: https://github.com/petyosi/react-virtuoso/blob/8605ccb6be82b868b78ba1c2b1f2919e1bcdabab/src/EngineCommons.ts#L3 focus is on behavior.

[2020-05-13 07:50] hvaoc opened #111 "Last few items in the list are not rendered when scrolled slowly"
Note: I am using Mobx to watch a list and render entries as it gets added to the list.

When scrolled fast, it works fine. I can see all the entries in the list. Functional component in Item gets called enough number of times so as to render all entries.

But when I scroll to the bottom slowly, last few items are not rendered. Functional Component in Item is not getting called enough number of tim

[2020-05-13 09:31] hvaoc commented on #111
For anyone else who get's this problem in the future. @petyosi clearly mentioned that Item rendered in your Virtual List should not have CSS margin since it messes up the Height Calculation. Guess what I did exactly that. My items has margin-bottom: 3px and that's the problem.

I removed it and added additional child element as wrapper and set the padding bottom instead and it works fine now.

[2020-05-13 09:31] #111 closed

[2020-05-17 08:45] jmeistrich opened #114 "scrollingStateChange called erroneously when list is modified"
I would expect that scrollingStateChange is only called when the list is scrolled by the user, but it seems to be called when Virtuoso re-renders for a totalCount change. In my own app, when I insert into the list I see it callback three times with false, true, false.

I modified the prepending example to show a repro of this, and it gets many more scrollingStateChange callbacks than in my app, bu

[2020-05-17 09:23] jmeistrich opened #115 "Animated item positions example"
I made an animated Virtuoso list using framer-motion and I thought you might like to use it as an example. It makes the ItemContainer an animated motion.div, and uses a feature in framer-motion 2 beta that animates items automatically when their DOM position changes.

It's slightly complex because it requires disabling animations during scroll, or it conflicts with Virtuoso's position algorithms a

[2020-05-18 12:30] petyosi commented on #115
Thanks! I will look into #114 first, and then pick that for the docs.

[2020-05-18 12:30] petyosi commented on #114
Looking at the code of the scrollingStateChange, this is entirely possible. Will dig into it.

[2020-05-19 09:15] marine1079 opened #116 "Not Fixed Header"
Can I have not fixed header component scroll with virtuoso component?

[code]

How can I have the header component like this?
I tried ScrollContainer but I didn't find the solution.

[2020-05-19 15:10] PauliusLiekis commented on #100
Sorry for taking forever to respond. I can confirm that I no longer reproduce `removeEventListener` issue with latest code.

However, I still have the other one:

It has something to do with passing empty array of groups to it. I haven't managed to make a small repro case for it yet :/ I'll let you know once/if I do.

[2020-05-19 19:16] NerdCowboy commented on #91
Not entirely sure if this is related, but also consistently having an issue where if I set the `initialTopMostItemIndex` to 1, it won't display the GroupedVirtuoso. I dug into the inspector and the first group header will be in the DOM though, but nothing else. Can't reproduce outside of my repo though, so 🤷‍♂️

Only workaround I found was to override the index to 0 if it's 1.

[2020-05-19 21:21] DrFrankenstein opened #117 "Incorrect data-known-size on group headers that lie outside of overscan"
If I:
1. take `playground/grouped-load-on-demand.tsx`,
2. change the height of items to 200px,
3. focus on the list and hold down the 'End' key (or ⌘+▼ on Macbooks),
4. click on "Press to load more" a few times,

then in some cases, the `data-known-size` and `style.marginTop` attributes of the current sticky header are wrong. As a result, it breaks scrolling somewhat (especially around section bou

[2020-05-20 15:42] petyosi commented on #117
Hey,

thank you for reporting that. Can you please:

1. Fork the example you refer to in Stackblitz and do the adjustments and paste the link here;
2. record a video/gif of the issue. In this way, I will be sure that I am not missing something or going mad.

[2020-05-20 15:55] petyosi commented on #116
Check this Issue for a solution: https://github.com/petyosi/react-virtuoso/issues/71

[2020-05-20 15:55] #116 closed

[2020-05-21 07:57] petyosi commented on #91
@NerdCowboy I think I saw a problem where setting the index to the group does not work. Could this be the case?

[2020-05-21 15:06] NerdCowboy commented on #91
@petyosi I don't think that's the issue as 0 is the first group header and 1 is it's first item and it fails if I set it to 1. Verified that appears to work just fine using one of your StackBlitz demos as well.

It's quite possible it's something on my end since I can't reproduce the issue outside of my repo. Just thought I'd chime in in case anyone else had the same issue.

[2020-05-21 16:28] NerdCowboy commented on #40
The workaround zsee posted seems to work if you have list that takes up the entire height of the viewport.

However, I don't believe it's possible to do with a GroupedVirtuoso if you have anything above the list as it calculates the top margin for the sticky group header by calculating the top offset, and it appears to only do that calculation when scrolling has stopped, so it will overshoot the t

[2020-05-21 18:45] DrFrankenstein commented on #117
Here's the Stackblitz project: https://stackblitz.com/edit/react-gtqak8

And the video:
[virtuoso-issue-117-recording.mov.zip](https://github.com/petyosi/react-virtuoso/files/4664148/virtuoso-issue-117-recording.mov.zip)

Note that the first and third time I click the button, I'm holding down the "End" key to make it scroll down as soon as the new items are added. This reproduces the auto-scroll i

[2020-05-23 07:43] petyosi commented on #117
Got it. I will look into that in the next couple of days.

[2020-05-24 15:00] #114 closed

[2020-05-24 15:05] petyosi commented on #114
@jmeistrich - can you check v 0.16.7?

[2020-05-25 06:28] jmeistrich commented on #114
@petyosi That fixed it. Thanks!

[2020-05-25 06:30] jmeistrich commented on #115
Now that you fixed #114 I updated the linked StackBlitz to use scrollingStateChange instead of rangeChanged, and it doesn't need he timeout anymore.

[2020-05-26 17:47] tony-scio opened #118 "Using `overscan` leads to incorrect `rangeChanged` indices"
If you set an `overscan`, then the indices passed to `rangeChanged` include the overscanned content. I'd expect them to still only include the visible content (as I'd like to use this callback to determine what's actually visible).

Here's a fork of the rangeChanged demo that sets `overscan={200}`: https://k88g97.run.stackblitz.io

Notice that in the demo, the range typically include about 10 indi

[2020-05-26 20:00] petyosi commented on #118
Hi @tony-scio,

Thanks for the kind words! Indeed, this is so. I did not consider the combination of those two fields. Can you please explain your use case better? I would like to figure out what you are trying to achieve and either fix `rangeChanged` or expose another callback (say, `visibleRangeChanged`).

Cheers,

[2020-05-26 20:13] tony-scio commented on #118
Wow, thanks for the quick reply! My use-case is just about analytics. I'm in the process of converting a list of search results to use Virtuoso and one of our requirements is that we log which ones were actually scrolled into view. With the old react-window DynamicSizeList, I paired it with `react-intersection-observer` to achieve this, but thought with the `rangeChanged` (or `visibleRangeChanged`

[2020-05-28 21:54] siwalikm-plivo opened #119 "Keyboard nav through virtualized list makes it behaves unexpetedly"
while the list is in focus, moving up/down with keyboard arrows, scroll the whole list container rather than moving the selection from one item to another. This is also the default behaviour is react-window, and most UI libraries like MeterialUI.

Want to know if this is a bug or is there any design reason why things are this way with virtuoso?
If the question isn't clear, please add a note, I'll

[2020-05-29 19:45] toonvd opened #120 "Scrollbar disappears when using top items"
It is reproducible in Chrome on Mac in the demo: https://virtuoso.dev/top-items/. When scrolling without top items, we have a scrollbar, when scrolling with them, we don't. Is this default browser behaviour when using position:sticky?

[2020-05-30 09:39] petyosi commented on #120
Can you send me a screenshot of what you mean? I am on a mac and I see the scrollbar, played with the general preferences as well.

[2020-05-31 15:40] #119 closed

[2020-05-31 17:41] siwalikm opened #122 "ScrollToIndex with {behavior: 'smooth'} breaks rendering"
Firstly thanks for this lovely project @petyosi  🙏

So the other day I was trying to use the scrollToIndex API with smooth transition as suggested by you in #64 by passing the behavior parameter like this -

https://github.com/petyosi/react-virtuoso/blob/8605ccb6be82b868b78ba1c2b1f2919e1bcdabab/src/EngineCommons.ts#L6

The scrolling behavior works fine but the rendering gets broken after scrolling

[2020-06-01 13:46] exentrich opened #123 "Grid: Different row heights"
Thanks for such great library! It's the only one capable of rendering truly auto-sizable list items without hassle! That's killer feature. Will be great to have it on Grid too, not only equally sized row heights.

I implemented this requirement using Virtuoso component instead of Virtuoso Grid, by rendering needed columns per row. This approach works okay, but I'm sure performance could be better

[2020-06-01 13:51] exentrich commented on #68
Hi! Will you bring this issue to react-beautiful-dnd, if no I can make it instead!
Or you find a solution already?

[2020-06-01 14:05] petyosi commented on #120
@toonvd - ping here :)

[2020-06-01 16:55] petyosi commented on #68
@exentrich thanks for considering this. [The react sortable HOC example](https://virtuoso.dev/react-sortable-hoc/) works super smooth, I must say.

[2020-06-01 17:51] petyosi commented on #123
Hi @exentrich! One thing which basically blocked my thinking here was the following:
non-equally sized row heights suggest "jagged" varying size tiles which leads my imagination towards the Pinterest kind of interface (otherwise you will have gaps between the different sized items). Is this what you have in mind?

[2020-06-02 15:49] toonvd commented on #120
Hi @petyosi

I apologize for the delay, didn't have access to the laptop.
[https://ibb.co/9wNXBMm](url)

This strangely only happens on my old Macbook, my new one doesn't have the problem. Chrome version is the latest:
Versie 83.0.4103.61 (Officiële build) (64-bits).

I thought it could be related to browser caching first but that was not the case either.

[2020-06-02 18:03] petyosi commented on #120
Can this be caused by this setting somehow, not sure...

![image](https://user-images.githubusercontent.com/13347/83553822-793a1500-a514-11ea-8f3e-fb0054b3279e.png)

[2020-06-02 18:38] toonvd commented on #120
Gonna close this for now as it seems like an issue related to config on the laptop itself.
Will let you know when I find out something. I just noticed it while devving on the datatable lib.

[2020-06-02 18:38] #120 closed

[2020-06-04 11:00] taimoorhassan-work commented on #44
This solution works well if you want to start scrolling from the last index of an array but it inverts the scroll behavior of the mouse and touchpad(two finger scrolling). Any solution for that ?

[2020-06-04 19:20] petyosi commented on #123
@exentrich an original constraint for the grid was responsive behavior. In the example above, if I am about to resize the container, the dark blue element will go to the first row. How would that work? That's what blocked me in my further consideration and brought me to the Masonry (interesting term btw!) line of thought, which indeed is quite complicated.  Let me know what you think, this is an i

[2020-06-05 05:59] exentrich commented on #123
I expect usual flex-box behaviour. Please check this simple example: https://jsfiddle.net/exentrich/358uyebq/2/

As you can see I have images with different height in cells. That could be combination of image + text, or just text, no matter, the main thing is that content of cells could be variable size.

When you resize container, the tallest cell stretches other cells in a row

[2020-06-06 09:59] jmeistrich commented on #89
I was encountering a similar problem and I noticed scroll was stuttering only if the initially topmost item was unusually large. Setting defaultItemHeight to my lists's minimum item size solved the problem for me. @dilizarov Maybe that will fix it for you?

[2020-06-06 10:06] jmeistrich commented on #89
I was encountering a similar problem and I noticed scroll was stuttering only if the initially topmost item was unusually large. Setting defaultItemHeight to my lists's minimum item size solved the problem for me.
@dilizarov Maybe that will fix it for you?
@petyosi I can't quite follow the internal logic of how defaultItemHeight is used, but if no default is provided would using the minimum size o

[2020-06-07 17:37] chrisdostert commented on #107
having this built in would be super handy

[2020-06-07 23:41] chrisdostert opened #125 "followOutput doesn't work with react concurrent mode"
First off, thanks for the awesome library.

I was testing experimental react-relay hooks which requires react concurrent mode and followOutput does not seem to work with it.

If I switch to relay-hooks (a 3rd party library offering relay hooks without requiring concurrent mode), it works.

[2020-06-08 03:43] petyosi commented on #125
Interesting, can I get a repro of that? I will look into it further

[2020-06-08 07:34] utileetdulce commented on #89
Thank you very much for this great library!
In our use case we have a list of objects with varying heights, but the total height can easily be calculated in advance.
@petyosi Is there a way to pass this total height to Virtuoso instead of using the internally calculated totalHeight?

[2020-06-08 08:12] petyosi commented on #89
@jmeistrich - I could not come up with a universally right way to come up with the default height. Picking the smallest one might be too much of a sandbagging. Imagine 200 items with 2 lines of text, being spoiled by a single 1 line item.

@utileetdulce - no, there is no such capability. The purpose of the component is to avoid such calculations.

[2020-06-08 08:17] jmeistrich commented on #89
Is there a performance implication with having a small defaultItemHeight? I am not seeing any performance implications in my usage. But if it's too big there's a lot of stuttering while scrolling up when using initialTopMostItemIndex.

[2020-06-08 08:35] petyosi commented on #89
Setting a small defaultItemHeight will render many more items than necessary. To give an example, if items are usually 30px tall, setting defaultItemHeight to 10px will render 3 times more items than necessary. Depending on the content of the items and the height of the list, this can cause performance implications.

Your observation is also correct. Setting it to a large number is also bad. The l

[2020-06-08 10:22] Artoria-0x04 opened #126 "Item index exceeds when changing `total` prop"
I discovered some rendering inconsistency when changing total count.

One is items are lost when both changing `total` and `item list` to a larger value, total items in the list does not match the count after change, which I haven't reproduced with examples.

Another is the `list` still using last index range when `total` change to a smaller value, which will leads to undefined items. An example b

[2020-06-08 14:10] petyosi commented on #126
Seems like a bug, filing as one.

[2020-06-08 16:46] petyosi commented on #126
@Artoria-0x04 I played around with the example. The incorrect behavior is related to the fact that the internal **10 list items are re-rendered first when the DataContext value changes** - the outer component still works with the totalCount being 10. I hope that this makes sense. If it does not, the workaround I may offer [is this one](https://stackblitz.com/edit/react-ter3me-vpszeb?file=example.j

[2020-06-08 18:50] petyosi commented on #123
I see what you mean. This is possible indeed. My first thought is that an additional binary tree data structure is necessary to track and re-calculate the total height. at any dimension change, the structure of the item heights should re-produce the structure of the row heights.

Realistically, I am not going to get to that any time soon, so I will mark that as a PR welcome. If you are interested

[2020-06-08 19:07] petyosi commented on #122
Hey @siwalikm ,

I clicked around the example and I could not notice anything broken, can you please help me? A screenshot or a gif can help.

Cheers!

[2020-06-08 22:42] chrisdostert opened #127 "followOutput stops following if container height decreased"
Repro Steps:
1) go to https://codesandbox.io/s/modest-rubin-9s52w
2) notice list is scrolled to bottom
3) click expand

Expected:
bottom of list stays at last item but scroll area is squished

Actual:
bottom item get's pushed offscreen

[2020-06-09 03:04] Artoria-0x04 commented on #126
@petyosi Thanks for the quick response, it does the trick. I guess a different context item renderer is a must avoid then. Besides, I do think that a vlist api doesn't accept `data list` and an item renderer doesn't provide the `item` is unintuitive, sort of.

[2020-06-09 03:05] chrisdostert opened #128 "Question: How to load on scrollToIndex"
If I have a huge list which I can't load all at once, but want to allow scrolling to a particular item of, how do I load the items necessary on scrollToIndex? The equivalent in react-virtualized would be the InfiniteLoader component.

[2020-06-09 05:31] petyosi commented on #126
@Artoria-0x04 agreed; keeping the data away from the component has its benefits abstraction wise but also causes troubles and makes the component harder to use sometimes.

[2020-06-09 05:35] petyosi commented on #127
@chrisdostert Interesting idea; right now, the `followOutput` does not track container resize, it tracks the addition of new items only. I will give this some thought, as expanding in this direction might make the behavior too aggressive and prevent scrolling to top.

[2020-06-09 05:41] petyosi commented on #128
Rough direction:

1 - set the totalCount to the total count of the items in the list (not just the loaded ones).
2 - have a data pager component that tracks which items are loaded and which not.
3 - render placeholders for items that are not loaded.
4 - Load items [at the `rangeChanged` event](https://virtuoso.dev/range-change-callback/).
5 - When items are loaded, refresh the component by [passin

[2020-06-09 05:41] #128 closed

[2020-06-09 13:22] chrisdostert commented on #127
FWIW my use case is with chat. I have a virtuoso container of messages, below which I have an add message box. The add message box can expands as the user types because it's of arbitrary length. I want the virtuoso container to continue followingOutput as the user types into the add message box. I haven't found any way to do this yet. Let me know if theres a way you could think of (even if it's a

[2020-06-09 15:03] petyosi commented on #127
The quickest hack I would do is to nudge the chat list up (translateY) rather than resizing it.

[2020-06-09 16:28] siwalikm commented on #122
The first and third buttons have behaviour **scroll** in the example while the middle one is **auto**.
Jumping from first button to third button(<->) illustrates the breakage.
![chrome-capture](https://user-images.githubusercontent.com/20061595/84174305-13153b00-aa9c-11ea-91b4-265317732c24.gif)

[2020-06-10 07:42] petyosi commented on #122
I think I have received similar reports, but I can't reproduce the problem on my side. Check the behavior I have:
![virtuoso-smooth-scroll](https://user-images.githubusercontent.com/13347/84240578-ec401e80-ab06-11ea-9382-41df4c479af9.gif)

I will mark the issue as open and PR welcome - someone who can reproduce it and is willing to debug the code can give it a try.

[2020-06-10 10:05] utileetdulce opened #129 "initialTopMostItemIndex does not use overscan for previous item indices"
As you can see in your example (https://virtuoso.dev/initial-index/)
when using `initialTopMostItemIndex` the previous items do not get rendered (e.g. index 798 in the example). This behavior is not so problematic when it comes to small/simple list items, but it is when using items of great height or complexity. Increasing `overscan` results in more items renderes **after** the top most item but n

[2020-06-10 11:14] SimonaJ opened #130 "GroupIndex is undefined in GroupedVirtuoso"
The item render prop in GroupedVirtuoso does not get a second parameter groupIndex. See example here - https://virtuoso.dev/grouped-numbers/

[2020-06-11 08:35] Artoria-0x04 opened #131 "Scrolling jumps when List rendered with largely varied height items"
I'm making a mobile chat interface, so list items are mixed with arbitrary long text and all sorts of images, and smooth scrolling is must need.

I discovered when list items height are largely varied, especially some item height larger than the viewport, scroll position will jump even you scroll slowly. Increasing `overscan` only helps a little and predefining the max item height is impossible. A

[2020-06-11 11:43] petyosi commented on #131
Confirming that. It is a very hard problem to solve with the current approach, I even have a tag for it...

[2020-06-11 11:47] Artoria-0x04 commented on #131
Is there a quick fix now? Btw, what is bottom up scrolling?

[2020-06-11 11:48] petyosi commented on #131
None that I can think of. Chat is bottom-up scrolling. I assume that the UI you are using is scrolled to the very bottom by default, and you scroll up.

[2020-06-11 11:53] Artoria-0x04 commented on #131
Yes, but this problem occurs on both ways, is there something special about bottom-up?

[2020-06-11 11:56] petyosi commented on #131
Yes - there is. Prepending items causes a jump of the items below. Appending does not. Can you record a gif of what you mean?

[2020-06-11 12:01] Artoria-0x04 commented on #131
I'll try to append a gif later, I mean it will jump even when you scrolling down, both up and down. I presume the overscan is to deal with this, and I saw the discussion about one direction overscan, how about make overscan effective on both directions?

[2020-06-11 12:05] jmeistrich commented on #131
I had found that setting defaultItemHeight to the minimum height of an item in my list appeared to fix the scroll jumping, but it also caused some scenarios where no items would render at all. Then I found that removing:
[code]
from the top of offsetListEngine appears to fix it. It doesn't appear to cause any significant issues for me. But is there some problem this will cause that I'm not seeing?

[2020-06-11 12:17] Artoria-0x04 commented on #131
![Gif_20200611_201602](https://user-images.githubusercontent.com/1183568/84384389-79c36180-ac20-11ea-9b2a-9f08ec415446.gif)
Adding a gif on my phone

[2020-06-11 12:21] jmeistrich commented on #89
I had found that setting defaultItemHeight to the minimum height of an item in my list appeared to fix the scroll jumping, but it also caused some scenarios where no items would render at all. Then I found that removing:

if (initialTopMostItemIndex) {
    initialOffsetList = initialOffsetList.setInitialIndex(initialTopMostItemIndex);
  }
from the top of offsetListEngine appears to fix it. It does

[2020-06-11 12:22] Artoria-0x04 commented on #131
@jmeistrich Adding `overscan` and `defaultItemHeight` seems works on single long height item, but not 2 long items together.

[2020-06-11 12:24] jmeistrich commented on #131
Sorry @Artoria-0x04, I realized my comment didn't exactly apply (more relevant for https://github.com/petyosi/react-virtuoso/issues/89) so I moved it to that issue. But good to know that didn't fix this one.

[2020-06-11 12:25] petyosi commented on #131
@Artoria-0x04 - thanks, I will investigate that. Definitely seems related to an item being longer than a viewport.

[2020-06-11 12:27] petyosi commented on #89
Nah, this is a critical piece of the code. I am not sure if this issue is also the right one to discuss the problem. Why don't you open a new one with a repro?

[2020-06-11 12:50] jmeistrich opened #132 "Renders nothing when defaultItemHeight is less than height of rendered items while using initialTopMostItemIndex"
Using initialTopMostItemIndex and a small defaultItemHeight with a list of tall items causes nothing to render at all, even after scrolling.

Repro here:
https://stackblitz.com/edit/react-jjjnhr-jh8ggw?file=example.js

You can see it renders nothing, but if you increase defaultItemHeight to 28 or remove initialTopMostItemIndex, then there is no problem.

[2020-06-11 12:52] jmeistrich opened #133 "Scrolling up is janky when initialTopMostItemIndex puts a large item at the top of the list"
If initialTopMostItemIndex puts an unusually large item at the top of the visible area of the list, scrolling up from there causes large jumps and looks janky. I had tried setting a small defaultItemHeight, but ran into https://github.com/petyosi/react-virtuoso/issues/132.

I found that removing:
[code]
from the top of offsetListEngine appears to fix it, but you said in https://github.com/petyosi/

[2020-06-11 15:15] petyosi commented on #132
It renders something on my side, at least - Latest Chrome on mac.

![image](https://user-images.githubusercontent.com/13347/84404390-6c51ab80-ac0f-11ea-8054-7051cb52b562.png)

Should I change something or do something?

[2020-06-11 15:17] jmeistrich commented on #132
@petyosi Sorry, I must have saved it wrong. Updated the stackblitz. It's the combination of defaultItemHeight={18} and initialTopMostItemIndex={1} that makes it not render.

[2020-06-11 15:18] petyosi commented on #133
Thank you. The suggested change has an accidental effect on the behavior, I am afraid. This is another aspect of the bottom-up scrolling I have tagged in several open issues.

[2020-06-12 04:19] petyosi opened #134 "Extremely large list with large items jumps over items when scrolled"
Minimal repro: https://stackblitz.com/edit/react-pkarsz?file=example.js

Problem is that the implementation does not speed-up scrolling, but rather 'jumps' the list with the multiplier when items change. It should multiply the offset on each scroll event. @toonvd reported this but I could not figure it out due to the small items in my testing case.

[2020-06-12 04:23] petyosi commented on #131
@Artoria-0x04 the example you have provided indeed captures a bug, but a different one than I was thinking of.

1) The long text generation was causing erratic re-renders, as each time the list item refreshed a different text was generated.

2) A jump happens, but not due to overscan or large items - but because the list is beyond the maximum DOM element height. A special logic is supposed to hand

[2020-06-12 04:23] #131 closed

[2020-06-12 04:45] #132 closed

[2020-06-12 04:45] petyosi commented on #132
Fixed in `0.17.2`

[2020-06-12 04:56] jmeistrich commented on #132
Tested and it works well now, thanks!

[2020-06-12 04:57] jmeistrich commented on #133
Just an update, now that https://github.com/petyosi/react-virtuoso/issues/132 is fixed, setting a small defaultItemHeight is now solving this issue for me without having to do the change mentioned above.

[2020-06-12 06:31] jmeistrich commented on #133
@petyosi Actually, I spoke too soon. After more extensive testing it turned out that a small defaultItemHeight did not fix it, and I am currently using the change removing setInitialIndex to solve it. So I think this is still an open problem.

[2020-06-12 06:47] Artoria-0x04 commented on #131
I see. Randoms made the render process different on each cycle and unrepeatable. Sorry for the additional complexity. I'll look into the examples, thanks.

[2020-06-12 11:12] Artoria-0x04 opened #135 "Scrolling is staggered when rendering image tags"
Currently list items height are immediately determined and updated on resize. When rendering an image, the height is known after the image loaded, therefore the total height changes during scrolling and feels staggered.

How about introducing an onload callback for async rendering, or using the native onload perhaps?

[2020-06-13 14:09] jmeistrich commented on #135
I'm not sure how or even whether react-virtuoso should solve this? I think this would be solvable inside the rendered component by rendering a 0 height div until the image is loaded. Then it would only render once with the loaded image.

But you would still have a rendering jump since the render would be coming in asynchronously after scroll. I had a similar problem in my app and my solution was t

[2020-06-13 14:29] Artoria-0x04 commented on #135
@jmeistrich yes, these methods came out first too when I was thinking about this. I also took a look at Slack, texts and images were fixed height placeholders when they are loading, which can probably not solve this. The use case may be specific, but I think to support async load with callback on item renderer is a useful feature.

Btw, could you give me more detail on how to preload images withou

[2020-06-13 15:10] jmeistrich commented on #135
@Artoria-0x04 You can render an image with display: none and it will still load the image and fire the onLoad event. Then you can get the naturalWidth and naturalHeight (the original size of the image before the browser resizes it).

Or alternatively you can render the image inside a container with { height: 0, overflow: 'hidden' } and it well render normally but just not be visible. Then once it'

[2020-06-14 08:46] Artoria-0x04 commented on #135
Thanks, I'll give it a try

[2020-06-14 12:46] petyosi commented on #135
A thing that might help in such case is the [scroll seek mode](https://virtuoso.dev/scroll-seek-placeholders) behavior.

[2020-06-18 14:46] exentrich commented on #68
I did it!!
Here working example https://stackblitz.com/edit/react-bdax3i

`react-beautiful-dnd` didn't worked right away, because when item is dragged it removed from DOM, so all items above jump and break positioning of `react-beautiful-dnd`

I did it with two small fixes:
1. In ItemContainer
`<div {...etc} style={{'--data-known-size': this.props['data-known-size']+'px'}}>`

2. Anywhere else
[cod

[2020-06-19 10:08] exentrich opened #137 "data-known-size incorrect for first rendered items"
As you can see in screenshot of [official example](https://virtuoso.dev/auto-resizing/) below `data-known-size` attribute is incorrect:
<img width="958" alt="Снимок экрана 2020-06-19 в 13 05 20" src="https://user-images.githubusercontent.com/1203812/85121585-b4835600-b22d-11ea-8f91-079553ab6b6a.png">

I rely on this attribute for react-beautiful-dnd integration. Also I'm curios maybe this attribut

[2020-06-20 06:11] petyosi commented on #137
Hey @exentrich,

Your observation is correct. The data attribute is used to pass *the assumed size* of the item to the DOM. After the render is done, [this hook](https://github.com/petyosi/react-virtuoso/blob/master/src/VirtuosoView.tsx#L39-L65) sees if the assumed size is incorrect and if so, sends the new value to the store for re-calculation.

An optimization I have introduced is that, if overa

[2020-06-22 15:18] mgs95 opened #138 "`adjustForPrependedItems` is not always synchronized with the new inserted data."
When there is more overload in the component (items are complex or several data is prepended), data insertion occurs before `adjustForPrependedItems`, making an akward jump.

The issue can be reproduced in the example https://virtuoso.dev/prepend-items/ by clicking quikly several times on `Prepend 100 items`. In my case this happens on each prepend because my items are more complex.

![ezgif com-v

[2020-06-24 06:17] petyosi commented on #138
Agreed, this is a known (and quite a complex issue) to address. The rest of the items with this tag are due to the same.

[2020-06-24 16:34] mgs95 commented on #138
Maybe, to solve this, you can request a new property (something like `nTopItemsAffected`) and forget about the `adjustForPrependedItems` function. In each update, if data size has changed **and** `nTopItemsAffected` is not zero you can adjust the scroll in the same render. I named the property `nTopItemsAffected` and not `nPrependedItems` so it can handle both insertions and deletions. Of course,

[2020-06-25 12:17] petyosi commented on #138
Thanks, the problem comes not due to the count, but due to the variable height of the prepended items. I am currently researching on a possible data-aware implementation that can handle jumps and pretends better.

[2020-06-28 10:01] b-zurg opened #139 "How to scroll to index on a useEffect"
I have a use case where I would like to scroll to an index as an effect but it seems to be troublesome using the `scrollToIndex` method.

I have a ref and am using the following code

[code]

I'm having the following error:
[code]

However if I set a timeout for 100 milliseconds and then run the scroll to selected then it works fine.  Any ideas?  I can provide more information if needed.

[2020-06-28 11:38] petyosi commented on #139
The method is exposed when the scroll should happen at a later stage - can you try [using the `initialTopMostItemIndex`](https://virtuoso.dev/initial-index/) property instead?

[2020-06-28 12:15] b-zurg commented on #139
Yes! It's an excellent property, but for me It's a bit tricky.  Here's my use case in a nutshell.

I have a tabbed interface that displays a list of items, this varies per tab.  Switching a tab doesn't unmount the component, but changes the results that are displayed and the selected result is shown in greater detail.

What I would like to do is scroll to the selected result for each tab.

Because

[2020-06-28 12:21] petyosi commented on #139
It looks like you are calling the method at a specific time when the internal structures are empty for some reason. Can you replicate it in a sandbox? I will take a look.

[2020-06-28 13:16] b-zurg commented on #139
It turned out to be difficult to, which means I don't really understand the root cause of the issue.  I have worked around the issue by actually not rendering when switching data sets, as the data is null (though handled and set to defaults) for a little bit as the results load.  Some thing I'm doing is definitely the cause of this, and it seems to be a pretty edge-case situation.

This is working

[2020-06-28 13:16] #139 closed

[2020-06-28 13:42] petyosi commented on #139
There are lots of heuristics and possible race conditions with `scrollToIndex`, including one dreadful `setTimeout`. I think that at some point I have to fix the entire logic, but I am yet to figure out how to do it reliably.

If at any point you stumble at any further clues, please share them. Cheers!

[2020-06-30 15:07] samsch opened #140 "Remove scarf-js"
This package is using scarf-js. The dependency should be removed, and all major versions using it should have patch bumps with the change.

final-form/react-final-form#822

[2020-06-30 15:17] tannerlinsley commented on #140
Wow, you should take a quick moment and research what you keep posting on libraries that use scarf before you go any further.

Let me set this straight, scarf is not malware.

It’s an analytics package that is gdrp compliant out of the box, collects install counts, version counts, and publicly linkable company information at dev-install time (and nothing else) and reports that information to a das

[2020-06-30 21:08] samsch commented on #140
Updated, Scarf is being removed from other packages as well.

https://github.com/tannerlinsley/react-query/issues/676

@petyosi If you wouldn't mind, please consider this the issue also for any other packages where you use(d) Scarf.

[2020-07-01 06:35] #140 closed

[2020-07-01 06:38] petyosi commented on #140
@samsch - thanks for raising the concern. I have followed your suggestion, although the package was providing valuable insight and information about the project adoption and activity - something which is important and motivational for me as the author. @tannerlinsley - are you aware of any reasonable replacement? The npmjs stats are far from accurate (I assume lots of automation pulls packages, et

[2020-07-01 13:22] samsch commented on #140
At the moment there isn't a direct replacement that was mentioned in discussion.

@aviaviavi (author of Scarf-js) is working to figure out a solution which doesn't have the same concerns, while also being implementable for various OSS devs. There's continued discussion on Reactiflux (mostly been in #news-and-links, but probably should move from there for being off-topic lol), with one potential id

[2020-07-02 12:54] EdwardSalter commented on #43
I am seeing this exact issue with the latest version (0.17.4) also whilst using TypeScript.
[code]

[2020-07-02 13:19] petyosi commented on #43
@EdwardSalter - sorry about that, should be fixed in `0.17.5`.

[2020-07-02 13:26] EdwardSalter commented on #43
@petyosi - Thank you for that.
Do you have an estimate on when that will be released?

[2020-07-02 13:51] #43 closed

[2020-07-12 16:35] itayganor opened #141 "Preseving item state after scrolling away"
Hi :)

Just wanted to say thank you for the most simple virtualization library I've ever seen. I've been through `react-virtualized` and `react-window`, and this one is just heaven.

I do have one question though:
When I expand one of my list items, It won't be expanded the next time it will be mounted.
In other words - it seems like I lose the component's state when it's out of view.

Here's an e

[2020-07-12 16:47] vinujan59 commented on #141
storing the expanded state in list’s parent would be a solution. Propagate the expanded event and store it in object or something and pass down the expanded state to list element.

[2020-07-12 16:49] itayganor commented on #141
This is indeed a good solution, but the thing is the state might contains more than just the expansion state. I'm actually trying to achieve a generic component that will accept any kind of item to be a children, and remember each one's state when it's not visible.

Passing a `state` object to the parent is *still* a valid solution, but I'm looking for something a bit more independent

[2020-07-12 17:41] fonty422 commented on #141
It's not possible to have it stored in the object its self. You have two choices:

1. On the onExpand event sends something back to the parent which holds a list of what is expanded which is parsed to each list item on render. It does require you to have a means to know which things are expanded and closed - and that should NOT be the list index.
2. Use something like React-Redux to store not only

[2020-07-13 11:51] itayganor commented on #68
Nice, but both examples (using beautiful-dnd and [sortable hoc](https://virtuoso.dev/react-sortable-hoc/)) doesn't seem to work now.

When I drag one of the elements to a different position on the list, it doesn't go there, but instead returns to its original position.

![963a2d93-a788-4ffa-a6c5-c5e1b4110c93](https://user-images.githubusercontent.com/6430313/87301351-19258e00-c518-11ea-8501-a1f27c

[2020-07-13 12:08] exentrich commented on #68
@itayganor It's expected behavior. This examples doesn't have logic for persisting a reorder. They are just bare minimal examples to show how to integrate them with react-virtuoso.
Check docs of sortable-hoc or beatiful-dnd to find out how to persist reorder

[2020-07-13 12:51] WillSquire opened #142 "Empty component prop"
An `emptyComponent` option could be a nice addition to render a component when the list is empty (i.e. `totalCount` = 0). A bit like MUI's `noOptionsText` on `autocomplete`, which renders when the options count is 0.

Just started using this library by the way and it's been a complete pleasure so far on a bit of pain point (infinite scrollers). So kudos!

[2020-07-14 08:34] petyosi commented on #142
Thanks @WillSquire - that's an easy intro and a sensible one. I will mark it as PR welcome if someone beats me to it.

[2020-07-18 15:41] boomfly opened #144 "Dynamic container height error"
I am writing messenger app and try to make messages list starting from bottom.

Here example of issue: https://stackblitz.com/edit/react-virtuoso-container-autoheight-issue?file=example.js

Type some message and press button.

When new message added to list, Virtuoso height and top values recalculated and throws this error:

`TypeError: Cannot read property '0' of undefined`

But if uncomment line

[2020-07-20 07:39] petyosi commented on #144
@boomfly I think I found the issue (some 0 / 0 divisions). Can you test with `0.17.6-beta`? It [works in the example](https://stackblitz.com/edit/react-virtuoso-container-autoheight-issue-811loy?file=package.json) you gave.

[2020-07-20 08:02] boomfly commented on #144
@petyosi Thanks! It work, but i can't find source of 0.17.6-beta. It's your local version?

[2020-07-20 08:04] petyosi commented on #144
Yeah, I haven't pushed yet. I wanted to verify the fix with you before I publish the next release.

[2020-07-20 08:11] #144 closed

[2020-07-20 09:28] petyosi commented on #144
@boomfly I published 0.17.6

[2020-07-21 09:52] KiyoshiMori opened #145 "Display: none issue"
Hi.
I got some bug that troubling me to use this library.

You can check it here: https://codesandbox.io/s/cool-feather-45gui?file=/src/App.js
If you'll start to fast clicking from tab1 to tab2, you should notice some thrown error from the library. `"Requested offset outside of the known ones, index: 0"`

As far as I could understand, it's related to display: none and visibility-observer. Because

[2020-07-21 10:01] petyosi commented on #145
This could be an easy fix. However, I had trouble reproducing it :(, perhaps I did not click too fast. Can you record a video? Also, please provide some info about browser / OS.

[2020-07-21 10:16] petyosi commented on #145
oh, I think I figured it out. You need to scroll down the list first.

[2020-07-21 10:17] KiyoshiMori commented on #145
For now (or sometimes) it's happening when I'm clicking not even fast.
https://a.uguu.se/UVTl2wFD0pho_react-virtuoso

I'm using Linux & chrome. My colleague using Windows and he has it too.

[2020-07-21 10:40] KiyoshiMori commented on #145
Also, if it could help, you can check this example to realize that it's happening precisely because of display: none/visibility-observer.
https://codesandbox.io/s/determined-ganguly-o8oem?file=/src/App.js

[2020-07-22 04:18] shawnwangzZ opened #146 "How can I hide the sticky group-title when using GroupedVirtuoso."
In my case, I don't want the title sticky on top. I've tried to set the GroupContainer, but initialTopMostItemIndex will have some problem.
Here is the case.
`import React from 'react'
import { GroupedVirtuoso } from 'react-virtuoso'

const groupRender = index => {
  return <div style={{height: 20}}>group-{index}</div>
}

const itemRender = index => {
  return <div style={{height: 80}}>item-{index

[2020-07-22 05:41] #145 closed

[2020-07-22 05:43] petyosi commented on #145
@KiyoshiMori - the issue is addressed in v0.17.7

[2020-07-22 06:01] petyosi commented on #146
@shawnwangzZ if you don't want the sticky headers, the best option would be to use the flat list and render headers at specific indexes. Hope this makes sense.

[2020-07-23 08:41] shawnwangzZ commented on #146
Thanks! I solved this with your suggestion.

[2020-07-23 08:41] #146 closed

[2020-07-24 07:55] tschortsch opened #148 "Overscan property ignored in GroupedVirtuoso when scroll position is at the top of the list"
It seams that the `overscan` property of the `GroupedVirtuoso` component is ignored when the scroll position is at the top of the list. As soon as I start scrolling the `overscan` value seems to work and the list items get preloaded. When scrolled back to the top of the list the preloaded list items are removed again.

You can reproduce this issue with the StackBlitz example from this doc page: ht

[2020-07-24 08:34] petyosi commented on #148
True.

[2020-07-27 23:27] fabiospampinato opened #151 "Support for a "data" prop"
Coming from `react-window` I'm missing the `itemData` prop, which allows for passing some extra arbitrary data down to children, it's pretty handy and makes for much cleaner code that doesn't need to resort to wrapping components, using React's contexts, or using some other more convoluted way to pass state down the tree.

[2020-07-28 11:15] fabiospampinato opened #152 "Support having no "item" component"
I have a use case where each item in my list is essentially an HTML string, which I set in the ItemContainer component directly as otherwise I would have to provide another wrapper for it in the Item component.

I'm currently just using `() => null` as an Item component, which btw triggers a TypeScript type error for some reason, but I would like better if I could just not set an Item component, m

[2020-08-04 14:22] fabiospampinato opened #154 "Improved support for scrolling to the very end"
Scrolling to the very end of a virtualized list where the height of items is not known causes a scenario where the end is first reached, then items get actually loaded and now the list is not scrolled till the end anymore and requires another potentially short scroll to reach it.

Maybe this fairly common use case could be improved on at the library-level.

[2020-08-04 14:51] petyosi commented on #154
Hey,

If I understand correctly your explanation, [the `followOutput` property](https://virtuoso.dev/stick-to-bottom) is supposed to address exactly that. Let me know if this is so.

[2020-08-04 14:52] petyosi commented on #151
Agreed. I understand the practical aspect of the data context and am currently looking into it.

[2020-08-04 14:59] fabiospampinato commented on #154
@petyosi It sounds like something like that could help, in my use case "totalCount" is not increased though, simply once the last list items are loaded they end up taking more space than anticipated so the whole list stops being fully scrolled to the bottom 🤔

[2020-08-04 15:01] petyosi commented on #154
I see. That's not something taken into account indeed. Does it work if you call the `scrollToIndex` method after the update?

[2020-08-06 12:17] fabiospampinato commented on #154
@petyosi I haven't played with that but I guess when used properly it would work, I think this is something that should be taken care of at the library level though.

In order to implement this properly one would need to detect when the end is scrolled too, when all visible items are loaded, maybe also how much time it passed since the end was first reached, if the user performed a scroll since th

[2020-08-07 17:18] kodai3 opened #155 "Migrate to import * as React from 'react' ?"
First of all, thank you for the work.

As far as I know, `import React from 'react'` is not correct.
ref: https://github.com/facebook/react/pull/18102

there is no default export in react codebase https://github.com/facebook/react/blob/master/packages/react/src/React.js,  It just happened to work with bundlers.

I though we should stick to what react core recommend.

you use `import React from 're

[2020-08-08 06:08] petyosi commented on #155
Thanks for bringing this @kodai3 ! No reason, probably something I picked from a template. I will fix that with the next release, accepting PRs meanwhile.

[2020-08-08 13:32] BrentFarese commented on #122
I can confirm that I experience this issue when using `smooth` as well.  Will try and see if I can re-produce and post something here.

[2020-08-08 21:01] gmattie opened #157 "Remove default style height"
I believe that it would be ideal to remove the default style height of `40rem`.  Doing so would avoid the need to declare inline styling for a `<Virtuoso>` component in favor of unopinionated style management via external style sheets or styled components (or inline styling).  Additionally, it would remove arbitrary code.

For example:  I would like to use Sass to assign the height of the list and

[2020-08-10 14:38] petyosi commented on #157
Thanks, I think 100% percent would be a better and sensible choice indeed.

[2020-08-11 02:08] AkalUstat opened #161 "Use default browser scrollbar"
is there a way to avoid two scrollbars when using the virtualized list (and use the browsers default scrollbar)?

[2020-08-11 04:42] petyosi commented on #161
By the default scrollbar I assume you mean the one attached to the window. This is not supported currently. Can you describe what you are trying to achieve? A screenshot or an example can help me understand better.

Cheers,

[2020-08-11 14:30] brillout opened #162 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source, and we are currently reaching out to projects we like.

We have several solutions depending on your financial goals and we can help with:
- Increasing donations
- Starting/increasing consulting work for your users
- Earning a living from your open source work
- Remuneratin

[2020-08-11 17:10] BrentFarese opened #163 "Error when using scrollToIndex inside an effect"
An error seems to arise when using [scrollToIndex](https://virtuoso.dev/scroll-to-index/) inside an effect in React (e.g., `useEffect`).  The error:

`Error: Searching for max value in an empty tree`

The only related thing I found is [this thread](https://gitmemory.com/issue/petyosi/react-virtuoso/139/650760907).

Is this a known bug?  My way around it right now is to wrap the call to `scrollToIn

[2020-08-11 18:31] petyosi commented on #163
@BrentFarese Can you reproduce that in a codesandbox or stackblitz? I will take a look (and most likely fix it) as soon as I get a reliable repro.

[2020-08-11 19:25] BrentFarese commented on #163
Yes, I was just able to reproduce the error in this [Codesandbox](https://codesandbox.io/s/react-virtuoso-bug-4o9vn?file=/src/Drawer.tsx).  Just click the "Open Drawer" button and you will see the error arise.

The example is slightly different from my setup where the error occurred, in that in the Codesandbox I use a [callback ref](https://reactjs.org/docs/refs-and-the-dom.html#callback-refs) whe

[2020-08-12 00:36] AkalUstat commented on #161
![Screen Shot 2020-08-11 at 5 34 02 PM](https://user-images.githubusercontent.com/43657841/89962197-e6df7d00-dbf8-11ea-89a8-27546598924a.png)
sure! as you can see here, the list has its own scrollbar and the whole webpage has its own individual scrollbar. Asking because according to [this thread]https://stackoverflow.com/questions/39180500/avoiding-double-scrollbars-with-grid-component-and-a-websi

[2020-08-15 07:22] #163 closed

[2020-08-15 08:15] petyosi commented on #142
Available in `v0.20.0`. Cheers to @shoNagai

[2020-08-15 08:15] #142 closed

[2020-08-15 08:16] petyosi commented on #107
startReached is available in `v0.20.0`

[2020-08-15 08:16] #107 closed

[2020-08-15 08:23] petyosi commented on #157
Available in `v0.20.0`

[2020-08-15 08:23] #157 closed

[2020-08-17 09:58] jaapbakker88 opened #166 "Missing items when scrolling up/down"
First off, thanks for creating this awesome library. We're using it to build chat and we're trying to implement virtualised scrolling on it. We know there's issues regarding this, but it seems we've got it working. We use prepend items when we detect the startIndex going below 10:

[code]

## the issue
The issue we're having though is the following: when you scroll up a bit and down again. Sometim

[2020-08-17 11:28] KiyoshiMori commented on #122
I have this bug too and I found that when I'm using custom ScrollContainer then it works right.
You can check it here: https://stackblitz.com/edit/smooth-behavior-without-render-breaks?file=example.js. Maybe it could be helpful if someone wants to fix it.

[2020-08-17 14:47] petyosi commented on #166
Hey @jaapbakker88 ,

First, I am currently working on a new iteration of the library that is specifically designed for chat interfaces. It is not released yet; if you are interested in using it in your company's product, please reach me at the email in my profile, so that we can discuss it further.

Up to your example - I haven't seen that behavior in the simplistic examples I used when I tested t

[2020-08-18 09:19] jaapbakker88 commented on #166
@petyosi thank you for your swift response, I emailed you about the iteration of the library for chat interfaces. I also created a version of the library where we've disabled prepending messages completely. And removed all styling from the messages as well. You can enable loading more by removing the `disableLoadMore` prop from `FastMessageList`.

https://codepen.io/team/stream/pen/vYGLwOy?editors

[2020-08-18 18:11] petyosi commented on #166
@jaapbakker88 Thanks, I spotted a problem in the demo - the messages contain paragraphs with margins:

![image](https://user-images.githubusercontent.com/13347/90549248-e580f800-e196-11ea-8eb9-3a71f11af7d8.png)

Margins are the kryptonite of Virtuoso's logic, as they bleed outside of the container and don't bump its offsetHeight. As you can see in the screenshot, the component has measured the div

[2020-08-19 15:34] shoNagai opened #168 "Keep the scroll position - `scrollTo`"
First of all, thank you for this great work.
I'm using this library to create a chat app like Slack, but there is one feature I'd like to achieve. That is to restore the previous scrolling position when view the chat list again. (e.g., revisit it after changing channels.)
To implement this, I want to get and keep the scroll position.

I think initialTopMostItemIndex is the best way to specify the

[2020-08-20 13:45] jaapbakker88 commented on #166
@petyosi that seems to fix the issue yeah, seems we have a working inplementation now as long as we keep messages super simple.

[2020-08-20 18:33] petyosi commented on #168
@shoNagai this is not conveniently exposed due to a problem that I am yet to figure out how to resolve. It spans beyond the component itself - it is more of an issue for the app and the data provider.

Imagine the list containing 50,000 items, which are fetched from a remote data source. By default, the component "probes" the default item height by rendering the first item in the list - this means

[2020-09-02 18:20] alaboudi commented on #148
The overscan prop does not work for me when used in the `GroupedVirtuoso` component as well

[2020-09-05 00:13] PaperPlane01 commented on #168
+1 for this, it would be useful :+1:
I was able to achieve acceptable results by using `rangeChanged` callback and keeping track of `startIndex` for selected chat, and then using `scrollToIndex` method when going back to this chat. This isn't perfect and I had to apply some dirty hacks but it kind of works :)
Unfortunately, this method doesn't work well if you are using `overscan` property because

[2020-09-06 18:43] fabiospampinato opened #169 "Dynamic item height"
Some times items are not all the same height, but the precise height for each of them is known beforehand, so I propose for the `itemHeight` prop to also accept the following signature:

[code]

So that it can be called by the library when needed rather than taking expensive measurements and in general prodding the DOM.

[2020-09-06 23:05] fabiospampinato opened #170 "scrollTo API"
I'd like to have a more low-level "scrollTo" method available from Virtuoso that would allow me to scroll to a precise scroll height.

[2020-09-06 23:07] fabiospampinato commented on #170
Actually maybe just calling `scrollTo` on the outer element would work just as well 🤔

[2020-09-08 07:02] Amatrasan opened #171 "atBottomStateChange not working in example page"
I use atBottomStateChange to track being at the bottom of the list. I ran a test example with a timer and adding new users, but it doesn't work even there. It is added only once, and then nothing happens, even if you add a construction like
[code]
count increases, but the scroll to the last element (followOutput) does not work, and atBottomStateChange does not work when scrolling to the last eleme

[2020-09-08 07:08] petyosi commented on #171
I am not 100% sure I understand the problem you describe. Can you post a link to the page which does not work? The best you can do is to use stackblitz or code sandbox and show what you mean.

[2020-09-08 10:23] neilkuumar opened #172 "Dynamic heights not calculated correctly when initial render has placeholders"
Hi,

Firstly, great work on this library it works really well with little config.

I have a list that initially renders with placeholders whilst waiting for the data to load, then once all the placeholders have loaded, each item in the list is a different size, however, `data-known-size="72"` for all items (this is the height for the initial render with placeholders).

Is there any way I can recal

[2020-09-08 10:38] petyosi commented on #172
Hey,

check this comment: https://github.com/petyosi/react-virtuoso/issues/137#issuecomment-646948828

data-known-size won't refresh if the list looks ok (according to the calculations).

[2020-09-08 10:47] neilkuumar commented on #172
Thanks for the prompt reply! What would you recommend the solution is? I see you mention accessing `offsetHeight` of the node directly - are you able to elaborate on this?

[2020-09-08 10:59] petyosi commented on #172
I don't know why you need to access `data-known-size`. What are you trying to achieve?

[2020-09-08 11:08] neilkuumar commented on #172
I was referring to the comment you added in #137 "Up to the problem you describe - can you access the offsetHeight of the node directly? This is the first thing that comes to mind." But I see they actually just needed the heights for use with a different library. Ignore my previous comment 😄 .

What I want to achieve are the correct heights being calculated after the component has loaded the data

[2020-09-08 11:14] petyosi commented on #172
`scrollToIndex` has some self-correcting mechanisms in place to address scrolling to items with an unexpected size. However, since you mention rendering placeholders, my guess is that your setup is somewhat more complex. Can you replicate your setup in a simplified stackblitz/code sandbox? I should be able to advise you further.

[2020-09-08 11:25] neilkuumar commented on #172
yeah sure, will do that and get back to you later on today. Thanks for your help!

[2020-09-08 21:02] alaboudi opened #173 "GroupedVirtuoso does not work with React Testing Library"
Firstly, thanks for your work on the library.

I seem to be having issues with the GroupedVirtuoso component when testing it with React Testing Library. When I render the list, it comes out empty. I went through some of the issues previously raised issues and noticed a fix for the Virtuoso component (https://github.com/petyosi/react-virtuoso/issues/26). In that thread, the `initialItemCount` prop

[2020-09-09 07:51] neilkuumar commented on #172
So I think I've realised the issue whilst building the codesandbox. I think the `margin-bottom` on each item element is affecting the scroll position? (I've also just read the docs saying margin is the kryptonite 😅  so I guess the fix would be to remove the margin).

I've quickly put together this example here:

If you select the last element, select the last item in the list and click next list.

[2020-09-09 07:55] petyosi commented on #173
Hey,

`initialItemCount` is an SSR oriented feature, and making it work for grouped virtuoso is not trivial. I am not familiar with React Testing Library, but the built-in [testing tools from React](https://reactjs.org/docs/testing-recipes.html) execute the `useEffect` hooks, meaning that grouped virtuoso should work in there (I haven't checked).

Is there any way to make react testing library exe

[2020-09-09 07:57] petyosi commented on #172
Correct. Margins are guaranteed to cause miscalculations. Removing the margin makes the example work as expected, as far as I can see.

[2020-09-09 08:23] neilkuumar commented on #172
Yeah and it works nicely with padding as an alternative 👌 .

Thank you so much for your fast replies, this library is awesome - keep up the good work! 🎉

[2020-09-09 08:23] #172 closed

[2020-09-09 08:28] Amatrasan commented on #171
https://stackblitz.com/run?file=example.js

atBottomStateChange not called when I reach the bottom

[2020-09-09 10:49] FezVrasta opened #174 "Retrieve visible rows?"
Hi, I'd need a way to retrieve the visible rows rather than the rendered ones (so, I'd need to exclude the overscan).

I can't seem to find any API to do that, may you help me please?

[2020-09-09 12:30] petyosi commented on #171
You need to save the stackblitz - the link above does not include it.

[2020-09-09 12:33] petyosi commented on #174
Hey,

Check https://github.com/petyosi/react-virtuoso/issues/118 for details and potential workaround.

[2020-09-09 12:39] FezVrasta commented on #174
Great thanks!

[2020-09-09 12:39] #174 closed

[2020-09-09 12:51] PaperPlane01 commented on #89
As a workaround, it is actually possible to display reversed list and still have a normal scrolling, at least with mouse wheel and touchpad. You need to attach listener of `wheel` event to a div with virtual list, and then reverse scrolling direction by using `event.deltaY` property.

Here is a code sample:

1. Declare reference to a div inside which `Virtuoso` is placed

[code]

2. Attach ref to

[2020-09-09 17:08] JakeSchroeder opened #175 "Is chat like endless bottom top scrolling with threshold possible?"
Hey @petyosi thanks for this lib and all the work youve done on it.

I am building a chat-app and require the functionality of starting at the bottom, scrolling up and endlessely appending items with prefetching so it loads before the user scrolls to the top. Essentially like all the standard chat/convo apps.

Is this actually possible in the libs current state? Ive spent the better part of 3 days

[2020-09-09 19:24] Amatrasan commented on #171
https://stackblitz.com/edit/react-hkpuhn?file=example.js

[2020-09-09 21:53] #175 closed

[2020-09-10 16:16] petyosi commented on #171
This example seems to be working fine as far as I can see. What's wrong with it?

[2020-09-15 07:01] thecodrr commented on #169
Would love this as well.

@petyosi I tried implementing it but got stuck. Would love if you could give some pointers.

[2020-09-15 07:03] petyosi commented on #169
I think that react-virtualized or react-window support that, no? What's missing there?

[2020-09-15 09:14] Amatrasan commented on #171
Do you add new entries at the bottom when you reach the end of the list?

[2020-09-15 10:45] fabiospampinato commented on #169
@petyosi well we want to use react-virtuoso instead, right? 😄

[2020-09-15 11:30] petyosi commented on #171
I think so - check the gif:
https://giphy.com/gifs/react-virtuoso-hubEUiO7h1lMmbcmJ9

[2020-09-15 11:36] Amatrasan commented on #171
And this is what I see
https://recordit.co/TUYT9ctLR5

[2020-09-15 13:42] petyosi commented on #169
@thecodrr @fabiospampinato I am missing something here - how do you know those heights? Would you be comfortable dumping them as some data structure (compressed array) in the component config, rather than having this function being called 100k times?

Also, how does the list respond to viewport width changes? Or is this not an issue.

[2020-09-15 16:05] thecodrr commented on #169
@petyosi the heights are known if, for example, you are rendering 2 or 3 different types of items in one list. If we know the height of all the different types of items, having a function to give the height to Virtuouso per item type would allow for different items to be rendered without issues.

For example:
Item A - 50px
Item B - 100px
Item C - 110px

As for calling the function 100k times, that

[2020-09-15 16:09] fabiospampinato commented on #169
There's no way calling a potentially trivial function to fetch the height 100k could be slower than prodding the DOM 100k times if not more.

[2020-09-15 16:15] petyosi commented on #169
Giving this some thought - the component has to figure out the total height from the very start - so it needs to know all item heights upfront. That's why I am leaning towards a data structure rather than a function. FWIW, this could be done relatively easy - the `itemHeights` should be loaded in [this stream](https://github.com/petyosi/react-virtuoso/blob/master/src/engines/offsetListEngine.ts#L3

[2020-09-15 16:26] fabiospampinato commented on #169
@petyosi I don't think the height must be available for all items since the start, can't the library fall back to prodding the DOM if the height for some particular items can't be computed?

Regarding the shape of the API I think having a function would be much cleaner, often times I would imagine it would be in the form of: `item.type === 'foo' ? 20 : 30` or something trivial like that.

If for w

[2020-09-15 17:10] petyosi commented on #169
@fabiospampinato I believe I understand what you suggest, however, I don't see how it can fit in the current rendering model. If you would like, we can have a quick call for brainstorming; ping me on the mail on my profile.

[2020-09-16 18:27] petyosi commented on #171
I am not sure what's the problem then. Tested it on macOS, all browsers. You can debug what goes on your side, that's one [possible starting point](https://github.com/petyosi/react-virtuoso/blob/master/src/engines/scrolledToBottomEngine.ts#L18).

[2020-09-30 10:17] harish-aka-shivi opened #176 "[Bug] initialTopMostItemIndex render no list item when total items height is less than the container height"
Hi @petyosi, Thanks for the amazing library.

I am facing a bug related to `initialTopMostItemIndex`.

When the sum of total items height is less than Container/Virtuoso height, and there is no scroll bar visible, then if I add a positive value to the `initialTopMostItemIndex` prop, the list renders as an empty list.

Here is the reproducible URL:
https://stackblitz.com/edit/react-l1eibb-gjtdpd?fi

[2020-10-09 20:31] ivandotv opened #177 "Strange bug with react dev tools"
A strange thing is happening with react virtuoso in combination with react developer tools. As you can see from the video, when `highlight component updates` is switched on, and slow scrolling, the list keeps resetting to the top.
Maybe it's some strange combination of my setup, or perhaps it's the library, I just wanted to let you know.
I've spent four hours debugging this, so I thought I should

[2020-10-10 04:24] petyosi commented on #177
Thanks for reporting that, likely the outline triggers a resize of some sort. I will take a look.

[2020-10-14 15:13] FezVrasta opened #178 "Support CSS grid layout?"
Hi, I was trying to update my react-table + react-virtuoso table to use the new CSS grid layout provided by react-table but I realized Virtuoso needs one DOM element for each row to work.

Do you think it could be possible to use CSS grid with Virtuoso?

Example of react-table rendered with CSS grid:
![image](https://user-images.githubusercontent.com/5382443/96009101-8a8b1a80-0e40-11eb-8b5f-375f18

[2020-10-15 07:08] petyosi commented on #178
Hey,

No, this is not supported by design and needs a ground-up reimplementation. Tables are a very different beast.

[2020-10-15 07:08] #178 closed

[2020-10-16 15:54] WillSquire opened #179 "Detect isAtTop"
For hiding/showing scroll to top buttons - it might be nice to have a isAtTop property for 'batteries included' programming or being able to pass the `onScroll` prop to Virtuoso directly to get the scroll position (rather than through `ScrollContainer` prop).

[2020-10-16 16:04] axeljeremy7 commented on #166
Hey  I am having the same issue and my other issue is that @jaapbakker88 I dont think you do re calculate the heights before render. I am building a chat too and having issue because each message has different height,  any help on this @petyosi

[2020-10-16 16:07] petyosi commented on #166
@axeljeremy7 check if the fix I provided works for you. The chat specific version is under development.

[2020-10-16 16:07] #166 closed

[2020-10-18 05:48] petyosi commented on #179
Hey @WillSquire ,

there is no special event for reaching top, but you can hook up to `rangeChanged` and use the top index for that purpose. It is not super accurate, but, unless your items are very tall, it should work reasonably well.

[2020-10-19 08:25] WillSquire commented on #179
Thanks @petyosi ,

Great :) that works, but it does seem to only be triggered after the 3rd item (scrolling two pages down). Can this be made more accurate?

[2020-10-19 08:27] petyosi commented on #179
Not sure what you mean - the event is triggered correctly: https://virtuoso.dev/range-change-callback/

[2020-10-19 08:38] WillSquire commented on #179
Wow, that was fast. Thanks for the lightning response time.

I think it's because I've got the `overscan` property set, however it tends to stutter on each page load without it (it's an infinite loader). This can be a closed issue as it does work, but I'd be curious on how to trigger it more frequently with `overscan` set?

Thanks

[2020-10-19 08:52] petyosi commented on #179
Yep - indeed the overscan will cause the range changed to "lag". I am looking at ways to address that, will keep it open for now.

[2020-10-19 11:46] WillSquire opened #180 "Pass more props to item"
At the moment I get props by passing a closure to `item` that has things like `items` inside of it to access the payload, but it would be nice if I could pass additional props to it via a `itemProps` property (bit like what Mui do with `TextField`, etc). Other than keeping the item renderer out of the component, it would help to avoid using `useCallback` to prevent re-renders. It gets a bit bloate

[2020-10-19 15:36] WillSquire opened #181 "Transition causes scroll to jump"
If a transition animation is triggered whilst scrolling, scrolling will 'jump' to a previous scroll position. Unsure if this is library specific or if it's an underlying dom api triggering this, but whilst using [Mui Zoom](https://material-ui.com/api/zoom/) to show a scroll to top button once the user has scrolled down a bit (mentioned [here](https://github.com/petyosi/react-virtuoso/issues/179))

[2020-10-19 17:09] WillSquire opened #182 "Reset endReached"
Using the infinite loader implementation, if I scroll to the end of the list and then change something to retrieve a newly filtered or sorted list, then it may or may not load more if I scroll to the bottom of the list again. I'm not sure if this has something to do with the `count` being used to determine if the bottom of a list has been reached and then not being triggered again if it doesn't ch

[2020-10-20 05:23] petyosi commented on #181
Hey,

do you have a repro for that? I would like to take a look. Thanks!

[2020-10-20 05:30] petyosi commented on #182
Hey,

`endReached` is triggered only once when a certain index is reached - so yes, if the total count does not change, you won't get notified about it. This made sense for the use case I had in mind, but it might not work for another one. Can you post an example so that I can take a look? Thanks.

[2020-10-20 08:30] WillSquire commented on #182
Hi @petyosi ,

Ah, that sounds like the case. I've dissected some of the code to be as minimal as possible, but I'm not sure how useful it will be. If I change `sort` it will probably be the same sized list if it's cached from previous. `apollo` can serve cached data on the next render so it'll remain the same without a break (i.e. without setting it to `[]` or `null`)

[code]

Hope this helps?

[2020-10-22 00:08] chrisdostert commented on #176
+1 thank you!

Are there any known workarounds for this or is a fix in sight? This is a pretty major bug for chat applications at least.

[2020-10-22 03:44] harish-aka-shivi commented on #176
The way I worked around this is by not using this method and instead using `scrollToIndex`

[2020-10-22 13:57] FezVrasta opened #183 "Re-rendered because of hook changes"
Hi, I'm trying to improve the performance of my app and I noticed a lot of these messages:

![image](https://user-images.githubusercontent.com/5382443/96882097-3b1b9e80-147f-11eb-88bf-ace9c6dd3592.png)

They seem to be related to the VirtuosoStore.tsx file, do you think there could be a way to memoize the value to avoid unnecessary rerenders?

[2020-10-22 17:14] petyosi commented on #183
@FezVrasta I haven't seen that - can you send a repro?

[2020-10-22 18:16] FezVrasta commented on #183
Oh the message comes from [why-did-you-render](https://github.com/welldone-software/why-did-you-render), once enabled it logs this useful info.

The problem seems to be that the `render` function in `VirtuosoStore.tsx:177` is inline so it changes identity on each render.

[2020-10-23 09:16] petyosi commented on #183
@FezVrasta thanks - I think I found what's going on, but I need to test the fix better. As far as I can see, it does cause a re-render initially, but not as you scroll. Let me know if I am on the right track.

[2020-10-23 09:18] FezVrasta commented on #183
I get quite a lot of re-renders during the initial rendering phase (but that probably happens because I'm loading data asynchronously), but I also see it during scroll.

[2020-10-23 09:21] petyosi commented on #183
Thanks. FWIW, I will try to get rid of the warning in the examples from the site.

[2020-10-26 04:54] nilo-makedev commented on #168
@shoNagai I'm having the same issues, I'm wondering if you have solved this issue?

@petyosi Thanks for this awesome package. Looking forward fo the new updates.

[2020-10-26 23:37] axeljeremy7 commented on #166
@petyosi sorry if i misunderstood, what is the fix?

[2020-10-27 04:53] petyosi commented on #166
@axeljeremy7 examine if you have any margins of the elements inside the items.

[2020-10-27 17:29] ZNackasha opened #184 "atBottomStateChange always return false when browser zoom is set to 90%"
the following is a screen shot of dev tools showing the issue. we simply placed a breakpoint in the scrolledToBottomEngine function to see the values. please look at the watch list for clarification. looking at the scrollTop variable a decimal value simply does not make any sense to me.

![image](https://user-images.githubusercontent.com/11307112/97338960-607e2300-1858-11eb-8c98-fb518473cf39.png)

[2020-10-28 07:47] ivan-kleshnin opened #186 "Header component is buggy"
## Header component is buggy

### Demo

https://my-virtuoso.vercel.app/
^ as you can see footer behaves as described in docs – appears at the end of the scroll.
Header, on the other side, jiggles on scroll until finally disappears. Both have exactly the same markup 🤷‍♂️

### Sources

https://my-virtuoso.vercel.app/_src

Basically this (`create-next-app, index.js`):

[code]

[2020-10-28 14:49] petyosi commented on #184
Thanks, I will look into that.

[2020-10-28 14:55] petyosi commented on #186
Thanks for the report, I am working on that area.

[2020-10-29 17:06] Ponjimon commented on #114
I cannot confirm this being fixed, I'm still experiencing the same behavior as OP

[2020-10-30 20:04] fabiospampinato opened #187 "List not updating with new items"
I have this bug where adding new items to a list doesn't make the list render the new items like it should.

I don't have a minimal repo that reproduces the issue, but I have recorded a video showing the issue in action: https://i.imgur.com/9OV4ERl.mp4, paragraphs of text on the left are rendered as items in a Virtuoso list on the right.

Basically new items are just not rendered, unless I scroll

[2020-10-30 22:23] fabiospampinato opened #188 "Predictable overscanning"
The way overscanning is currently implemented is counterintuitive for me, for a few reasons:

1. The viewport seems to be taken into account too, instead I'd expect overscanning to just add the provided overscan value to the visible height of the list basically. Having the viewport dimension hardcoded in the logic makes it difficult to fine-tune overscanning for our needs. Basically I'd expect Vir

[2020-10-31 08:48] petyosi commented on #187
Hello @fabiospampinato,

I have an idea what may cause that. Hopefully, the new `data` property I am working on will address the problem reliably. In the mean time, you can refresh the `dataKey` prop to manually tell the list to redraw. Here's [an example of it](https://stackblitz.com/edit/react-xlsdee?file=example.js). Please let me know if this works for you.

Regards,

[2020-10-31 09:07] petyosi commented on #188
Thanks for your time to write that down :). Let's tackle the easy parts first.

Point 1. in the codebase, the "viewport" is the element that encompasses the list. The component does not query the window size, so that's working as expected.

Point 2. The `* 2` thing was a stupid idea. It is removed in the version I am working on, which is not yet released.

Point 3. This is probably what we need to

[2020-10-31 13:55] fabiospampinato commented on #187
From what I'm seeing setting a new `dataKey` causes the rendered items to be re-rendered, but since the new items were not rendered to begin with they are still not displayed 🤔

Anything else I could try?

[2020-10-31 14:09] fabiospampinato commented on #188
My bad 👍

I think that's how react-window does it. I'm no expert but I think just rendering items outside the viewport is important for ensuring tabbing works for example, other than that I think we just want to minimize glitches while scrolling and maximize performance, whichever approach does best at that I'm in favor of, if I had to guess I would guess that chunking is more expensive but I may

[2020-10-31 14:23] petyosi commented on #187
@fabiospampinato this was a shot in the dark. I need to see a repro or at least a guidance on how you refresh the list to help further.

[2020-10-31 14:41] fabiospampinato commented on #187
@petyosi Extracting a repro would be difficult as this component I'm using Virtuoso in is very much intertwined with the rest of the app, but essentially this is it:

[code]

Essentially a new `segments` value comes in, it will have one more segment in it, which would cause Virtuoso's `totalCount` prop to be updated, which should cause Virtuoso to render the new item since the list is scrolled to

[2020-10-31 15:02] petyosi commented on #188
Nice suggestion on main / opposite! I will think over it.

[2020-10-31 15:19] petyosi commented on #187
I am 99% sure that this won't help - but, in order for the newly introduced item to become visible in this particular case, you should use the `followOutput` prop - [see demo](https://virtuoso.dev/stick-to-bottom). Otherwise, the newly introduced item won't be scrolled into view. However, this is not the problem in the video you sent - something does not get refreshed there.

[Here's a working exa

[2020-10-31 15:45] fabiospampinato commented on #187
But I don't want them to be scrolled into view, I want them to be scrollable into view.

I've just tried `followOutput` and I can't notice any difference for my use case.

[2020-11-02 12:33] Zache commented on #26
This works for me also, only with the added problem that with it initialItemCount set React re-renders the component endlessly. The profiler says because of hooks changed. I'm dealing with this by only setting initialItemCount during tests, but it would be nice to not have to do that.

[2020-11-03 13:08] WillSquire commented on #182
@petyosi Just to give a bit more info, I _think_ this is relevant:

- Apollo first shows cached 'stale' data (let's say it's 6 items long)
- Apollo can then return 'new' data (let's say the pagination is set to 5 items long)

This would come back as less than the first and would still require another page to be loaded.

[2020-11-03 13:15] petyosi commented on #182
Thank you - I need to think this through. In the case you describe, the `endReached` should be reset - but I am not sure how to do this in a predictable manner. You can try `atBottomStateChange` event in the meantime.

[2020-11-03 13:36] WillSquire commented on #182
Thanks, I'll give that's a try! Not sure if this is applicable, but would an array comparison help in this situation? (i.e. `oldData !== newData` or `useMemo`)

[2020-11-04 14:32] petyosi commented on #184
Fixed with #189.

[2020-11-04 14:32] #184 closed

[2020-11-05 09:18] mahboubii opened #190 "Zero height item breaks the list"
There is an interesting case where the list renders nothing if some of the items are randomly null or have zero height, it's possible to circumvent this issue by rendering a 1px height.

[code]

![image](https://user-images.githubusercontent.com/6333141/98221139-8e95ee00-1f4f-11eb-81dc-51864390b756.png)

[2020-11-05 13:10] petyosi commented on #190
Yes, this is not supported. See #35 for more details.

[2020-11-05 13:10] #190 closed

[2020-11-05 13:16] petyosi commented on #35
The issue is not solvable with the current size tracking data model - and I don't have a better one. Closing.

[2020-11-05 13:16] #35 closed

[2020-11-05 13:18] petyosi commented on #125
Closing - feel free to comment with a reproduction.

[2020-11-05 13:18] #125 closed

[2020-11-05 17:34] osadchiynikita commented on #175
+1 Also wondering @JakeSchroeder were you able to implement such behavior?

[2020-11-09 10:30] osadchiynikita opened #191 "followOutput support for GroupedVirtuoso"
Hello @petyosi, first of all, thanks a lot for such helpful library, I was able to build solution I need with grouping and backwards  scrolling direction.

followOutput works great for `Virtuoso` plain list component, but it's not supported for `GroupedVirtuoso`

How complex is to add support for grouped and is it in near future plans? I

Thanks!

[2020-11-09 11:51] petyosi commented on #191
Hey,

That should be a trivial fix I think. I am working on a new release which improves the compatibility of the grouped and the regular component, so I will check how it works there.

[2020-11-09 12:11] osadchiynikita commented on #191
@petyosi thank you! Feel free to ping me if testing or any else from my side needed

[2020-11-09 16:59] carstenpatzke opened #192 "How to get the current visible group in a GroupedVirtuoso?"
Hey there,
is there a way to efficiently get the current group in a GroupedVirtuoso?
I currently do not see any Subscription for that.

I've tried to use `rangeChanged` but it seems it will misscount near the end of a list.
[See this example](https://stackblitz.com/edit/react-xfltju?file=example.js) that is using the GroupedVirtuoso example in combination with `rangeChanged`.

Do I really have to

[2020-11-10 11:12] petyosi commented on #192
Are you looking for all visible groups or the "sticky" group?

[2020-11-10 11:34] carstenpatzke commented on #192
Well I think it's easier if I just somehow get the sticky group that is on top.
But if possible finding out what is in the center of the screen would also be nice.

[2020-11-10 11:36] petyosi commented on #192
Can you show me what UI are you building? I need to give this a better thought.

[2020-11-10 11:44] carstenpatzke commented on #192
It is literally like the the example that I've linked. But instead of `Current visible range:` I would like to see the current group.
https://stackblitz.com/edit/react-xfltju?file=example.js

[2020-11-10 12:24] wilderedin5 opened #193 "Expose an event for scrolling to get access to scrollTop"
Hi, I have several scrolls. I want to link them together. But to implement this, I need a scroll position.

Now I get the scroll position like this:
- Placed virtuoso in a div container on which to hang ref.
- Through ref, using the firstChild property, I made my way to the virtuoso container and got the scrollTop.

It will be cool if a callback appears that will return scrollTop from VirtuosoStor

[2020-11-10 12:56] petyosi commented on #193
Agreed, many people have requested this.

[2020-11-10 20:07] caseyjhol opened #194 "VirtuosoGrid with groups?"
Is there any way to combine VirtuosoGrid and GroupedVirtuoso? I've got a responsive grid of cards divided into groups. On wider screens there can be up to 3 cards in a row, and on small screens it's 1 card per row. The header row is full width regardless. All of the cards are the same height. Any ideas?

I'm trying with GroupedVirtuoso right now, and it's not working because there are multiple car