[2021-05-09 21:13] TrueCarry commented on #361
https://github.com/TrueCarry/react-virtuoso/commit/b068fa8a96b6f0de5e95519ded7d0227d1614ac1 I've tried to make it, and in simple case it seems to work, but I'm not sure if it'll break something or even work in real world. Would be great if you give me some pointers.

[2021-05-13 14:49] theromis commented on #62
@shoNagai need horizontal scroll as well, have you had a chance to create a PR for your testing changes?

[2021-05-13 22:13] frabarz opened #363 "[Feature request] Add detection for grid-gap"
I'm currently using the VirtuosoGrid component to render a long list of items in a grid, using CSS grid, and it's working great. However, I noticed when reaching the end of the list, the calculation it does for the height of the wrapper and the padding at the top falls short. My grid had a grid-gap set, and the items some margin, so just to test I deactivated them, and the height calculations matc

[2021-05-14 11:12] petyosi commented on #363
I like the grid-gap CSS prop, and I think it closely matches the use case of the grid. Are you interested in opening a PR? It might require some additional tracking, because the gaps are `number of items - 1`, so it better be tracked separately. It will also be interesting how to measure it.

[2021-05-19 23:43] harrisonlo commented on #197
@petyosi I think it's quite common to have top and bottom paddings in layouts, and most of us are "hacking" that with the `Header` and `Footer` components. What do you think about just adding a simple prop for the vertical paddings? (I'm willing to do a PR, I'd appreciate if you could point me to the relevant files tho!)

[2021-05-20 06:25] petyosi commented on #197
@harrisonlo I am hesitant of adding styling props, to be honest - all in all, they won't be easier to implement than Header/Footer.

If you want to introduce header and footer, here's the rough checklist:

- Add the items [to the interface](https://github.com/petyosi/react-virtuoso/blob/master/src/interfaces.ts#L182).
- Include them in [the component system](https://github.com/petyosi/react-virtuo

[2021-05-20 12:17] isBatak opened #364 "[BUG] - Footer height issue"
When the footer height is bigger the viewport strange things are happening.
It will load next page but not more than that. I will be stuck to the loading element.
This is an issue if we have a skeleton loader in the footer which have the same number of elements as the page and it exceeds the size of the viewport.

**Reproduction**
https://codesandbox.io/s/virtuoso-footer-height-issue-9756k?file=/s

[2021-05-20 13:29] petyosi commented on #364
@isBatak True, kind of erratic on my side, but definitely reproducible. Will take a look.

[2021-05-20 16:40] reidbarber commented on #42
One question related to that solution: Does the List component get remounted on every Virtuoso render?

For instance, if you put an input for filtering rows in the header, it will lose focus when you type and the rows change.

Forked example:
https://codesandbox.io/s/virtuoso-table-forked-jsmpg?file=/src/App.tsx

This is a pretty common use case, especially for react-table. Is this something that

[2021-05-21 05:22] petyosi commented on #364
Upon further investigation, this seems to be caused by a (rather interesting) browser behavior. If the footer is tall enough to occupy the entire visible area, appending items above it causes the browser to auto-reposition so that the same element is kept into the viewport, resulting in the behavior you observe. In fact, it is not stuck - if you scroll up, the `endReached` will be triggered. Never

[2021-05-21 05:22] #364 closed

[2021-05-22 09:23] newsiberian opened #365 "[BUG] Item component can't accept children as array"
**Describe the bug**
I tried to build Material-UI list w/ secondary actions area (https://next.material-ui.com/components/lists/#list-controls) and have failed, since Item component can't accept children as array. It is incorent to pass children within Fragment to MUI ListItem. Them must be placed directly, that is why I need an array.

**Reproduction**
I modified your example w/ a few additional

[2021-05-22 10:23] isBatak opened #366 "[BUG] Endless scrolling bug when using Chakra UI components"
**Describe the bug**
This is a continuation of #364.
I investigated it more and figure out that my problem is not just footer height, it seems like strange scroll behavior is connected to Chakra UI lib, somehow...
In the code sandbox example, provided below, we can see that `endReached` gets triggered multiple times regardless of the footer size (which is 100px now).

**Reproduction**
https://code

[2021-05-22 13:19] petyosi commented on #365
Try using the latest version. I checked this in the example, and it seems to be working:

[code]

[2021-05-22 13:19] #365 closed

[2021-05-22 13:24] petyosi commented on #366
If I see correctly, the problem is that the rendering is "unstable" - each re-render will display different random text - that's not supported. Exactly the same problem has been discussed in at least one closed issue here - please browse the closed issues section.

I may suggest that you spend some time simplifying your examples and removing the various "moving parts" - random text, styling, etc,

[2021-05-22 13:24] #366 closed

[2021-05-24 10:24] nonoroazoro commented on #291
Use atTopStateChange and atBottomStateChange to retry fetching more data.

[code]

[2021-05-24 10:54] harrisonlo commented on #197
@petyosi Thanks for the reply. I saw that the `paddingTop` and `paddingBottom` values are updated inline as you scroll, so I thought when it reaches top or bottom (for which there seem to be logics already in place, with `atTopStateChange` etc.) we can simply set the value to something other than 0. Tho I haven't looked too much into the code to know if it'll break something.

[2021-05-24 11:44] MartinNovak1991 opened #367 "[Question] Is possible to trigger range update ?"
I have a issue ... List item is expandable, but range is not updated after item expanding. Visible items is less because of item height (expanded), but range trigger is not fired and range is still same.  I must scroll for range update. How can I trigger range update manually, on demand?

[2021-05-24 11:48] petyosi commented on #367
I am not sure what you are doing and why it does not work. But a wild guess would be that this issue will help you:

https://github.com/petyosi/react-virtuoso/issues/322

[2021-05-24 11:48] #367 closed

[2021-05-24 17:05] muyiwaoyeniyi commented on #291
@nonoroazoro That's what I'm using at the moment, but they fire a lot more than endReached and startReached.

[2021-05-26 09:12] NathanDeveloping commented on #253
Thank you for this! But it's not working with GroupedVirtuoso. After a bit of scrolling we lose the sticky group headers...

Any idea how to fix it ?

[2021-05-26 09:44] ytnytn1 opened #369 "[BUG] ResizeObserver loop limit exceeded error is reported"
**Describe the bug**
ResizeObserver loop limit exceeded error message is reported

**Reproduction**
https://codesandbox.io/s/material-ui-react-virtuoso-forked-z2bf5?file=/src/Tabs.tsx

**To Reproduce**
Steps to reproduce the behavior:
1. You will see an error in the console right after the list is rendered

**Expected behavior**
ResizeObserver loop limit exceeded is not reported

**Desktop**
 - OS

[2021-05-26 11:48] petyosi commented on #369
Duplicate https://github.com/petyosi/react-virtuoso/issues/254

[2021-05-26 11:48] #369 closed

[2021-05-26 15:26] petyosi commented on #369
You can read the comments in #254 and the mentioned workaround there.

[2021-05-27 18:06] harshitdavda opened #370 "[BUG] Unexpected scroll behaviour with overscan in case of prepending items"
**Describe the bug**
Unexpected scroll behaviour with overscan in case of prepending items

**Reproduction**
https://codesandbox.io/s/prepending-items-with-custom-height-with-overscan-40cmz

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll to top of the list
2. When items are prepended, scroll position is not maintained

**Expected behavior**
Scroll position should be maintained when pr

[2021-05-27 19:20] petyosi commented on #370
I'll take a look, but it might be hard to fix. Notice that I would not recommend overscan and regret introducing it. It does not solve any actual performance problems, but rather creates more.

[2021-05-28 09:45] sunil1167 opened #373 "[BUG] unexpected issue while scrolling by adding custom scroll bar"
Not able to scroll to remaining items after adding custom scroll bar. please have a look.

https://codesandbox.io/s/stoic-hamilton-3w1z0?file=/src/App.js

--> please scroll to see issue

[2021-05-28 11:32] petyosi commented on #373
Check this for more information and working examples. https://github.com/petyosi/react-virtuoso/issues/253

[2021-05-28 11:32] #373 closed

[2021-05-28 18:17] petyosi commented on #370
Took a look. It is hard to fix, the only viable way would introduce blinking.

Long story: pretending items preemptively scrolls down using the default height of the items to be prepended, so that they never get rendered. Overscan breaks that assumption since it renders the prepended items. If some of them happen to have different heights, the preemptive scrolling is no longer at the valid positio

[2021-05-28 18:17] #370 closed

[2021-05-30 22:45] stephenh opened #375 "Customize the item height lookup"
I have react-virtuoso's `List` ~90% rendering a CSS grid-based table, but have hit one snag.

Per the customized rendering guide, I'm providing my own `List` component, which sets `display: grid` and `gridTemplateColumns`.

Normally with CSS grid, the cells are supposed to be immediate children of the `display: grid`.

For react-virtuoso, the `Item` wrapper `div` "gets in the way" between the `Ite

[2021-05-31 00:55] stephenh commented on #375
A way to avoid another prop and "convention-over-configuration" support what I'm trying to do would be something like (in `getChangedChildSizes`):

[code]

Which does 2-levels down probing (through Item and itemContent) for the 1st element with a non-zero size, only if the current behavior doesn't find a size (i.e. would be no performance decrease or change in current behavior).

[2021-05-31 05:21] petyosi commented on #375
Hey @stephenh ,

I would happily accept a PR that exposes the height lookup as a prop: `(element: HTMLElement) => number`. Some people have requested this over the years, I am uncertain on how much that would work, to be honest.

Few things which are worth considering given your approach:

1) Does the ResizeObserver still work with that DOM structure and CSS arrangement?
2) What's the performance?

[2021-05-31 15:36] stephenh commented on #375
Hey @petyosi , thanks for the quick reply!

I spent ~half an hour adding an `itemSize` prop, but am stuck not knowing how the urx system works. I intellectually understand the reactive pipe idea, but can't concretely translate that to "okay, how do I achieve x/y/z" yet :-).

Here's what I have so far, and specifically `itemSize` isn't a valid param to `useEmitterValue`:

https://github.com/petyosi

[2021-05-31 19:04] petyosi commented on #375
I cannot remember for certain if the list system does not export only certain items from the size one. Will check tomorrow. PR looks good otherwise.

[2021-06-01 05:49] #375 closed

[2021-06-03 13:04] stephenh commented on #298
Fwiw, we were initially surprised that neither `react-window` or `react-virtuoso` provided this sort of "caching" of "already rendered, then scrolled away, then scrolled back" nodes.

And that, in general, React itself seems to make this hard to implement (i.e. you'd need to trick the reconciler into keeping your DOM nodes around, probably by keeping them in the DOM but marked as `display: none` w

[2021-06-03 14:56] sallyhill commented on #26
Hi there, is there a way to programmatically scroll in unit tests that don't define refs?

[2021-06-03 16:34] frikkf opened #379 "[Bug] Infinite loader, window scroll and dynamic item height"
Hey!

I might have found a potential bug.

I am trying to use this wonderful library with dynamic item heights, window scrolling and infinite scrolling.

Should this be possible?

In my local project I cannot seem to trigger the **onEndReached** callback.

I will provide additional examples if it should work :)

Thanks!

[2021-06-03 18:51] petyosi commented on #379
Hey,

Provide a minimal reproduction of the problem. I will take a look.

[2021-06-04 05:56] frikkf commented on #379
Here is a minimal example: https://codesandbox.io/s/dry-thunder-yrc66?file=/src/App.js:620-668

Note: It seems like onFetchNext is triggered, but when scrolled to the bottom, I cannot find the first 100 items anymore.

After the first onEndReached I can find the 200th item, but then, it seems onEndReached is triggered, but new items are not rendered.

[2021-06-04 08:01] petyosi commented on #379
Double-check what you are doing in `fetchNext`. You have a bug in how you construct new items.

[2021-06-04 08:01] #379 closed

[2021-06-04 09:07] frikkf commented on #379
Updated the codesandbox and it works.
Thanks for pointing out the small bug I had there.

Note to potential readers that might pop into this:
The sandbox example works with the window scroll and infinite loading of items.
Make sure you don't have a div with overflow-y: auto or scroll when you want to scroll using window :)

[2021-06-07 14:28] IngenieroLata commented on #192
I need something similar. Is there a way to get the current index at the top of the scroll area? Not the range because seems the `overscan` affects it.

[2021-06-07 21:26] NicoleMGF commented on #298
This would help for lists that include images. Having the images re-fetched for users with caching disabled every time they scroll is a big hit to page size.

[2021-06-07 23:40] theconnectionist commented on #141
@fonty422  Just for the list would be good enough, but redux would be a nice-to-have :-)

[2021-06-08 12:20] cnt-null opened #382 "[BUG] Maximum call stack size exceeded"
**Describe the bug**
When I set the overscan prop to GroupedVirtuoso and scroll down very quickly, an error occurs: "Maximum call stack size exceeded..."

**Reproduction**
https://codesandbox.io/s/snowy-monad-o3nbf

**To Reproduce**
Open the link and scroll down

**Expected behavior**
No errors

**Screenshots**
![screencast 2021-06-08 15-16-29](https://user-images.githubusercontent.com/69477169/12

[2021-06-09 12:49] fonty422 commented on #141
[Here's](https://codesandbox.io/s/virtuoso-list-mat-ui-redux-wojxh) a basic sandbox complete with a basic redux set up.
If you're not familiar with using redux, this might appear a bit confusing and I recommend a good tutorial - perhaps even a tutorial series. I've tried to add plenty of comments where I think they're needed for clarification.

[2021-06-10 10:34] Venugopal46 opened #383 "[BUG] startReached and endReached called in succession"
**Describe the bug**
In a particular scenario,`startReached` and `endReached` called in succession.

**Reproduction**
https://codesandbox.io/s/romantic-mountain-tzfbw

**To Reproduce**
Steps to reproduce the behavior:
1. once initial items are loaded, scroll up to fetch previous items
2. observe the console logs

**Expected behavior**
only `startReached` should be called.

**Additional context**
T

[2021-06-10 11:21] igorpost92 opened #384 "[BUG] endReached and Scroller cause scroll position reset"
**Describe the bug**
When using both endReached and Scroller component scroll position resets after endReached callback.

**Reproduction**
[https://codesandbox.io/s/beautiful-christian-yqgbr](https://codesandbox.io/s/beautiful-christian-yqgbr)

**To Reproduce**
Steps to reproduce the behavior:
1. Pass endReached prop
2. Pass components['Scroller'] prop
3. Scroll down to end
4. Scroll position rese

[2021-06-10 11:47] petyosi commented on #384
That's because you are passing a new Scroller component with each rerender. Move the scroller outside of the component like this - https://codesandbox.io/s/bitter-bush-llgyq?file=/src/App.tsx:624-625.

[2021-06-10 11:47] #384 closed

[2021-06-10 12:05] petyosi commented on #383
I can't observe something that does not work right, can you send a screen record?

[2021-06-10 14:21] igorpost92 opened #385 "[BUG] Lower rows are not visible when large amount of data"
**Reproduction**
[https://codesandbox.io/s/priceless-boyd-u2ik9](https://codesandbox.io/s/priceless-boyd-u2ik9)

**To Reproduce**
Steps to reproduce the behavior:
1. 1000000 items in data.
2. Scroll to row 932067.
3. No items are visible after that row.

**Expected behavior**
Items are visible

<img width="198" alt="Снимок экрана 2021-06-10 в 17 19 59" src="https://user-images.githubusercontent.co

[2021-06-10 14:27] Venugopal46 commented on #383
https://user-images.githubusercontent.com/7404447/121542646-f18bbe00-ca25-11eb-811f-9659934fd625.mov

let me know if this helps. Thanks.

[2021-06-10 16:38] igorpost92 opened #386 "[Question] endReached offset"
Hi.
As far as i understand, endReached callback fires when i scroll exactly to the end of the list.
Is it possible to fire this callback before the end with some offset, for example where there is 10 rows left to scroll or some distance in pixels?

[2021-06-10 17:44] petyosi commented on #385
That's a browser limit. Maximum height of an element is around 16M pixels. I have an open issue with a workaround in mind, but it is not great, so not sure if willing to offer it.

[2021-06-10 17:44] #385 closed

[2021-06-11 05:40] #386 closed

[2021-06-11 05:44] petyosi commented on #383
That does not look right, but I can't reproduce. Here's how it works on my side:

https://user-images.githubusercontent.com/13347/121636861-34cf4680-ca91-11eb-9c2b-1685f69c6bb0.mov

[2021-06-11 08:32] Venugopal46 commented on #383
I mentioned that this issue is happening only in one scenario. scroll up after initial load. I also mentioned that this issues isn't happening if you scroll down first to fetch next page.

[2021-06-11 09:49] petyosi commented on #383
Nah, got it. I was not reading you report correctly

[2021-06-14 09:50] theconnectionist commented on #141
Thank you fonty422. Much appreciated

[2021-06-14 18:06] dmitryTurov opened #390 "Usage of a useWindowScroll prop in integrating with react-beautiful-dnd"
**Describe the bug**
Errors while dragging an item:
Invariant failed: Cannot collect without a droppable ref
Invariant failed: Cannot stop drag when no active drag

**Reproduction**
https://codesandbox.io/s/usage-of-a-usewindowscroll-prop-in-integrating-with-react-beautiful-dnd-390-rm72r

**To Reproduce**
Drag an item

**Desktop:**
 - OS: ubuntu
 - Browser: chrome

[2021-06-14 18:16] dmitryTurov commented on #390
Hello! Thanks for your work first of all @petyosi!
Obviously, I didn't get the main realization idea of wrapping the list into a document scroll container. If you have any suggestions on this case I would be extremely grateful

[2021-06-15 04:13] petyosi commented on #390
What you have linked is just a blank sandbox. I assume you tried to combine the existing examples with `useWindowScroll`, but likely this needs more tweaks in the config of dnd.
Using window scrolling with beautiful dnd would be a useful example indeed, I would love to get a contribution on the matter.

[2021-06-15 08:19] dmitryTurov commented on #390
Thanks for the reply!
Sorry, you are right I provided a broken link. Updated. In fact, you are right twice: it was just a copy of the example (https://virtuoso.dev/react-beautiful-dnd/) but with enabled useWindowScroll prop.
If I make it work with some workaround I'll ping you

[2021-06-15 21:17] ivandotv commented on #369
I'm having this issue with version `1.8.6`
Is there  something we should do in user land?

[2021-06-17 04:09] cameracker opened #392 "[BUG] react-virtuoso bundle is large because of extraneous files"
**Describe the bug**

Per NPM, the bundle size of react-virtuoso is 6MB. This is because of a large number of extraneous files contained in the bundle including:
* The end to end tests
* An example file thats 4MB in size

**Reproduction**
![image](https://user-images.githubusercontent.com/14242948/122329043-8f2f3380-cee5-11eb-87fb-f331805f8c5c.png)

**To Reproduce**

N/A

**Expected behavior**
The

[2021-06-17 04:09] cameracker commented on #392
This is probably simple to fix but haven't used `microbundle` before

[2021-06-17 04:14] cameracker commented on #392
Also something to note, the typedefs are weirdly large for some reason. This is less of an issue because it gets tossed in a production bundle. But maybe something to also watch

[2021-06-17 12:23] petyosi commented on #392
Thanks, I will take a look at the typedefs. microbundle was the replacement I found for TSDX, which started great and then stalled. If you can recommend a similar (but alive) tool, I am all for it.

[2021-06-17 13:58] andreicorpo commented on #351
I agree with this. There should be a way to send some common props to the components. For example, I would like to be able to pass the same function to all of my items in the list.

[2021-06-17 19:42] #392 closed

[2021-06-21 12:47] itrare commented on #109
Hi @petyosi  thanks for such good lib. I am also implementing react sortable hoc with virtuoso, but I am having issue in typescript and don't know to fix it, if typescript example can also be added that would help everyone a lot.

@mitchellwarr if you have any example for typescript please help.

[2021-06-21 16:25] petyosi commented on #109
@itrare post your implementation and point towards the problems you are facing.

[2021-06-21 18:11] petyosi commented on #383
I examined the linked example in further detail, and this is going to be quite hard to fix on the lib side. Let me explain:

When scrolling up and new items are prepended, the lib scrolls **down** first in order to compensate for the newly introduced content. When items are prepended, the browser shifts back to where the list should be.

In your case, however, the initial amount of items is small,

[2021-06-21 18:33] #382 closed

[2021-06-23 12:42] Donorlin opened #396 "[BUG?] Wrong "initial" range"
**Describe the bug**
Hi there, big fan of your package. I have noticed in your example [https://virtuoso.dev/range-change-callback/](https://virtuoso.dev/range-change-callback/) that when I load a page "current visible range" is 0-4 but when I scroll a bit down and back up (force rangeChanged being called), the range is suddenly 0-5...

We are having this problem in our application too, so I am ki

[2021-06-23 17:29] petyosi commented on #396
That's a bug that's indeed, thank you! Will look into it

[2021-06-24 07:34] JM-Master commented on #70
This problem still exists。When I reach the bottom of the list，keep on scrolling more then an item height ( because of  the rubber band effect ), the list content starts jumping / flickering . This triggered a re-render . Can we stop the calculation at bottom of the list ...

[2021-06-24 09:59] petyosi commented on #70
@JM-Master please post a repro.

[2021-06-24 13:17] Donorlin commented on #396
Thank you for your quick response! We are still using 0.* version of react-virtouso. Is there any chance your future fix can be released in the old version as well? Sadly we have no space right now to fluently upgrade to 1.* version (tried).. and we really need fix for this in production.

[2021-06-24 15:14] petyosi commented on #396
Ah, no - sorry; I have completely erased the implementation of 0.x from my head.

But you should move away from 0.x. Compared to it, 1.x is much more optimized. There's a migration guide available [for the purpose](https://virtuoso.dev/migrate-v0-to-v1/).

[2021-06-25 02:52] JM-Master commented on #70
I  found out it appears when I add pictures . Use this view to try it on an iOS device: https://01nql.csb.app/

[2021-06-25 09:59] exneval commented on #390
I think I've found the workaround, kindly check this PR #397

[2021-06-26 03:33] petyosi commented on #396
@Donorlin I examined the case you describe. The behavior is indeed inconsistent, but I won't be able to address it - here's why.

Let's use a simple case of `300px` tall list with `30px` tall items. When the list is rendered initially, it calculates that it will take exactly 10 items (range 0-9) to fill the viewport. Scrolling 5px down, it will need *11* (0-10), since the first one is partially hi

[2021-06-26 03:33] #396 closed

[2021-06-26 04:02] #390 closed

[2021-07-09 18:41] timrigginssf opened #400 "[BUG] initial rendering of grouped list with initialTopMostItemIndex flash renders the start of the list first"
**Describe the bug**
I want the grouped list to initially render at a specific index so i set `initialTopMostItemIndex` to that index.
It works but initially flashes the list with index of 0, then re-renders to the proper index. Does this happen to anyone else?
I would like to remove that initial render bc it looks sloppy.

**Code**
My code is pretty straight forward. GroupedVirtuoso exists in a f

[2021-07-11 05:12] petyosi commented on #400
Unless I am missing something, `initialTopMostItemIndex` should work in grouped mode. Here's [a basic test](https://codesandbox.io/s/jovial-rgb-b5zqj?file=/src/App.tsx) - notice the indices logged. Please modify the example to demonstrate the problem you are facing, I will reopen the issue.

[2021-07-11 05:12] #400 closed

[2021-07-11 10:01] kimixz opened #401 "[BUG] ScrollToIndex scroll behavior smooth dont work in safari ios"
**Describe the bug**
In general scroll behavior smooth doesn't work on safari ios. However, [smoothscroll-polyfill](https://github.com/iamdustan/smoothscroll) is a library that add support for using smooth scroll behavior in safari and other browsers. But this library doesn't work on scrollToIndex method.How can i fix this problem?

[2021-07-11 13:05] #401 closed

[2021-07-14 17:24] choksheak commented on #154
I can confirm this is still happening. Virtuoso v1.9.3. Tried with 1000 rows, did scrollToIndex(999), and it can never get to the bottom. Virtuoso is a fantastic tool and having this blocking bug is very unfortunate indeed!!

[2021-07-14 18:51] petyosi commented on #154
Closing this. see my comment - call `scrollToIndex` when the content get loaded. Detecting content load is outside of the scope of the library.

[2021-07-14 18:51] #154 closed

[2021-07-15 05:10] thecodrr commented on #302
@petyosi this bug is back in the latest version: 1.9.3

[code]

Stacktrace:
[code]

[2021-07-15 06:23] petyosi commented on #302
Can you create a code sandbox? Also, does it persist if you remove the custom scrollbar?

[2021-07-15 07:51] thecodrr commented on #302
It is unpredictable. I was having it for a bit consistently but now everything seems fine.

[2021-07-16 10:03] dominikmlynarczyk opened #405 "[BUG] Unmounting list items when using components prop"
Hey @petyosi 👋
**First of all I wanted to thank you very much for your work and contribution to react-virtuoso**. We are just implementing it in production in our application, where we previously tested other virtualization solutions, but the functionality of automatically measuring the height of a single list item totally convinced us to use your library. Great work!

However, we have a big obsta

[2021-07-16 10:07] petyosi commented on #405
Anything you pass in the components should be cached, either hoisted to the top (best if doable) or with useCallback or useMemo hooks. Right now, on each render you pass a new instance of the component.

[2021-07-16 10:26] cryptoethic opened #406 "[BUG] Overscan does not work in reverse as expected"
Hey!

I'm using react-virtuoso and I have found a bug with overscan property.

When slowly scrolling up (in reverse order) items are not loaded in the background (wher it can't be seen according to overscan property).
Some images for better understanding:

![not scrolling](https://user-images.githubusercontent.com/44468286/125933283-ff785e1e-e9c7-4b31-aaae-1c80f9d7d89c.png)
On this view I am not s

[2021-07-16 10:34] dominikmlynarczyk commented on #405
Thank you for responding quickly. 🙏
For the above codesandbox, could you show a working example with `useMemo` or `useCallback`? We probably can't use hoisting because the data to `components` that are passed in comes from props to the `VirtualSortableList` which is rendering Virtuoso.

[2021-07-16 10:49] petyosi commented on #406
Can you create a simple repro? The idea of "reverse" is how much of overscan to apply in the direction reverse to the scrolling. So if you scroll up,`reverse` means how much pixels will be used for the bottom part of the list.

[2021-07-16 12:00] cryptoethic commented on #406
![image](https://user-images.githubusercontent.com/44468286/125943901-a600edb6-a31f-47f7-98a9-3bdf19bb4d88.png)

The problem occurs when Header component is set.

https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-i4c92

Scroll down to have some rows not loaded above, then slowly scroll upwards

[2021-07-16 12:05] cryptoethic opened #407 "[Performance] Header/ footer components are rerendered each time data has changed"
Hey!

I'm struggling with one more thing.

I have react-virtuoso with infinite loading list. Each time data changes (loading new rows) Header and Footer is rerendered.
I have tried with memoized Footer but no luck. Rerenders each time items changes and there is something to rerender.

Any idea how to overcome that issue?

[2021-07-17 05:50] petyosi commented on #407
Can you show what you did in a sandbox?

[2021-07-17 23:56] SidRathi47 opened #408 "[BUG] List is not updating amd Rendering the incorrect array items"
**Describe the bug**
I am making a chat app, when i delete the selected element from the array (using splice and findIndex) it removes the correct item but in the UI it removes the last item from the list instead. on further inspection when i scroll up and again scroll down. the correct item is shown. which point to that the virtual list has something do with it it.

**Expected behavior**
I want t

[2021-07-18 17:51] petyosi commented on #408
Most likely this is due to mutating an array rather than crating a new one. This is general react, you can find a lot of best practices described online.

[2021-07-18 17:51] #408 closed

[2021-07-19 09:31] cryptoethic commented on #407
Hey! Problem solved:

https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-xwoxp?file=/src/App.js

Using React Component instead of arrow functions makes component not rerender, but I'm unable to pass extra props in that case. Solved this issue by using useCallback

[2021-07-19 09:31] #407 closed

[2021-07-19 09:35] cryptoethic opened #409 "[BUG] Maximum call stack size exceeded"
Hello ;-)

I have found a bug in version 1.9.5 that didn't occur in version 1.9.1:

[code]

Happens when changing height drastically of list item (expanding Card in my case)

[2021-07-19 10:06] petyosi commented on #409
When opening an issue, please provide the respective means for reproduction. Otherwise it is not actionable on my side. Once I have such, I can take a look. Thank you.

[2021-07-19 10:07] petyosi commented on #407
Yes, that's the correct approach. Components should be memoized, either with useCallback or useMemo.

[2021-07-19 10:27] cryptoethic commented on #409
Wasn't able to produce such repo ;/

Looks like everything works fine
https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-ggrrg?file=/src/App.js

Can't stacktrace be helpfull? What is this urx library resposible for? Any Ideas how can I try to debug it?

[2021-07-19 10:39] cryptoethic commented on #409
Can it somehow be connected with these changes?
![image](https://user-images.githubusercontent.com/44468286/126147859-fa5dad68-7ade-4fa3-a562-d76f7316070d.png)

[2021-07-19 10:59] cryptoethic commented on #409
It looks like problem happens when scrolling to the top of the list

and starts occuring in this commit  https://github.com/petyosi/react-virtuoso/commit/acc1d7807cee3c780342d50c87f31ef9e2c3911f

[2021-07-19 11:09] petyosi commented on #409
It could be, but I need to reproduce on my side in order to help.

[2021-07-19 11:25] cryptoethic commented on #409
![image](https://user-images.githubusercontent.com/44468286/126152884-c0d7ad84-f3f0-4d72-9167-08fd261a7532.png)
https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-6s3i9?file=/src/App.js

In this sandbox you can see that when scrolling with header visible there are tons of rerenders (console logs)
Still not able to reproduce  RangeError: Maximum call stack size exceeded

[2021-07-19 11:57] cryptoethic commented on #409
![image](https://user-images.githubusercontent.com/44468286/126156244-c6bf3156-7096-44af-93fa-be1aa11a7e58.png)
 when slowly scrolling there is a gap where rerenders occures a lot an it is dependant on header height (bigger header, bigger gap)

[2021-07-19 12:40] cryptoethic commented on #409
![image](https://user-images.githubusercontent.com/44468286/126160865-154b2d46-9d8e-477b-a426-b4fe51c1a11d.png)
got it in code sandbox @petyosi

when  overscan is 0 then problem does not occur

To reproduce: Open sandbox :
https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-dr6bc?file=/src/App.js&resolutionWidth=320&resolutionHeight=675

Scroll little down and then slowly

[2021-07-19 18:25] #409 closed

[2021-07-19 18:27] #405 closed

[2021-07-19 21:41] cryptoethic commented on #409
Thanks for your work on that issue.
Unfortunately release 1.9.6 reopens first issue #406:
![image](https://user-images.githubusercontent.com/44468286/126231124-26fceb35-1ace-45da-8c82-1b710f6d1df6.png)

[2021-07-20 07:43] petyosi commented on #409
Interesting. I am using the fairly simple https://github.com/petyosi/react-virtuoso/blob/master/e2e/header-footer.tsx to test, and it works?

[2021-07-20 08:48] cryptoethic commented on #409
Hmm. Your example works and i cannot reproduce error on that code.

Checkout this sandbox:
https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-gnl1z?file=/src/App.js

There are two VIrtuoso where first doesn't have this error and second does. Only change is padding in itemContent.

And this sandbox is the same I used to show how to reproduce bug, but this time with react-

[2021-07-20 09:03] eliasws opened #410 "[BUG] scrollSeekConfiguration with reversed list: flickering"
**Describe the bug**
When using scrollSeekConfiguration with a reversed list the scrollSeekConfiguration.onEnter callback is called directly on the first render with a high velocity (probably height of the list) which causes the ScrollSeekPlaceholder to be shown. It seems that this was introduced in version 0.21.0-alpha.1.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-scrolling-issue-f

[2021-07-20 09:13] eliasws opened #411 "[BUG] overscan leads to skipped indices in rangeChanged"
**Describe the bug**
If overscan is enabled, the reported indices reported by rangeChanged are not precise. Several indices get skipped while scrolling.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-scrolling-issue-forked-h6ok4?file=/src/App.js:288-300

**To Reproduce**
1. Scroll
2. Check console output of rangeChanged
3. The reported indices are wrong e.g.

{startIndex: 24, endIndex:

[2021-07-20 10:01] petyosi commented on #411
What you describe is exactly how overscan should work. The point of the property is to reduce the re-renders by grabbing larger chunks of items. The behavior of the property (somewhat confusing) is different from react-window.

On a side note, I don't recommend using overscan in general, and I regret introducing it. It does not solve any problems, people just waste their time by trying to workarou

[2021-07-20 10:01] #411 closed

[2021-07-20 10:16] eliasws commented on #411
@petyosi Thanks for the clarification and the great library. In my understanding the "overscan" property would just work as "extended viewport", increasing the number of rendered items like shown in the image below. But if i understand it correctly it "waits" until the overscan defined is filled with new messages and rerenders the view + the overscan all at once?

![overscan](https://user-images.g

[2021-07-20 10:21] petyosi commented on #411
You got it right. Your initial understanding (static extension of the viewport) is probably the more intuitive one, as many people are assuming that is how it will work. But it does not. Instead, an overscan is applied when loading new messages in a certain direction. Rather than loading messages one by one, it will cause messages enough to fill in the `overscan` amount of pixels to be added. It f

[2021-07-22 09:36] cryptoethic commented on #406
@petyosi do you have any concept how to trace this problem. where to look for a solution? Maybe I could somehow help with resolving this issue ;)

[2021-07-22 15:45] petyosi commented on #406
I am totally overwhelmed in my day job ATM. If you can debug that further, I would happily accept a PR. You can clone the repo, run `yarn browse-examples`, and tweak the `header-footer` example until you reproduce it. From there on, I am fairly certain that the logic the [size range system](https://github.com/petyosi/react-virtuoso/blob/master/src/sizeRangeSystem.ts) is missing an edge case.

[2021-07-23 06:44] hubertsuprunowicz commented on #42
Does not count header, therefore scroll to the bottom does not work properly

[2021-07-24 17:17] mrodrigues95 commented on #279
Has anyone come up with a solution for this? I'm trying to implement a chat system where messages are grouped by dates but I am having a hard time getting this to work with prepending items and groups.

Is this possible with the current implementation?

[2021-07-25 16:10] petyosi commented on #410
Confirming that this is a bug, The [scrollSeek system](https://github.com/petyosi/react-virtuoso/blob/master/src/scrollSeekSystem.ts) should wait for the didMount observable.

[2021-07-25 21:54] cryptoethic opened #418 "[BUG] Scroll flickering with expandable cards"
Hi!

I got something hard to reproduce which cause us a lot of pain.

https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-fj5ys?file=/src/App.js

Sometimes when i scroll up/down reflow occurs and my scroll position is moved from place where I have been frame before.

I have prepared sandbox with expandable cards (onClick), and this gif showing the issue (it does not happe

[2021-07-26 05:55] #406 closed

[2021-07-26 06:14] petyosi commented on #418
I am not sure how much this example follows your actual source code, but to optimize this scenario, you do need to apply proper memoization on a few levels, like the parameters of the Virtuoso component as well as the rendering of your items. Take a look at this fork for more details.

https://codesandbox.io/s/react-virtuoso-reverse-scrolling-header-issue-forked-txuow?file=/src/Row.js:997-1116

[2021-07-26 09:28] petyosi commented on #418
Perhaps I am missing something - can you be more specific about what do you all a scroll flickering? There is some scroll repositioning due to item resize, and in reverse mode, this is not fully avoidable.

[2021-07-26 09:42] cryptoethic commented on #418
I couldn't find a specific case where scroll jump occurs, but what can be seen on the above gif is something like that:

1. I'm scrolling down and expanding cards
2. I'm collapsing bottom card while it is still fully in my view
3. I'm starting scrolling upwards and than jump occurs - I'm moved some cards to the bottom.

Unfortunately this does not occur every time, but is frequent enough to be unc

[2021-07-26 09:48] cryptoethic commented on #418
And here is an example where I only expand cards and scroll jump occurs when i start scrolling upwards.
![virtuoso flickering 3](https://user-images.githubusercontent.com/44468286/126969391-2333425f-aafd-456e-975f-fd49982960a3.gif)

[2021-07-26 16:20] petyosi commented on #418
Which browser and OS is this? I am doing similar steps and it works on my side. Chrome, MacOS.

https://user-images.githubusercontent.com/13347/127023686-8c4546c5-d4fd-4e87-8351-bfc133d23b09.mov

[2021-07-26 19:18] cryptoethic commented on #418
Hey, I'm using Windows 10 with latest Chrome.

It does not occur every time. My way to reproduce was expand 3 cards while scrolling, collapse bottom card, start scrolling up. Sometimes scroll jumped.

[2021-07-26 19:23] petyosi commented on #418
I've seen such issues related to specific scrolling devices - mice with wheels where the inertia scrolling on windows does not get reported properly through the DOM events, there are a few closed issues related to these.

Do you have a mac available? if so, try to repro on it, so that I can confirm that this is the same problem.

[2021-07-26 19:57] cryptoethic commented on #418
I will ask someone to confirm on macOS device. Meanwhile I can confirm that this behavior is also reproducible on android device (my phone) - I have opened codesandbox on Samsung Galaxy S8 device.

[2021-07-27 09:45] petyosi commented on #418
Can't reproduce on Motorolla here: https://txuow.csb.app/

[2021-07-27 09:55] cryptoethic commented on #418
Strange ;/

I have played for ~30 seconds with scrolling, expanding and collapsing and I got scroll jump ;/

Maybe I could look into code to see if I can find something. Is react-virtuoso somehow changing scrollposition at any moment?

[2021-07-27 09:57] petyosi commented on #418
Yes, it does. In reverse scrolling, when it encounters an element with an unexpected size, it readjusts the scroll location.

https://github.com/petyosi/react-virtuoso/blob/master/src/upwardScrollFixSystem.ts

[2021-07-27 09:59] cryptoethic commented on #418
Thanks, I will give it a closer look

[2021-07-27 11:10] cryptoethic commented on #418
So i can confirm that it is caused by upwardScrollFixSystem

I have copied above sandbox to e2e directory and added console log with offset before publishing scrollBy and managed to record following:
![flickering 4](https://user-images.githubusercontent.com/44468286/127144283-2db83005-97d4-4d9a-8ed2-ca3fc348769c.gif)

[2021-07-27 12:17] cryptoethic commented on #418
Ok so I have played with this system a little, and If i comment out these lines:
![image](https://user-images.githubusercontent.com/44468286/127150462-aa44223b-60b6-47e0-a467-97d7416a3040.png)

Everything starts working. I believe this system was developed for some specific use case. Maybe it shouldn't be always active.

In my case the issue was with latest items in list:
![image](https://user-ima

[2021-07-27 12:42] cryptoethic commented on #418
I think (but it might not be true) that if offset change occurs for item that is below our current scrolltop position, browser reflow will do all things for us, and extra deviation push (and later scrollby) does no good.

So modifying this system as so:

![image](https://user-images.githubusercontent.com/44468286/127155053-0f317608-a4e7-4c18-b1b9-4661cede6f0f.png)

should cover my use case and be

[2021-07-27 16:38] petyosi commented on #418
Before we go nuts down this rabbit hole - can you try disabling animations? I feel like something might come down to the fact that scrolling is combined with the animation changing offsets.

[2021-07-27 17:11] cryptoethic commented on #418
Worth giving a try. So I have replaced Collapse component with following div element:
[code]
And flickering still occurs, but this time we can spot that upwardScrollFixSystem has jumpt into action twice, and only once there was unintuitive scroll jump:
![flickering 5](https://user-images.githubusercontent.com/44468286/127197867-c034a716-6716-4416-bdf9-7ed42970217a.gif)

It worked as expected when

[2021-07-27 19:17] petyosi commented on #418
Cool, we might be on to something here. scrollFix should not kick in, but it does. Can you push that into a branch somewhere? I will try to look into it in the next few days. I would appreciate it if you can as much additional config as possible that should not be not relevant to the example, like MUI components, overscan, headers, etc, and retest.

Thank you very much for your help and patience w

[2021-07-27 19:21] cryptoethic commented on #418
Yeap. I will do it tomorrow morning and let you know.

Thanks for helping me on resolving this issue!

[2021-07-27 22:45] andrewdieken opened #420 "[Question] Active group content scrolling transition"
The current active group content scrolling transition is for the next group content to scroll on top of the active group content replacing it and vice versa for the previous group content.

I'm wondering if it's possible for the next group content to push the active group content off the screen as opposed to the current behavior of having it scroll on top of it? If it's not possible, would it be p

[2021-07-28 00:58] petyosi commented on #420
Feel free to give this a try. I would welcome a PR.

[2021-07-28 00:58] #420 closed

[2021-07-28 06:58] cryptoethic commented on #418
Ok, so I have removed code not relevant and published it here:
https://github.com/cryptoethic/react-virtuoso/tree/fix-upward-scroll-system-flickering

I can confirm that bug still occurs after code cleaning.

[2021-07-28 09:43] OrcaXS commented on #317
I've met a similar problem.
When a new item is added before the previous scrolling completes, scrolling will stop there and no longer following the bottom.

I've borrowed some code from the repo documents to make a reproduction.
When `appendInterval` is `1000` and `user.description`'s length is `10` everything runs fine.
Decreasing the interval to `500` while increasing `user.description`'s length

[2021-07-28 13:47] petyosi commented on #317
If you expect fast updates, use `"auto"` as scroll behavior.

[2021-07-28 15:25] adamvietnam opened #421 "QUESTION: It is possible to access data property through a ref"
If a parent passes a reference down to a child component containing a list i.e.

[code]

Can the parent then access the data property using the  ref in , for instance, an event handler i.e.

[code]
At the moment, when I inspect the someRef.current I can see the API methods but not the API properties.

I'm using version 1.10.2 of react-virtuoso and my code is in Javascript rather than Typescript so

[2021-07-28 18:30] petyosi commented on #421
No, such API is not exposed. IMO, doing something like this violates the unidirectional data flow principles in React.

[2021-07-28 18:30] #421 closed

[2021-07-28 18:39] adamvietnam commented on #421
I understand and suspected that was the case.

I'll propagate upwards which I'm sure is the more sensible.

Thank you for your prompt response.

[2021-07-30 09:11] cryptoethic commented on #418
Hey!

Have you maybe found some time to take a closer look into this issue? If I could provide some further help just let me know ;-)

[2021-07-30 14:19] petyosi commented on #418
Hey, no, I haven't. Busy daytime job ATM unfortunately - I will likely take a look in the following days though.

[2021-07-31 13:23] petyosi commented on #418
@cryptoethic can you try this on your side?

https://github.com/petyosi/react-virtuoso/commit/0b727b6175fb4aa9dbc4cc5f46951160a3e2e44c

[2021-07-31 13:44] cryptoethic commented on #418
Hey @petyosi.

I gave it a try and it does work but when adding initialTopMostIndex > 0 causes same error to exist. Here is an example where I start with initial topmost item index = 10.

![flickering 7](https://user-images.githubusercontent.com/44468286/127741820-4a70ed46-64ad-44ce-9edd-05c1803857d7.gif)

Unfortunately we are using initialTopMostIndex in our app at some places.

[2021-07-31 16:34] petyosi commented on #418
The entire setup in the system is related to reverse lists that start from a certain location rather than the top. It tries to detect items that have a height different than expected, and adjust the scroll location so that the list does not jump. There are a few test cases in the e2e directory that check that.

Expressing the above is easier in prose than in code. In certain moments, your test cas

[2021-07-31 20:18] cryptoethic commented on #418
Thanks for your time with this issue. I will give spend more time trying to solve this problem.

As I understand this system should jump in when we scroll upwards and there is new item loaded for the first time with height different than expected. Without that system our scroll is pushed by layout reflow and there is a scroll jump.

If I'm right this system could execute only for the topmost loade

[2021-08-01 04:57] petyosi commented on #418
Up to your assumptions:

loaded the first time - no. It can happen at any moment. Items can change size due to resizing, business logic change, etc.
topmost item - no. Scrolling quickly or using overscan can introduce multiple items.
topmost item index - I would say no as well. You can start from zero, but jump to 1000 (using scrollToIndex) and then scroll up.

[2021-08-01 09:10] cryptoethic commented on #418
Thanks for your input. So what I can suggest is my first idea. execute scrollBy only if it is caused by items above our current scrollTop position. If it is caused by items below current scrollTop - browser reflow should handle correct scroll position.

[2021-08-02 15:04] pranas commented on #317
I believe we are also experiencing the same issue. However, the flickering is only visible when you adjust the browser zoom level to a certain level (typically out like 67%-90%). I will try to create a reproduction example. @petyosi did you see issues with browser zoom before? Could this be accounted for in calculations and fixed?

[2021-08-02 16:42] petyosi commented on #317
@pranas As far as I have debugged, browser zoom is a mess. Incorrect measures are reported. Feel free to debug further. There's no need to keep the conversation in this thread. You can open a new one with a clear reproduction (or, even, a PR).

[2021-08-03 13:38] pranas opened #423 "[BUG] Align to bottom flickering"
**Describe the bug**
The items in the list start to flicker when using `alignToBottom` option and browser zoom feature. When you use browser zoom feature it creates items with floating point height which likely triggers this issue. The item size keeps recalculating and changing which triggers different padding at the top which results in flickering effect.

**Reproduction**
You can reproduce in "a

[2021-08-04 07:01] tusharpahuja opened #425 "[BUG] List with expandable cards renders only a single item when using `totalCount` prop"
**Describe the bug**
List with expandable cards renders only a single item when using `totalCount` prop

**Reproduction**
Code sandbox link -> https://codesandbox.io/s/blazing-bush-3lkli?file=/src/index.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sandbox link and see that the list is rendering a single item.
2. On page reload, if you clearly observe, the items renders but di

[2021-08-04 10:21] petyosi commented on #425
@tusharpahuja your `ItemContainer` implementation is the culprit. You need to pass the received rest `props` to the root `div` element. You can search the issues and https://virtuoso.dev/ for working examples that you can use as a base. That one is pretty close to what you are doing: https://virtuoso.dev/material-ui-endless-scrolling/

[2021-08-04 10:21] #425 closed

[2021-08-04 10:43] tusharpahuja commented on #425
Yup, it fixed the issue. Thanks @petyosi :).
Since it was working fine with `initialItemCount`, and stopped working after introducing `totalCount`, I thought some issue is there with the new prop. But I was incorrect.

Thanks for the quick response.

[2021-08-04 16:54] loun4 opened #426 "[BUG] Weird scrolling behavior with react-beautiful-dnd"
**Describe the bug**
Dragging items to the bottom of the list causes strange scrolling behavior

**Reproduction**
https://codesandbox.io/s/react-virutoso-with-react-beautiful-dnd-forked-pslfr?file=/src/index.js

**Screenshots**

https://user-images.githubusercontent.com/1511512/128223648-dba6f815-cadc-44a1-9902-f64296693d67.mov

**Desktop (please complete the following information):**
 - OS: Mac O

[2021-08-05 06:20] PerlMonker303 commented on #423
Encountered the same issue on a closed-source project, but not only when scrolling to the bottom of the list. Noticed one thing though: the more you scrolled (i.e. the further you are in the list), the more aggressive the flickering is. Hope this helps a bit.

[2021-08-05 07:52] pranas commented on #423
@petyosi This is an important issue for us so we've made a contribution to help you prioritize it. Hope you can crack it soon!

[2021-08-05 07:54] petyosi commented on #423
@pranas Thank you very much, I appreciate that - the test case is helpful as well. I will look into it as soon as my schedule allows.

[2021-08-05 14:15] eliasws commented on #410
I tried to implement it and create a PR. At least in this case didMount seems to be always true (so would not have any effect):

` pipe(
        scrollVelocity,
        withLatestFrom(scrollSeekConfiguration, isSeeking, rangeChanged, didMount),
        filter(([_, config]) => !!config),
        map(([speed, config, isSeeking, range, didMount]) => {
          const { exit, enter } = config as Scrol

[2021-08-06 07:20] #418 closed

[2021-08-06 07:34] #423 closed

[2021-08-06 07:36] petyosi commented on #423
@pranas The fix I discovered seems correct to me and addresses the simplistic case you presented. Please let me know how the new version behaves in your real project.

[2021-08-06 08:13] petyosi commented on #410
True. It might have to wait for this flag: https://github.com/petyosi/react-virtuoso/blob/master/src/initialTopMostItemIndexSystem.ts#L10

[2021-08-06 08:22] pranas commented on #423
It seems the flickering is gone, great find! Thanks for a quick fix and keep up the good work with react-virtuoso.

[2021-08-06 12:49] eliasws commented on #410
scrolledToInitialItem has the same problem :) (always true).

Seems like
https://github.com/petyosi/react-virtuoso/blob/392b9c8e717f9a937573c3db0a17d50d0d4a3132/src/initialTopMostItemIndexSystem.ts#L34
is firing to fast.

For now i just disabled the scrollSeek.

[2021-08-06 14:22] petyosi commented on #410
This flag will turn true after the initial destination has been reached. My understanding is that you are trying to avoid that call.

At any case, I will look at that at some point.

[2021-08-06 15:54] shachar731945 commented on #279
When is this feature planning to be worked on?

[2021-08-07 08:40] petyosi commented on #279
@shachar731945 are you willing to contribute or sponsor the project?

[2021-08-07 11:30] shachar731945 commented on #279
https://github.com/petyosi/react-virtuoso/pull/380

Hi, This is the pull request I have added to this project two months ago.
If you do not recall, we have even spoken about this subject.

Regarding the comment, I did not want to diminish or disparage your
valuable work in any way.
It's just an issue that I need to know in my project.
Again, this comment did not mean to be personal in any way shap

[2021-08-09 08:27] wibed opened #427 "[BUG] GroupedVirtuoso, itemCount (index, groupIndex); index is not reset inbetween group index changes"
**Describe the bug**
the index keeps incrementing even after the group index has changed.

**Reproduction**
https://codesandbox.io/s/unruffled-davinci-rs2be?file=/src/App.js

**To Reproduce**
see reproduction.

**Expected behavior**
the index to reset to 0 after the groupindex has updated

[2021-08-09 08:28] wibed commented on #427
maybe i am missing something and this is on purpose.
i cant find any explanation for this particular design and opened a bug report

[2021-08-09 10:48] petyosi commented on #427
That's by design. The virtualized list assumes you will fetch data from remote locations, it works best if you use a single array of items that are sorted by the group they are in (Think in SQL - offset, limit, etc). It does deserve a better explanation, but you can take a look at what I had in mind here: https://virtuoso.dev/grouped-with-load-on-demand/

[2021-08-09 10:48] #427 closed

[2021-08-09 14:00] frnk94 opened #428 "[BUG] - Scroll position jump around when items doesn't have a fixed sizes and are loaded lazily."
**Describe the bug**
When used with elements that are loaded lazily the scrollbar jump to random places or act erratically. We used virtuoso to handle our live feeds and we need to put some Ads banner (https://developers.google.com/publisher-tag/reference). Virtuoso seems to handle well all of our content but when an Ads get render the scroll position get really flaky or the page just completely g

[2021-08-09 15:05] meotimdihia commented on #336
the example has problems with Typescript. I don't know how to write it right ...

[2021-08-09 15:14] eliasws commented on #410
@petyosi FYI, just checked: Same happens with endless scroll ("prepending-items"); the velocity "jumps" for a moment

[2021-08-09 15:59] petyosi commented on #428
You can check a thread several items below for expandable cards and scrolling up and down. Long story short - this is complicated, especially given the fact that you are using animations and stuff. There's a lot of logic that tries to preserve the scroll location at the correct place during upwards scrolling. Putting animations on top of it certainly won't be handled well.

On a side note, putting

[2021-08-09 16:01] petyosi commented on #410
That's understandable, based on how velocity and prepending work. Scrolling is readjusted to accommodate the prepended items.

[2021-08-09 17:45] frnk94 commented on #428
Yea as I said the point is not to have Cards with such animation but to render Ads banner. I didn't put the whole Ads service in the example above. Our components which cause problems are Div which are loaded async and display an image banner for Ads purpose. I could maybe start working on a exemple to further show the error it just that it a bit complicated to get running in codesandbox.

[2021-08-09 18:58] petyosi commented on #428
I guess you can certainly simulate that with some sort of a useEffect + setTimeout. Notice that the virtualized list unmounts the items when they are scrolled out of sight, not sure if this does not contribute to the problem as well.

At any case, what you describe is hard to tackle - the list does not (nor cannot) compensate properly for asynchronous content size changing, mostly because there's

[2021-08-10 07:57] nullablemind commented on #279
I am ready to implement this feature. Could you, @petyosi, tell me what the problem is? So that I think about how to solve it.

[2021-08-10 08:18] loun4 commented on #426
Any suggestion or workaround to fix that ?

[2021-08-11 06:29] petyosi commented on #279
@nullablemind it is not a problem, it is a missing implementation. If you would like to contribute, you can examine the size system and its tests to understand how the sizing data structures work.

[2021-08-11 14:27] #428 closed, assigned to nobody

[2021-08-11 18:12] tusharpahuja commented on #425
@petyosi can you help with some documentation on how the core logic for each list item height computation is handled for Virtuoso?

[2021-08-12 00:39] petyosi commented on #425
Not sure I understand. The component doesn't compute item heights. It measures them. What's the problem you experience?

[2021-08-13 14:41] etienne-martin commented on #428
Thanks for the clarification @petyosi

If I understand correctly, the content size is calculated when an item is first mounted, and virtuoso will * not * accommodate size changes if the item changes dimensions * after * being mounted.

[2021-08-13 15:29] maccman commented on #338
+1 on having this added to the API

[2021-08-13 16:04] petyosi commented on #428
No, that's not the case. It is perfectly fine to have changes like cards being expanded and collapsed with user interaction. However, content which inflates on its own due to loading cannot be handled in a graceful manner. I would go as far as saying that this is an UX anti pattern in general, with or without virtualization.

[2021-08-13 19:33] etienne-martin commented on #428
I totally agree with you that having content shifting around (virtualized or not) is horrible for UX. It also causes browser reflows which can be bad for performance. The code sandbox that @frnk94 provided is not ideal, things are moving all over the place and you might be wondering why someone would want to do that.

To give you more context, here's what we're trying to achieve:

![image](https:/

[2021-08-13 19:51] etienne-martin commented on #428
One thing I didn't mention in my previous message is that our use case is similar to a twitter or facebook feed in that the goal is to render an indefinite amount of items (with ads). The infinite loader approach is what we implemented initially but it didn't scale performance-wise given the amount of items that were continuously being added to the DOM.

[2021-08-14 06:47] petyosi commented on #428
@etienne-martin got it - let me try to help you further in that aspect. You can contact me at the email on my GH profile.

[2021-08-17 08:35] loun4 commented on #426
Another sample based on the official one (https://virtuoso.dev/react-beautiful-dnd/) :
https://codesandbox.io/s/react-virutoso-with-react-beautiful-dnd-bug-wgtmq?file=/src/index.js

We don't understand why this only happens when items are dragged to the bottom.

https://user-images.githubusercontent.com/1511512/129692686-ee29ed62-be69-48e5-b5e0-d85f5adae3a4.mov

[2021-08-17 09:24] petyosi commented on #426
Feel free to examine the DOM structure and see what causes the flickering. I am unlikely to get to debugging that anytime soon.

[2021-08-17 15:26] Ethorsen opened #433 "[BUG] 1.10.4 broke lists popping in a dialog with a zoom transition (error of Zero sized element)"
Hi @petyosi, hope you're doing well.

**Describe the bug**
Since 1.10.4,  some of ours lists are broken and show the Zero sized element error when our Dialog is opened with a Zoom transition (material-ui dialogs).   Something that always worked up to 1.10.3

**Reproduction**
https://codesandbox.io/s/wizardly-gates-1s1n8
https://1s1n8.csb.app

**To Reproduce**
1. Open the dialog with Zoom transitio

[2021-08-17 16:19] petyosi commented on #433
The error is correct. You should find an alternative implementation on your side, for example, start the zoom from 10%. I am surprised that this worked before, probably due to offsetHeight being reported with random values for non-default zoom levels.

To clarify further, the initial rendering cycle of the list happens at a zero-sized state. This can't work.

[2021-08-17 16:19] #433 closed

[2021-08-17 16:31] Ethorsen commented on #433
I was afraid you would say that.  I'll try to mangle with the MUI transition to fix it.

Thanks!

[2021-08-20 08:15] NexxLuo opened #434 "How to distinguish mouse scrolling and scrollTo api scrolling ?"
I have two vitual list ,they  need to scroll synchronously .  I use then `scrollTo` change the list scroll position , but they will scroll in a loop ? In the another library `react-window` ,  `onScroll`  event has an parameter called `scrollUpdateWasRequested`.
How can i do with `react-virtuoso` ?

[2021-08-20 08:57] #434 closed

[2021-08-20 10:41] ccoloma commented on #392
It seems this issue is half-solved. The PR works, but the npm registry continues with the problem.

![image](https://user-images.githubusercontent.com/717054/130210793-77efaf0a-6ebb-4142-859f-14b401b40ae7.png)

![image](https://user-images.githubusercontent.com/717054/130210874-08ec1b75-04a3-4f26-87dc-0f9f81a167a8.png)

[2021-08-20 11:04] petyosi commented on #392
@ccoloma Thanks for spotting that. The original fix was right, but it did not take into account an e2e testing step in the automated release which polluted the `dist` directory. Just published a fix in 1.10.8:
https://cdn.jsdelivr.net/npm/react-virtuoso@1.10.8/dist/

[2021-08-20 15:23] uffou commented on #283
When dragging items from this example there is some jumping, not sure how to deal with it.
@russelldc Have you managed to find a solution?
https://user-images.githubusercontent.com/2581788/130255672-ec39cc5c-d13b-431b-a179-a690b790c41a.mp4

[2021-08-24 00:18] J6K commented on #169
@petyosi I have a similar issue with complex message types (images, polls, etc) causing a shift in the UI as they're loaded. If my prepended messages are all images, it pushes my top message out of view as the images are loaded.

Open to making a PR if something needs to change on this end, would like some pointers/guidance 🙏🏼

[2021-08-24 02:17] petyosi commented on #169
@J6K the behavior in this PR won't help you with what you describe. If you know the size of the images, set it as an attribute.

[2021-08-24 08:52] andreivasilache opened #436 "[BUG] Weird behavior when scrolling through already loaded elements, when their height is updated"
**Describe the bug**
After some elements are loaded, and their height is updated, the scrollbar is jumping on scroll.

**Reproduction**
Please take a look over: https://codesandbox.io/s/relaxed-firefly-q8j33

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/relaxed-firefly-q8j33 ;
2. Scroll until the bottom of the page;
3. Double-click on the "Expand/Collapse All

[2021-08-24 09:15] petyosi commented on #436
There's no solution for that ATM. The scroll size is calculated based on the previously known sizes. When you scroll up, the list encounters a bunch of short items where tall items were previously put and tries to compensate for them. The compensation works quite well for several odd-sized items, but there's just not an algorithm to handle that meaningfully with the test case you have provided.

[2021-08-24 09:15] #436 closed

[2021-08-24 18:23] J6K commented on #169
@petyosi thank you for the prompt response 🙏

So if my collection of messages are all varied in height, I can pass them along to virtuoso using itemSize? Or is it a different attr?

[2021-08-25 04:29] petyosi commented on #169
No, fix the size of the image elements by setting their height attribute.

[2021-08-25 13:32] asgerhallas opened #437 "GroupedVirtuoso with useWindowScroll does not work as expected"
I use GroupedVirtuoso and would like to also use "useWindowScroll" like:

[code]

But unfortunately the stickyness of the headers then go away. Is there any way to use window scroll and keep the sticky headers?

[2021-08-25 13:34] asgerhallas commented on #437
Ah... it does work, I didn't see the header was hidden under the nav-bar. Sorry :D

[2021-08-25 13:34] #437 closed

[2021-08-27 05:30] Elabar opened #439 "[FEATURE REQUEST] throw error or warning when initialTopMostItemIndex is negative number"
**Describe the bug**
Don't think this is actually a bug. Just need it in place to warn some new comers. When setting the `initialTopMostItemIndex` to negative number and set it back to positive number, the list will render nothing.

**Reproduction**
-

**To Reproduce**
-

**Expected behavior**
Throw a clear error when initialTopMostItemIndex is set to negative numbers

**Screenshots**
-

**Desktop

[2021-08-27 14:57] mclayson opened #440 "[BUG] Grid screen shakes from rapid padding changes after scrolling"
I love this library and have been adopting it in my project. This however is unfortunately a critical issue that is preventing us from moving forward.

**Describe the bug**
Using virtuoso grid, sometimes after scrolling down the screen rapidly shifts up and down. Scrolling some more can make it stop. Upon inspection, it looks like the element with the class "virtuoso-grid-list" is rapidly switchin

[2021-08-27 18:06] #440 closed, assigned to nobody

[2021-08-28 23:06] ianplatt555 opened #441 "[BUG] List not rendering properly if initially rendered with CSS transform"
**Describe the bug**
If I initially render a Virtuoso list inside of a container which has a CSS transform applied to it, for example `transform: scale(0);`, and then I change the transform eg. to `transform: scale(1)`, the list does not always render properly.

**Reproduction**
Here's one simple example:
https://stackblitz.com/edit/react-qpcpm1?file=src/App.js

Here's another example where I set

[2021-08-29 01:45] petyosi commented on #441
Not possible I'm afraid. At scale(0) or any other hidden state, the items cannot be measured.

[2021-08-29 01:45] #441 closed

[2021-08-29 06:19] ianplatt555 commented on #441
But in this case, it's not just `scale(0)` or some hidden state. The issue is that when it's scaled small (eg. `scale(0.1)`) to start, and then scaled up (back to `scale(1)`), the list doesn't seem to resize properly. Take a look at the second example I linked. There's no scale(0) or hidden states involved. It just breaks when scaled up.

If this cannot be fixed, is there a workaround you would su

[2021-08-30 08:22] #439 closed

[2021-08-30 10:33] petyosi commented on #441
@ianplatt555 I see what you describe. It looks like the transition does not trigger a re-measurement (and that's a good thing, I guess, otherwise you will get constant re-renders while transitioning). feel free to debug the case further and submit a PR. You can check debugging instructions in [the contributing section](https://github.com/petyosi/react-virtuoso#contributing).

[2021-09-01 23:53] phenry20 commented on #410
Any updates?

[2021-09-02 20:46] mbrevda commented on #214
Any demo of this working? Here is a codesandbox _mostly_ working, but there are still some quirks. For example, the list wont open (I have it hardcoded to be open). Also, the list won't scroll when using up/down arrow keys to move through the list. Would be great to get this fully working!

https://codesandbox.io/s/material-demo-forked-r6i2y?file=/demo.tsx

[2021-09-03 06:43] wjureczka commented on #26
Hi, is there any solution for that? `initialItemCount` seems not working in my case

[2021-09-03 07:49] Elabar opened #444 "[BUG] Not rendering properly when container is specified with float height"
**Describe the bug**
The list fail to render correctly (not rendering anything) when the container height is set to floating number and `initialTopMostItemIndex` is specified as well.

**Reproduction**
https://stackblitz.com/edit/react-jbwg9m?file=src%2FApp.js

**To Reproduce**
Steps to reproduce the behavior:
I have put in 4 examples in the reproduction link.

**Expected behavior**
The list shoul

[2021-09-03 18:26] petyosi commented on #343
Resolved in v2.0.0

[2021-09-03 18:26] #343 closed

[2021-09-03 18:27] petyosi commented on #444
Question - how come you end up with a float height? I've been debugging a similar problem with item heights lately.

[2021-09-03 19:17] Elabar commented on #444
# TLDR;
Wanted to throw this list into a modal and set the modal height to 70vh

# Story
Was implementing this virtualization in a [modal](https://headlessui.dev/react/dialog) and I just set the container to 70vh.

First thing I realize is, this library is not so happy with style that have scale transformation in it, so I only render the list after the fade in + zoom in animation is finish with [`

[2021-09-04 08:40] ianplatt555 opened #445 "[BUG] atBottomStateChange not working correctly with Header"
**Describe the bug**
When a fixed height header is added, atBottomStateChange does not seem to function properly, in particular, it seems offset by some amount from the bottom before it triggers.

**Reproduction**
https://stackblitz.com/edit/react-askmht?file=src/App.js

**To Reproduce**
1. Go to the linked stackblitz
2. Scroll all the way to the bottom, note that it displays bottom: true
3. Scrol

[2021-09-04 09:04] ianplatt555 commented on #445
Probably related issues that happen when that header is enabled:

1. followOutput seems to be quite buggy with the header on as well. Sometimes it works fine when appending an item, but other times it doesn't scroll down enough. Hard to reproduce consistently.

2. Resizing the list to be smaller also seems buggy with the header. It resizes fine but sometimes doesn't keep the scroll at the bottom e

[2021-09-04 10:18] #444 closed

[2021-09-04 10:18] #445 closed

[2021-09-04 10:20] petyosi commented on #445
@ianplatt555 that's a nice catch, thank you for the reproduction. `followOutput` is internally using the same state flag, so yes, most likely the fix I published (coming from the build as I reply) should address it. Let me know if this is not so.

[2021-09-04 21:30] maccman opened #446 "[BUG] Jump on first render"
**Describe the bug**

We recently upgrade Virtuoso from 1.9.3 to 2.0.1. We have started to see some jumping behavior when the list is rendered.

I understand that Virtuoso is measuring items dynamically, but this never used to happen. See video for a demo.

https://user-images.githubusercontent.com/2142/132108435-3609c405-0557-4d83-b185-8d7186b2479d.mp4

Do you have any pointers for us to debug th

[2021-09-05 04:33] ianplatt555 commented on #445
Thanks for the quick fix, looks like it's working!

[2021-09-05 04:52] petyosi commented on #446
Thank you for the support @maccman, highly appreciated. I will examine the configuration, probably one recent bugfix I introduced causes the regression. Will let you know if I need further clues. To confirm, you're not scrolling to the last item of the list, correct?

[2021-09-05 05:31] petyosi commented on #446
@maccman I could not clearly reproduce the jump on my side, but examining your configuration, I believe that the regression was introduced by the `setTimeout` addition in `1.10.6`. Can I ask for your help here? If my assumption is correct, if you install `1.10.5` the jump should not be there. Alternatively, but less likely, `v1.10.3` could be the culprit, in which case installing `1.10.2` would re

[2021-09-05 11:34] maccman commented on #446
The jump was still there after installing 1.10.5.

However, the jump goes away if I install 1.10.2.

[2021-09-05 16:08] petyosi commented on #446
@maccman do you do something additional with the list `ref`?  If you want to set up a repro in your environment, I would love to observe that as well (you can reach out to my email in the GH profile).

[2021-09-08 05:56] #446 closed

[2021-09-08 20:07] Hexavolus commented on #26
@wjureczka I tried that solution as well in a jest test. Oddly I swear the first time I ran the test after putting in `initialItemCount` it worked and then subsequently it never worked again.

I get it because the js-dom environment doesn't really give anything true dimensions. So the checks that Virtuoso makes to figure out how much to render never result in anything.

[2021-09-09 07:18] amirhossein-ata opened #448 "[BUG] smooth scroll does not work in safari"
scroll with smooth behavior is not working on safari, is there any plan for supporting this behavior in safari in the future?
is there any workaround for it now?

[2021-09-09 07:29] petyosi commented on #448
It's a browser limitation: https://caniuse.com/?search=scroll-behavior

[2021-09-09 07:29] #448 closed

[2021-09-09 19:42] AaronPlave opened #449 "[BUG] Scrollbar incorrectly positioned in Chrome during scrollbar-based scrolling"
**Describe the bug**
The scrollbar does not correctly track with the user's cursor when dragging the scrollbar in Chrome. This oddly does not appear to be an in Firefox.

**Reproduction**
I'm able to reproduce this issue with the demo found at https://virtuoso.dev/hello/ using Chrome Version 93.0.4577.63 (Official Build) (x86_64) on Mac 10.15.7. Drag the scrollbar down at a medium or fast pace. Th

[2021-09-12 03:39] petyosi commented on #449
I am not aware of any way to fix that, I'm afraid. as you scroll down, the size of the scrollable area changes. Apparently, Chrome does not sync the scroll thumb accordingly.

[2021-09-12 03:39] #449 closed

[2021-09-12 14:46] martingg88 opened #450 "flickering and white Background when scrolling to fast"
I facing the following issue and any idea? thanks..
flickering and white Background when scrolling to fast

[2021-09-12 18:55] petyosi commented on #450
Not much I can do with such info. Do you reproduce the behavior in the demos?

[2021-09-13 20:59] gustavo-depaula commented on #26
@wjureczka I have the same problem

[2021-09-16 13:08] monzilnepali opened #451 "[BUG] initialTopMostItemIndex is not working if fixedItemHeight is set in safari"
**Describe the bug**
initialTopMostItemIndex is not working if fixedItemHeight is set In safari.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-g5k9u

**Expected behavior**
initialTopMostItemIndex should work as expected in safari

**Screenshots**

https://user-images.githubusercontent.com/28225895/133617156-703f9d3c-7e79-4808-8409-5c462096bf0c.mov

**Desktop:**
 - macOS 11.5
 - safari

[2021-09-16 15:58] petyosi commented on #451
Interesting. It also needs the "open" button logic you have in the sandbox, rendering it right away works fine as far as I can see. Right?

[2021-09-16 22:39] OzzieOrca commented on #26
It seems like `initialItemCount` has to be manually set for tests to work. If it's set to `0`, I can get the `EmptyPlaceholder` to show. If it's set to a value higher than the length of the data, it throws errors trying to render `undefined` items. Since I'm loading my data from GraphQL, the length initially is `0` but afterwards it is set to a number. But If I set `initialItemCount` to the length

[2021-09-17 04:54] petyosi commented on #26
@OzzieOrca Honestly, I'm not sure what you are trying to test here. Can you describe the overall idea?

[2021-09-17 20:21] stazrad commented on #26
SOLVED- same problem working with `@testing-library/react`...the data is correct but the list item is never rendered to the "dom" (or whatever equivalent this testing library is using to generate a "document"). It seems that `itemContent` is never fired at all when mounting in the test environment.

solved by setting `initialItemCount` to `data.length`

[2021-09-18 04:47] monzilnepali commented on #451
@petyosi Yeah it seems to be working fine without "open" conditional logic.

[2021-09-19 09:01] #450 closed

[2021-09-19 09:02] #383 closed

[2021-09-19 10:00] meotimdihia opened #452 "doesn't work with iOS 10-11-12 [BUG]"
**Describe the bug**
Doesn't work even with https://virtuoso.dev/endless-scrolling/ and my website.

**Reproduction**

Please try to register a free account on https://appetize.io/.

 "react-virtuoso": "^2.0.5",

**Desktop (please complete the following information):**
 - OS: 10-11-12
 - Browser Safari

May related to this bug: https://github.com/petyosi/react-virtuoso/issues/309. But it doesn't w

[2021-09-19 10:33] petyosi commented on #452
The virtuoso.dev example works as expected in iOS. Isolate the problem out of your website in a codesandbox.

[2021-09-19 10:33] #452 closed

[2021-09-19 11:03] petyosi commented on #338
@maccman @skrivanos I am thinking to implement this as a method:
[code]

The integrator will call it when the keyboard has navigated, (keyboard nav this is outside of the scope of the component). If the element is visible, nothing will happen. If partially visible or outside of the view, the component will figure out the direction and scroll it into view. What do you think?

[2021-09-19 13:28] #338 closed

[2021-09-20 19:55] shamilovtim opened #453 "Provide a comparison to similar libraries like recyclerListView"
I noticed there's no comparison to similar libraries like recyclerListView and was wondering if that's something in the works or could be contributed to the project by a volunteer?

Thanks!

[2021-09-21 02:46] nosferatu500 opened #456 "[QUESTION]"
Hi, thanks for this library!

I have a question:

I saw that you added a new keyboard navigation feature. I am currently using react-virtuoso with react-beautiful-dnd. But I don't like how keyboard support works in react-beautiful-dnd and I want to use react-virtuoso for that. When I try to do this, I find that if I use the keyboard navigation to scroll through react-virtuoso, I cannot use the aut

[2021-09-21 02:56] nosferatu500 commented on #456
I only need keyboard support for navigation. I don't need keyboard support for Drag&Drop.
But also I would like to keep the ability to autoscroll, during Drag&Drop for the mouse.

[2021-09-22 16:44] botond-rostas opened #458 "[BUG] using `initialTopMostItemIndex` with `fixedItemHeight` does not skip rendering items at the start of the list"
**Describe the bug**
When `initialTopMostItemIndex` is provided with a positive number, the component still renders the first set of items (starting with index 0) after which it abruptly scrolls to the specified index rendering the next set of items (starting from the specified index).

**Reproduction**
https://codesandbox.io/s/react-virtuoso-forked-8us5k?file=/src/App.js

**To Reproduce**
Steps t

[2021-09-22 16:48] petyosi commented on #458
@botond-rostas thanks for reporting that, I will take a look. Notice that the problem is reproducible only when the `fixed-item-height` prop is set.

[2021-09-24 02:55] monzilnepali commented on #458
@petyosi Looks like this issue is related to [initialTopMostItemIndex is not working if fixedItemHeight is set in safari](https://github.com/petyosi/react-virtuoso/issues/451) right?

[2021-09-24 06:49] petyosi commented on #458
I am not sure the two are related

[2021-09-25 10:15] #458 closed

[2021-09-25 12:36] nightwolf-041 commented on #42
any updates for this issue in react-table ??

[2021-09-27 01:36] aq-saito opened #459 "[BUG] initialTopMostItemIndex={undefined} causes only first item is rendered"
**Describe the bug**
With react-virtuoso 2.2.1, setting `initialTopMostItemIndex={undefined}` to `<Virtuoso />` component causes that only the first item in the list is rendered at the first time. The rest of the list is not rendered.

This happens only when you specify `initialTopMostItemIndex` prop with an `undefined` value. Not happens without `initialTopMostItemIndex` prop.

This bug also show

[2021-09-27 04:59] petyosi commented on #459
Like the docs say, the prop accepts numbers only. If you pass objects, strings, arrays null, undefined or whatever unexpected value, the component will not work. Being extra-defensive and adding prop types for runtime check is not worth the extra package size.

As per your case, you should pass 0 instead.

[2021-09-27 04:59] #459 closed

[2021-09-29 07:24] Elabar opened #460 "[BUG] List is not being rendered when initialTopMostItemIndex is specified"
**Describe the bug**
I think this is a bug introduce in 1a230ef78d7003c0340ac253f3232d420ca9e23a.
In version 2.2.1, the list is not being rendered sometimes.
Writing is hard, let's attach some gif

Behavior in v2.2.0 (Expected behavior)
![apZOeyIS77](https://user-images.githubusercontent.com/15872787/135221026-f6f8d828-cde2-48fb-b3c8-00e6400e107b.gif)

Behavior in v2.2.1 (Unexpected behavior)
![Ke

[2021-09-29 12:21] petyosi commented on #460
Which browser is this? I failed reproducing in latest Chrome on mac.

[2021-09-29 12:35] Elabar commented on #460
Microsoft Edge v94.0.992.31 on Windows.

Tested in Chrome v94.0.4606.61 on Windows. Still reproduceable. GIF as below.
![YBgTKlPR6v](https://user-images.githubusercontent.com/15872787/135269179-6830a017-e09f-46dd-994f-022aa4350c5d.gif)

Can you try to refresh the v2.2.1 a few more times? It is not 100% reproduceable.

[2021-09-29 13:34] petyosi commented on #460
I managed to reproduce it on my side, so I will take a look. However, notice that the setup (probably not your real one) is quite... strange. the initialTopMostItemIndex is used only when the component is mounted, and you will always `-1` there. Subsequent refreshes are not taken into account, it works only because you have stickToBottom.

[2021-09-29 13:50] petyosi commented on #460
Looking further, I can confirm that your setup is in fact, invalid. Right now, `initialTopMostItemIndex` is set to -1. You might as well remove it with zero effect on the setup.

Alternatively, if you have an initial set of items ([here's how I tested it](codesandbox.io/s/wonderful-raman-1iilo?file=/src/App.js)), the example works as expected.

Hope this makes sense. If your setup is not the one p

[2021-09-30 05:28] petyosi commented on #460
Thanks for the follow-up. I am trying to get to the bottom of this (probably some sort of a race condition), but the new sandbox you sent is reliably working for me. Here's a recording:

https://user-images.githubusercontent.com/13347/135391658-812c9e6a-fc67-4e2d-af20-c4e23db15e2e.mov

Perhaps there's something more I should do? I played with some timeouts to see if there's something there, [here'

[2021-09-30 05:53] Elabar commented on #460
Yea, I forgot to add in the key prop in the sandbox, my real setup there have the key props.
After adding the key prop in the sandbox, I still can reproduce the issue occasionally on v2.2.1.
Here's the result after I added the key prop and also the timeout you mentioned

https://user-images.githubusercontent.com/15872787/135394368-056e619c-27e6-43d1-b9c2-a314a3b37b89.mp4

But again, this issue is

[2021-09-30 09:03] Maxim725 opened #461 "[BUG] Library (version 2.2.1) not working on IOS less than 13.4 version."
Hi!

Reproduction
This is an example that will help you figure out the problem.
https://codesandbox.io/s/priceless-easley-7std6?file=/src/MessagesList.js

To Reproduce
Steps:
1. Open site on IOS less than 13.4 version
2. See error

Screenshots
![image](https://user-images.githubusercontent.com/47459772/135421576-7fe5134d-5990-4308-8f7e-65fea595510c.png)

[2021-09-30 10:37] petyosi commented on #461
@Maxim725 this is due to [resizeobserver](https://caniuse.com/resizeobserver) missing there. You should include the polyfill for older browsers.

[2021-09-30 10:37] #461 closed

[2021-09-30 12:03] Maxim725 commented on #461
Is this problem described on the library's website?

[2021-09-30 12:26] Maxim725 opened #462 "[BUG] Elastic behavior at the bottom causes flickering on IOS less than 14.4"
Hello!
Bug with scrolling in IOS less than 14.4.

**Reproduction**
Links:
https://7std6.csb.app/
https://codesandbox.io/s/priceless-easley-7std6?file=/src/App.js

I tested on a versions IOS
13.3
14.0
and
 14.4 and 15.0 there is no bug

**To Reproduce**
Steps to reproduce the bug:
1. Scroll to the bottom
2. Attempt scroll down
4. See bug

[2021-09-30 12:32] petyosi commented on #462
I don't have that exact version available, can you record a video?

[2021-09-30 12:34] petyosi commented on #461
It's not. I would happily accept a contribution on the matter - you can add it to this page for example: https://virtuoso.dev/troubleshooting

[2021-09-30 12:36] Maxim725 commented on #462
Okay, I can

[2021-09-30 13:38] Maxim725 commented on #462
https://user-images.githubusercontent.com/47459772/135465744-3fba27ef-4620-46ee-836d-04579464298d.mp4

[2021-09-30 13:44] Maxim725 commented on #461
Okay

[2021-09-30 15:33] Maxim725 commented on #462
Yes

[2021-10-01 14:07] ant-plotnikov commented on #462
@Maxim725 could it be an issue with margins? https://virtuoso.dev/troubleshooting/#list-does-not-scroll-to-the-bottom--items-jump-around
As I see in your sandbox https://codesandbox.io/s/priceless-easley-7std6?file=/src/App.js `p` elements have vertical ones

[2021-10-04 09:37] Maxim725 commented on #462
@ant-plotnikov Yes, I know about the problems with margin, but I forgot about p. I changed the tag and it didn't help.

[2021-10-05 12:50] ishche commented on #209
@asv7c2 how have you done it?

[2021-10-05 13:52] NuclleaR commented on #26
Any ideas how to check this case?

[2021-10-05 18:01] gabrielmicko commented on #254
I still have this issue in the newest version 2.2.1

[2021-10-05 18:04] gabrielmicko commented on #369
Same issue in 2.2.1.

[2021-10-06 05:32] ychcg commented on #254
I also have this issue after update version 2.2.1.
I don't know it can help but I use scrollIntoView as new feature.

[2021-10-06 05:40] Elabar opened #463 "[BUG] Floating point height with initialTopMostIndex does not render on certain scale"
**Describe the bug**
When the height of the container is floating point number, the list seems to be not rendering when initialTopMostIndex is specified on certain scale.

**Reproduction**
Code: https://codesandbox.io/s/upbeat-mccarthy-2zwqq?file=/src/App.js
Preview link: https://2zwqq.csb.app/

**To Reproduce**
Steps to reproduce the behavior:
1. Zoom to different scale
2. Refresh page
3. Observe

[2021-10-06 09:33] sergsavoniuk opened #464 "[Question] GroupedVirtuoso - expand/collapse functionality"
I'm using the GridVirtuoso component to implement a menu component. The menu is separated into categories and each category contains menu items. As far as the menu could contain a lot of categories and menu items, I'd like to be able to expand/collapse categories.

I've attached the link to the sandbox below and basically have 2 questions:
**1.** when I click on a category (to collapse it) - I'm g

[2021-10-06 12:06] petyosi commented on #464
The easiest solution should be to not fully collapse the content - leaving a 1px gap should avoid the zero-sized element.

[2021-10-06 12:08] petyosi commented on #463
Thanks, I will take a look.

[2021-10-06 12:18] Elabar commented on #463
Update: Autosizer wont actually fix this issue, the height of the container might still be a floating point number after some scaling despite setting the height as an integer explicitly.

For example:
![image](https://user-images.githubusercontent.com/15872787/136200486-7a7cc309-02f2-467f-8901-390421d2c2f0.png)

[2021-10-06 18:01] petyosi commented on #463
Yeah, I did some back and forth on floating point numbers. Will look into fixing this by the end of this week

[2021-10-07 11:17] pranas opened #465 "[BUG] initialTopMostItemIndex has no way to specify the alignment of the item"
**Describe the bug**
`followOutput` feature breaks when you have items that are taller than the container (ie 400px height item in a 300px container) in the initial list. It will scroll to the top of the last item and will not follow the updates. Once you manually scroll to the bottom of the last item and append more large items it will follow correctly.

**Reproduction**
The issue can be reproduc

[2021-10-07 17:42] github-actions[bot] opened #466 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-10-07 18:35] toneplex opened #467 "[Feature Request] add a threshold to isScrolling"
I implemented isScrolling to render a placeholder for an expensive element. But the issue I run into, is if the user wants to scroll just a few pixels, then they get a flash of the placeholder which feels janky.

I'm thinking that if there was an optional threshold for the isScrolling attribute, then that would prevent this from happening.

[code]

[2021-10-11 20:51] Guiw5 commented on #426
have you tried adding an extra height to those container divs?

[2021-10-12 19:41] petyosi commented on #320
I'm afraid I'm very short on time recently. Also, it's hard to prioritize this since it is not related to the use cases of my day job.

[2021-10-15 05:08] blutorange opened #470 "ScrollSeekPlaceholder in group mode does not know whether it should render an item or group"
First of all, this is an awesome library and out of the virtual scroll libraries I tested, this is the best and does everything I need.

There's a small issue I found with `ScrollSeekPlaceholder` with `GroupedVirtuoso`. Unless I'm missing something, the `ScrollSeekPlaceholder` is only passed the `index` (and the height), the the index can either be an item index or a group index with no way to tel

[2021-10-15 11:38] nightwolf-041 opened #471 "Incompatibility with pagination"
hi,
i have a react-virtouso list with 3 behavior :

1. it has a prev/next button to slide between items.
2. it has a jump button to jump to special item.
3. it has a scroll to going to what item we want

for handle these three behaviors i have a state in parent component that is save changed item index/id and i have a other current index in list component.
when i click on buttons or scroll list, i

[2021-10-15 13:24] #471 closed

[2021-10-15 14:17] seschwartz8 commented on #62
Any progress on horizontal scrolling?

[2021-10-19 02:11] nereuseng opened #473 "[Feature request] Add fallback of globalThis"
I found the globalThis was used in some place, like [here](https://github.com/petyosi/react-virtuoso/blob/ffede3ff0bc9a3e3f7fd3816897e5cb767e70aa8/src/loggerSystem.ts#L33), that will cause crash and the runtime error on some old browser, could we add a fallback of globalThis like Window?

Thanks!

[2021-10-19 04:58] nmgh1 commented on #473
Hi,
Even I faced same issue, run time error for globalThis undefined.
I faced this on Safari 12 or lower

[2021-10-19 06:06] petyosi commented on #460
@Elabar I booted to Windows today to test that, and it works fine on my side. Can you think of something else that could affect the setup? See video:

https://user-images.githubusercontent.com/13347/137852704-b5996348-8941-45fa-81fd-ad263c434d1f.mp4

[2021-10-19 06:16] Elabar commented on #460
@petyosi sadly, can't think of anything else that could affect the setup. The setup you're running should be exactly the same as what Im running. Not sure why you can't reproduce it, let my friends to test it, they can reproduce it as well.

Can you check what version you are running on? This bug appears on v2.2.1 and up

[2021-10-19 06:25] petyosi commented on #460
Here's [the sandbox](https://codesandbox.io/s/crazy-wescoff-xh486?file=/src/App.js) I used for recording. It's a fork of one of the above, using `2.2.2`, which should not have any effect on the matter...

[2021-10-19 14:52] AdrianMrn commented on #298
In my case, this would help with a list of dynamically sized items that control their own state, which has an effect on the height of the item (collapsible menus inside of a row).

Changing some state in 1 item will update the height of the list correctly, but as soon as you scroll down and the item unmounts, the height Virtuoso has in state is different from the actual height of the list, causing

[2021-10-20 21:58] ghost opened #474 "Window Scroll Bug when there is a overflow:scroll area"
Hey guys.

**Describe the bug**
I have an app that consists of a static header (lets say 30% of the viewport height) and a center content section (rest of the viewport height). I added "overflow:scroll" to the center section such that the user can scroll if the content will get larger than the remaining 70% viewport height.
If I don't add useWindowScroll everything works fine (as you can see below

[2021-10-21 06:20] #474 closed, assigned to nobody

[2021-10-21 16:23] maccman opened #475 "[BUG] startReached invoked continuously"
We are seeing issues where startReached seems to be getting invoked in a loop.

We have Virtuoso in a tab. It seems to happen when the element is display none (tab is hidden). If I, instead of hiding the tab with display none, put it position fixed way out of the viewport everything works correct.

LMK if you need more details to reproduce.

[2021-10-21 16:54] maccman commented on #475
I have narrowed it down. If you call `scrollToIndex` when virtuoso is hidden then startReached is invoked continuously.

[2021-10-21 17:30] petyosi commented on #475
Thanks, I haven't explored the behavior when hidden. In general, scroll to index can't work in that mode as the items can't be measured. Will noop work for your case?

[2021-10-21 19:28] maccman commented on #475
Yeah I suspect that virtuoso just thinks you keep on scrolling up when it can't measure stuff properly.

You might want to check if virutoso is hidden:

`  const isVirtuosoHidden = () => ref.current?.offsetHeight === 0`

I am working around this by keeping everything in the page.

https://gist.github.com/maccman/51b4c8169093268f062238cee35743ed

[2021-10-22 18:36] johanneslumpe opened #476 "[BUG] List scrolls when changing items in a sorted list in combination with a custom computed key"
**Describe the bug**
When using a custom `computeItemKey` function in combination with a data set that is sorted and constantly updated, the scroll position of the list changes without the user interacting with it. This is not the case when an item's `index` is used as key. This might just be masking the problem in some fashion as using `index` forces a re-render of all items at all times in a sor

[2021-10-22 19:03] #476 closed, assigned to nobody

[2021-10-24 18:26] #475 closed, assigned to nobody

[2021-10-25 10:53] CraigRonald555 opened #477 "[BUG] useWindowScroll doesn't seem to work with Ionic"
**Describe the bug**
I'm trying to implement the Virtuoso component in my ionic-react project however there seems to be an issue whenever I add the useWindowScroll property to the component. The issue is that the list doesn't seem to update upon scrolling, so only the visible items are ever loaded.

**Reproduction**
Live version of issue: https://friendly-mayer-369d6a.netlify.app

I've added a rep

[2021-10-25 12:17] #477 closed, assigned to nobody

[2021-10-31 10:07] awgv opened #479 "[BUG] When a `VirtuosoGrid` layout is a CSS grid and its height becomes small, the scroll starts jumping/flickering upon reaching the bottom end"
**Describe the bug**
Looks like this:

https://user-images.githubusercontent.com/6409354/139575964-683ee24c-3328-4966-a0d2-5fce18e4d3d4.mp4

Flexbox is unaffected. “Small” is a variable number; in the CodeSandbox example that I attached below the flickering starts if the container’s height is `260px` or less, in a project of mine it’s a bit less than that—around `252px`. Also, the smaller a contai

[2021-10-31 16:14] hungnguyentiki commented on #197
Hello, how about this issue? Do you have any plan to support it?

[2021-11-01 08:50] Amethystafyy282 opened #482 "[BUG] List being re-render affected media item."
**Describe the bug**
I'd use Virtuoso for my chat app which is wonderful so far.

I have a List contained Video Components on each item, which is rendered base on item dynamic url.
But when List begin re-rendered, my component got re-rendered, too. That makes user loss their process to the video.

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger List to re-render. Easiest practice is t

[2021-11-01 13:27] petyosi commented on #482
Please reproduce the problem in a codesandbox. I will take a look.

[2021-11-01 20:27] petyosi commented on #479
Grid gap is not supported. There's an issue that discusses this. PRs are welcome.

[2021-11-01 20:28] #479 closed

[2021-11-01 20:35] awgv commented on #479
Thank you. If someone stumbles upon this thread, the issue’s tracked here: #363.

[2021-11-02 03:07] Amethystafyy282 commented on #482
I'm so ashamed of myself for not checking carefully before submitting this issue.
Apparently this is the one: https://github.com/petyosi/react-virtuoso/issues/183
Disabling the hook got everything work perfectly again.
Again, thank you for your time!

[2021-11-02 03:07] #482 closed

[2021-11-02 17:23] Hideman85 commented on #319
Similar issue:
[code]

In addition I would add my voice to https://github.com/petyosi/react-virtuoso/issues/235 the props are counterintuitive (here index is not relative to the group but to the flattened array)

[2021-11-02 17:34] Hideman85 commented on #235
I think it would be better to revise the props of GroupedVirtuoso to something more intuitive like:
[code]

If people want a wrapper you could use this:
[code]

[2021-11-02 19:28] ritu-coder commented on #173
@petyosi I am stuck with the same issue as OP.
@alaboudi did you figure out anything?

[2021-11-03 03:25] Amethystafyy282 commented on #183
Does anyone have any update on this? I've been testing recently and initial list got re-rendered a lot when using with `recoil` hooks (https://github.com/facebookexperimental/Recoil), other hooks like `useEffect` and `useState` are fine.

I've tried to use hooks in parent components but it didn't work out.

[2021-11-03 15:33] spiderhands opened #483 "[BUG] ScrollSeekPlaceholderProps interface is incorrect"
**Describe the bug**
ScrollSeekPlaceholderProps interface has **index** field but should have **width** field.

[Here](https://github.com/petyosi/react-virtuoso/blob/16aca7514beefdc9a54e9f920337b46759acd45d/src/interfaces.ts#L53) is interface

And [here](https://github.com/petyosi/react-virtuoso/blob/16aca7514beefdc9a54e9f920337b46759acd45d/src/Grid.tsx#L115) is implementation where width is provi

[2021-11-03 16:00] petyosi commented on #483
Agreed, this needs a separate interface for the grid. PR is welcome.

[2021-11-04 10:31] Hideman85 opened #486 "[BUG] GroupedVirtuoso group content sticky missing z-index"
A simple issue of z-index of sticky element with the usage of group.
I do have a row with an item in absolute and having z-index since the sticky group title do not have z-index it shows the row element on top of it.

Result:
![image](https://user-images.githubusercontent.com/16165119/140298517-ff1848b7-e463-43a7-b6aa-20ae1b0561cb.png)

Expected:
![image](https://user-images.githubusercontent.com/

[2021-11-04 11:24] petyosi commented on #486
I'm not sure I fully understand what you want, but you can control that using `components['Group']` - https://virtuoso.dev/api/interfaces/_interfaces_.components#group

[2021-11-04 11:24] #486 closed

[2021-11-04 15:43] Hideman85 commented on #486
I don't really want to customize the group component it is just that the default one miss a z-index property and the group is behind a row content actually.

Just have a look to the two screenshot and the div structure generated by virtuoso, the wrapper of group content is sticky but miss the z-index to be above the row content (in my sample the green bullet is a row content)

I don't really have

[2021-11-05 22:46] isGabe commented on #316
I'm really glad this exists! Several times now I've been pleasantly surprised that an issue I had was already addressed by a feature that already existed. This should be added to the `scrollToIndex` docs, though, because I had no idea about it until I came a searched the repo 🙂

[2021-11-06 02:07] Amethystafyy282 opened #487 "[BUG] Using custom component List cause the list re-render when data mutated"
**Describe the bug**
Using custom component List cause the list re-render when data mutated

**Reproduction**
https://codesandbox.io/s/react-virtuoso-forked-fdhhb?file=/src/App.js

**To Reproduce**
1: Play Audio component
2: Click Add and see the List got re-render

**Expected behavior**
The List not being re-rendered

**Screenshots**

**Desktop (please complete the following information):**
 - OS

[2021-11-06 03:15] petyosi commented on #487
You need to memoize the custom component with hook or move it out of the 'App'.

[2021-11-06 03:15] #487 closed

[2021-11-06 11:21] petyosi commented on #483
Fixed in c4c01210

[2021-11-06 11:21] #483 closed

[2021-11-10 07:56] yinsang opened #495 "[BUG] Grid screen shakes from rapid padding changes after scrolling"
**Describe the bug**
Using virtuoso grid, set two item of a row, item height is prop up by item's name in flex, may one line , may two lines.

scroll fast will see screen shaking in mobile mode.
I guess that,  image rendering later make item height calculate to a wrong value of virtuoso-grid-list.

**Reproduction**
Use https://codesandbox.io/s/vibrant-bohr-ev4qg?file=/src/App.js  to illustrate the

[2021-11-10 08:18] petyosi commented on #495
The Virtuoso Grid does not support items with variable height. See readme:

[2021-11-10 08:18] #495 closed

[2021-11-10 11:02] metapone opened #496 "[BUG] ScrollIntoViewLocation's "done" function doesn't wait until scrolling is finished"
**Describe the bug**
Inside ScrollIntoViewLocation's `done` function, if I query DOM to get the newly-scrolled-into-view element, the result will be null.

**Reproduction**
Use the code from https://virtuoso.dev/keyboard-navigation/ and add this part to the start of the `done` function:
[code]

The result should look like this:
[code]

**To Reproduce**
Press up or down inside the list according to

[2021-11-10 11:51] petyosi commented on #496
I'll take a look but I'm not sure that I can definitely fire the event when the DOM is in its final state - it's managed by React after all. Can you explain what's your intended implementation? Why do you need to access the DOM? Why don't you go through hooks?

[2021-11-10 15:33] metapone commented on #496
Basically I have an excel-like form/list where each list item is actually a row of `input`s. I want the users to be able to input a lot of data in without having their hands leaving the keyboard to scroll down, so Down/Up arrow key would be used to jump to the next/prev item's 1st `input` by using HTMLElement.focus().

So when an user get to the last visible row and press Down, the current `input`

[2021-11-10 16:10] petyosi commented on #496
I see what you mean. This is an interesting case, which I think can be solved with hooks + a component in the item in a fairly elegant manner. Basically, you can call the DOM element focus in `useEffect` if the currently selected item is the one rendered.

[2021-11-10 16:37] metapone commented on #496
I'm still not clear about this, is this what you meant?
- Create a state to store the item ID to be focused, and in `done` setState to the new item.
- Follow https://virtuoso.dev/range-change-callback/ to get the visible range.
- Use `useEffect` to monitor both the visible range and the item ID to be focused, and when they match call `focus()` and setState itemID to null

Will this be fast enough

[2021-11-10 19:45] petyosi commented on #496
Not exactly. [Take a look at this](https://codesandbox.io/s/keen-gates-wxbpr?file=/src/App.tsx). I think it works as expected.

If this helped you, please consider sponsoring the project. It will be highly appreciated and will help me with its ongoing development.

[2021-11-10 19:45] #496 closed

[2021-11-12 14:40] JavierM42 opened #497 "[BUG] atBottomStateChange fires multiple times on mount."
**Describe the bug**
The atBottomStateChange callback fires at least twice when the Virtuoso component mounts.

**Reproduction**
https://stackblitz.com/edit/react-opcwka?file=src/App.js

**To Reproduce**
Check the console and see the three logs on every reload: `false`, then `true`, then `false` again.

If you set `initialTopMostItemIndex=999999`, `atBottomStateChange` will fire a fourth time with

[2021-11-12 14:59] petyosi commented on #497
That would be an improvement indeed, but I am not sure when I can get to it. In the mean time, debouncing it should work as a workaround.

[2021-11-12 22:28] Bessonov commented on #304
@mchitson you should create a reproducible example.

[2021-11-16 13:37] paulm17 commented on #192
So I finally got around thinking about this again and thanks to @carstenpatzke to providing the solution for me to work on.

[code]

[2021-11-16 17:47] gajus commented on #199
It would be nice if `scrollToIndex` supported a constant for scrolling to the bottom, e.g. `scrollToIndex - 1`.

This is because in heavily memoized env it might not be easy to access reference to `messages`.

[2021-11-17 11:54] heypran commented on #182
@muyiwaoyeniyi were you able to find a solution?

[2021-11-18 11:23] prakash03yes opened #502 "When the array updated i got this error"
![image](https://user-images.githubusercontent.com/77315058/142406258-d6bae303-b083-49c6-888d-7f49ba4d39dd.png)

[2021-11-18 11:26] #502 closed

[2021-11-18 11:26] petyosi commented on #502
Please read the issue template. I can't help you with this.

[2021-11-19 19:58] jkillian opened #504 "[BUG] Debug console messages hard to read in dark theme devtools"
**Describe the bug**
Just a very minor issue I stumbled upon and figured I'd note - console debugging messages are hard to read in dev tools with a dark theme. Here's an example:

**Screenshots**
<img width="540" alt="image" src="https://user-images.githubusercontent.com/1400151/142683936-1e1445cc-9e33-4366-acff-893d4d208728.png">

**Desktop (please complete the following information):**
 - OS: ma

[2021-11-20 05:47] Escalion86 commented on #47
Unfortunately, this is not so. I periodically re-render the Virtuoso component and it would be great to remember its position. And if you remember the position of the element, then there will be a small shift every time

[2021-11-20 06:29] petyosi commented on #47
@Escalion86 read the docs: https://virtuoso.dev/virtuoso-api-reference/#methods

[2021-11-23 00:03] ercangursoy commented on #47
what about Grid? It'd nice to have this functionality in Grid as well.

[2021-11-23 16:31] codingedgar opened #506 "[BUG] gropup content lose focus"
**Describe the bug**
using `GroupedVirtuoso` and I have an input in the `groupContent` (an autocomplete to filter the elements of the group), when elements all filtered, leaving the list in a different state, therefore re-rendering the previous header, i lose focus of the input.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/great-danny-4i571
2. Click on write

[2021-11-23 17:02] petyosi commented on #506
Hey,

I'm afraid that the re-render is unavoidable - the elements are re-parented. You will have to preserve the value/focus state in a state so that you can restore them at re-render.

[2021-11-23 17:02] #506 closed

[2021-11-23 17:32] codingedgar commented on #506
thx, good hint 👍

[2021-11-23 19:51] jk-bd opened #507 "[BUG] startReached never called"
**Describe the bug**
I'm working on a closed sourced project, and I have a search feature that places the user on various places of the list.

Search will basically replace the data given to virutoso based off the search results. So we provide a new array of messages for every search. After the first search, everything works as intended. However, after a few searches, startReached is called once a

[2021-11-24 19:43] #507 closed

[2021-11-24 19:43] jk-bd commented on #507
I think I know the issue, please disregard

[2021-11-25 13:36] bartlomiejwendt opened #509 "[Feature request] offset for initialTopMostItemIndex"
Hi,
I have a case where I have a page with a virtualized list of elements that use useWindowScroll. You can click on that element and navigate to "detailed view" and after you're done you can get back to the list with your scroll position being in the same place. The problem is that I've also a sticky header and virtuoso can't handle that when setting initialTopMostItemIndex. The list element is b

[2021-11-25 14:06] petyosi commented on #509
Thank you. Feel free to submit a PR that addresses that. I'll take a look.

[2021-11-26 09:36] BigTomM opened #510 "When scrolling up quickly, there will be a white background and no rendered items"
**Describe the bug**
When scrolling up quickly, there will first be a white background for a short while and then rendered items.
I’m working on a live chat app and encountered this problem when I upgraded from v0.20.0 to v2.2.8 recently.
When I implement the same function in v0.20.0, there is no such white background. This blank only appeared in v2.2.8.

**Reproduction**
https://codesandbox.io/s/

[2021-11-26 10:24] petyosi commented on #510
You have a `defaultItemHeight` set to a value which makes no sense given the example.

[2021-11-26 10:24] #510 closed

[2021-11-26 10:45] BigTomM commented on #510
Thanks so much, solved it. I adjusted the defaultItemHeight to a reasonable value

[2021-11-26 12:06] pranas commented on #465
Hi @petyosi, did you get a chance to make some progress on this?

[2021-11-26 12:08] petyosi commented on #465
Sorry, no. If you have the capability, please submit a PR. It's not a big or complex task, but my schedule is awful.

[2021-12-06 02:45] cang4 opened #514 "Issue with items flickering, list not loading, and jumping"
I am trying to virtualize a list of images and display them as a grid but I am having issues with it. Currently I am trying to virtualize a list of images, but my code does not work with divs with a static height as items instead of imgs either. [Here](https://codesandbox.io/s/agitated-feather-t8su8?file=/src/ImageListComponent.js) is a reproduction of my code.

[2021-12-06 03:30] codingedgar opened #515 "✨ Performance improvement: minimize Layout, Update Layout Tree, Recalculate Style"
First of all, fantastic library ✨

Second, this is not a bug. I guess more of a performance improvement, fully available to contribute tho 👍.

**Describe the bug**
Currently, mounting `Virtuoso` causes a lot of layout/reflow (for more information [here is a list of what forces layout/reflow](https://gist.github.com/paulirish/5d52fb081b3570c81e3a))

I used [contain](https://developer.mozilla.org/en

[2021-12-06 05:54] petyosi commented on #514
You're most likely missing something in your setup. Check [this example](https://github.com/petyosi/react-virtuoso/blob/master/e2e/window-grid.tsx).

[2021-12-06 05:54] #514 closed

[2021-12-06 06:30] petyosi commented on #515
I'm more than happy to accept a performance-improvement PR on the matter. Few notes that might help:

Measuring element dimensions and tracking scroll location is how the dynamic heights work - and this triggers a reflow. I am not seeing a possibility for a radical improvement here, but I would be delighted to be wrong.

- The library does not deal with `window` unless you're in window scrolling m

[2021-12-06 08:36] chaosuperDK opened #517 "[BUG] startReached is not working"
**Describe the bug**
startReached is never triggered

**Reproduction**
Found this demo from issue list, it's working well before bump deps to latest
https://stackblitz.com/edit/react-2muuo1?devtoolsheight=33&file=src/List.js

**To Reproduce**
1. Scroll to top, working well
2. Click update alll deps to latest at left deps panel
3. Scroll to top, startReached not working

**Expected behavior**
Scrol

[2021-12-06 09:06] petyosi commented on #517
I'm not sure what's going on with Stackblitz lately, but it seems like a very [similar code runs as expected on the website](https://virtuoso.dev/prepend-items/). And [in codesandbox](https://codesandbox.io/s/bold-bash-kd9sg?file=/src/App.tsx).

If you can figure out what's wrong with Stackblitz, please let me know.

[2021-12-06 09:06] #517 closed

[2021-12-06 09:38] bartlomiejwendt commented on #509
I am going to do that when I will have some free time this week.

[2021-12-06 14:00] gajus commented on #274
You should memoize that callback

[code]

[2021-12-07 02:46] maxhelsel commented on #517
This is happening to me as well after updating to the latest version - scrolling to the top not firing startReached. For context, running a reverse-infinite-chat setup. Decided to just roll with a 'click to load more' button for now

[2021-12-07 03:34] chaosuperDK commented on #517
Yes, I've tried clone repo and run 'browse-examples', startReached demo works well as expect.
But it happened after bump repo's dep react(^16.13.1), react-dom(^16.13.1) to latest.

[2021-12-07 04:27] maxhelsel commented on #517
Hmm, today was the first time I've come back to my infinite-reverse-chat components since updating a lot of packages (and React to 17+). Lots of strange stuff going on, but my normal Virtuoso lists are working just fine. It's only the reverse-chat lists

[2021-12-07 05:54] petyosi commented on #517
@maxhelsel @chaosuperDK Use the codesandbox I have linked above to replicate your issue and post it here. I will take a look.

[2021-12-07 06:34] chaosuperDK commented on #517
@petyosi codesanbox seems ok.
Could you bump your local repo's react and react-dom version to latest and give it a try ?
I've tried and it's really exist.

[2021-12-07 07:13] chaosuperDK commented on #517
Context: Cloned repo with latest react and react-dom.
After rollback urx and react-urx version from 0.2.10 to 0.2.8 fixed this.

[2021-12-07 09:12] invincibleyolk opened #518 "startReached not called when scrolling to the top"
version: 2.2.8

endReached is working, but startReached is not called. I used atTopStateChange to add the data, the data has added but the list still doesn't scroll up. I used the exact same codes in your example.

(I downgraded to 1.11 then it's working)
Any idea with the issue of the newest version? Cheers

[2021-12-07 09:15] petyosi commented on #517
@chaosuperDK @maxhelsel thanks for the clues. I found the problem. Please upgrade to `v2.3.0`.

[2021-12-07 09:15] chaosuperDK commented on #518
Should be working at next release #517

[2021-12-07 09:16] petyosi commented on #518
Sorry, I broke that by changing bundlers :(. Please upgrade to `v2.3.0`.

[2021-12-07 09:16] #518 closed

[2021-12-07 09:22] invincibleyolk commented on #518
thanks!

[2021-12-07 09:43] chaosuperDK commented on #517
It's working, but there's a little problem is

I'm using vite as fast try&debug by the way

[2021-12-07 09:50] invincibleyolk commented on #518
![image](https://user-images.githubusercontent.com/37947268/145006115-b69a0796-7d86-4b39-9023-35cdb57dcfa2.png)

Hi @petyosi , I upgraded to v2.3.0 just now, and an error like this occured. I'm not sure if it's the problem of me using Vite.. but could you please have a look at it? Many thanks

[2021-12-07 10:03] petyosi commented on #518
@invincibleyolk :( I should not have messed with those bundlers on the same day I got a booster shot. Please try `v2.3.1`.

[2021-12-07 10:06] chaosuperDK commented on #517
@invincibleyolk Remove "exports" property from node_modules/@virtuoso.dev/react-urx/package.json will make vite work.

[2021-12-07 10:22] petyosi commented on #517
I removed `exports` in `2.3.1`: https://unpkg.com/browse/@virtuoso.dev/react-urx@0.2.12/package.json

[2021-12-07 10:23] invincibleyolk commented on #518
It's working perfectly now! Thanks a lot! Take some rest then ;)

[2021-12-07 10:28] invincibleyolk commented on #517
Thanks mate ;)

[2021-12-07 10:33] petyosi commented on #517
Thanks for your help anyone. `v2.3.1` should resolve the problems. Let me know if this is not the case.

[2021-12-07 14:49] ariboren commented on #517
@petyosi I'm still seeing this issue on `v2.3.1`.

[2021-12-07 14:51] petyosi commented on #517
@ariboren can you provide more details? It looks like it's resolved for the people in the thread.

[2021-12-07 15:02] ariboren commented on #517
I've partially resolved it -- I had updated to `v2.3.1` in my library code but the consumer was still pegged to an older version. However, now `startReached` only first the first time I scroll to the top. Here's a sample of my code.

[code]

In this example, I have a loader in the `components.Header` prop, visible below, but I have the same result without i.

<img width="415" alt="Screen Shot 2021

[2021-12-07 15:05] petyosi commented on #517
I can't debug non-runnable code reliably. Please use one of the samples above to showcase your problem.

[2021-12-08 10:19] codeMonkey82 opened #519 "Scrollbar drift"
**Describe the bug**
Scrollbar issue, seems to step out of sync in chrome... ? When you pull down on the scrollbar handle slowly it seems fine, but when pulling down more aggressively it the mouse cursor starts to get ahead of the handle, in other words it seems to drift ?

**Reproduction**
Have a look here for an example
https://stackblitz.com/edit/react-functional-components-fwksf4?file=index.js

[2021-12-08 12:08] petyosi commented on #519
Duplicate of #449

[2021-12-08 12:08] #519 closed

[2021-12-08 21:37] genepaul opened #522 "[BUG] Items get calculated incorrectly when child of flex parent"
**Describe the bug**
This may be a bug, or it may be incorrect usage. I am using Virtuoso inside a Material UI Popover, and placing it inside a flex container so it takes up the remaining portion of the popover after some content (see codesandbox link). My understanding is I should be able to have a structure like this:

[code]

And it seems this works just fine when this is just in the regular DO

[2021-12-08 21:40] genepaul commented on #522
I will note that the example codesandbox I linked to where it seemed to be working is using version 0.12.0, while my codesandbox is using 2.2.7 (and I've been able to reproduce up to the latest version). But if I update the example (not in a popover) to latest, it still does not reproduce the issue. It seems I'm only seeing this in a popover, so I'm not sure what's different.

[2021-12-08 21:46] genepaul commented on #522
Actually, I took the time to go through the versions of react-virtuoso in my codesandbox, and it seems the issue starts showing up with v1.10.7. The version before that, v.1.10.6, does not seem to have scrolling or gap issues.

[2021-12-09 07:29] petyosi commented on #522
v1.10.7 switched from using offsetHeight to using `getBoundingClientRect` for item sizing. I'm not sure about the internals of the `Expand` component, but from what I see, the viewport size is not recalculated properly. This can happen for variety of reasons, including margins or animations.

It's unlikely for me to investigate that in a reasonable timeframe, especially given that it needs mui for

[2021-12-09 13:44] genepaul commented on #522
So yeah, it's definitely not getting the right height on mount. Here's what this looks like in my own code:

![image](https://user-images.githubusercontent.com/66479/145406257-0b0c5c59-e9ed-486a-8b98-67996373f8cc.png)

![image](https://user-images.githubusercontent.com/66479/145406531-8a907eb9-b1bb-4588-8150-02bb01d138af.png)

Above is what the elements look like in the DOM, but here's what Virtuo

[2021-12-09 13:44] #522 closed

[2021-12-09 13:46] genepaul commented on #522
Actually, one thing above is incorrect: in `itemSize`, `el.offsetHeight` is correct, but if I return that from `itemSize` I still have the rendering issue. So I'm not sure what else might be going on here.

[2021-12-09 14:02] petyosi commented on #522
I'm not sure if the green part from the above is a margin - if so, it will confuse the layout a lot. offsetHeight does not include it.

[2021-12-09 15:19] genepaul commented on #522
I'm fairly certain it's padding. I tried to clear margins.

[2021-12-13 09:46] kobe-14 opened #523 "React Virtuoso Grid"
How do I get the iterator value,

`itemContent={(index, data) => {
       // here data is undefined
 }}`

[2021-12-13 13:06] petyosi commented on #523
`data` is not supported for the grid component. Feel free to submit a PR or sponsor the development of this feature.

[2021-12-13 13:06] #523 closed

[2021-12-13 13:37] kobe-14 commented on #13
how to pass dynamic data in virtuosogrid

[2021-12-13 13:38] sergsavoniuk opened #524 "List with window scroll does not calculate its height correctly, causing content below to jump when scrolling"
**Describe the bug**
I'm using the Virtuoso component to create a virtualized list. On the page, I have a link that navigates users to a certain section of the page. When a user clicks on this link and then starts scrolling up -> the list starts jumping and scrolling behavior is not good.

**Reproduction**
[Sandbox](https://codesandbox.io/s/zen-wildflower-i2fce?file=/src/App.js)

**To Reproduce**

[2021-12-13 15:12] petyosi commented on #524
Thanks for the report. I see why this happens and it's a legit bug, but it might be quite hard to address. As the user scrolls up, new items get loaded and the list height gets recalculated, displacing the wall of text below.

[2021-12-13 23:13] mrkev opened #525 "[BUG] VirtuosoGrid, Chrome: Negative index is passed to itemContent in initial rendering"
**Describe the bug**

First and furthermost, thanks @petyosi for your work in `react-virtuoso`. I previously used `react-virtualized`, and am enjoying using virtuoso instead. Let me know if I can be of help in figuring out a fix for this issue— I want to be as helpful as possible.

Now onto the bug: I see an index of `-1` when using `VirtuosoGrid`. This is unexpected, and is accompanied by an empt

[2021-12-14 07:05] petyosi commented on #525
@mrkev the problem is because that the grid outer element has zero height. Solving that won't get you much further though, because the grid does not support masonry-like layouts. It works only for **same-sized elements**.

[2021-12-14 07:05] #525 closed

[2021-12-14 09:18] mrkev commented on #525
Gotcha, thanks for the quick response and the heads up @petyosi— I'll look into either using css grid or grouping elements into rows to simulate a grid with a list.

[2021-12-14 14:57] arnaskro opened #526 "[BUG] Not working with iOS versions below v13.4"
**Describe the bug**
React-virtuso does not seem to work in iOS versions >= 13.3. And there are no errors in console.
But it works with versions above v13.4.

**Reproduction**
https://1xdrf.csb.app/
https://codesandbox.io/s/agitated-williams-1xdrf?file=/src/App.js
https://virtuoso.dev/

**To Reproduce**
Steps to reproduce the behavior:
1. Get a device with iOS >= v13.3
2. Open the [sandbox link](h

[2021-12-14 16:56] petyosi commented on #526
You need to polyfill the ResizeObserver: https://caniuse.com/resizeobserver.

[2021-12-14 16:56] #526 closed

[2021-12-15 05:53] andrewdeanyoder opened #527 "Failed to execute 'observe' on 'ResizeObserver': parameter 1 is not of type 'Element'."
**Describe the bug**
Hello, thanks for this great library. I'm attempting to open an issue for another bug I ran into with Jest & React-Testing-Library, but I'm not able to finish the reproduction because of an error in CodeSandBox. After several months of working with react-virtuoso in prod code, I've never run into this error before.

`Failed to execute 'observe' on 'ResizeObserver': parameter 1

[2021-12-15 09:36] petyosi commented on #527
I can't say for sure what's the problem, as I am not using react-testing-library - most likely the element passed to the observer is some stub. You can probably mock the entire ResizeObserver API to avoid that, but this is likely to result in the component not working.

You can check the tests and e2e of the library for further reference.

[2021-12-15 09:36] #527 closed

[2021-12-15 09:53] TejaswiniKale20 commented on #524
Thank in advance!

Even I am facing the same issue while scrolling the list.
At my end page flickers with forward scroll also.

Below is my code:
**Usage:**

const onRangeChanged = (range: Object) => {
  rangeRef.current = range;
  if (process.env.NODE_ENV !== 'production') {
    console.log('DashboardVirtuoso onRangeChanged', range);
  }
};

const onItemSize = (
  el: HTMLElement,
  field: 'offse

[2021-12-15 10:01] TejaswiniKale20 commented on #524
Also whenever flicker issue occurs, margin-top gets added automatically to list component, which results in blank patch at top.

[2021-12-15 13:06] petyosi commented on #177
Seems to be working fine with the current state.

[2021-12-15 13:06] #177 closed

[2021-12-15 13:11] #204 closed

[2021-12-19 21:36] Guiw5 commented on #320
we need some philanthropist people on this, I can't tag bill gates hahaha

[2021-12-20 17:46] seschwartz8 commented on #254
I'm getting this error on 2.2.2

[2021-12-20 20:14] petyosi commented on #254
See my previous comment for a possible workaround

[2021-12-20 21:43] 0xCheeseKnight commented on #525
I fixed my issue by using `0` when index is `-1`. Considering how this "fix" works I don't see why it should ever return `-1`.

[2021-12-22 21:46] mitchchn opened #528 "[BUG] scrollIntoView with keyboard behaves erratically in grouped lists"
**Describe the bug**

Set up keyboard nav as described here: https://virtuoso.dev/keyboard-navigation/, but with a `GroupdVirtuoso`.

Arrow key navigation works until you hit the top or bottom of the visible list:

1. When reaching the bottom, the list sometimes skips a few places or scrolls without bring the item into view
2. When reaching the top, the list scrolls up a bit, but not enough to see

[2021-12-23 05:09] petyosi commented on #528
Can you create a sandbox to show that?

[2021-12-23 17:09] bhargavshah commented on #320
This is much needed. If possible please prioritize!

[2021-12-23 20:19] petyosi commented on #320
@bhargavshah are you willing to sponsor the development of the feature?

[2021-12-26 12:54] yhuang1211 opened #529 "[BUG] Page becomes blank after upgrading to 2.3.3"
Describe the bug

I have a reversed-scroll chat room implemented with react-virtuoso.  It was working well on v2.3.1.  However I updated to v2.3.3 today and it became a blank page.  It also kept calling startReached to load older messages until the oldest message was loaded.

[2021-12-26 17:15] petyosi commented on #529
I need a reproduction for this to help. Please use a sandbox

[2021-12-27 03:17] yhuang1211 commented on #529
It seems if useWindowScroll is true the cells won't be rendered after the first page.  That's why we saw an empty page since we were using reverse-scroll.

https://codesandbox.io/s/crazy-breeze-j4ejg?file=/src/App.js

[2021-12-27 07:17] #529 closed

[2022-01-02 06:04] #528 closed

[2022-01-02 07:01] #504 closed

[2022-01-02 07:20] petyosi commented on #524
This issue has been resolved in version 2.3.5

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-virtuoso/v/2.3.5)
- [GitHub release](https://github.com/petyosi/react-virtuoso/releases/tag/v2.3.5)

[2022-01-02 07:20] #524 closed

[2022-01-02 07:45] #470 closed

[2022-01-02 08:24] deelocodes opened #530 "Deploy your app for free 🚀"
Hey @petyosi, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deel

[2022-01-02 09:15] petyosi commented on #309
Works in current Safari, closing.

[2022-01-02 09:15] #309 closed

[2022-01-02 09:18] #266 closed

[2022-01-02 09:18] #260 closed

[2022-01-02 09:22] #67 closed

[2022-01-02 09:31] #183 closed

[2022-01-02 09:32] #123 closed

[2022-01-02 09:32] #101 closed

[2022-01-05 18:05] cbadger85 opened #532 "[BUG] Passing undefined to the computeItemKey prop causes the component to crash."
**Describe the bug**
When passing undefined to the `computeItemKey` prop, the component crashes with a `TypeError: x is not a function`.

**Reproduction**
https://codesandbox.io/s/new-wood-yp7yp?file=/src/App.js

**To Reproduce**
Steps to reproduce the behavior:
1. Pass undefined to the `computeItemKey` prop.

**Expected behavior**
When passing undefined to the `computeItemKey` prop, an `undefined

[2022-01-05 18:24] petyosi commented on #532
Why do you pass `undefined`? if the item is undefined, just don't pass it. Going down that route, the component should start defending against values like [], empty functions etc.

[2022-01-05 20:10] cbadger85 commented on #532
For my use case, I'm creating a wrapper component and `computeItemKey` is a pass-through prop. Here's an example https://codesandbox.io/s/mystifying-snowflake-fd1rr?file=/src/App.js.

I understand that an object missing a key is not the same as an object with that key set to `undefined`. However, it's been common practice in most libraries I've worked with that they work the same. The typescript c

[2022-01-06 03:31] calvin44 opened #533 "[BUG] When trying to render list with Material UI Table it only render half of the list after upgrading to v2.4.0 it worked fine with v2.3.1"
**Describe the bug**
The list is rendered only half, the other half is empty

**Reproduction**
https://codesandbox.io/s/react-virtuoso-test-huvxl?file=/src/App.js

**To Reproduce**
Steps to reproduce the behavior:
click add item button to add more items to the list
the full list is not rendered

**Expected behavior**
It should be rendered normally till the end

**Screenshots**
![image](https://use

[2022-01-06 04:37] jhg023 commented on #533
I'm experiencing this issue and was forced to downgrade to v2.3.1 as well.

[2022-01-06 05:34] petyosi commented on #533
Hey,

The setup has worked accidentally so far. It's not something that the library is designed to support at the moment. In fact, React itself gives you a very descriptive error about invalid markup. [Cleaning up the tables yields a working example](https://codesandbox.io/s/react-virtuoso-test-forked-k7cth?file=/src/App.js).

I'm going to close this issue. If you feel like supporting tables is so

[2022-01-06 05:34] #533 closed

[2022-01-06 05:48] petyosi commented on #532
I understand the merits of such a design. However, it can certainly increase the complexity (and the size of the library) by trying to predict the intent of the user. Fixing that on a wrapper level is much better - and there are multiple ways to do so - [check this](https://codesandbox.io/s/nervous-frog-hw55x?file=/src/App.js).

[2022-01-06 05:48] #532 closed

[2022-01-06 05:51] calvin44 commented on #533
thank you for your answer, but can I know the reason why it worked fine in v2.3.1?

[2022-01-06 06:02] petyosi commented on #533
It worked because of an insufficient `scrollTop` tracking logic that did not take into account list resizing.

[2022-01-06 14:24] cbadger85 commented on #532
Thanks, I found a similar workaround by doing:

[code]
By doing it this way, I can ensure only the props I want are passed to the `Virtuoso` component. This can get cumbersome to do for every optional prop I want to pass down though.

I would argue that neither the complexity nor the size would be significantly impacted by the change. You could simply filter the props to remove any key with an und

[2022-01-06 16:03] petyosi commented on #532
You can give it a try. This is actually [happening here](https://github.com/virtuoso-dev/urx/blob/master/packages/react-urx/src/index.ts#L199-L219).

[2022-01-07 15:49] genepaul commented on #522
@petyosi, I determined what the issue is. It appears to be due to the fact that the Material UI Popover animates a transition when it enters. The Virtuoso tries to grab dimensions while the Popover is transitioning and gets incorrect information. If I defer the rendering of the Virtuoso until the Popover has fully entered, the Virtuoso works correctly. So this is not an issue with Virtuoso. I just

[2022-01-11 01:34] markwoon opened #534 "[BUG] Scrolling in tables broken in 2.3.2"
**Describe the bug**

Scrolling in tables no longer works after upgrading to 2.3.2 from 2.3.1.

This is while attempting to use react-virtuoso in tables using the method described in #42.

**Reproduction**
https://codesandbox.io/s/virtuoso-table-forked-jixu5

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/virtuoso-table-forked-jixu5
2. Set react-virtuoso versio

[2022-01-11 05:25] petyosi commented on #534
Duplicate of #533

[2022-01-11 05:25] #534 closed

[2022-01-18 22:25] Ethorsen opened #538 "[BUG] Regression - Reverse scrolling with initialTopMostItemIndex={itemsLength} is jumping around when using various height items"
Hi petyosi,

**Describe the bug**
When initializing a list at the bottom, initial scroll up is jumping around as unknown items are being calculated.  This is affecting a chat box where I can't control the height of the items that will be rendered.

This bug (if its the same) has been fixed in the past.
 See   https://github.com/petyosi/react-virtuoso/issues/276   and   https://github.com/petyosi/r

[2022-01-19 03:38] petyosi commented on #538
Got it. It breaks for items taller than the viewport. Will invstigates.

[2022-01-19 04:09] #538 closed

[2022-01-19 14:51] Ethorsen commented on #538
Amazing work like usual :)   Cheers

[2022-01-22 14:30] #42 closed

[2022-01-22 14:51] petyosi commented on #42
Everyone, v2.5.0 includes `TableVirtuoso` which works with HTML Tables, MUI Table and React Table. You can start from the example here: https://virtuoso.dev/hello-table/.

If something does not work as expected, please open a new issue with repro.

Cheers,

[2022-01-22 17:41] petyosi commented on #533
@calvin44 @jhg023 2.5.0 includes a proper table support - https://virtuoso.dev/hello-table/

[2022-01-22 23:26] joachimklug commented on #197
How is this feature supposed to work? Should the header / footer item be the first / last item of the grid or should it be separate and always represented in a new line? Here an example for the footer:

Option 1: The Footer Item is the last item of the grid.
<img width="407" alt="Screenshot 2022-01-23 at 00 15 16" src="https://user-images.githubusercontent.com/36903205/150658534-01213cd1-a3d1-4d4b

[2022-01-24 22:42] maxhelsel opened #541 "[BUG] Custom Scroller no longer works after upgrading to v2.3.2, main demo site example also appears broken"
**Describe the bug**
List renders first page of items but fails to load more. See the example on virtuoso.dev site, [here](https://virtuoso.dev/custom-scroll-container/#list-with-custom-scroller)

**Desktop (please complete the following information):**
MacBook Pro (13-inch, M1, 2020)
MacOS Monterey 12.0.1
Chrome v97

Had to roll back my version to 2.3.1 to get it working again. Any idea what's go

[2022-01-25 06:46] #541 closed

[2022-01-25 06:47] petyosi commented on #541
Hm, this is indeed a regression for this scenario, but it's an easy update - the scroller needs to accept all props passed.

[2022-01-25 17:27] sterlingwalsh opened #542 "[BUG] Incorrect spacing when placed inside Material UI transition component"
**Describe the bug**
When Virtuoso is inside a "Grow" transition component provided by material ui, the items are truncated early leaving a large gap in the list

**Reproduction**
[sandbox.](https://codesandbox.io/s/virtuoso-material-transition-vg42q?file=/src/App.tsx)

**To Reproduce**
Steps to reproduce the behavior:
In sandbox above,
1) click toggle button to open the dropdown component
2) star

[2022-01-25 20:30] maxhelsel commented on #541
Yes, before I opened this issue I did manage to get the example working by passing {...props} like you did - however, it seems to only be half a fix when using an outside component as the custom scroller, like OverlayScrollbars (which worked prior to 2.3.2).

It looks like it's not updating the padding inside the scroll container. I put together a quick sandbox to show further:

[https://codesandb

[2022-01-26 07:54] petyosi commented on #541
Looking at the generated markup, the overlay scrollbars don't set the `data-virtuoso-scroller` attribute to the right element.

To clarify the reason for the breaking change: it turned out that listening to `onScroll` does not track the resizing of the element causing changes to `scrollTop` - so 2.3.2 fixes that, using the data attribute in question.

[2022-01-26 07:56] petyosi commented on #542
From my experience, CSS transitions and resize observers don't get along very well, with ResizeObserver not reporting the final value. Feel free to investigate further and suggest a workaround.

[2022-01-26 11:41] petyosi opened #545 "Integrate Sandpack"
https://codesandbox.io/post/sandpack-announcement

[2022-01-26 12:16] michaeltintiuc commented on #194
@paulm17 could you by any chance share your setup?

[2022-01-26 12:25] paulm17 commented on #194
You need to go into a bit more detail.

[2022-01-26 12:27] michaeltintiuc commented on #194
@paulm17 Which components did you use to achieve grouped grid as shown in the above loom video? I don't need the exact code, just the general concept, thanks for your quick reply btw!

[2022-01-26 12:31] michaeltintiuc commented on #194
Ok, basically the idea is to make the grid a list? That's what I had in mind, but was wondering if there was something else. Thanks!

[2022-01-26 20:25] maxhelsel commented on #541
Yes, that's it. For anyone who stumbles upon this in the future, here's what I did to fix the OverlayScrollbars component to get it working > v2.3.2 again.

Here's the props that need to be injected post v2.3.2:

[code]

However, simply passing {...props} into the OverlayScrollbarsComponent does not work, as they end up injecting into the wrapper - not the internal scroll container itself. To fix,

[2022-01-27 09:56] aniketRaj01 opened #546 "I am getting an error "ResizeObserver loop limit exceeded", after making hit and trials to various react components i got to know that react-virtuoso is causing this issue, please let me know the fix"

[2022-01-28 08:43] jCobbSK opened #547 "[BUG] Console error when passing undefined initialItemCount prop"
**Describe the bug**
When we pass the prop `initialItemCount={undefined}` into `<Virtuoso />` component. After initial render we get console error
[code]
When we omit prop the error is not present.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-increasing-size-items-forked-3vhyx?file=/src/VirtualList.tsx

**To Reproduce**
Open the sandbox and look at the console logs.

**Expected behavi

[2022-01-28 08:46] petyosi commented on #547
Why do you pass `undefined` and not `0` (or, omit the property)?

[2022-01-28 22:24] elena-gancheva opened #548 "Is there a way to customize the rendering only of the current sticky group header element?"
Hi,

Is there a way to provide a custom rendering only for the "stuck" (`position: sticky`) group header element in GroupedVirtuoso?

[2022-01-29 06:04] #547 closed

[2022-01-29 06:13] petyosi commented on #548
The short answer is no, you can't change the rendering of the *current* sticky header. All group headers have the same rendering, regardless of their position in the list.

You can change the rendering of *every* group header with `Components.Group` - https://virtuoso.dev/customize-structure/.

You can also alter the looks of the current sticky header with CSS, but I haven't tried that, and it mig

[2022-01-29 06:13] #548 closed

[2022-02-01 13:13] FOfficial opened #550 "[BUG] List items' height is calculated incorrectly on first load prior to the initial scrolling"
**Describe the bug**
I have used Virtuoso within my dropdown component and nothing has changed in my own code since the previous version of Virtuoso, however because of some API changes in the new Virtuoso I had to tweak a few minor things here and there that is fixed and works fine.

However the Virtuoso for some reason can't compute the correct menu items height on first-load, and it miscalculat

[2022-02-01 13:56] petyosi commented on #550
Can't say for sure. Can you reproduce the problem in codesandbox? It would also help if you can compare with the version you upgraded from.

I will re-open the issue once a reproduction is there.

[2022-02-01 13:56] #550 closed

[2022-02-01 20:13] omidtajik opened #553 "[BUG] Each child in a list should have a unique "key" prop"
**Describe the bug**
When using TableVirtuoso component there is the unique key warning of react in console.

**Reproduction**
There is also in the sandbox demo of doc:
https://codesandbox.io/s/zv5ct

[2022-02-01 22:22] agamrp opened #554 "[BUG] followOutput not always going to bottom when paging in data"
**Describe the bug**
FollowOutput doesn't consistently go to the bottom the list when paging in data for a reverse scroll list.

More Context:
I am implementing a reverse chat list with infinite scroll. If the viewport is bigger than the initial page size of data I get from a remote API, I rely on the startReached to get more data asynchronously to fill the viewport. I try to use initialTopMostIte

[2022-02-02 01:38] petyosi commented on #553
Did you add keys to the cells?

[2022-02-02 03:00] petyosi commented on #554
This example is quite convoluted, and I've had something similar on in a chat setup. In a nutshell, it relies on `startReached` being continuously called until the viewport is full of items because the page size is too small for that viewport.

With that setup, I am seeing that new item sizes are reported at the *top* of the list, which should not happen - I am not sure why this is so, to be hones

[2022-02-02 03:00] #554 closed

[2022-02-02 03:00] #545 closed

[2022-02-02 03:05] #553 closed

[2022-02-02 03:05] petyosi commented on #553
My mistake - this one is in the component code.

[2022-02-02 04:31] cvanem commented on #320
@petyosi Do you still need a PR for this?  I have something working but I noticed you have been working on a custom scroller example recently?

[2022-02-02 07:04] petyosi commented on #320
Yes, a PR would be welcome.

[2022-02-02 19:38] tsmarin opened #555 "Scroll to bottom when data changes, but count happens to be the same"
Thanks for an awesome library!

Running into an edge case when dealing with multiple lists, and trying to scroll to the bottom when switching to a different list.

**Describe the bug**
When the data changes, but the count of items is the same, there isn't a great way to scroll to the bottom of the new data. `followOutput` generally accomplishes this, but only gets called if the count changes.

**R

[2022-02-02 20:11] petyosi commented on #555
If you're replacing the data of the list, you can:

- Set initialTopmostItemIndex
- Set a distinct key property to cause a list reinit.

I've recommended that at other issues. If you're swapping data, there's no point in preserving the previous component.

[2022-02-02 20:59] tsmarin commented on #555
Aha, makes sense! Thanks for such a quick response!

[2022-02-02 20:59] #555 closed

[2022-02-03 15:32] itayganor commented on #197
The first option would be called `lastItem` rather than `footer`.

Although one might see the footer (and header) as a "full-width item", they are actually content padders.

[2022-02-04 07:54] eyesofdaveed opened #557 "[BUG] Content Items and scroll flickering when forwardRef is used"
Hi,
I am getting this annoying items and scroll flickering bug, when I am passing a "List" component with "ref", using react forwardRef.

https://codesandbox.io/s/sandpack-project-forked-u3t0u

If you visit the link and start scrolling down, after the reaching the end of first visible items, you will see the BUG. Items start flickering and scroll might jump on and off.

If you don't pass the ListB

[2022-02-04 08:03] petyosi commented on #557
Duplicate of #363

[2022-02-04 08:03] #557 closed

[2022-02-04 08:50] petyosi commented on #320
@maxhelsel @Guiw5 @acapro - please take a look at the #556 from @cvanem. The examples look right to me.

[2022-02-05 03:51] chazzox commented on #62
any updates?

[2022-02-06 09:57] petyosi commented on #320
Implemented in #556

[2022-02-06 09:57] #320 closed

[2022-02-06 17:08] michael42 opened #558 "[BUG] Tree shaking doesn't work (Table and Grid components are still included despite not importing them)"
**Describe the bug**
When importing react-virtuoso, it seems that none of the popular bundlers are able to omit unneeded parts of react-virtuoso. That makes bundle sizes larger than necessary (~24 KiB before minification/compression).

**Reproduction**
See https://github.com/michael42/react-virtuoso/tree/tree-shaking-test, I added rollup the repo and made a few test bundles, importing different th

[2022-02-06 19:36] petyosi commented on #558
I think it might be nice to do so, although the gains are not going to be so enormous, as the list (powering the flat, grouped, and table components) is the biggest piece of code. I would love to accept a PR for that.

[2022-02-07 11:31] JudeTejada opened #560 "[BUG] VirtuosoGrid Flicker issue"
**Describe the bug**
I'm currently Using VirtuosoGrid on a project and I've been debugging for quite a while I notice on screen size such as desktop when I'm at the bottom of the list it and slowly starts to scroll up it  causes to flicker and items are being rearranged

**Reproduction**
https://codesandbox.io/s/sandpack-project-forked-r9py9?file=/App.js

**To Reproduce**
Start  at a screen size o

[2022-02-07 11:42] petyosi commented on #560
@JudeTejada please read the docs before opening the issue. Margins are not supported.

[2022-02-07 11:42] #560 closed

[2022-02-07 15:23] seschwartz8 commented on #62
I ended up using [react-window](https://github.com/bvaughn/react-window) instead

[2022-02-07 18:24] fayez-nazzal commented on #206
Still happens in version 2.6.0, applying the following example with react-beautiful-dnd:
[https://virtuoso.dev/react-beautiful-dnd/](https://virtuoso.dev/react-beautiful-dnd/)

There is a comment 'check style.css for the height-preserving-container rule' though the rule does not exist in styles.css when opening the following sandbox:
[https://codesandbox.io/s/lsxev?file=/styles.css](https://codesa

[2022-02-07 19:00] fayez-nazzal commented on #206
My bad!, Fixed it just by adding a height to 'HeightPreservingItem'.

[2022-02-08 13:59] DeeBndx opened #561 "Group headers disappear behind sticky elements above Virtuoso container [BUG]"
**Description**
When using Grouped Mode and useWindowScroll, having another sticky element above will cause the Group headers to disappear behind the external sticky element.

**Reproduction**
I've made a crude example here:
https://codesandbox.io/s/awesome-morse-td78k?file=/src/App.tsx

**Expected behavior**
The Group headers would settle/stick below the other Sticky Element such that they are st

[2022-02-08 23:57] lispz1610 opened #562 "[BUG] Fast Scrolling"
Upon scrolling through the mouse wheel, or scroll-thumb or by clicking in any part of the scroll-track, the scroll becomes very fast.
A time ago, that bug happenned just some times, but now it has happenned always.
I also noticed this bug sometimes happens in one of the [examples](https://virtuoso.dev/table-fixed-headers/) from react-virtuoso.

Unfortunately, I can't reproduce it in CodeSandbox, s

[2022-02-09 06:14] petyosi commented on #562
I haven't seen this nor have received such reports before, and I can't do much, I am afraid. The component does not interfere with scroll events or velocity in any way - it just reads the values.

I've noticed that you report this from Ubuntu. Can you try another OS/device? Perhaps there's something specific to your setup.

I will reopen the issue once there's something actionable.

[2022-02-09 06:14] #562 closed

[2022-02-09 06:17] petyosi commented on #561
That's a good catch and a valid use case. I'm not sure how the displacement of the document header can be properly caught and taken into account.

[2022-02-09 09:21] M4sterShake commented on #26
I'm still having problems with this. I managed to get it working by setting initialItemCount to the size of the list but then I had to test some functionality which changed the size of the list and react-virtuoso wouldn't render the updated list even if I updated the initialItemCount.

My test environment isn't anything unusual, its the jest with jsdom setup offered out of the box by create-react-

[2022-02-09 10:12] Harshit369 commented on #426
@loun4 were you able to control it somehow? it only happens when you drag something to the end of any other column. doesn't happen in the same one.

[2022-02-10 00:47] lispz1610 commented on #562
Firstly, I thank for answer, and how about the SO's, I tested in Windows 10 too and I had the same problem. Unfortunately I don't have a macbook at hand to test in macOS.

[2022-02-10 09:59] ingenious-hans opened #563 "React-Virtuoso not working properly in Component with ShouldComponentUpdate implemented"
I am using Reac-Virtuoso. It was working nice and works nice only when React shouldComponentUpdate return true, otherwise it only render once then not render other items when scrolling

I am making this to prevent my app from unnecessary rendering, for example when some props don't change values

[2022-02-10 10:44] petyosi commented on #563
Please follow the issue template I have created. I can't guess your setup.

[2022-02-10 10:44] #563 closed

[2022-02-10 14:19] tippfelher opened #564 "Version 2.5 or higher: Cannot read properties of null (reading 'dataset')"
**Describe the bug**
Not sure if this a bug or I just missed the change documentation for it but the [custom scroll example](https://codesandbox.io/s/mz4lg) doesn't work with the latest version of react-virtuoso anymore.

To be precise, the last working version ist v2.4.1.

In version 2.5.0 and upwards the codesandbox example throws the error: `Cannot read properties of null (reading 'dataset')`

[2022-02-10 14:58] PedroJBrito opened #565 "Problem rendering list with useWindowScroll"
Hi,

I'm facing a problem when a display a virtuoso list using useWindowScroll, but whose scroll came from the nearest container and not from the top level container.

I've reproduced a scenario similar to mine, basically we have a layout with some fixed components (Aside, top menu), and then we have the main container where pages are loaded. The page has some content before the virtuoso which mak

[2022-02-10 15:02] tippfelher commented on #564
Awesome! 😍 🥰 😘 Changing

[code]

to

[code]

fixed it.

[2022-02-10 15:02] #564 closed

[2022-02-10 15:30] petyosi commented on #565
Hey,

This seems like a case for `customScrollParent` - [check the update](https://codesandbox.io/s/new-leaf-cn0qh?file=/src/App.js).

[2022-02-10 15:30] #565 closed

[2022-02-10 20:08] russtuck91 opened #566 "[BUG] Components in view get unmounted & remounted, performance impact"
**Describe the bug**
There's an issue where the components in view are unmounted and remounted needlessly after any state update. The issue is only present when using custom components via the `components` prop.

This unmounting & remounting is not only bad for subcomponents that load asynchronous content like in my example below, but it's also bad for performance. The unmounting & remounting take

[2022-02-10 20:42] Bomavi opened #567 "[BUG] Virtuoso doesn't work properly with custom scrollbar"
**Describe the bug**
I have tried to setup custom scrollbar from react-virtuoso docs. Custom scrollbar is - `overlayscrollbars-react`. The main problem, Virtuoso does render only first visible range of items and on scroll event it doesn't add any new items, looks like it doesn't listen to scroll event.

**Reproduction**
There is a good [solution](https://codesandbox.io/s/mz4lg?file=/src/CustomScro

[2022-02-11 07:42] petyosi commented on #567
Is this the same as https://github.com/petyosi/react-virtuoso/issues/564 and #541?

[2022-02-11 07:42] #567 closed

[2022-02-11 07:44] petyosi commented on #566
That's due to the custom components being defined inline, which means that a new instance is passed with each re-render. [Move the definition out](https://codesandbox.io/s/virtuoso-mui-expandrows-remounting-forked-89dzq?file=/App.js:2274-2308) of the component rendering.

[2022-02-11 07:44] #566 closed

[2022-02-11 16:57] russtuck91 commented on #566
That did the trick! Thanks so much for your help.

Also, a big thanks for making such a super useful library! Big kudos 👏

[2022-02-11 17:10] russtuck91 opened #570 "[Feature Request] Footer for TableVirtuoso"
Could we get an option for defining a Footer component within the TableVirtuoso?

Similar to the Footer that's available on the list, just the same thing for the table
https://virtuoso.dev/footer/

[2022-02-11 18:46] petyosi commented on #570
Sure, feel free to submit a PR.

[2022-02-12 17:22] petyosi commented on #351
v2.7.0 introduced the `context` property, which gets passed to the components and to the item content callbacks.

[2022-02-12 17:22] #351 closed

[2022-02-12 18:09] #451 closed

[2022-02-12 22:54] AndreaEsposit opened #572 "How can I use custom StyledComponents with TableVirtuoso?"
I have been trying to use some custom table components with the TableVirtuoso component, but I can't seem to get it to work.

Example code:
[code]

I don't manage to assign the tableHead component correctly, as it requireds specifically a component of type: ComponentType<{ context?: unknown; }>....

Does TableVirtuoso support only MUI components?

[2022-02-13 06:29] petyosi commented on #572
By "does not work" I assume you get a typescript error. That's [what I get here](https://codesandbox.io/s/gracious-drake-kweic?file=/src/App.tsx) if I remove `as any`.

I am honestly surprised by it. Recently, the custom components are receiving a new, optional `context` prop, which TS considers suspicious enough to consider the types incompatible. `as any` works, obviously.

[2022-02-13 11:13] AndreaEsposit commented on #572
Yes, sorry, I should have specified that it was a TS error.`As any` does indeed resolve my problem. But may I ask, what is exactly the optional `context` prop meant to do? I have been going through the docs and I can't find anything more than  "context<unknown>". ( It might be that I haven't found it yet. )

[2022-02-13 13:32] laboone opened #573 "[BUG]Grid items are not displayed correctly when they have a fixed size"
**Describe the bug**
The index value will be wrong when scrolled.
Please see `Item 7` in the animation gif below.

![grid](https://user-images.githubusercontent.com/8252965/153754772-6ed79958-2065-4e2b-8829-aceb38c283b0.gif)

This problem is caused by the size of the browser.
If you set the browser to a size where the space is just size that the item does not fit, you will have this problem.

![im

[2022-02-13 13:57] #573 closed

[2022-02-13 15:57] AliceQD opened #574 "TableVirtuoso + Drag&Drop"
I've been attempting to add Drag & Drop functionality to my table (which was created using the VirtuosoTable component), but I'm having trouble doing so.
I've been following these examples: [example1](https://codesandbox.io/s/e6vmq?file=/src/index.js:1742-1762), [example2](https://codesandbox.io/s/lxvof?file=/App.js), which are both excellent, but only illustrate how to do it with regular lists.
I

[2022-02-14 10:56] DeeBndx commented on #561
I've been trying to look into the Source Code in attempt to find a solution myself, but most of the code is very foreign to me. Would you be able to give a hint as to where it'd make sense to look, or are you willing and able to look into a solution. Any and all help is greatly appreciated.

[2022-02-14 11:20] petyosi commented on #561
I can't give any timeline on when (or if at all) I can look into that. If you're using the library for commercial purposes, feel free to consider sponsoring the effort.

[2022-02-14 11:59] DeeBndx commented on #561
My employer and I would be happy to sponsor. We haven't sponsored Open Source efforts before, and thus are a little unsure of where and how it all works. Would a sponsorship help in pushing for a solution to this specific issue?

[2022-02-14 12:53] petyosi commented on #561
You can do a one-time sponsorship from here: https://github.com/sponsors/petyosi

[2022-02-15 09:43] SaitamaTyler opened #579 "Some unexpected behavior on virtualized table"
Hi there,

I'm trying to make a virtualized table that has inline editors with TableVirtuoso and MUI table.

You can see actual code and behavior on CodeSandBox below.
One is without TableVirtuoso, and another one is with TableVirtuoso.

Without TableVirtuoso
https://codesandbox.io/s/suspicious-framework-r3qmb?file=/src/App.tsx

With TableVirtuoso
https://codesandbox.io/s/sharp-cache-lluh9?file=/s

[2022-02-15 12:36] petyosi commented on #579
I think you suffer from component re-mounting. [Check the note here](https://virtuoso.dev/customize-structure/).

I recently updated all examples to use external components and context where necessary.

[2022-02-15 12:36] #579 closed

[2022-02-15 14:08] NordlingDev commented on #26
@M4sterShake - One way to bypassing this is to assign a key to the Virtuoso component if the node environment is `test`. This will of course render a new virtuoso instance if the items counts changes, but in a test environment I don't think it's such a big case to deal with.

So, if you set `initialItemCount` to be the length of the data, do it to the key as well:

[code]

[2022-02-16 14:48] mortmoe commented on #542
Have the same problem after upgrading from virtuoso 1.9.3 today. Possible workaround could be to delay the rendering of virtuoso until dialog (or grow) is done: https://codesandbox.io/s/virtuoso-material-transition-fixed-vm7zsu

Would it be possible to have a method triggering recalculation so we could do that onEntered (instead of using a state and delay like I've shown in the sandbox)?

[2022-02-18 07:40] petyosi commented on #465
@WenWenBo Are you willing to sponsor or contribute?

[2022-02-21 04:50] khovansky-al opened #583 "[Feature discussion] Allow keeping some elements mounted offscreen"
I’m working on integrating virtuoso into our chat history. We have a feature where text selection is synced across all participants in the room. Whenever a currently selected element is unmounted, the selection state is lost. FF fires a `selectionchange` event. Chrome and Safari don’t fire an event but the selection object becomes mangled.

The only reliable way to make this work with virtualizati

[2022-02-21 07:59] kaylinkhanal10 opened #585 "Virtuoso/Grouped Virtuoso flickers and returns back to previous indexes on each scroll up."
**Describe the bug**
Virtuoso/ or Grouped Virtuoso flickers and returns back to original index while navigating to bottom

**Reproduction**
https://codesandbox.io/s/react-virtuoso-grouped-forked-z70upc

**To Reproduce**
Steps to reproduce the behavior:
1. Use the default browser scroll and navigate to the bottom of the page (which should have- Group 200)
2. Now try to scroll upwards

**Expected be

[2022-02-21 09:29] petyosi commented on #585
Do you experience the same kind of problem with the flat component? I think this might be a problem with grouped mode.

[2022-02-21 10:55] kaylinkhanal10 commented on #585
Yes @petyosi experienced same problem with flat as well

[2022-02-21 10:59] petyosi commented on #585
Can you replicate with flat? Thanks.

[2022-02-21 11:02] kaylinkhanal10 commented on #585
@petyosi on my local i can, but on sandbox, it's not rendering after some certain indexes. can you check this https://codesandbox.io/s/react-virtuoso-grouped-forked-lojr98?file=/src/App.js

[2022-02-21 23:01] arniebradfo opened #587 "Overscan property units?"
Does the `overscan` property number in px units or in number or rows? I _think_ its in px but Im not 100%. Ive seen a lot of devs I work with assume its rows. Could you please update the docs to clarify this ambiguity? You should probably update `increaseViewportBy` too, even thats a _sounds_ little more obviously px.

Thanks for making a great component!

[2022-02-22 04:59] #587 closed

[2022-02-22 05:02] kaylinkhanal10 commented on #585
@petyosi but even if we decrease it from 200 groups to let's say 30, the issue is still there. https://codesandbox.io/s/react-virtuoso-grouped-forked-l31555?file=/src/App.js OR if you increase the list size back to 200 but decrease the button padding from 100px to 10px it works fine.

[2022-02-22 05:08] petyosi commented on #585
The last example you have posted has the following CSS  which prevent it from functioning correctly:
[code]

[2022-02-22 05:26] kaylinkhanal10 commented on #585
@petyosi okay thanks for mentioning that, but even after removing that, the Upward compensation is not functioning correctly, even with much fewer data items. https://codesandbox.io/s/react-virtuoso-grouped-forked-l31555?file=/src/App.js

[2022-02-22 05:38] petyosi commented on #585
It seems [to function correctly with the latest version](https://codesandbox.io/s/react-virtuoso-grouped-forked-0gm6wh?file=/src/App.js:12295-12312).

[2022-02-22 06:04] kaylinkhanal10 commented on #585
@petyosi if you scroll real slow it might. But if you move the scroll index directly to the bottom and more upwards bit faster, the issue exists: the group indexes repeat.

[2022-02-22 06:51] arniebradfo commented on #587
Thanks @petyosi !

[2022-02-22 07:36] kaylinkhanal10 commented on #585
and do we have any fixes(maybe any useful props) for this one if that's the case?

[2022-02-22 12:43] cmattick opened #590 "responsive grid has "`Infinity` is an invalid value" error on resizing if scrolled down before"
**Describe the bug**
In the repsonsive grid example: if you resize to have only one column and scroll down and resize smaller again the following error is shown in console:

Warning: `Infinity` is an invalid value for the `paddingTop` css style property.

**Reproduction**
Use the original "Responsive Column" sandbox from https://virtuoso.dev/grid-responsive-columns/
https://codesandbox.io/s/xeu4l

[2022-02-22 16:06] jatravis opened #591 "[BUG] TableVirtuoso component will randomly not render top items when using react-table"
**Describe the bug**
When scrolling to the top of the table, the component will randomly not render the top items. It seems to only happen when scrolling with my mouse wheel, the actual scroll bar isn't causing an issue.

**Reproduction**
The bug can be reproduced in the code sandbox provided by the documentation
https://codesandbox.io/s/wuj7r

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-02-23 18:40] jatravis commented on #591
@bjoe87 that's what I'm currently doing as well. You also need to increase the top of the view port by a number larger than the top most item in the table. I haven't had a chance to dig into it too much, but I think the issue revolves around how the `paddingTop` is being calculated in the Table component, because the `FillerRow` is still being rendered.

[2022-02-23 23:43] omgoshjosh commented on #465
i went for it with a very brief attempt and ran into runtime errors i don't have time to deal with but here's what i changed that seemed "downright trivial"
[code]

if anyone wants to take a stab at it, that does really seem to be all you need. looking at the scrollToIndex system it can take a number ("old") as well as the IndexWithAlign config object ("new") so i anticipate that my changes are su

[2022-02-27 11:54] #590 closed

[2022-02-28 03:07] rhinoc opened #596 "[BUG] undo prepend(shift from array) cause visible position change"
**Describe the bug**
prepending to items using `firstItemIndex` maintain the visible position, but undo prepending cause the visible position change. (items move up because of above items removed)

**Reproduction**
[![Edit sandpack-project (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/sandpack-project-forked-n5jzd0?fontsize=14&hidenavigation=1&theme=da

[2022-02-28 06:49] petyosi commented on #596
At first glance, this seems like a bug. I haven't explored contracting the message list in detail, as the common use case would be to expand it.

What are you building so that you need to contract the list?

[2022-03-01 00:47] agamrp opened #598 "[BUG] Reverse List endless scrolling flickering and rangeChanged jumps (iOS / Safari)"
**Describe the bug**
When prepending on a reverse list, I am getting flickering when startReached is called while scrolling up. Sometimes also the list will jump to the top of the newly prepending items instead of keeping the original position before calling startReached.

This is reproducible for me on iOS and Safari, harder to reproduce on my desktop.

While printing out the rangeChanged values,

[2022-03-01 01:17] petyosi commented on #598
This is real, and can be reproduced in the site example as well. I'm afraid that I haven't found a reliable way to address that. As far as I have discovered, Safari just ignores scrollTo/scrollBy calls during kinetic scrolling. You may try disabling kinetics with CSS, but it's not a trade off I would enjoy as an user.

Closing this because I'm not aware of any approach that could address it.

[2022-03-01 01:17] #598 closed

[2022-03-01 03:57] rhinoc commented on #596
I need to display a group of items, and the first group is users' collection, below items can be collected or undo collected. so the first group's row count is resizable.

[2022-03-01 14:17] danielsantiago commented on #596
I'm having the exact same issue. In my case I have need to add and remove items above the visible position area without any jump.

[2022-03-01 14:21] danielsantiago commented on #596
For reference, my use case is that I'm receiving new items and deleted items in a web socket connection. I want to update the list in real time without changing the user scroll position.

[2022-03-02 02:04] petyosi commented on #598
Yep, my info is old then, because that's the prop I had in mind. Google finds few JS libs that claim to stop it through event handling, but I haven't tested so I would rather not recommend.

[2022-03-02 02:57] amitkumar01 commented on #598
Appreciate your reply! I was hoping there was a solution I overlooked.

Unless there is an approach I've missed, there doesn't seem to be any reliable method to disable kinetic scrolling on Safari anymore. As an aside, the issue isn't limited to iOS, it appears to happen on Safari on the Mac as well.

Do you have any other thoughts on an approach that might minimize the occurrence of the jumping?

[2022-03-02 04:43] rhinoc commented on #596
This is a workaround, I use `scrollTo` to adjust scroll position after deleting items. it seems works but I suspect it may cause some flash effect (i.e. items moving up and down) when things got complicated. And it will also be painful if the row height is changeable.
https://codesandbox.io/s/sandpack-project-forked-ikdle3?file=/App.js

[2022-03-05 10:31] petyosi commented on #596
Should be fixed in e861fe9acea5b2cbb425b35b2fac75aaff8c0c13

[2022-03-05 10:31] #596 closed

[2022-03-07 18:13] kanekv opened #604 "Any way to use other datastructure not an array?"
In some cases it would be more convenient to use other data structures - e.g. double ended queue or splay tree. Is it possible?

[2022-03-10 09:54] khovansky-al opened #605 "[BUG] Race condition in upward scrolling compensation system could fire scrollBy when user is scrolling"
**Describe the bug**
Upward scrolling compensation might kick in while the user is still scrolling. This is noticeable on lower-end devices and when the components might take time to mount.

**Reproduction**
Reproduction is tricky. I made a demo with variable-height elements to ensure there is a decent amount of compensation and added some synchronous calculations to the render function to slow th

[2022-03-10 10:02] petyosi commented on #605
Thanks for the time you took to investigate this. I think you're on the right track for a possible improvement here. It might be a faulty leakage of isScrolling=false due to the way I've combined throttling. I will take a look.

[2022-03-10 12:05] petyosi commented on #605
@khovansky-al you've mentioned a fix that you tried. Can you point me to it?

[2022-03-10 12:39] khovansky-al commented on #605
I tried checking for `isScrolling` before publishing `scrollBy` and it seemed to have stabilized things.
That's a dirty research branch so it is rigged with extra log statements and also includes stuff for another problem with stale values that I've yet to report here. Might be hard to read, sorry about that.

https://github.com/khovansky-al/react-virtuoso/commit/458b195160752f18d9b15196c8751766af

[2022-03-10 13:49] petyosi commented on #605
Agreed on the `isScrolling` - if that's the root cause, that should be fixed. I will try to reproduce it. I will double-check on that, hopefully over the weekend.

[2022-03-11 13:37] DeeBndx opened #608 "When passing Data prop to Grouped mode, the outermost indexs can disappear [BUG]"
**Describe the bug**
When using Grouped mode, and setting the "data" prop the two outermost items (first and last index) will not be rendered depending on configuration of the "itemContent" prop.

**Reproduction**
I've made an example at: https://codesandbox.io/s/laughing-platform-hkcote

**To Reproduce**
Steps to reproduce the behavior:

FIRST ITEM MISSING:
1. Pass data to` <GroupedVirtuoso data=

[2022-03-11 14:42] #608 closed

[2022-03-12 12:38] petyosi commented on #605
Breaking the problem further and based on your diagram, I tried to cause debounce leak due to heavy queue. [Here's a simplified test](https://github.com/virtuoso-dev/urx/commit/d72db19453900646362597d37e1e35ada98a72da). Maybe I am missing something here, but it looks like the extra ops don't affect it. But I might be too gentle.

Ultimately, if the rendered components can cause sufficient timer de

[2022-03-12 15:24] #497 closed

[2022-03-15 15:28] maciejregula commented on #591
I can confirm that this also happens in the pure table with a fixed header, not only the react-table.

[2022-03-15 16:21] maciejregula opened #609 "[BUG] Vertical scroll doesn't work properly if horizontal scroll is present and moved"
Hello,

In the TableVirtuoso component, vertical scroll doesn't work properly if horizontal scroll exists and is moved to the right.
The bug is present even on the demo page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the https://virtuoso.dev/table-fixed-columns/
2. Move the horizontal scrollbar to the right.
3. Move vertical scrollbar to the bottom - you will notice that scroll d

[2022-03-15 16:53] petyosi commented on #609
What browser/OS? Can you record a video?

[2022-03-15 17:29] maciejregula commented on #609
https://user-images.githubusercontent.com/72083355/158436494-5e194514-dc85-42b1-86e7-c0c6263de2ba.mp4

My OS: Chrome 99, windows 10 pro

[2022-03-19 12:13] #591 closed

[2022-03-21 15:00] PedroJBrito opened #613 "rangeChanged - Error on startIndex"
Hi petyosi.

I'm evaluating the rangeChanged property and while checking your example "Range Change Callback" I saw the same problem I'm facing in my project and it's related with the startIndex. Your example starts with startIndex: 0 and endIndex: 3, however, if we scroll the list to the following position
![image](https://user-images.githubusercontent.com/94718876/159288213-4005b215-19ae-4ee0-84

[2022-03-21 16:18] petyosi commented on #613
This is the expected behavior - the range matches the elements in the viewport. Not sure why you consider this a bug?

[2022-03-21 16:28] PedroJBrito commented on #613
The problem is that it doesn't match because as we can see in the picture we have {startIndex: 0, endIndex: 4} while it should be {startIndex: 1, endIndex: 4} as the startIndex: 0 is already out of the viewport

[2022-03-21 16:42] petyosi commented on #613
Got it. Take a look [at this longer explanation](https://github.com/petyosi/react-virtuoso/issues/396#issuecomment-868940055) on why this is so.

[2022-03-21 16:42] #613 closed

[2022-03-21 17:59] codingedgar opened #614 "[BUG] the code contrast in the documentation for dark mode is hard to read"
**Describe the bug**
The code and other items in the documentation are hard to read in dark mode.

**Reproduction**
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://virtuoso.dev/
2. Seek any code
3. See how it is hard to read

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/1

[2022-03-25 01:52] nktpro opened #616 "[BUG] Npm-published type definition for TableVirtuoso is extremely bloated"
Importing `TableVirtuoso` in a TypeScript project currently brings VSCode to its knees. This is due to its generated type definition when compiled becomes extremely bloated. It's about [7000+ lines](https://unpkg.com/react-virtuoso@2.8.3/dist/components.d.ts) of what appear to be bad recursive type inference by the TS compiler?

<img width="1140" alt="image" src="https://user-images.githubusercont

[2022-03-25 07:09] #616 closed

[2022-03-25 16:45] cnt-null commented on #197
@petyosi The docs show an example of endless scrolling with `Virtuoso` + `endReached` + `Footer`.
`VirtuosoGrid` has `endReached` but  no `Footer`. Is there another way to show "Loading..." message for endless scrolling in this case?

[2022-03-27 07:43] petyosi commented on #361
@TrueCarry feel free to revive that by submitting a PR.

[2022-03-27 07:43] #361 closed

[2022-03-27 07:48] petyosi commented on #179
This is easily doable these days using `onScroll` prop. All DOM attributes are assigned to the scroller element.

[2022-03-27 07:48] #179 closed

[2022-03-27 07:58] petyosi commented on #465
Solved in v2.8.0 thanks to @BigTomM .

[2022-03-27 07:58] #465 closed

[2022-03-27 08:35] petyosi opened #617 "Bundle `d.ts` with rushstack api-extractor"
Doing so would reduce the npm package size, as .d.ts files are quite large right now. It should have a positive effect on the autocomplete experience as well.

To do that properly, the public interfaces should be decoupled from the urx-generated ones. Compliance can still be tested through types in jest, though.

Furthermore, [rushstack](https://github.com/microsoft/rushstack) can be used to track

[2022-03-28 05:31] #617 closed

[2022-03-28 18:46] Xhale1 opened #621 "[BUG] Types regression in latest update (does not support style)"
**Describe the bug**
The latest update causes `style` to be removed as a supported prop on a Virtuoso component. `style` is still used in the docs so I assume it is still supported? Below is the error as reported by TypeScript in VSCode.

[code]

**Reproduction**
https://codesandbox.io/s/gifted-nobel-p9zrsg?file=/src/App.tsx

**To Reproduce**
1. Use virtuoso with TypeScript
2. Add a `style` prop

[2022-03-29 11:11] Edelf commented on #621
I'm facing the same error.

[2022-03-29 11:43] petyosi commented on #621
Yep, it's a regression, I will fix as soon as possible.

[2022-03-29 11:48] #621 closed

[2022-03-30 07:54] terryma opened #623 "[BUG] TableVirtuoso with MUI and useWindowScroll renders double scrollbar"
**Describe the bug**
When using TableVirtuoso with MUI as seen in https://virtuoso.dev/mui-table-virtual-scroll/ combined with useWindowScroll, I'm seeing double vertical scrollbars (one for the TableContainer, another for the window if the content is longer than the viewport height)

**Reproduction**
https://codesandbox.io/s/sandpack-project-forked-pd4uo4

This is a fork of https://virtuoso.dev/m

[2022-03-30 09:59] petyosi commented on #623
@terryma feel free to adjust that up to your liking - my assumption is that a certain style should be overridden on the MUI side.

[2022-04-04 12:13] Kestutis opened #625 "[BUG] validateDOMNesting(...): <tr> cannot appear as a child of <div>."
**Describe the bug**
I'm using react-virtuoso with react-table and flexLayout (instead of ordinary tableLayout) and you have div`s instead of thead/tbody/tr elements. It's required to support functionality as columns sizing, etc.

Getting error `validateDOMNesting(...): <tr> cannot appear as a child of <div>.` because there are couple of components that supports only table elements as parent nodes

[2022-04-04 13:49] petyosi commented on #625
@Kestutis do you want to open a PR? It should be fairly simple fix.

[2022-04-05 12:14] Kestutis commented on #625
Create PR for a fix. Also included react-table flexLayout example. There are still single issue with TableHead typings, but it's not related with flex layout.

[2022-04-05 18:16] hauntedlollipop opened #627 "Content jumps when row gets unmounted"
Hi, whenever the row above latest one visible gets unmounted, the scoller starts jumping.  I was wondering what might cause this?

https://user-images.githubusercontent.com/36665442/161822241-4414f085-c3ba-4b36-9e1c-57b70fb57161.mov

[2022-04-05 19:47] petyosi commented on #627
No idea. Reproduce it in a sandbox with the bare minimum amount of code and post the url here, I might be able to help you.

[2022-04-05 19:47] #627 closed

[2022-04-06 04:55] fatton139 commented on #609
Ran into this issue as well on Chrome.

I had a look at the call stack for when the scroll event gets is triggered on the virtuoso-scroller and it traces back to the event handler in `useScrollTop.ts`.

Not sure why the event is continuously fired.

[2022-04-06 17:03] #625 closed

[2022-04-07 09:11] hauntedlollipop commented on #627
Okay, so here's the [sandbox](https://codesandbox.io/s/react-virtuoso-7xndzc?file=/src/App.js). With props `useWindowScroll`, and `initialTopMostItemIndex`, when trying to reverse scroll, Virtuoso gets all jumpy/flickery.

[2022-04-07 09:15] hauntedlollipop opened #630 "[BUG] Virtuoso jumps and flickers around while reverse scrolling"
Okay, so here's the [sandbox](https://codesandbox.io/s/react-virtuoso-7xndzc?file=/src/App.js). With props `useWindowScroll`, and `initialTopMostItemIndex`, when trying to reverse scroll, Virtuoso gets all jumpy/flickery.

[2022-04-07 09:41] petyosi commented on #630
Sorry if this comes across as too direct, but I am not going to debug your application. Reduce the problem down to the essentials first.

<img width="299" alt="image" src="https://user-images.githubusercontent.com/13347/162170516-9a05b3b4-f5f1-4c65-8980-312531c1b5f5.png">

[2022-04-07 09:41] #630 closed

[2022-04-07 09:49] hauntedlollipop commented on #630
Here's the simple version https://codesandbox.io/s/react-virtuoso-forked-wilv2t

[2022-04-07 09:57] petyosi commented on #630
You have items with wildly varying sizes - 6000px and 700px. `defaultItemHeight` might help, but in general, this is a very extreme setup that will break the list logic of predicting the scroll size and item location. I would look into breaking your items apart into smaller chanks.

[2022-04-07 14:30] piotr-cz commented on #309
Update: [v2.0.0 release notes](https://github.com/petyosi/react-virtuoso/releases/tag/v2.0.0) say to add ResizeObserver polyfill for older browsers, this fixed the issue for me

[2022-04-08 09:56] hauntedlollipop commented on #630
Thank you very much for your response

[2022-04-11 13:30] jtiala opened #631 "[BUG] TableVirtuoso with fixedHeaderContent bleeds outside of it's container"
**Describe the bug**
A TableVirtuoso with `fixedHeaderContent` seems to occupy some space outside of the component at the bottom of the table. The amount seems to be related to the height of the header row, but not exactly the same. For 20px tall header the amount of overlap on the bottom seems to be about 12px.

**Reproduction**
https://codesandbox.io/s/react-virtuoso-fixed-header-problem-7utl4w?

[2022-04-11 14:28] francescoagati opened #633 "bidirectional infinite scroll"
hello,
there is an example of bidirectional infinite scroll implmented with virtuoso? i have try to implements a merge of two example of prepend items and infinite scroll at the bottom but i have notice that with the scroll down react virtuoso is reseted

[2022-04-11 15:10] petyosi commented on #631
Thanks for the repro. Certainly weird. The calculation seems to be off, I might be missing the fixed header in it.

[2022-04-13 11:04] henrinormak opened #635 "[BUG] Avoid create new objects for style in List"
**Describe the bug**
[Code in List](https://github.com/petyosi/react-virtuoso/blob/master/src/List.tsx#L267) is creating new objects on every render, which is breaking any sort of memoisation that might be happening with the Item component that is passed in.

Sort of related, but the style part is also not listed as being passed in to [Item here](https://github.com/petyosi/react-virtuoso/blob/mast

[2022-04-13 11:44] petyosi commented on #635
Good catch, yeah - PR would be great. You can pull that [style to a const like here](https://github.com/petyosi/react-virtuoso/blob/master/src/List.tsx#L169).

[2022-04-13 12:59] #635 closed

[2022-04-15 09:20] Veath opened #638 "[BUG]Scrolling the page after AutoSize changes the width, the content positioning is not accurate"
**Describe the bug**
Scrolling the page after AutoSize changes the width, the content positioning is not accurate

**Reproduction**
[Use https://codesandbox.io/ to illustrate the problem so that I can observe the issue on my side and make sure that a potential fix reliably addresses it.](https://codesandbox.io/s/sandpack-project-forked-uibcjp?file=/data.js)

**To Reproduce**
Steps to reproduce the

[2022-04-15 09:24] petyosi commented on #638
I'm not sure I'm following the description. You talk about Row 100, but the linked sandbox has only 30 rows. Your screenshots don't have the described inconsistency as well. Can you elaborate?

[2022-04-15 10:00] Veath commented on #638
The description above is wrong, I uploaded a video，scroll up, row index 28 27 26... repeats

https://user-images.githubusercontent.com/15187953/163557245-343d412d-319c-45df-a416-8bbb412dd976.mov

[2022-04-15 10:28] petyosi commented on #638
Can you record steps from the beginning? I do what you describe and it works for me.

[2022-04-15 10:52] Veath commented on #638
https://user-images.githubusercontent.com/15187953/163562576-981df27a-0bbb-4961-b681-786aa6fdadd2.mp4

[2022-04-15 12:28] petyosi commented on #638
The same steps work on my machine. Which browser/os do you use?

[2022-04-15 12:48] Veath commented on #638
Desktop :
OS: macOS
Browser: Chrome  99.0.4844.51

[2022-04-15 13:00] Veath commented on #638
I'm guessing it's because the item height is cached when scrolling down. Then when scrolling up, get the item height from the cache. Because the width of the container changes, the item height obtained from the cache is inaccurate and misplaced?

[2022-04-15 13:09] Veath commented on #638
I found a very important premise, the more the container width changes, the more prone to this problem. For example, the container width is 100px when scrolling forward, then 1000px when scrolling backward.

[2022-04-15 17:53] #605 closed

[2022-04-16 04:45] toshi1127 opened #639 "[BUG] There is less hover area for ItemComponent directly under GroupComponent."
**Describe the bug**

There is less hover area for `ItemComponent` directly under `GroupComponent`.
I think the reason is that `GroupComponent` has `z-index:1 style`, which causes hover events to take precedence.

**Reproduction**

As shown in the video below, the tooltip is closed because the GroupComponent's Hover takes precedence.

https://user-images.githubusercontent.com/32378535/163661449-65

[2022-04-16 06:06] petyosi commented on #639
If you want to, you can [filter out the passed style](https://codesandbox.io/s/sandpack-project-forked-yzxi5y?file=/App.js) through components.Group. However, this will cause the groups to slide under rather than over the sticky header.

[2022-04-16 06:06] #639 closed

[2022-04-16 08:16] #638 closed

[2022-04-16 10:29] toshi1127 commented on #639
Thank you, I think I can solve it.

[2022-04-21 16:25] jatravis commented on #570
Is anyone working on this? I'd like to work on it if it's available!

[2022-04-21 17:26] petyosi commented on #570
Unlikely.

[2022-04-22 01:13] mikamations opened #641 "[enhancement] Add atStartThreshold"
For prepended lists (reverse scroll) it would be great to have an atStartThreshold like atBottomThreshold so we can trigger new data API calls before hitting the top for a smoother endless scroll.

[2022-04-22 04:58] kaylinkhanal10 commented on #585
@petyosi any leads on this ? It would be really great if we can fix this one. Our team is kind of stuck because of this performance issue.

[2022-04-22 05:55] petyosi commented on #585
If your company is using react-virtuoso for your projects, [consider sponsoring it](https://github.com/sponsors/petyosi/sponsorships?sponsor=petyosi&tier_id=50934&preview=false). This will allow me to prioritize your support requests.

[2022-04-22 06:17] petyosi commented on #641
This is nice to have indeed. Loading new data upwards is easier though, as the top is always `0`. You can hook up to the DOM `onScroll` event or the `rangeChanged` one.

The `atBottomThreshold` prop value controls the `followOutput` behavior, where the logic is quite complex.

[2022-04-22 16:43] williamstein commented on #585
I'm a different person, but just saw this -- I'm currently revamping https://cocalc.com to heavily use Virtuoso (instead of react-window or nothing) in [this pull request](https://github.com/sagemathinc/cocalc/pull/5844).  Our company is really small and not venture funded, so I'm just starting with a $20/month donation to you.  However, I intend to increase it later as we grow hopefully in the ne

[2022-04-24 14:05] 2Pacalypse- opened #644 "[BUG] Using <div /> elements for TableBody component produces TypeScript errors"
**Describe the bug**
When using a custom TableBody component, we need to forward a `ref` to it. However, react-virtuoso types expect this `ref` to point to a `tbody` element, so when I try to use a `div` element instead, I get a TypeScript error.

**Reproduction**
[code]

**Expected behavior**
It would be nice if we could use the non-`tbody` elements for `TableBody` component without resorting to

[2022-04-24 14:50] russtuck91 commented on #570
Go for it! It's been on my to-do list of "nice to have but I'll never get around to it"

[2022-04-24 19:29] petyosi commented on #644
I'm still unsure why you do tables with divs, but to each their own. Feel free to submit a PR over the matter.

[2022-04-25 21:33] jerebtw opened #645 "[BUG] fixedHeaderContent only accepts a array"
**Describe the bug**
Not sure if this is a bug.

Before v2.10.0 i could just use a `<tr />` and now the prop wants a array

**Reproduction**
https://codesandbox.io/s/sandpack-project-forked-wvb956?file=%2FApp.js

**To Reproduce**
Look at the TS

**Expected behavior**
Also allow React.ReactNode for example `<tr />`

[2022-04-26 03:20] khuezy opened #646 "[BUG] VirtuosoGrid with MaterialUI Grid odd behavior"
**Describe the bug**
Grid with MaterialUI Grid shakes on scroll and grid items are not rendered at bottom row

**Reproduction**
[codesanboxlink](https://codesandbox.io/s/sandpack-project-forked-v5vjvs?file=/App.js)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to link above
2. Scroll down slowly and pause once you see the rapid flashing
3. See error
4. Note that the bottom rows are blan

[2022-04-26 04:32] petyosi commented on #646
I don't provide customer support through GH issues. Feel free to debug the setup, and submit PR if the problem is in the library.

[2022-04-26 04:32] #646 closed

[2022-04-26 04:40] #645 closed

[2022-04-26 08:16] petyosi opened #647 "React 18 Support"
The latest version of react-virtuoso seems to be working fine with React 18, except for increased "blinking" when scrolling upwards through unevenly sized items.

For now, I have found a remedy (calling `flushSync` at the right moment), but it triggers dev mode warnings in React 16/17. The code could detect the React version, but it's not reliable, as you might be running React 18 in compatible mo

[2022-04-26 13:27] gaearon commented on #647
The naming of the prop seems unfortunate since the issue is caused by automatic batching rather than concurrency. (React 18 does not use concurrency unless you opt into it with a specific concurrent feature like startTransition.) It also seems unfortunate that people using the latest version of React need to add a special prop.

What is the warning you’re seeing in 17 with flushSync?

[2022-04-26 14:07] khuezy commented on #646
Is it possible to debug in the Codesandbox? I've set the globalThis.VIRTUOSO_LOG_LEVEL to DEBUG but I'm not seeing any debug info.

[2022-04-26 14:19] petyosi commented on #647
Thanks for the feedback @gaearon. I know, adding a prop is not great :(.  [Here's the sandbox](https://codesandbox.io/s/react-virtuoso-react18-forked-vnbem4?file=/App.js) where you can see the error I get in 17. Just scroll up in the list a few times. My theory is that the internal state management kicks in a render cycle that overlaps with the `flushSync` call [which adjusts a CSS margin value](h

[2022-04-26 16:32] petyosi commented on #647
@gaearon highly appreciate you engaging with this. Here's the problem in a nutshell - https://codesandbox.io/s/react18-blink-without-flush-sync-vqgeky?file=/src/App.tsx. A thing that I *could not* reproduce in the sandbox was the warning that `flushSync` triggers in React 17. However, the actual problem which I'm trying to solve is clearly visible.

FWIW, I've tried working around the `scrollBy` c

[2022-04-26 16:45] gaearon commented on #647
Can you trim down the repro a bit to show the real use case? i.e. why do you adjust the margin and scroll — how is this used in practice for the list?

[2022-04-26 16:59] petyosi commented on #647
I don't think that I can trim it further or make it more real without pulling the inner calculation guts of the library - it will actually "buff up" the example.

Let me to explain the real use case:

- The list has a "bottom up" scroll mode (useful for chat interface or `tail -f` like logs). It assumes a default size for each list item, and fills in the space of the unrendered items using a place

[2022-04-27 05:54] anandagarwal6040 opened #648 "Reverse scroll content jumps when row gets prepended at top"
Hi, whenever new records get mounted at top on reverse scroll the scroller jumps. I was wondering what might cause this?
Here is my sandbox link: https://codesandbox.io/s/reverse-virtual-scroll-g8fqve

Any suggestions will be helpful, thanks in advance.

[2022-04-27 06:07] #647 closed

[2022-04-27 06:14] petyosi commented on #647
@gaearon Tried that. The scroll compensation logic works correctly, but the blinking is still there.

To make matters more complicated, the sequence of the margin setting/scrolling by should be tweaked depending on the value ([code](https://github.com/petyosi/react-virtuoso/blob/d52b11d5e8415cfc5bfe8c6b19cf8905eaf8ca25/src/upwardScrollFixSystem.ts#L78-L84)). As far as I can see, I can't control th

[2022-04-27 06:29] petyosi commented on #648
Sorry, this is an open-source project - I can't debug your application.
<img width="410" alt="image" src="https://user-images.githubusercontent.com/13347/165455210-e601a935-dfda-4da2-a93a-72f7c9b620f8.png">

[2022-04-27 06:29] #648 closed

[2022-04-27 11:43] myrosyatsaplap opened #649 "[BUG] - Adding a new element to the middle of the list (inserting it) causes re-rendering of all elements below newly inserted one"
**Describe the bug**
I have a dynamic list of items, which can be changed (items can be added at any index) by WebSocket at any time, and every time we get an updated data (e.g  a new item added to the list at a particular index), all items below the newly added one re-render even though nothing has been changed about them.

**Reproduction**
For illustration purposes, I've created a simple demo, w

[2022-04-27 11:59] petyosi commented on #649
This should be fixable through the `computeItemKey` prop I believe. Read the docs for further details.

[2022-04-27 11:59] #649 closed

[2022-04-27 12:39] sandersky opened #650 "List keyboard accessibility issue (can't tab through entire list)"
I have a virtual list that renders a bunch of buttons and can successfully tab through the buttons that are currently rendered on screen. However when I try to tab off of the last rendered/visible button the next item to become focused isn't the next button in the list but rather whatever comes next in the DOM (or browser if no more tabbable elements in the DOM exist). I tried adding overscan whic

[2022-04-27 12:42] #650 closed

[2022-04-27 15:31] petyosi commented on #650
@sandersky if you're serious about keyboard support, I would recommend supporting arrow keys. This is a good starting point, IMO: https://virtuoso.dev/keyboard-navigation/. This is a good article: https://a11y-guidelines.orange.com/en/web/components-examples/listbox-and-keyboard-navigation/

[2022-04-27 15:51] sandersky commented on #650
Thanks, I will definitely look into that and plan to improve keyboard navigation in the future. I just wanted a quick out of box solution that wouldn't require more custom code (for now anyways). Long term my goal will probably be something along the lines of the entire list container being a tabbable element that you can "enter" into to navigate items within it. I'll be doing some more research o

[2022-05-01 23:57] ryanmearns opened #651 "Additional keyboard navigation scenario"
I was having a play around with your keyboard navigation, and I want to suggest an improvement.

**Problem**: When a user uses the keyboard to navigate the list, the list item should be in focus.

**Solution**: Create a roving focus prop using the index and the current item index in a separate inner item.

Here is the code based on the original keyboard navigation to do it: https://codesandbox.io/

[2022-05-02 01:39] nelson-liu opened #652 "Shrinking the Virtuoso List to fit a shorter list of contents"
**Describe the bug**

Hi! Virtuoso works great for the (intended) use-case of displaying thousands of items, thanks for building it. I'm using a virtuoso list in a context where sometimes I need to make a list of thousands of items, and sometimes i need to make a list of only a few items (let's say 2 items in this example). This is being used in the context of a drop-down list.

In this latter set

[2022-05-02 06:32] nelson-liu commented on #652
I wonder if there's something clever / hacky you can do with the scrollerRef here. Given a scrollerRef, is it possible to get the height of the elements on the inside? (sorry if this suggestion is way off, at my wits end here :) )

[2022-05-02 08:08] nelson-liu commented on #652
Update: I was able to do this by using the `totalListHeightChanged` prop. In particular, I added a new piece of state to store the list height (`let's just call it self.state.containerHeight`), and used totalListHeightChanged to set this state (just setting the state to the new height).

Then, in the div wrapping the `Virtuoso` instance, I set the height with the style prop as `this.state.containe

[2022-05-03 04:50] ryanmearns opened #654 "[BUG] scrollIntoView in GroupedList is broken"
**Describe the bug**
On ArrowUp ScrollInToView with Grouped List leaves the item out of view.

**Reproduction**
I've used the keyboard navigation example with GroupedVirtuoso and generateGroupedUsers to reproduce the issue here: https://codesandbox.io/s/sandpack-project-forked-fjip1g?file=/App.js

**Expected behavior**
The top item should come into view.

**Desktop (please complete the following i

[2022-05-03 08:27] petyosi commented on #651
That's a good example, thank you very much for sharing it. I am not sure if `mousemove` should trigger a re-focus (a click should, obviously). I'm also not entirely sure if using the native focus is the way to go, as it *might* interfere with the browser tabbing. Imagine a list of 1000 items - a keyboard-exclusive user would get "stuck" in the list.

I wish I had more time to spend on the details

[2022-05-03 08:32] petyosi commented on #652
I think that there's an open feature request for the same thing. It's a sensible one, but I haven't had a chance to get to it. Your implementation sounds correct, the built-in one would probably be the same.

[2022-05-03 08:32] #652 closed

[2022-05-03 08:37] petyosi commented on #654
So this seems interesting. The `scrollToIndex` implementation does take [into account the header height](https://github.com/petyosi/react-virtuoso/blob/2a1131ad84997ed94947324077c61316ac908c85/src/scrollToIndexSystem.ts#L76), so it *should* work. The `scrollIntoView` also [includes the headerHeight here](https://github.com/petyosi/react-virtuoso/blob/2a1131ad84997ed94947324077c61316ac908c85/src/sc

[2022-05-03 21:42] ahmetkuslular opened #655 "Using Group properties with Grid"
I am using `VirtuosoGrid` to list products. I want to group each page and control page transitions. Is there any way I can do this?

[2022-05-05 08:14] Herrera93 opened #656 "[BUG] initialTopMostItemIndex not working after reloading data"
I have two way endless scrolling list when trying to scroll to the first item that isn't currently in our list I want to reload the items to show a set of items where the item is contained. For example here:

https://codesandbox.io/embed/sandpack-project-forked-56hu8n?fontsize=14&hidenavigation=1&theme=dark

I start with a list `[10001-10100]` where I want to scroll to `1` but that's not currently